<div class="x-container x-padding x-card x-white x-round" style="display: block;">
	<div class="x-container">
		<span class="x-xlarge">Advance Filter</span>
		<span class="w3-badge x-round-xlarge x-small x-red" style="padding:2px;">On Dev</span>
	</div>
	<div class="x-row x-container x-padding">
		<div class="x-col m2 l2">
			<span class="x-text-grey">Area</span>
			<select id="f_rcu" class="FILTER_FIELD x-input x-select x-border x-round">
				<option value="all"  selected disabled>Select Area</option>
				<option>All</option>
				<option>RCU 8</option>
				<option>RCU 9</option>
				<option>RCU 10</option>
				<option>RCU 11</option>
				<option>RCU 12</option>
				<option>RCU 13</option>
				<option>BARMM</option>
			</select>
		</div>
<!-- 		<div class="x-col m2 l2">
			<span class="x-text-grey">Sub-Form A</span>
			<select id="f_subform" class="FILTER_FIELD x-input x-select x-border x-round">
				<option value="all" selected disabled>Select Subform</option>
				<option value="form_a_farmer_profiles">A1: Farmer Profile</option>
				<option value="form_a_farm_land">A2: Farm Information</option>
				<option value="form_a_hh_profile">A3: Household Profiles</option>
				<option value="form_a_prod_cost">A4: Production Cost</option>
				<option value="form_a_farm_workers_laborers">A5: Farm Workers and Labors</option>
				<option value="form_a_farm_post_harvest">A6: Post Harvest</option>
				<option value="form_a_farm_marketing_sales">A7: Marketing/Sales Distribution Channels</option>
				<option value="form_a_access_financial">A8: Access to Financial Services and Products</option>
				<option value="form_a_feedback">A9: Industry Feedback</option>
			</select>
		</div> -->
		<div class="x-container x-col m2 l2 x-right">
			<span>Submit Filters</span><br>
			<button class="x-btn x-blue x-round x-block" onclick="filter()">
				Filter <span class="fa fa-filter"></span>
			</button>
		</div>
	</div>
	<!-- =========================== --> 
	<div class="x-container">
		<h3>Filter result</h3>
	</div>
	<div class="x-container  x-row">
		<span class="w3-badge x-round-xlarge x-small x-red" style="padding:2px;">On Dev</span>
	</div>
</div>

<div class="x-container x-padding x-card x-white x-round" style="display: block;">
	<div class="x-container">
		<span class="x-xlarge">Farmer Profile</span>
		<span class="w3-badge x-round-xlarge x-small x-red" style="padding:2px;">On Dev</span>
	</div>
	<div class="x-row x-container x-padding">
		<div class="x-container x-padding x-col l6 m6 x-border x-border-dashed">
			<div class="x-row x-container x-padding">
				<div class="x-container x-center x-teal x-padding x-round x-border-dashed x-border-teal">
					<b id="total_mal" class="x-xxlarge _money_tag"> 00 </b><br>
					<span class="x-small">
						Male<br>
					</span>
				</div>
			</div>
			<div class="x-row ">
				<div class="x-container x-padding">
					<div class="x-container x-center x-padding x-round x-border-dashed x-border-teal">
						<b id="male_is_pwd" class="x-large _money_tag"> 00 </b><br>
						<span class="x-small">
							PWD<br>
						</span>
					</div>
				</div>
				<div class="x-container x-padding">
					<div class="x-container x-center x-padding x-round x-border-dashed x-border-teal">
						<b id="male_is_ip" class="x-large _money_tag"> 00 </b><br>
						<span class="x-small">
							Youth<br>
						</span>
					</div>
				</div>
				<div class="x-container x-padding">
					<div class="x-container x-center x-padding x-round x-border-dashed x-border-teal">
						<b id="male_is_youth" class="x-large _money_tag"> 00 </b><br>
						<span class="x-small">
							IP<br>
						</span>
					</div>
				</div>
				<div class="x-container x-padding">
					<div class="x-container x-center x-padding x-round x-border-dashed x-border-teal">
						<b id="male_is_sen_cit" class="x-large _money_tag"> 00 </b><br>
						<span class="x-small">
							Senior Citizen<br>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =========================== -->
</div>
<script type="text/javascript">
	$onload(function(){
		$send({
			action : "form_a/dash_a1/dash_get_male",
			func : function(r){
				var res = JSON.parse(r)
				for(key in res ){
					try{$ID(key).innerHTML = res[key]}
					catch(e){warnprintln(e)}
				}
				__money_tag_exec()
			}
		})
	})


	function filter() {
		var filter_field_vals = {}
		var filter_field = $CLASS('FILTER_FIELD')
		for (var i = 0; i < filter_field.length; i++) {
			filter_field_vals[filter_field[i].id] = filter_field[i].value
		}
		warnprintln(filter_field_vals)
	}
</script>