
<!-- !PAGE CONTENT! -->
<span id="dashboard_head">&nbsp;</span>
<div class="x-main" style="">

	<!-- Header -->
	<!-- ================================================== -->

	<div class="x-row">
		<div class="x-container x-row x-padding">
			<h5 class="x-text-teal">
				<b>Figures by Entries</b>
			</h5>
			<div class="x-row">
				<div class="x-col m3 s3 x-container x-center x-padding x-round gr_body x-text-white">
					<b id="total_num_farmer" class="_money_tag x-text-shrink x-xxlarge">{{dash_data_['all_farmer_count']}}</span></b><br>
					<span class="x-small _money_tag">
						Number of Profiles <br>
						<b>New Excel Template</b>
					</span>
				</div>
				<div class="x-col m3 s3 x-container x-center x-padding x-round x-border-dashed x-b order-orange">
					<b id="total_num_farmer_with_dip" class="x-xxlarge _money_tag x-text-shrink">{{dash_data_['with_dip']}}</b><br>
					<span class="x-small">
						Number of Profiles <br>
						<b>With DIP's</b>
					</span>
				</div>
				<div class="x-col m3 s3 x-container x-center x-padding x-round x-border-dashed x-border-blue">
					<b id="total_num_farmer_with_fo" class="x-xxlarge _money_tag x-text-shrink">{{dash_data_['with_fo']}}</b><br>
					<span class="x-small">
						Number of Profiles <br>
						<b>With FO's</b>
					</span>
				</div>
				<!-- <div class="x-col m3 s3 x-container x-center x-padding x-round x-border-dashed x-border-green">
					<b id="total_num_farmer_geotagged" class="x-xxlarge _money_tag x-text-shrink">{{(dash_data_['mobile_geotag']|length)}}</b><br>
					<span class="x-small">
						<b class="x-small">Geotagged</b><br>
						<b class="x-tiny x-text-grey">That has Map Coordinates</b>
					</span>
				</div> -->
				<div class="x-col m3 s3 x-container x-center x-padding x-round x-border-dashed x-border-green" onclick="show_adv_filter()">
					<b id="total_num_farmer_geotagged" class="x-xxlarge  x-text-shrink fa fa-eye"></b><br>
					<span class="x-small">
						<b class="x-small">Area Filter</b><br>
						<b class="x-tiny x-text-grey">click to Show Area Filter</b>
					</span>
				</div>
			</div>
		</div>
		<div class="x-container  x-padding">
			<h5 class="x-text-teal">
				<b>Chart by Area</b>
			</h5>
			<!-- <div class="x-container x-row">
				{% include 'dashboard/graph3.html' %}
			</div> -->
			<div class="x-container x-row">
				{% include 'dashboard/graph2.html' %}
			</div>
			<div class="x-container x-row">
				{% include 'dashboard/graph1.html' %}
			</div>
		</div>
		
		<div class="EMBED_EXCLUDE x-container x-col l2 x-border-dashed x-border-green x-round-large x-pale-green">
			<h5 class="x-text-teal x-center">
				<b>What's in the Basket</b>
			</h5>
			<div class="x-padding" style="overflow-y:scroll;">
				{% for comdty_name in dash_data_['ls_arr']['primary_crop']['main']%}
					{% if comdty_name[1] != 0 :%}
					<div style="padding-bottom: 5px;">
						<div class="x-container x-card x-white x-padding x-round-large x-hover-green">
							<span class="" style="">
								<img src="../static/img/commodity/{{comdty_name[0]}}.png" style="width:10%">
								<b>{{comdty_name[0]}}</b> 
							</span><br>
							<span class="" style="">
								<b class="x-large _money_tag">{{comdty_name[1]}}</b>
							</span>

						</div>
					</div>
					{% endif %}
				{% endfor %}

				<div class="">
					<div class="x-container x-card x-white x-padding x-round-large x-hover-black x-border-black" onclick="view_all_commodity_count()">
						<span class="">
							<img src="../static/img/commodity/others.png" style="width:10%">
							<b>Others</b> 
						</span><br>
						<span class="">
							<b class="x-tiny">View all commodity</b>
						</span>

					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>

	<!-- ================================================== -->
	<!-- =========================================== -->

	<div class="x-panel">
		<div class="x-row-padding" style="margin:0 -16px">
			<div class="x-col l6">
				<!-- <h5><b>Areas Covered</b></h5> -->
			</div>
			<div class="x-col l2">
			</div>
			<div class="x-col l2" >
				
			</div>
		</div>
	</div>
	<hr>
</div>
{% include 'advance_filter_a.html' %}
<script>
	$onload(getGraphs_data)

	// function create_graphs(_data){
	// 	g1_data_reconstruct(_data)//for Graph2
	// 	g2_data_reconstruct(_data)//for Graph2
	// }

	function getGraphs_data(){
		alert('whahaah')
		$send({
			action : "/feature_0/dashgraph1",
			method : POST,
			func : function(res){
				var _data = JSON.parse(res)
				GRAPH_2_DATA = _data[2]
				set_graph1(_data[0],_data[1],_data[3])
				// window.setInterval(get_notif_unseen,10000)
				
				// set_graph2(_data[2])
			}
		})
	}


	function view_all_commodity_count(){
		var allcomdity = $dialog({
			title : "Commodities (Value Chain)",
			subtitle : "Number of Commodities based on encoded profiles",
			content :(`
				<div class="x-col l6">
					<h5><b>From Mobile Inputs</b></h5>
					<div class="" style="overflow-y:scroll;height: 520px;">
						<table class="x-table x-border x-striped x-white">
							<tbody>
								<tr class="x-teal">
									<th>Commodities</th>
									<th>Count</th>
								</tr>
								{% for comdty_name in dash_data_['ls_arr']['primary_crop']['breakdown']['mobile']%}
								<tr>
									<td><b>{{comdty_name}}</b></td>
									<td class=" x-right">{{dash_data_['ls_arr']['primary_crop']['breakdown']['mobile'][comdty_name]}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="x-col l6">
					<h5><b>From Excel Inputs</b></h5>
					<div class="" style="overflow-y:scroll;height: 520px;">
						<table class="x-table x-border x-striped x-white">
							<tbody>
								<tr class="x-teal">
									<th>Commodities</th>
									<th>Count</th>
								</tr>
								{% for comdty_name in dash_data_['ls_arr']['primary_crop']['breakdown']['excel']%}
								<tr>
									<td><b>{{comdty_name}}</b></td>
									<td class=" x-right">{{dash_data_['ls_arr']['primary_crop']['breakdown']['excel'][comdty_name]}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			`)
		})
		allcomdity.dialog.style.width="40%"
		allcomdity.show()
	}



</script>