<div class="x-main" style="margin-left:200px;margin-top:43px">
	<header class="x-container x-row" style="padding-top:22px">
		<span class="x-text-blue x-xlarge"><b><i class="fa fa-dashboard"></i> Profiling Form A || Data Cleaning</b></span><br>
	</header>
	<div class="x-container x-row x-padding">
		<br>
		List of encoded farmer profiles, click on of the rows to show full details of the farmers. In some cases, you'll need
		a higher permission, authority or request access key to view, update or delete a records on the system
	</div>
	<div class="x-container x-row x-padding">
		<b class="x-large x-red">Tables</b>
		<div class="x-container x-padding x-border-dashed">
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_farmer_profiles')">Farmer Basic Info: FORM A-1 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_farm_land')">Farm Information: FORM A-2 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_hh_profile')">Household Profiles: FORM A-3 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_prod_cost')">Production Cost: FORM A-4 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_farm_workers_laborers')">Farm Workers and Labors: FORM A-5 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_farm_post_harvest')">Post Harvest: FORM A-6 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_farm_marketing_sales')">Marketing/Sales Distribution Channels: FORM A-7 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_access_financial')">Access to Financial Services and Products: FORM A-8 </button>
			<button class="x-zoom x-btn" onclick="get_table_cols_dc('form_a_feedback')">Industry Feedback: FORM A-9 </button>
		</div>
		<br>
		<b class="x-large x-red">Columns</b>
		<div class="x-container  x-padding x-border-dashed" id='col_btn_container'>
			<span class="x-text-grey ">Please select table First</span>
		</div>
		<br>
		<b class="x-large x-red">Values</b>
		<div class="x-container  x-padding x-border-dashed" id='val_btn_container'>
			<span class="x-text-grey ">Please select Columns First</span>
		</div>
	</div>
</div>
<div id="hidden_dc_content" style="display:none">
	<div class="x-container">
		<span>Please select or input a value</span><br>
		<input class="x-input x-border x-round-large" onkeyup="suggest_ins(this,'suggested_vals')" id=" " type="text"  placeholder="Add Unit" value="">
		<div class="x-container container">
			<div id="suggested_vals" class="x-container x-card">
			</div>
		</div>
	</div>
</div>
<script>
	let SUGGESTED_VAL_ARR = ["hi","HELLO"]
	function suggest_ins(el,post_container){
		// var arrs = []
		// for (const [key, value] of Object.entries(SUGGESTED_VAL_ARR)) {
		// 	arrs.push(SUGGESTED_VAL_ARR)
		// }
		_autocomplete(el,SUGGESTED_VAL_ARR,post_container)
	}

	function get_table_cols_dc(table){
		$ID('val_btn_container').innerHTML = "Please select Columns First"
		$ID('col_btn_container').innerHTML = "Please Wait . . ."
		var col_btns = ""
		$send({
			action : "/data_cleaning/get_table_col",
			data : $DATA({"table":table}),
			method : POST,
			func : function(res){
				var resp = JSON.parse(res)
				println(resp)
				for (var i = 0; i < resp.length; i++) {
					col_btns += `<button class="x-zoom x-btn x-hover-black" onclick="get_table_cols_value('`+resp[i]["Field"]+`','`+table+`','`+resp[i]["Field"]+`')">`+resp[i]["Field"]+`</button>`
				}
				$ID('col_btn_container').innerHTML=col_btns
			}
		})
	}
	function get_table_cols_value(col,table,field){
		alert(field)
		var val_btns = ""
		$ID('val_btn_container').innerHTML="Please Wait . . . "
		$send({
			action : "/data_cleaning/get_table_col_val",
			data : $DATA({"col":col,"table":table}),
			method : POST,
			func : function(res){
				var resp = JSON.parse(res)
				println(resp)
				for (var i = 0; i < resp.length; i++) {
					val_btns += `<button class="x-zoom x-btn x-hover-black" onclick="get_table_cols_value_selected('`+resp[i]["key"]+`','`+table+`','`+resp[i]["total"]+`','`+field+`')">`+resp[i]["key"]+` <span class="x-tiny">[`+resp[i]["total"]+`]</span></button>`
				}
				$ID('val_btn_container').innerHTML=val_btns
			}
		})
	}
	function get_table_cols_value_selected(col,table,total,field){
		var val_btns = ""
		// alert(col+" : "+table+" : "+total+" : "+field)
		var dclean_modal = $dialog({
			title : "Data Cleanining and Correction Alert",
			type : 'warning',
			subtitle : "You are about to modify all data of the column <b>"+field+"</b>. Please be informed that this is undoable after it is executed. Contact the Devs if the values you are about to enroll is NOT on the DROPDOWN LIST",
			content : $ID('hidden_dc_content').innerHTML
		})
		dclean_modal.show()
		// $send({
		// 	action : "/data_cleaning/get_table_col_val",
		// 	data : $DATA({"col":col,"table":le}),
		// 	method : POST,
		// 	func : function(res){
		// 		var resp = JSON.parse(res)
		// 		println(resp)
		// 		for (var i = 0; i < resp.length; i++) {
		// 			val_btns += `<button class="x-zoom x-btn" onclick="get_table_cols_value_selected('`+resp[i]["key"]+`','`+table+`')">`+resp[i]["key"]+`</button>`
		// 		}

		// 		$ID('col_btn_container').innerHTML=val_btns
		// 	}
		// })
	}


	// ==================================================================================
	function _autocomplete(inp, arr,post_container) {
		var currentFocus;
		inp.addEventListener("input", function(e) {
			var a, b, i, val = this.value;
			// println(a)
			closeAllLists();
			if (!val) { return false;}
			currentFocus = -1;
			a = document.createElement("DIV");
			a.setAttribute("id", this.id + "autocomplete-list");
			a.setAttribute("class", "autocomplete-items");
			this.parentNode.appendChild(a);
			for (i = 0; i < arr.length; i++) {
				var ARRSTRS = arr[i] + ""
				if (ARRSTRS.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					b = document.createElement("DIV");
					b.innerHTML = "<strong>" + ARRSTRS.substr(0, val.length) + "</strong>";
					b.innerHTML += ARRSTRS.substr(val.length);
					b.innerHTML += "<input type='hidden' value='" + ARRSTRS + "'>";
					// println(ARRSTRS)
					b.addEventListener("click", function(e) {
						inp.value = this.getElementsByTagName("input")[0].value;
						// closeAllLists();
						push_user(this.getElementsByTagName("input")[0].value,post_container,inp)
					});
					a.appendChild(b);
				// if(i >=5){
				// 	break
				// }
				}

			}
		});

		inp.addEventListener("keydown", function(e) {
			var x = document.getElementById(this.id + "autocomplete-list");
			if (x) x = x.getElementsByTagName("div");
			if (e.keyCode == 40) {
				currentFocus++;
				addActive(x);
		} else if (e.keyCode == 38) { //up
			currentFocus--;
			addActive(x);
		} else if (e.keyCode == 13) {
			e.preventDefault();
			if (currentFocus > -1) {
				if (x) x[currentFocus].click();
			}
		}
	});

		function addActive(x) {
			if (!x) return false;
			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length - 1);
			x[currentFocus].classList.add("autocomplete-active");
		}

		function removeActive(x) {
			for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			}
		}

		function closeAllLists(elmnt) {
			var x = document.getElementsByClassName("autocomplete-items");
			for (var i = 0; i < x.length; i++) {
				if (elmnt != x[i] && elmnt != inp) {
					x[i].parentNode.removeChild(x[i]);
				}
			}
		}

		document.addEventListener("click", function (e) {
			closeAllLists(e.target);
		});
	}
</script>



