<div class="x-main" style="margin-left:200px;margin-top:43px">
	<header class="x-container" style="padding-top:22px">
		<span class="x-text-blue x-xlarge"><b><i class="fa fa-dashboard"></i> Profiling Form A || Data Cleaning</b></span><br>
	</header>
	<div class="x-container x-padding">
		<br>
		List of encoded farmer profiles, click on of the rows to show full details of the farmers. In some cases, you'll need
		a higher permission, authority or request access key to view, update or delete a records on the system
	</div>
	<div class="x-container x-padding">
	</div>
</div>
<script>
</script>



