
<table class="display" id="table_id" style="width:100%">
	<thead class="x-rapid-teal-heavy" style="width:100%">
		<tr class="">
			<th>ID</th>
			<th>First Name</th>
			<th>Middle Name</th>
			<th>Last Name</th>
			<th>Ext Name</th>
			<th>Sex</th>
			<th>Primary Crop</th>
			<th>Farmers Org</th>
			<th>Region</th>
			<th>Province</th>
			<th>City/Municipality</th>
			<th>DIP Ref</th>
		</tr>
	</thead>
	<tbody id="list_farmers" style="">
		<tr>
			<td>Loading ID</td>
			<td>Loading First Name</td>
			<td>Loading Middle Name</td>
			<td>Loading Last Name</td>
			<td>Loading Ext Name</td>
			<td>Loading Sex</td>
			<td>Loading Primary Crop</td>
			<td>Loading Farmers Org</td>
			<td>Loading Region</td>
			<td>Loading Province</td>
			<td>Loading City/Municipality</td>
			<td>Loading DIP Ref</td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">
	let TABLE = new DataTable('#table_id', {
			scrollY:'60vh',
			scrollX:true,
		});
	function onloads(){

	}

	function showing_table_ls_farmer(){

		println($('#table_id thead th'))

		$('#table_id thead th')
		.clone(true)
		.addClass('filters')
		.appendTo('#table_id thead')
		TABLE.ajax.url('/feature_0/filter_list_farmers')
		TABLE.ajax.reload()
		// TABLE.ajax.reload()
	}


</script>