<table class="display" id="table_id" style="width:50vh%">
	<thead class="x-rapid-teal-heavy">
		<tr class="">
			<td>
				ID<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="0" />
			</td>
			<td>
				Inputed By<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="1" />
			</td>
			<td>
				Farmer's First Name<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="2" />
			</td>
			<td>
				Farmer's Middle Name<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="3" />
			</td>
			<td>
				Farmer's Last Name<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="4" />
			</td>
			<td>
				Farmer's Ext Name<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="5" />
			</td>
			<td>
				Farmer's Sex<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="6" />
			</td>
			<td>
				Primary Crop<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="7"/>
			</td>
			<td>
				Farmers Org<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="8"/>
			</td>
			<td>
				Region<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="9"/>
			</td>
			<td>
				Province<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="10" />
			</td>
			<td>
				City/Municipality<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="11" />
			</td>
			<td>
				DIP Ref<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="12" />
			</td>
			<td>
				Reference Code<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="13" />
			</td>
		</tr>
	</thead>
	<tbody id="list_farmers" style="">
	</tbody>
</table>

<script type="text/javascript">
	var init_counter = 0
	let TABLE

	// $onload(showing_table_ls_farmer) //TEMPORARY COMMENTED FOR DEVELOPMENT
	// $onload(dash_get_form_a1) // FOR ADV FILTER LOAD DASH

	function showing_table_ls_farmer(){
		println(" -- Getting List Farmers")
		SPINNER_LOADER.show()
		$send({
			action : "/feature_0/filter_list_farmers",
			method : POST,
			err_dialog:true,
			// a_sync : false,
			func : function (rest){
				println(" -- Getting List Farmers Done")
				res = JSON.parse(rest)['dash1']
				res2 = JSON.parse(rest)['dash2']
				create_table(res)
				dash_get_form_a1(res2)
				// window.setTimeout(dash_get_form_a1,1000)
				SPINNER_LOADER.hide()
				window.setInterval(get_notif_unseen,10000)
			},
			err : function(res){println(res)},
			progress : function(e){
				// var response_length = parseFloat(headerMap(e)['total'])
				var response_length = parseFloat(e.total)
				var response_loaded = parseFloat(e.loaded)
				var percent_  = (response_loaded / response_length) * 100;
				var percent_rounded = Math.round(percent_ * 100) / 100
				SPINNER_LOADER.loading(Math.round(percent_))
				SPINNER_LOADER.message(`
					<span>
						Gathering 
						<b>`+Math.round(percent_)+`%</b><br>
						<span class="x-small">
							[ `+(response_loaded/1000000).toFixed(1)+" / "+(response_length/1000000).toFixed(1)+` Mb ]<br>
							<i>`+(response_length-response_loaded)+` bytes remaining</i>
						</span>
					</span>
				`);
			}
		})
		// TABLE.ajax.url('/feature_0/filter_list_farmers')
		// TABLE.ajax.reload()
	}


	function create_table (data_){
		println(" -- Creating Data Table")
		TABLE = new DataTable('#table_id', {
			// "scrollY":'60vh',
			"scrollX":true,
			"data" : data_,
			"scrollCollapse": true,
			"autoWidth": true,
			"columnDefs": [
				{ "width": "10%", "targets": 1 },
				{
					target: 0,
					visible: false,
					searchable: false,
				},
				{
					target: 5,
					visible: false,
					searchable: false,
				}
			]
		});
		TABLE.columns.width = "1%"
		TABLE.columns.adjust().draw();
		// TABLE.load(data_)
		// TABLE.ajax.reload()
		set_search_field()
	}

	function set_search_field(){
		// $('#table_id thead th').each( function (i) {
		// 	var title = $('#table_id thead th').eq( $(this).index() ).text();
		// 	println(i)
		// 	$(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
		// } );

		$(TABLE.table().container() ).on('keyup', 'thead input', function () {
			TABLE
				.column( $(this).data('index') )
				.search( this.value )
				.draw();
			println($(this).data('index'))
		} );
		$('#table_id tbody').on('mousedown', 'tr', function () {
			var data = TABLE.row(this).data();
			println( data );
		})

		// $CLASS("dataTables_scroll")[0].style.width="80vh"
		var tds = $(".dataTables_scroll td")
		for (var i = 0; i < tds.length; i++) {
			tds[i].style.width = "10px"
		}
		TABLE.columns.adjust().draw();

	}
	function show_t(){
		// showing_table_ls_farmer()
	}

</script>