
		<div class="x-container x-row x-padding">
			<b class="x-large x-red">Tables</b>
			<div class="x-container x-padding x-border-dashed">
				<select class="x-select x-border" onchange="get_table_cols_dc(this.value)">
					<option class="x-zoom x-btn" value="form_a_farmer_profiles">Farmer Basic Info: FORM A-1 </option>
					<option class="x-zoom x-btn" value="form_a_farm_land">Farm Information: FORM A-2 </option>
					<option class="x-zoom x-btn" value="form_a_hh_profile">Household Profiles: FORM A-3 </option>
					<option class="x-zoom x-btn" value="form_a_prod_cost">Production Cost: FORM A-4 </option>
					<option class="x-zoom x-btn" value="form_a_farm_workers_laborers">Farm Workers and Labors: FORM A-5 </option>
					<option class="x-zoom x-btn" value="form_a_farm_post_harvest">Post Harvest: FORM A-6 </option>
					<option class="x-zoom x-btn" value="form_a_farm_marketing_sales">Marketing/Sales Distribution Channels: FORM A-7 </option>
					<option class="x-zoom x-btn" value="form_a_access_financial">Access to Financial Services and Products: FORM A-8 </option>
					<option class="x-zoom x-btn" value="form_a_feedback">Industry Feedback: FORM A-9 </option>
				</select>
			</div>
			<br>
			<b class="x-large x-red">Columns</b>
			<div class="x-container  x-padding x-border-dashed" id='col_btn_container'>
				<span class="x-text-grey ">Please select table First</span>
			</div>
			<br>
			<b class="x-large x-red">Values</b>
			<div class="x-container  x-padding x-border-dashed" id='val_btn_container'>
				<span class="x-text-grey ">Please select Columns First</span>
			</div>
		</div>