<div id="export_panel">
		<div class='x-container x-padding'>
			<b class='x-large x-text-blue'>Mobile Export </b><br>
			<span>Sub-forms from Form A you want to Export</span>
			<select id='mobile_export_selection' class='x-input x-select x-border'>
				<option value='form_a_farm_land'>Farm Information</option>
				<option value='form_a_hh_profile'>Household Profiles</option>
				<option value='form_a_prod_cost'>Production Cost</option>
				<option value='form_a_farm_workers_laborers'>Farm Workers and Laborers</option>
				<option value='form_a_farm_post_harvest'>Post Harvest</option>
				<option value='form_a_farm_marketing_sales'>Marketing/Sales Distribution</option>
				<option value='form_a_access_financial'>Access to Financial Services and Products</option>
				<option value='form_a_feedback'>Industry Feedback</option>
			</select>
			<b class='x-text-grey x-small'>
				<span class='x-text-red'>*note: </span>
				Option that are disabled is currently under maintenance
				if you are trying to export forms that are disabled, please contact the developers to assists
				you in getting the said forms
			</b><br>
			<button class='x-btn x-block x-blue x-round' onclick='_export(0)'>
				Export Mobile Uploads
			</button>
		</div>
		<div class='x-col l6 m6 x-container x-padding' style="display:none">
			<b class='x-large x-text-green'>Excel Export </b><br>
			<b class='x-text-grey x-small'>
				<span class='x-text-red'>*note: </span>
				Unlike the Mobile export, this wizard will export all the data FROM THE EXCEL UPLOADS.
				All sub forms will be merge into sheet inside the spreadsheet. By this, THIS WILL TAKE A LONG TIME to gather all data. if we say LONG TIME, we mean <span class='x-medium x-text-red'>LONG LONG TIME</span> 
				the system will give you a dialog on the status of your download. please hold on to us :)
			</b><br>
			<button class='x-btn x-block x-green x-round' onclick='_export(1)'>
				Export Excel Uploads
			</button>
		</div>
</div>

<div id="export_panel_ins" style="display: none;">
	<div class="x-padding x-container">
		<div class="x-row x-padding">
			<img class="x-border x-round-large" src="../static/img/notif.png" style="width: 100%;">
		</div>
		<div class="x-row x-padding">
			<b class='x-text-grey x-small'>
				<span class='x-text-red'>*note: </span><br>
				<span class="x-large">Your request for data export is now on process</span><br>
				You can close this dialog while waiting and do what you want to do (get a coffee :) ).
				but note, we recommend that don't exit the app or close browser <br>
				<span class='x-medium x-text'>
					Once the generating of excel is done. It will appear as notification as seen above image
				</span> <br>
				<u class='x-large x-text'>
					DO NOT RE-UPLOAD THE GENERATED EXCEL FILES TO THE SYSTEM, CONTACT THE DEVELOPERS FOR RE UPLOADING OF INPUTED FILES TO THE SYSTEM
				</u> 
			</b>
		</div>
	</div>
</div>