<!-- File Details Modals -->
<div class="modal" id="viewDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="fileTitle">Document</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<dl class="row">
					<input id="file_id" name="" hidden>
					<input id="file_id_modal" name="" hidden>
					<input id="__table" name="" hidden>
					<dt class="col-3">File Title:</dt>
					<dd class="col-8 ">
						<h5 class="texttheme fs-3" id="title">Loading File Title</h5>
						<p id="desc" class="text-muted "> Loading description of the file.</p>
					</dd>

					<dt class="col-3 mt-2">Upload by:</dt>
					<dd class="col-8 border-top border-light">
						<p id="uploadbyname" class=" text-muted mt-2">Loading Name</p>
						<p id="uploadbyemail" class=" text-muted">Loading Email</p>
						<!-- <span class=" text-muted">|</span> -->
						<span id="uploadbyjob" class=" text-muted">--</span>
						<span id="" class=" text-muted">|</span>
						<span id="uploadbyrcu" class=" text-muted">--</span>
					</dd>

					<dt class="col-3 mt-2">File Details:</dt>
					<dd class="col-8 border-top border-light">						
						<p class="fs-5 mt-2 text-muted" id="fileTopic">Loading Details</p>                             
						<p class=" mt-2 texttheme" id="fileName">Loading Filename</p>
						<p class=" text-muted" id="fileuploadDate">22 October 2020</p>
					</dd>
					<!-- <dt class="col-3 mt-2">Accessed by:</dt>
					<dd class="col-8 border-top border-light">						
						<p class=" mt-2 text-muted" id="fileTopic">Public</p>
					</dd> -->
					<dt class="col-3 mt-2">Public Download Link:</dt>
					<dd class="col-8 border-top border-light">						
						<p class=" mt-2 text-muted" id="fileTopic">
							<a id="dl_link" href="" target="_blank">
								<i><span>https://dtirapid.ph/webrep/go_dl_file/<span id="fids"></span></span></i>
							</a>
						<br>
					</p>
					</dd>
				</dl>
			</div>
			<div class="modal-footer">

				<div class="hstack gap-3">
				{% if(user_data['job']=='Admin' or user_data['job']=="Super Admin") %}

					<button type="button" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#confirmation" onclick="execute_action('revise',$ID('file_id_modal').value,$ID('__table').value)">Revise</button>
					<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#confirmation" onclick="execute_action('post',$ID('file_id_modal').value,$ID('__table').value)">Confirm</button>
				{% endif %}

				<div class="vr"></div>

				<button type="button" class="x-hide btn btn-primary" data-bs-target="#confirmation" data-bs-toggle="modal" onclick="execute_action('download',$ID('file_id_modal').value,$ID('__table').value)" ><i class="fa-solid fa-download"></i>&nbspDownload</button>
				
				{% if(user_data['id']) %}
					<div id="modify_div">
						<button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#confirmation" onclick="execute_action('edit',$ID('file_id_modal').value,$ID('__table').value)"><i class="fa-solid fa-pen-to-square"></i>&nbspEdit</button>
						<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmation" onclick="execute_action('delete',$ID('file_id_modal').value,$ID('__table').value)"><i class="fa-solid fa-trash"></i>&nbspDelete</button>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!-- Password Modal -->
<div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="AccountConfirmation" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="AccountConfirmation">Account Confirmation</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				
				<div class="container text-center">
					<img src="https://img.freepik.com/free-vector/man-holding-security-shield-developer-using-laptop-data-applications-protection-network-information-security-safe-cloud-storage-concept-vector-isolated-illustration_335657-2192.jpg?w=1380&t=st=1678165994~exp=1678166594~hmac=d55241bafebcb8cc81718ddabe238adc274af5d6d7281573f7c04f38b8617567" style="height: 300px;" class="mx-auto">
				</div>
				<div class="container text-center">
					<input id="file_id_req" name="" hidden>
					<input id="file_id_req_table" name="" hidden >
					<div>
						Please input password to execute action (<b id="action_note"></b>)
					</div>
				</div>
				<div class="container mt-3 mb-4"	>
					<input type="password" class="form-control form-control-lg" id="inputPassword2" placeholder="Password">
				</div>

			</div>
			<div class="px-2 pb-3 d-flex justify-content-end ">
				<button type="button" class="btn btn-danger me-2" data-bs-dismiss="modal">cancel</button>
				<button type="button" class="btn btn-primary me-2" onclick="request_action($ID('action_note').innerText)">Continue</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var modify_div_elem = undefined
	$onload(function(){
		modify_div_elem=$ID('modify_div').innerHTML
		$ID('modify_div').innerHTML=""
	})


	function get_file__det(file_ids,table){ 
		println(file_ids)
		$send({
			action : "/webrep/uploads/docs_item",
			method : POST,
			data : $DATA({'ids':file_ids}),
			func : function(r){
				res = JSON.parse(r)[0]
				println(res)
				set_idto_id(res["uploaded_by"]['id'])
				$ID("__table").value = table
				// alert(table)
				$ID("file_id_modal").value = res["id"]
				// $ID("uploaded_by").value = res["uploaded_by"]['id']
				$ID("title").innerHTML = res["Title"]
				$ID("desc").innerHTML = res["Description"]
				$ID("fileuploadDate").innerHTML = res["date_posted"]
				$ID("fileName").innerHTML = res["upload"]
				$ID("fids").innerHTML = res["upload"]
				$ID("fileTopic").innerHTML = res["formCategory"]
				$ID("uploadbyname").innerHTML = res["uploaded_by"]['name']
				$ID("uploadbyemail").innerHTML = res["uploaded_by"]['email']
				$ID("uploadbyjob").innerHTML = res["uploaded_by"]['job']
				$ID("uploadbyrcu").innerHTML = res["uploaded_by"]['rcu'] +" | "+ res["uploaded_by"]['pcu']
				$ID("dl_link").href = "https://dtirapid.ph/webrep/go_dl_file/" + res["upload"]
			}
		})
	}

	function set_idto_id(uploader){
		var curr_user_id = "{{user_data['id']}}"
		if(uploader != curr_user_id){
			$ID("modify_div").innerHTML= " "
		}
		else{
			$ID("modify_div").innerHTML= modify_div_elem
		}
	}

	function execute_action(action,ids,table){
		$ID("action_note").innerText = action
		$ID("file_id_req").value = ids 
		$ID("file_id_req_table").value = table 
		// alert(ids)
	}
	
	function request_action(action){
		var fileName = $ID("fileName").innerHTML
		var pass = $ID("inputPassword2").value 
		$send({
			action : "/login/check_pass",
			method : POST,
			data : $DATA({
				"fileName":fileName,
				"pass":pass,
				"action":action,
			}),
			func : function (r){
				var res = JSON.parse(r)
				println(res)
				var file_id = $ID("file_id_req").value 
				var file_table = $ID("file_id_req_table").value 
				if(res['action']=="edit"){
					if(file_table=="docs"){
						goto("/rapid/admin/document.html?is_edit=1&file_id="+file_id)
					}
					if(file_table=="mul"){
						goto("/rapid/admin/multimedia.html?is_edit=1&file_id="+file_id)
					}
					if(file_table=="pub"){
						goto("/rapid/admin/publication.html?is_edit=1&file_id="+file_id)
					}
				}
				if(res['action']=="delete"){
					// goto("/rapid/admin/document.html?is_edit=1&file_id="+file_id)
					delete_records(file_table,file_id)
				}
				if(res['action']=="revise"){
					// goto("/rapid/admin/document.html?is_edit=1&file_id="+file_id)
					revise_records(file_table,file_id)
				}
				if(res['action']=="post"){
					// goto("/rapid/admin/document.html?is_edit=1&file_id="+file_id)
					confirm_records(file_table,file_id)
				}
				if(res['action']=="download"){
					// goto("/rapid/admin/document.html?is_edit=1&file_id="+file_id)
					download_file(file_table,file_id)
				}

			}
		})
	}

	function delete_records(table,ids){
		$send({
			action : "/webrep/delete_record/"+table+"/"+ids,
			method : POST,
			func : function(r){
				var res = JSON.parse(r)
				println(res)
				goto("/rapid/admin/adminKnowledgeCenter.html")
			}
		})
	}
	function revise_records(table,ids){
		$send({
			action : "/webrep/status_records/"+table+"/"+ids,
			method : POST,
			func : function(r){
				var res = JSON.parse(r)
				println(res)
				goto("/rapid/admin/adminKnowledgeCenter.html")
			}
		})
	}
	function confirm_records(table,ids){
		$send({
			action : "/webrep/confirm_records/"+table+"/"+ids,
			method : POST,
			func : function(r){
				var res = JSON.parse(r)
				println(res)
				goto("/rapid/admin/adminKnowledgeCenter.html")
			}
		})
	}
	
	function download_file(table,ids){
		$send({
			action : "/webrep/download_file/"+table+"/"+ids,
			method : POST,
			func : function (r){
				var res = JSON.parse(r)
				dowmloadfile(res['file_to_dl'])
			}
		})
	}

	function dowmloadfile(file_name){
		let a= document.createElement('a');
		a.target= '_blank';
		a.href= '/webrep/go_dl_file/'+file_name;
		a.click();
		get_notif()
	}
</script>
