

<!-- Knowledge Products -->
	<div id="KP" class="container shadow-sm p-3 mb-3 bg-body rounded " style="max-height:100px;">
		<p class=" container display-3 mt-5" style="color: #1F4F5A !important;">Knowledge Products</p>
		<div class=" container d-flex ">
			<div class="nav container flex-row nav-pills pe-5 " id="v-pills-tab" role="tablist ">					
				<a class=" nav-link rounded-pill show active me-2 " id="v-pills-mul-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mul" type="button" role="tab" aria-controls="v-pills-mul" aria-selected="true" style="">ssssMultimedia</a>
				<a class=" nav-link rounded-pill me-2 " id="v-pills-pub-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pub" type="button" role="tab" aria-controls="v-pills-pub" aria-selected="false">Publications</a>
					
				<div class="tab-content w-100" id="v-pills-tabContent">
				<!-- Multimedia -->
					<div class="container tab-pane fade show active  " id="v-pills-mul" role="tabpanel" aria-labelledby="v-pills-mul-tab" tabindex="0">						 
						<div class="d-flex align-items-start ">								
							<div class="nav flex-column nav-pills  me-3 pe-5 mt-5" id="v-pills-tab" role="tablist " aria-orientation="vertical" style="border-right: 1px solid #1F4F5A;">


								{% for upload_categ in upload_file_webrep %}
									{% if upload_categ['upload_type']=="mul": %}
										{% set categ = upload_categ['formCategory'] %}
										<a class="categ_all text-start nav-link show mb-1" id="v-pills-tab" data-bs-toggle="pill" data-bs-target="#v-pills" type="button" role="tab" aria-controls="v-pills" aria-selected="true" style="" onclick="get_file_cont('{{categ|replace(' ','_')|replace('/','_')|replace('-','_')}}')">{{categ}}</a>
									{% endif %}
								{% endfor %}

							</div>
							<div class="container tab-content w-100 overflow-auto tab_size" id="v-pills-tabContent">
								<div class="tab-pane fade show active mt-5" id="v-pills" role="tabpanel" aria-labelledby="v-pills-aud-tab" tabindex="0">
									<div class="row mt-5" >
										<div class="col-sm-6 col-lg-4 mb-3">
											<div class="card card_size">
												<div class="card-body">
													<h5 class="card-title"> Audio Example file</h5>
													<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
													<a href="#" class="btn btn-dark stretched-link  btn-sm text-white" type="button" data-bs-toggle="modal" data-bs-target="#viewDetails"><em>View Details </em></a>
													<span class="small  text-muted ms-5 fst-italic"></span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- Publication -->    
					<!-- Publication -->    
					<div class="container tab-pane fade overflow-auto" id="v-pills-pub" role="tabpanel" aria-labelledby="v-pills-pub-tab" tabindex="0" style=" height:400px;">
						<div class="d-flex align-items-start " >								
							<div class="nav flex-column nav-pills  me-3 pe-5 mt-5" id="v-pills-tab" role="tablist " aria-orientation="vertical" style="border-right: 1px solid #1F4F5A;">
									<a class="text-start nav-link  active mb-2" id="v-pills-SFF-tab" data-bs-toggle="pill" data-bs-target="#v-pills-SFF" type="button" role="tab" aria-controls="v-pills-SFF" aria-selected="true" style="">Stories From The Field</a>
							</div>

							<div class="tab-content w-100" id="v-pills-tabContent">

								<div class="tab-pane fade show active mt-5" id="v-pills-SFF" role="tabpanel" aria-labelledby="v-pills-SFF-tab" tabindex="0">
									<div class="row mt-5" >								
										<div class="col-sm-6 col-lg-4 mb-3">
											<div class="card card_size">
												<div class="card-body">
													<h5 class="card-title"> Example file</h5>
													<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
													<a href="#" class="btn btn-dark stretched-link  btn-sm text-white" type="button" data-bs-toggle="modal" data-bs-target="#viewDetails"><em>View Details </em></a>
													<span class="small  text-muted ms-5 fst-italic"></span>
												</div>
											</div>
										</div>	
									</div>
								</div>

							</div>
						</div>
					</div>					
				 </div>
			 </div>
		</div>
	</div>