<html>
<head>
	<!-- Required meta tags -->
	<!-- Required meta tags -->
	<meta charset="utf-890" lang="en-us">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../static/webrepstatic/css/autofill.css">

	<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

	<!-- fontawesomeCDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />     
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<!-- CSS only -->
	<link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">

	<!-- JavaScript Bundle with Popper -->
	<script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>
	<script src="../../static/webrepstatic/js/bootstrap-autocomplete.min.js"></script>

	<script src="../../static/js/Brorn.min.js"></script>

	<title >Upload Multimeda</title>
</head>

<body>

	{% include 'main/navbarpages.html' %}
	{% include 'main/_AutoFILL_JS.html' %}
	<!-- Back Arrow -->
	<div class="container text-start mt-5">
		<a class=" texttheme" href="/rapid/admin/adminKnowledgeCenter.html">
			<span><i class="fa-solid fa-arrow-left-long"></i></span>
		</a>
	</div>

	<!-- Title -->
	<div class="container d-flex justify-content-between text-start mt-5">
		<div class="">
			<h5 class="display-5 texttheme ">Upload Multimedia</h5>
		</div>


		<div class="">
			<button onclick="submit_file_doc('mul')" class="btn btn-outline-success rounded-5" type="submit" id="submit_doc">Upload &nbsp&nbsp<i class="fa-solid fa-upload"></i></a></button>
		</div>
	</div>

	<!-- Document Confirmation modal -->
	<div class="modal " id="createPostConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">You're going there!</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body mb-1">
					<img src="https://img.freepik.com/free-vector/flat-composition-with-male-postman-letters-envelopes-vector-illustration_1284-67249.jpg?w=1380&t=st=1675837891~exp=1675838491~hmac=50c5f5bbe7f981071aa34e4c72806517b53911568ff8c26e7ebf2003c6d1eaa8" style="height:390px; width: 450px;">
					Your content needs to be reviewed by NPCO-assigned staff; <br>You will get a notification via email within a short period.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
					<button type="button" class="btn btn-primary" onclick="close_transaction()">Continue</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Document News -->
	<div class="container shadow-sm p-3 bg-body rounded mb-5">
		<div class="container row">
			<div class="col-4 border-end border-light">
				<form class=" row g-3 needs-validation" id="form_upload_document" novalidate>
					<div class="col-md-12">
						<div class="form-floating mb-1 ">
							<input value="{{user_data['email']}}" type="email" class="form-control-plaintext border rounded-3" id="email" placeholder="name@example.com" readonly/>
							<label for="email" class="texttheme fw-bolder small">Email address</label>
						</div>
					</div>
					<div class="col-12">
						<div class="col-md-12">
							<div class="form-floating mb-1">
								<input value="{{user_data['rcu']}},{{user_data['pcu']}}" type="email" class="form-control-plaintext border rounded-3" id="Unit" placeholder="name@example.com" readonly>
								<label for="unit" class="texttheme fw-bolder small">Unit</label>
							</div>
						</div>
					</div>			
					<div class="col-12">
						<div class="col-md-12">
							<div class="form-floating mb-1">
								<input value="{{user_data['job']}}" type="email" class="form-control-plaintext border rounded-3" id="Designation" placeholder="name@example.com" readonly >
								<label for="designation" class="texttheme fw-bolder small">Designation</label>
							</div>
						</div>
					</div>
					<input disabled type="" class="FORMDATA_DOCUMENT" id="id" hidden>
					<div class="col-12">
						<div class="form-floating">
							<select class="form-select FORMDATA_DOCUMENT" id="formCategory" aria-label="Floating label select example">
							<option title="Refers to interviews conducted in the social media, television, and/or radio recorded in audio.">Audio</option>
							<option title="Refers to photos taken from any RAPID activity/event">Photo</option>
							<option title=" Refers to podcast or show recording with topics related to RAPID.">Podcasting/Show Recording</option>
							<option title=" Refers to any video packaged (AVPs) for RAPID or any video (AVPs) highlighting RAPID and RAPID practices.">Video</option>
							<option title="Refers to any webinar showcasing RAPID and its practices recorded.">Webinar Recording</option>
							<option>Others</option>
							</select>
							<label for="formCategory" class="texttheme fw-bolder small">Form</label>
						</div>
					</div>
					<div class="col-12">
						<div class="form-floating">
							<select class="form-select" id="formCommodity">
								<option>All Commodity</option>
								<option>Coffee</option>
								<option>Cacao</option>
								<option>Coconut</option>
								<option>Processed Fruits & Nuts</option>
							</select>
							<label for="formCommodity" class="texttheme fw-bolder small">Commodity</label>
						</div>
					</div>
					<div class="col-12">
						<div class="col-md-12">
							<div class="form-floating mb-1 " id="form_other" style="display:none;">
								<input type="text" class="form-control FORMDATA_DOCUMENT" id="others" placeholder="name@example.com">
								<label for="Others" class="texttheme fw-bolder small">Other Specify</label>
							</div>
						</div>
					</div>

					<script type="text/javascript">
						$(document).on('change', '#formCategory', function(e){  
							e.preventDefault();
							el = $("#form_other");
							formCategory = this.value;
							console.log(el)
							if (formCategory == "Others") {
								el.show();

							}
							else {
								el.hide();
							}
						});
					</script>

					<div class="col-12">
						<div class="col-md-12">
							<div class="form-floating mb-1">
								<input type="date" class="form-control FORMDATA_DOCUMENT" id="Date" placeholder="name@example.com">
								<label for="date" class="texttheme fw-bolder small">Date Recorded/Taken/Produced</label>
							</div>
						</div>
					</div>

					<div class="form-floating">
						<select class="FORMDATA_DOCUMENT form-select fw-bolder bg-light" id="formAccess">
							<option class="text-secondary" value=false >Restricted</option>
							<option selected class="text-success" value=true >Public</option>
						</select> 
						<label for="floatingSelect fw-bolder small">General Access</label>
						<div class="col-md-12" id="restrictedDesc" hidden>
							<p class="small  mt-4 text-success" id="">Only people who have access can open this file</p>
						</div>
						<div class="col-md-12" id="PublicDesc" hidden>
							<p class="small text-warning text-shadow mt-4" id="">Anyone can access this file</p>                
						</div>
					</div>

					<!-- Restricted -->
					<div class="" id="forRestricted" hidden>
						<div class="container  mb-2">
							<!-- <input type="text" id="accessPeople" class="form-control" placeholder="Add people can access"> -->
							<div class="col-12  autocomplete ">
								<input class=" form-control rounded-3" onkeyup="ALL_USERS_SET(this,'users_added_ls_doc')" id="" type="text"  placeholder="Add people can access" value="">
							</div>
							<div class="container text-center">
								<!-- <span class=" text-muted">&nbsp or &nbsp</span> -->
							</div>
							<div class="col-12 autocomplete " style="display:none">
								<input class="form-control rounded-3" onkeyup="ALL_IMP_SET(this,'users_added_ls_doc')" id=" " type="text"  placeholder="Add Unit" value="">
							</div>
							<div class="container">
								<p class="mt-3">People with access</p>
								<!-- <input type="text" id="myInput_doc_users" class="FORMDATA_DOCUMENT"> -->

								<!-- Users -->
								<div id="users_added_ls_doc">
								</div>
							</div>
						</div>
					</div>

					<script type="text/javascript">
						$(document).on('change', '#formAccess', function(e){  
											// e.preventDefault();
							formAccess = JSON.parse(this.value);

							set_show_doc(formAccess)
						});


						function set_show_doc(true_ba){
							$("#forRestricted").attr("hidden",true_ba)
							$("#restrictedDesc").attr("hidden",true_ba)
							$("#PublicDesc").attr("hidden",!true_ba)
						}

						set_show_doc(false)
					</script>
				</form>
			</div>

			<div class="col-8">
				<form class="row g-3 needs-validation" id="form_upload_document2">
					<div class="col-md-12">
						<div class="form-floating mb-1">
							<input type="" class="form-control FORMDATA_DOCUMENT" id="Title" placeholder="name@example.com">
							<label for="title" class="texttheme fw-bolder small">Title of Document</label>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-floating mb-1">
							<textarea class="form-control FORMDATA_DOCUMENT" placeholder="Leave a comment here" id="Description" style="height: 150px"></textarea>
							<label for="description" class=" texttheme fw-bolder small">Short Description of Title/Topic/Name of Document</label>
						</div>
					</div>

					<div class="col-12">
						<div class=" mb-1">
							<label for="uploadFile" class="texttheme fw-bolder small">Upload your file</label>
							<input type="file" class="form-control FORMDATA_DOCUMENT" id="upload" placeholder="name@example.com">

						</div>
					</div>

					<div class="col-12">
						<div class="form-floating mb-1">
							<input type="" class="form-control FORMDATA_DOCUMENT" id="tags" placeholder="name@example.com">
							<label for="tags" class="texttheme fw-bolder small">Tags/Search Keywords</label>
						</div>
					</div>
					<input value="pending" class="FORMDATA_DOCUMENT" id="status" hidden>

				</form>
				<div class="mt-5">

				</div>
			</div>
		</div>
	</div>



	<!--  -->

	{% include 'main/footer.html' %}

</body>
<script type="text/javascript">
	function submit_file_doc(upload_type){
		var FORMDATA_DOC = $CLASS('FORMDATA_DOCUMENT')
		var dataform = {}
		for (var i = 0; i < FORMDATA_DOC.length; i++) {
			dataform[FORMDATA_DOC[i].id] = FORMDATA_DOC[i].value
		}
		dataform["upload_type"] = upload_type
		dataform["uploaded_by"] = {{user_data['id']}}
		dataform["myInput_doc_users"] = []

		// println(FORM_TO_SUBMIT)

		var id_viewrs = $ID('users_added_ls_doc').getElementsByClassName("ID__")
		for (var i = 0; i < id_viewrs.length; i++) {
			// println(id_viewrs[i].innerText)
			dataform["myInput_doc_users"].push(id_viewrs[i].innerText)
		}

		println(dataform)
		var FORM_TO_SUBMIT = $DATA(dataform).appendFileArr($ID('upload'))

		println("====================")

		$send({
			action : "/webrep/upload_file_webrep___ ",
			method : POST,
			data : FORM_TO_SUBMIT,
			func : function (rrr){
				var res = JSON.parse(rrr)
				println(res)
				$ID("createPostConfirmation").style.display = "block"
			}
		})

	}

	function close_transaction(){
		$ID("createPostConfirmation").style.display = "none"
		goto('/rapid/admin/adminKnowledgeCenter.html')
	}




	$onload(check_if_edit)
	function check_if_edit(){
		println(URL_ARGS)
		if(parseInt(URL_ARGS['is_edit'])==1){
			$send({
				action : "/webrep/uploads/docs_item",
				method : POST,
				data : $DATA({'ids':URL_ARGS['file_id']}),
				func : function(r){
					res = JSON.parse(r)[0]
					println(res)
					var FORMDATA_DOCUMENT = $CLASS('FORMDATA_DOCUMENT')
					for (var i = 0; i < FORMDATA_DOCUMENT.length; i++) {
						println(FORMDATA_DOCUMENT[i].id)
						FORMDATA_DOCUMENT[i].value = res[FORMDATA_DOCUMENT[i].id]
					}

				}
			})
		}
	}
// appendFileArr()
</script>

</html>