<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" type="text/css" href="static/psalm_static/dcf_static/dcf/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/psalm_static/dcf_static/dcf/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/psalm_static/dcf_static/dcf/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<article>

    <img src="/static/psalm_static/assets/img/icons/icon.png" style="width: 100px; height: 100px; position: absolute; left: 0;">
  <div class="container">
    
    <div class="box"><br><br><br><br><br><br><br><br><br><br><br>
  <h1>YOUR ACCOUNT HAS BEEN DISABLED.</h1>

    </div>

</article>
</html>



{% endblock content %}

<!-- Specific JS goes HERE --> 
<script>
    window.setInterval(function(){
        window.location.href = "/logout"
    },5)
</script>
<script src="static/psalm_static/dcf_static/dcf/js/bootstrap.min.js"></script>
{% block javascripts %}

{% endblock javascripts %}

<!--

Guest Accounts

guest1
rapid

guest2
rapid

guest3
rapid 

-->