<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../static/img/mis_2023_v2.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/bootstrap-4.0.0-dist/css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/assets/css/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/menu/css/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/bootstrap-4.0.0-dist/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/menu/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/menu/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'psalm_static/menu/css/fontawesome-free/css/all.min.css') }}">
    <script src="/static/psalm_static/tables/sweetalert2.js"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/jquery1.11.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/bootstrap-4.0.0-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/base.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/menu/js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/menu/bootstrap-4.5.3-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'psalm_static/assets/css/fontawesome/js/all.min.js') }}"></script>
    <link class="x-links" rel="stylesheet" href="../static/css/x.css">
    <script src="../static/js/qr/qrcode.min.js"></script>
  </head>
<body>
  {% block head %} {% endblock %}
    {% block body %}{% endblock %}
</body>
</html>