{% extends 'base2.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="card" style="width:80%;   margin: 0 auto; float: none; margin-bottom: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    <div class="card-header" style="background-color: #004d00;">
        <h5 style="color: white;">C3-Challenges in business operations and support needed</h5>
    </div>

    <div class="card-body" style="background-color: #c6ecd9;">

        <form style="margin-left: 2%; margin-right: 2%;">

            <div class="form-group">
                <div class="form-row">

                    <div class="col">
                        <strong> <label for="exampleFormControlSelect1">Does your company/firm encounter
                                <strong><u>problems, issues</strong></u> on the following:</label></strong>
                    </div>


                </div>
            </div>


            <div style="padding-left: 20px;" class="form-group">
                <div class="form-row">
                    <div class="col-md-3">
                        <strong>
                            <label>a. Form of Interprise</label>
                        </strong>
                        <select  class="form-control form_data_c"  id="form_interprise" required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess1">Yes</option>
                            <option value="nooo1">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox4 form_data_c" id="ifyes_form_interprise" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div style="padding-left: 20px;" class="form-group">
                <div class="form-row">

                    <div class="col-md-3">
                        <strong>
                            <label>b. Pricing</label>
                        </strong>
                        <select  class="form-control form_data_c"  id="pricing"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess2">Yes</option>
                            <option value="nooo2">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox5 form_data_c" id="ifyes_pricing" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div style="padding-left: 20px;" class="form-group">
                <div class="form-row">

                    <div class="col-md-3">
                        <strong>
                            <label>c. Quality of Raw Materials</label>
                        </strong>
                        <select  class="form-control form_data_c" id="quality_raw"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess3">Yes</option>
                            <option value="nooo3">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox6 form_data_c" id="ifyes_quality_raw" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div style="padding-left: 20px;" class="form-group">
                <div class="form-row">

                    <div class="col-md-3">
                        <strong>
                            <label >d. Quality of Final Product </label>
                        </strong>
                        <select class="form-control form_data_c" name="fixture-use7" id="quality_final_prod"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess4">Yes</option>
                            <option value="nooo4">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox7 form_data_c" id="ifyes_quality_final_prod" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div style="padding-left: 20px;" class="form-group">
                <div class="form-row">
                    <div class="col-md-3">

                        <strong>
                            <label for="name">e. Other, please specify</label>
                        </strong>
                        <input  type="text" class="form-control form_data_c" id="other_specifyc3">
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="form-row">

                    <div class="col-md-4">
                        <strong>
                            <label>Do you have existing commercial partnership with
                                suppliers?</label>
                        </strong>
                        <select class="form-control form_data_c" name="fixture-use8" id="existing_comm"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess5">Yes, which form?</option>
                            <option value="nooo5">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox8 form_data_c" id="ifyes_existing_comm" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">

                    <div class="col-md-4">
                        <strong>
                            <label>Do you provide support/assistance to your current
                                partners?</label>
                        </strong>
                        <select class="form-control form_data_c" id="prov_supp_assis"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess6">Yes, which form?</option>
                            <option value="nooo6">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox9 form_data_c" id="ifyes_prov_supp_assis" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">

                    <div class="col-md-4">
                        <strong>
                            <label >Are you satisfied with your current business/production
                                performance?</label>
                        </strong>
                        <select  class="form-control form_data_c" id="business_prodc3"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess7">Yes, which form?</option>
                            <option value="nooo7">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox10 form_data_c" id="ifyes_business_prodc3" placeholder="Please specify">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-10">

                        <strong>
                            <label>IF No, what do you think you need to do to improve it? Please specify your answer in
                                the space provided:</label>
                        </strong>
                        <input type="text" class="form-control form_data_c" id="ifnoc3">
                    </div>


                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <hr>
                        <strong><label>Please check box if answer falls in any of the following:</label> </strong>

                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="form-col">
                        <div style="padding-left: 40px;" class="form-check">
                            <input class="form-check-input form_data_c" type="checkbox" value="" id="capability" />
                            <label class="form-check-label" for="none">Capability</label>

                            <input style="margin-left: 20px;" class="form-check-input form_data_c" type="checkbox" value="" id="tech_equip" />
                            <label style="padding-left: 40px;" class="form-check-label"
                                for="none">Technology/Equipment</label>

                            <input style="margin-left: 20px;" class="form-check-input form_data_c" type="checkbox" value="" id="access_market" />
                            <label style="padding-left: 40px;" class="form-check-label" for="none">Access to
                                Market</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="form-col">
                        <div style="padding-left: 40px;" class="form-check">
                            <input class="form-check-input form_data_c" type="checkbox" value="" id="commu_key_part" />
                            <label class="form-check-label" for="none">Communication & Network with key partners</label>

                            <input style="margin-left: 20px;" class="form-check-input form_data_c" type="checkbox" value="" id="political"/>
                            <label style="padding-left: 40px;" class="form-check-label" for="none">Political</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <br>
                        <strong>
                            <label>Support Network/ Group</label>
                        </strong>

                    </div>

                </div>
       
            <div class="form-group">
                <div class="form-row">
                    <div class="col">

                        <strong>
                            <label>Are you a member of any of the following? </label>
                        </strong>

                    </div>

                </div>
            </div>
        </div>



            <div class="form-group">
                <div class="form-row">
                    <div class="form-col">
                        <div style="padding-left: 40px;" class="form-check">
                            <input class="form-check-input form_data_c" type="checkbox" value="" id="capability" />
                            <label class="form-check-label" for="none">Chamber of Commerce</label>

                            <input style="margin-left: 20px;" class="form-check-input form_data_c" type="checkbox" value="" id="tech_equip" />
                            <label style="padding-left: 40px;" class="form-check-label"
                                for="none">Trade Association </label>

                            <input style="margin-left: 20px;" class="form-check-input form_data_c" type="checkbox" value="" id="access_market" />
                            <label style="padding-left: 40px;" class="form-check-label" for="none">Cooperative</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="form-col">
                        <div style="padding-left: 40px;" class="form-check">
                            <input class="form-check-input form_data_c" type="checkbox" value="" id="commu_key_part" />
                            <label class="form-check-label" for="none">City organized group </label>

                            <input style="margin-left: 20px;" class="form-check-input form_data_c" type="checkbox" value="" id="other_orgs_checkbox" onclick="myFunction2()"/>
                            <label style="padding-left: 40px;" class="form-check-label" for="none">Other orgs, specify: </label>
                            <input style="margin-left: 55%; display: none;"  type="text" class="form-control form_data_c" id="other_orgs_pls_spec"
                            placeholder="Please Specify ">
                        </div>
                    </div>
                </div>
            </div>


            <div style="padding-left: 20px;" class="form-group">
                <div class="form-row">
                    <div class="col-md-6">


                        <label>Name of Organization: </label>

                        <input type="text" class="form-control form_data_c" id="name_org">
                    </div>
                    <div class="col-md-6">

                        <label for="position">Location:</label>

                        <input type="text" class="form-control form_data_c" id="location_org">
                    </div>

                </div>
            </div>


            <div class="form-group">
                <div class="form-row">

                    <div class="col-md-5">
                        <strong>
                            <label>Does your membership in the organization helps you in your
                                livelihood?</label>
                        </strong>
                        <select  class="form-control form_data_c"  id="member_livelihood"
                            required>
                            <option value="" selected disabled>Please select</option>
                            <option value="yess8">Yes</option>
                            <option value="nooo8">No</option>
                        </select>
                        <input style="display: none;" type="text" class="form-control hidden-textbox12 form_data_c" id="ifyes_member_livelihood" placeholder="in what way it helps?">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">

                        <strong>
                            <label>What do you think the LGU, NGAs and other agencies should do to improve the local
                                commodity cluster industry? (Cacao, Coffee, Coco, Process Fruits & nuts) </label>
                        </strong>
                        <input type="text" class="form-control form_data_c" id="cluster_industry">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}