{% extends 'layouts/base.html' %}
{% set active_page = "formcdashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
            
{% include "includes/dashboard/filterbtn.html" %}

{% include "includes/dashboard/totalcount.html" %}


    <!-- Page content -->
</div>
</div>
</div>
      
    {% include "includes/dashboard/chart.html" %}

    {% include "includes/dashboard/datatable.html" %}
    
    {% include "includes/dashboard/update.html" %}


    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  

{% endblock javascripts %}
