{% extends 'layouts/base.html' %}
{% set active_page = "formcdashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    
{% include "dashboard/totalcount.html" %}


    <!-- Page content -->
   
    {% include "dashboard/chart.html" %}
    {% include "dashboard/datatable.html" %}
    
          {% include "dashboard/update.html" %}
        </div>
      </div>
            
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  

{% endblock javascripts %}
