{% extends 'layouts/base.html' %}
{% set active_page = "formc" %}
{% block title %} FormC {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->

{% include "includes/forms/c1.html" %}
{% include "includes/forms/c2.html" %}
{% include "includes/forms/c3.html" %}

{% include 'formdata_handler.html' %}
<script>
	$onload(function () {
		var record_id = URL_ARGS["id"]
		var table = URL_ARGS["table"]
		load_data(record_id, table, "form_data_c")

		// load_data(record_id,table,"ClassName")
		// submit_form('CLASSNAME_FOR_FIELDS','TABLE_NAME','URL_DASH',)
	})


	function edit_form(class_name, table) {
		for (let index = 0; index < $CLASS('class_name').length; index++) {
			const element = $CLASS('class_name')[index].disabled = false
		}
	}

	function load_data(record_id, table, class_name) {
		// http://127.0.0.1:5000/dcf/form8?id=1&table=form8
		$send({
			action: "/get_data/" + record_id + "/" + table,
			method: POST,
			func: function (r) {
				var res = JSON.parse(r)[0]
				var x_ins = $CLASS(class_name)
				for (let index = 0; index < x_ins.length; index++) {
					disabled_ins(res, x_ins, index)

					// println((x_ins[index].id))
					// println((x_ins[index].id)+ ' || '+ x_ins[index].type)
					if (x_ins[index].type == "checkbox") {
						try{
							if (res[x_ins[index].id] === "true") {
								x_ins[index].click()
							}
						}catch(err){
							warnprintln(x_ins[index].id + " ||| " + err)
						}
					} else if (x_ins[index].type == "select-one") {
						try{
							x_ins[index].value = res[x_ins[index].id]
							triggerChange(x_ins[index])
						}catch(err){
							warnprintln(x_ins[index].id + " ||| " + err)
						}

					} else {
						try {
							x_ins[index].value = res[x_ins[index].id]
						} catch (error) {
							warnprintln(x_ins[index].id + " ||| " + error)
						}
					}


				}
				for (let index = 0; index < x_ins.length; index++) {
					disabled_ins(res, x_ins, index)
				}

			}
		})
	}

	function disabled_ins(res, x_ins, index) {
		var USER_ID = JSON.parse('{{user_data}}'.replaceAll('&#39;', '"'))['id']
		var JOB = JSON.parse('{{user_data}}'.replaceAll('&#39;', '"'))['job']
		// if(USER_ID==parseInt(res['upload_by']) || JOB=="Super Admin"){}
		if(res!=undefined){
			if (USER_ID == parseInt(res['upload_by'])) {
				x_ins[index].disabled = false
			} else {
				var not_owner = "<br><i class='x-text-red'>Not editable. Viewing as <b>Admin</b></i>"
				x_ins[index].disabled = true
				if (JOB != "Super Admin") {
					$ID('c1_kampownkhap').innerHTML = "<i class='x-text-red' style='color:#9A3B3B; font-size: medium; font-weight: bolder;'><i class='fa-solid fa-circle-exclamation'></i> You cannot view this form section since you are not the owner of this record/entries</i>"
					not_owner = "<i style='font-size: medium; font-weight: bolder; 'class='x-text-red'><i class='fa-solid fa-circle-exclamation'></i> This record is not yours </i>"
				}
				$ID('submit_btn_holder').innerHTML = not_owner
				$ID('top_note').innerHTML = not_owner
			}
		}
	}

	function triggerChange(element) {
		let changeEvent = new Event('change');
		element.dispatchEvent(changeEvent);
	}
	function submit_form(class_name, table, url) {
		var x_ins = $CLASS(class_name); var form_data = {}
		for (let index = 0; index < x_ins.length; index++) {
			if (x_ins[index].type == "checkbox") {
				form_data[x_ins[index].id] = x_ins[index].checked

			} else {
				form_data[x_ins[index].id] = x_ins[index].value
			}
		}
		$send({
			action: "/set_data/" + table,
			data: $DATA(form_data),
			method: POST,
			func: function (r) {
				var res = JSON.parse(r)
				println("DONE")
				if (res.status == "success") {
					Swal.fire(
						'Success!',
						'Record Saved!',
						'success'
					).then((result) => {
						if (result.isConfirmed) {
							window.location.href = url;
						}
					});
				}
			}
		})
		println(form_data)
	}
</script>


{% endblock content %}

<!-- Specific JS goes HERE -->

{% block javascripts %}

{% endblock javascripts %}