
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Coming Soon..</title>
  
  <link rel="stylesheet" type="text/css" href="static/psalm_static/dcf_static/dcf/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/psalm_static/dcf_static/dcf/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/psalm_static/dcf_static/dcf/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<article>
  <div class="container">
    <div class="box">
     <div class="animation">
      <div class="one spin-one"></div>
      <div class="two spin-two"></div>
      <div class="three spin-one"></div>
     </div>
  <h1>Under Construction</h1>


  <div>
    <p  class="message">The Fund Tracker Website is still under development. It will be <b>coming soon!</b>
    <p class="team">- DTI RAPID I.S.A Team</p>
    <button class="btn btn-dark" onclick="location.href='/menu'" >Back to menu</button>
  </div>
</article>
</html>



{% endblock content %}

<!-- Specific JS goes HERE --> 
<script src="static/psalm_static/dcf_static/dcf/js/bootstrap.min.js"></script>
{% block javascripts %}

{% endblock javascripts %}
