{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<html lang="en">
<style type="text/css">
  
      #container_b{
/*        background-image: url('../static/img/login_bg_dark.jpg');*/
        /*background-image: url('../static/img/bg.webp');*/
        background: 
          linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
          url('../static/img/bg.jpg');
        background-position: center;
        background-size: cover;
      }
</style>

<body id="container_b">

  
<div class=" text-white sl-primary" style=" position: absolute; right: 0; max-width: 18rem; padding: 1px;height: auto;border-radius: 0px 0px 0px 0px;  ">
  <!-- <div class="card-header">{{user_data['name']}}</div> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Primary card title</h5> -->
    <div class=""><span class="fa fa-user"> </span>&nbsp; {{user_data['name']}}</div><br>
    <div id="button-container">
      <button onclick="location.href='/logout';" class="danger-button">
        Logout
        <span class="round"></span>
      </button>
    </div>
</div>
</div>
</div>



<div class="container">

  <div class="row">

{% include "includes/menucards/adminknowledge.html" %}
 
{% include "includes/menucards/profiling.html" %}
  
{% include "includes/menucards/dcf.html" %}
     
{% include "includes/menucards/fmi.html" %}

{% include "includes/menucards/fundtracker.html" %}
    
  </div>
  </div>

</body>
  
{% endblock %}
  