{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<title>Menu</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<style>
body{margin-top:20px;}
.icon-box.medium {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.icon-box {
    font-size: 30px;
    margin-bottom: 33px;
    display: inline-block;
    color: #ffffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #1F4F5A;
    text-align: center;
    border-radius: 0.3rem;
}



.social-icon-style2 li a {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #1F4F5A;
    height: 41px;
    line-height: 41px;
    width: 41px;
}
.rounded-3 {
    border-radius: 0.3rem !important;
}

.social-icon-style2 {
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
    list-style: none;
}

.social-icon-style2 li {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

a, a:active, a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondaryx, .text-secondaryx-hover:hover {
    color: #1F4F5A  !important;
}
.display-25 {
    font-size: 1.4rem;
}

.text-primaryx, .text-primaryx-hover:hover {
    color: #ff712a !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6, .my-1-6 {
    margin-bottom: 1.6rem;
}

.single-chart {
  width: 40%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}
.bgrapidtheme{
    background-color: #1F4F5A;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.circular-chart.green .circle {
  stroke: #339966;
}

.circular-chart.gray .circle {
  stroke: #3d5c5c;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}
.single-chart {
    display: flex;
    align-items: center;
  }

  .data-statement {
    margin-left: 10px;
  }
.container{
    
    max-width: 180vh !important;

}

.module-admin {
    cursor: pointer;
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #ebf0fa !important;
  color: #035c63;
  position: relative;
  display: inline-block;
}

.module-admin:hover {
  box-shadow: 0 0 11px #035c63; 
  border: 1px solid #00838d;
  background: #fff !important;
  color: #00838d;
}

.icon-admin {
  background-color: #035c63;
}


.module-admin:hover .icon-admin {
  background-color: #00838d;
}

.module-profiling {
    cursor: pointer;
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #ebf0fa !important;
  color: #1a3365;
  position: relative;
  display: inline-block;
}

.module-profiling:hover {
  box-shadow: 0 0 11px #3366cc; 
  background: #fff !important;
  border: 1px solid #3366cc;
  color: #3366cc;
}

.icon-profiling{
    background-color: #1a3365;
}

.module-profiling:hover .icon-profiling {
  background-color: #3366cc;
}


.module-dcf {
    cursor: pointer;
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #ebf0fa !important;
  color: #007399;
  position: relative;
  display: inline-block;
}

.module-dcf:hover {
  box-shadow: 0 0 11px #009999; 
  background: #fff !important;
  border: 1px solid #009999;
  color: #009999;
}

.icon-dcf{
    background-color: #007399;
}


.module-dcf:hover .icon-dcf {
  background-color: #009999;
}

.module-fmi {
    cursor: pointer;
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #ebf0fa !important;
  color: #3939ac;
  position: relative;
  display: inline-block;
}

.module-fmi:hover {
  box-shadow: 0 0 11px #6666ff; 
  background: #fff !important;
  border: 1px solid #6666ff;
  color: #6666ff;
}

.icon-fmi{
    background-color: #3939ac;
}


.module-fmi:hover .icon-fmi {
  background-color: #6666ff;
}

.module-fund {
    cursor: pointer;
  transition: box-shadow .3s;
  border: 1px solid #ccc;
  background: #ebf0fa !important;
  color: #4c1b64;
  position: relative;
  display: inline-block;
}

.module-fund:hover {
  box-shadow: 0 0 11px #a047cc; 
  border: 1px solid #a047cc;
  color: #a047cc;
  background: #fff !important;
}

.icon-fund{
    background-color: #4c1b64;
}

.module-fund:hover .icon-fund {
  background-color: #a047cc;
}


.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {

  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .gold{
    border: 5px solid #FFD700;
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}

.olcards li .silver{
    border: 5px solid #C0C0C0;
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}

.olcards li .bronze{
    border: 5px solid #CD7F32;
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}

.olcards li .content{
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}

.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}


</style>

{% include "includes/menucards/profile.html" %}
{% include "user_management.html" %}
{% include "includes/menucards/editprofile.html" %}
<center>

<div class="w-50">
    <img src="../../static/webrepstatic/img/mis_2023_v2.svg" style="height: 150px;">
</div>	
</center>
<div style="margin-top: 50px;" class="container">
    <div class="row justify-content-center ">
        <div class="col-md-8 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow"><br>
                <div class="d-flex flex-column align-items-center text-center" onmouseenter="hover_img(this)" onmouseleave="unhover_img(this)">
                  <div class="qrs fadeIn" id="qrcode" style="display: none;"></div>
                  
                  {% if(user_data['profilepic']=="" or user_data['profilepic']==" " ): %}
                    <img id="prof_imgs" src="\static\psalm_static\menu\img\profilepic.png" class="fadeIn" style="height: 200px; width: 200px; border: 5px solid #1F4F5A ;">
                    <span class="mb-0 texttheme" style="font-size: medium;">MIS{{user_data['id']}}</span>
                    
                  {% else: %}
                    <img id="prof_imgs" src="\api\user_pic\{{user_data['profilepic']}}" class="fadeIn rounded-circle" style="height: 200px; width: 200px;  border: 5px solid #1F4F5A ;">
                    <span class="mb-0 texttheme"style="font-size: medium;">MIS{{user_data['id']}}</span>

                  {%endif%}
                </div>
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4" >
                        <h3 class="h4 mb-0 texttheme font-weight-bold">{{user_data['name']}}</h3>
                        <span class="text-primaryx">{{user_data['job']}} | {{user_data['rcu']}}</span>
                    </div>
                    <ul class="list-unstyled mb-4">
                        <li class="mb-3"><i class="far fa-envelope display-25 me-3 text-secondaryx"></i>&nbsp;&nbsp; {{user_data['email']}}</li>
                        <li class="mb-3"><i class="fas fa-mobile-alt display-25 me-3 text-secondaryx"></i>&nbsp;&nbsp; {{user_data['mobile']}}</li>
                        <li><i class="fas fa-map-marker-alt display-25 me-3 text-secondaryx"></i>&nbsp;&nbsp; {{user_data['address']}}</li>
                    </ul>
                    <div class="mb-3"><center>
                    <button id="editprofbtn" class="btn btn-primary "data-toggle="modal" data-target="#editprof" href="">Edit Profile</button>
                    <button class="btn btn-dark" data-toggle="modal" data-target="#chngpass_user">Change Password</button></center>
                </div>
                <div class="mb-3">
                <center>
                <button class="btn btn-secondary" data-target="#wow" data-toggle="modal">Accomplishment Report</button>
                    {% if(user_data['job']=="Super Admin"): %}
                    <button class="btn btn-success" data-toggle="modal" data-target="#usermang" onclick="get_user_data()">User Management</button>
                   {% endif %}
                  </center>
                </div>
                
                 
                <center>
                   <button class="btn btn-danger" onclick="location.href='/logout'">Log out</button></center>
                
                </div>
            </div>


<br>


<!-- ============================================================ -->
<!-- ============================================================ -->
<!-- ============================================================ -->
<!-- ================LEADERBOARDS====================================== -->
<!-- ============================================================ -->
<!-- ============================================================ -->

<div class="card border-0 shadow">
      <div class="card-body p-1-9 p-xl-5">
    <h1 class="h4 mb-0 texttheme font-weight-bold" ><i class="fa-solid fa-medal"></i> Top Contributors</h1>
    <ol class="olcards" id="rank_card_holder">
        <div style="display:none">
            <div id="gold_rank" style="width: 100%;">
                <a style="cursor" href="/viewprofile?_id=__UID__" target="_blank">
                    <li style="--cardColor:#035c63">
                        <div class="gold">
                            <div class="icon"><img id="prof_imgs" src="__PIC__" class="fadeIn rounded-circle" style="height: 50px; width: 50px;  border: 3px solid #f2f2f2 ;"></div>
                            <div class="title">__NAME__ <small class="text-light" style="opacity: 60%;"> __RCU__</small></div>
                            <div class="text" style="color:#ffa64d;">Total data encoded: <b>__ENCODE__</b></div>
                        </div>
                    </li>
                </a>
            </div>
            <div id="silver_rank" style="width: 100%;">
                <a style="cursor" href="/viewprofile?_id=__UID__" target="_blank">
                    <li style="--cardColor:#035c63">
                        <div class="silver">
                            <div class="icon"><img id="prof_imgs" src="__PIC__" class="fadeIn rounded-circle" style="height: 50px; width: 50px; border: 3px solid #f2f2f2 ;"></div>
                            <div class="title">__NAME__ <small class="text-light" style="opacity: 60%;"> __RCU__</small></div>
                            <div class="text" style="color:#ffa64d;">Total data encoded: <b>__ENCODE__</b></div>
                        </div>
                    </li>
                </a>
            </div>
            <div id="bronze_rank" style="width: 100%;">
                <a style="cursor" href="/viewprofile?_id=__UID__" target="_blank">
                    <li style="--cardColor:#035c63">
                        <div class="bronze">
                            <div class="icon"><img id="prof_imgs" src="__PIC__" class="fadeIn rounded-circle" style="height: 50px; width: 50px; border: 3px solid #f2f2f2 ;"></div>
                            <div class="title">__NAME__ <small class="text-light" style="opacity: 60%;"> __RCU__</small></div>
                            <div class="text" style="color:#ffa64d;">Total data encoded: <b>__ENCODE__</b></div>
                        </div>
                    </li>
                </a>
            </div>
            <div id="default_rank" style="width: 100%;">
                <a style="cursor" href="/viewprofile?_id=__UID__" target="_blank">
                    <li style="--cardColor:#035c63">
                        <div class="content">
                            <div class="icon"><img id="prof_imgs" src="__PIC__" class="fadeIn rounded-circle" style="height: 50px; width: 50px;"></div>
                            <div class="title">__NAME__ <small class="text-light" style="opacity: 60%;"> __RCU__</small></div>
                            <div class="text" style="color:#ffa64d;">Total data encoded: <b>__ENCODE__</b></div>
                        </div>
                    </li>
                </a>
            </div>
        </div>
    </ol>
</div>
</div>

<script type="text/javascript">
    let all_user_ranks = []
    let temp_all_user_ranks = {}
    let sorted_all_user_ranks = []
    let counter = 0

    $onload(function(){
        $send({
            action : "/api/user/get_all_id",
            method : POST,
            func : function(r){
                var res = JSON.parse(r)
                ls_user_ID = res
                for (var i = 0; i < res.length; i++) {
                    
                    $send({
                        action : "/api/user/all_ranks/"+res[i]["id"],
                        method : POST,
                        func : function(r){
                            var _res = JSON.parse(r)
                            all_user_ranks.push(_res)
                            temp_all_user_ranks[parseFloat(_res["over_all_encoded"]+"."+_res["uid"])] = _res
                            // println(`${counter} / ${res.length-1}`)
                            if(counter == res.length-1){
                                println("DONE")
                                sort_user_rank()
                            }
                            counter += 1
                        }
                    })
                }
                
            }
        })
    })


    function sort_user_rank(){
        var temp_key = []; var SORTED_USER_ARR = []
        for(key in temp_all_user_ranks){ temp_key.push(parseFloat(key))}
        var sorted_user = temp_key.sort(function(a,b) { return a - b;})
        // println(sorted_user)
        // ==================================================
        for (var i = sorted_user.length - 1; i >= 0; i--) {
            var ids = sorted_user[i]
            for(key in temp_all_user_ranks){
                if(key==ids){ SORTED_USER_ARR.push(temp_all_user_ranks[key])}   
            }
        }
        // $ID("rank_card_holder").innerHTML = ""
        var card_holder =""
        for (var i = 0; i < SORTED_USER_ARR.length; i++) {
            var data = (SORTED_USER_ARR[i])
            var temp_holder = ""
            if(i==0){
                temp_holder = $ID("gold_rank").innerHTML
            }
            else if(i==1){
                temp_holder = $ID("silver_rank").innerHTML
            }
            else if(i==2){
                temp_holder = $ID("bronze_rank").innerHTML
            }
            else if({{user_data['id']}}==parseInt(data["uid"])){
                println($ID("bronze_rank").innerHTML)
                temp_holder = "<br>Your Standing ["+i+1+"] <hr>" + ($ID("bronze_rank").innerHTML.replace("6",i))
            }
            else if(i>4){
                continue
            }
            else{
                temp_holder = $ID("default_rank").innerHTML
            }

            var pics = "/api/user_pic/"+data["pic"];
            if(data["pic"] == "" || data["pic"] == " " || data["pic"] == undefined){
                pics = "/static/psalm_static/menu/img/profilepic.png";
            }

            card_holder += temp_holder.replaceAll("__NAME__",data["name"]).replaceAll("__RCU__",data["rcu"]).replaceAll("__ENCODE__",money(data["over_all_encoded"])).replaceAll("__PIC__",pics).replaceAll("__UID__",data["uid"])
            // card_holder += (`
            //     <li style="--cardColor:#035c63">
            //         <div class="content">
            //             <div class="icon"><img id="prof_imgs" src="/api/user_pic/`+data["pic"]+`" class="fadeIn rounded-circle" style="height: 50px; width: 50px;  border: 3px solid #ffd11a ;"></div>
            //             <div class="title">`+data["name"]+` <small class="text-light" style="opacity: 60%;">RCU: --</small></div>
            //             <div class="text" style="color:#ffa64d;">Total data encoded: `+data["over_all_encoded"]+`</div>
            //         </div>
            //     </li>
            // `)
        }
        $ID("rank_card_holder").innerHTML = card_holder
    }

</script>

<!-- ============================================================ -->
<!-- ============================================================ -->
<!-- ============================================================ -->
<!-- ============================================================ -->
<!-- ============================================================ -->
<!-- ============================================================ -->

        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">

                <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primaryx">Module</h2>
                    </div>
                    <div class="row mt-n4">
                        <div class="col-md-6 col-xl-4 mt-4">
                            <div class="card text-center  rounded-3 module-admin" onclick="location.href='/rapid/admin/adminKnowledgeCenter.html';" >
                                <div class="card-body">
                                    <i class="ti-world icon-box icon-admin medium rounded-3 mb-4"></i>
                                    <h3 class="cardtitle h5 mb-3 font-weight-bold">Admin Knowledgement Center</h3>
                                    <p class="mb-0">DTI Rapid knowledge portal</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center rounded-3 module-profiling"  data-toggle="modal" data-target="#profilingmodal" >
                                <div class="card-body">
                                    <i class="ti-id-badge icon-box icon-profiling medium rounded-3 mb-4"></i>
                                    <h3 class="cardtitle h5 mb-3 font-weight-bold" >Profiling</h3>
                                    <p class="mb-0">Form A,B,C Dashboards</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center  rounded-3 module-dcf"  onclick="location.href='/dcf_dashboard'">
                                <div class="card-body">
                                    <i class="ti-files icon-box icon-dcf medium rounded-3 mb-4" ></i>
                                    <h3 class="cardtitle h5 mb-3 font-weight-bold">Data Capture Form</h3>
                                    <p class="mb-0">Data Capture Forms Dasboard</p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center rounded-3 module-fmi" onclick="location.href='/fmi_dashboard'">
                                <div class="card-body">
                                    <i class="ti-home icon-box icon-fmi medium rounded-3 mb-4"></i>
                                    <h3 class="cardtitle h5 mb-3 font-weight-bold" >FMI</h3>
                                    <p class="mb-0">FMI Dashboard</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-4 mt-4">
                            <div class="card text-center rounded-3 module-fund" onclick="location.href='/fundtracker'">
                                <div class="card-body">
                                    <i class="ti-server icon-box icon-fund medium rounded-3 mb-4"></i>
                                    <h3 class="cardtitle h5 mb-3 font-weight-bold">Fund Tracker</h3>
                                    <p class="mb-0">Fund Tracker Dashboard</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primaryx">Profiling Performance Tracker</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                              
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{prof_a_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{prof_a_percentage}}%</text>
                                        </svg>
                                      </div>

                                      
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 15px;">
                                        <samuel class="h6 font-weight-bold texttheme">Form A: <samuel class="material-icons  mr-2 font-weight-bold" style="color:#3d5c5c;" >Profiling</samuel></samuel><br>
                                        Inputed Data: <samuel style="color: #339966; font-size: 15px;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['profiling_a']['inputed'] }}</samuel>out of<br> <samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['profiling_a']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{prof_b_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{prof_b_percentage}}%</text>
                                        </svg>
                                      </div>

                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:15px;">
                                <samuel class="h6 font-weight-bold texttheme">Form B: <samuel style="color: #3d5c5c;" class="material-icons mr-2">Farmer's Org </samuel></samuel><br>
                                        Inputed Data: <samuel style="color: #339966; font-size: 15px;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['prof_b']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['prof_b']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            
            
                                </div>
                            </div>
                        </div>

    
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                        
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{prof_c_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text  x="18" y="20.35" class="percentage">{{prof_c_percentage}}%</text>
                                        </svg>
                                      </div>
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size:15px;">
                                               <samuel class="h6 font-weight-bold texttheme">Form C: <samuel style="color: #3d5c5c;" class=" material-icons mr-2">MSME</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['prof_c']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['prof_c']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            </div>
            
            
                                </div>
                            </div>
                        </div>
                           
                           
    
                        
                    
    
                    
                  </div>



 <div class="wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primaryx">Data Capture Forms Performance Tracker</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                              
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf1_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf1_percentage}}%</text>
                                        </svg>
                                      </div>

                                      
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 15px;">
                                        <samuel class="h6 font-weight-bold texttheme">Form 1: <samuel style="color: #3d5c5c;" class="material-icons mr-2 font-weight-bold">Prep. Review</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color:#339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf1']['inputed'] }}</samuel>out of<br> <samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf1']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf2_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf2_percentage}}%</text>
                                        </svg>
                                      </div>

                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:15px;">
                                <samuel class="h6 font-weight-bold texttheme">Form 2: <samuel style="color: #3d5c5c;" class="material-icons mr-2">CPA Tacker</samuel></samuel><br>
                                        Inputed Data: <samuel style=" font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf2']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf2']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            
            
                                </div>
                            </div>
                        </div>

    
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                        
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf3_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text  x="18" y="20.35" class="percentage">{{dcf3_percentage}}%</text>
                                        </svg>
                                      </div>
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size:15px;">
                                               <samuel class="h6 font-weight-bold texttheme">Form 3: <samuel style="color: #3d5c5c;" class=" material-icons mr-2">BDSP Registry</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf3']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf3']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            </div>
            
            
                                </div>
                            </div>
                        </div>
<hr>


                        <div class="row">
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                              
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf4_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf4_percentage}}%</text>
                                        </svg>
                                      </div>

                                      
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 15px;">
                                        <samuel class="h6 font-weight-bold texttheme">Form 4: <samuel style="color: #3d5c5c;" class="material-icons mr-2 font-weight-bold">CapBuild</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color:#339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf4']['inputed'] }}</samuel>out of<br> <samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf4']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf5_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf5_percentage}}%</text>
                                        </svg>
                                      </div>

                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:15px;">
                                <samuel class="h6 font-weight-bold texttheme">Form 5: <samuel style="color: #3d5c5c;" class="material-icons mr-2">Matching Grant</samuel></samuel><br>
                                        Inputed Data: <samuel style=" font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf5']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf5']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            
            
                                </div>
                            </div>
                        </div>

    
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                        
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf6_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text  x="18" y="20.35" class="percentage">{{dcf6_percentage}}%</text>
                                        </svg>
                                      </div>
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size:15px;">
                                               <samuel class="h6 font-weight-bold texttheme">Form 6: <samuel style="color: #3d5c5c;" class=" material-icons mr-2">Product Dev.</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf6']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf6']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            </div>
            
            
                                </div>
                            </div>
                        </div>
                           

<hr>

                            <div class="row">
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                              
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf7_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf7_percentage}}%</text>
                                        </svg>
                                      </div>

                                      
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 15px;">
                                        <samuel class="h6 font-weight-bold texttheme">Form 7: <samuel style="color: #3d5c5c;" class="material-icons mr-2 font-weight-bold">Trade Promotion</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color:#339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf7']['inputed'] }}</samuel>out of<br> <samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf7']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf9_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf9_percentage}}%</text>
                                        </svg>
                                      </div>

                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:15px;">
                                <samuel class="h6 font-weight-bold texttheme">Form 9: <samuel style="color: #3d5c5c;" class="material-icons mr-2">Enabler's Activity</samuel></samuel><br>
                                        Inputed Data: <samuel style=" font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf9']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf9']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            
            
                                </div>
                            </div>
                        </div>

    
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                        
                                    <div style="display: flex; align-items: center;">
                                     
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf10_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text  x="18" y="20.35" class="percentage">{{dcf10_percentage}}%</text>
                                        </svg>
                                      </div>
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size:15px;">
                                               <samuel class="h6 font-weight-bold texttheme">Form 10: <samuel style="color: #3d5c5c;" class=" material-icons mr-2">Negosyo Center</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color: #339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf10']['inputed'] }}</samuel>out of <br><samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf10']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>
            </div>
            
            
                                </div>
                            </div>
                        </div>
                           

<hr>

                              <div class="row">
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <div style="display: flex; align-items: center;">
                              
                                      <div class="single-chart">
                                        <svg viewBox="0 0 40 40" class="circular-chart blue">
                                          <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <path class="circle" stroke-dasharray="{{dcf11_percentage}}, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                                          <text x="18" y="20.35" class="percentage">{{dcf11_percentage}}%</text>
                                        </svg>
                                      </div>

                                      
                                      <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 15px;">
                                        <samuel class="h6 font-weight-bold texttheme">Form 11: <samuel style="color: #3d5c5c;" class="material-icons mr-2 font-weight-bold">Access Financing</samuel></samuel><br>
                                        Inputed Data: <samuel style="font-size: 15px; color:#339966;" class="material-icons mr-1 font-weight-bold ">{{ user_rank['dcf11']['inputed'] }}</samuel>out of<br> <samuel style="color: #ff6666; font-size: 15px;" class="material-icons mr-1 font-weight-bold">{{ user_rank['dcf11']['total'] }}</samuel>Total Data Enrolled</p>
                                    </div>

                                </div>
                            </div>
                        </div>

               

    
                        </div>

          </div>
                            
                     <div class="mb-5 wow fadeIn">
                    <div class="text-start mb-1-6 wow fadeIn">
                        <h2 class="mb-0 text-primaryx">Knowledge Center Contributions</h2>
                    </div>
                    <div class="row mt-n4">

                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <h3 class="h5 mb-3 font-weight-bold texttheme"><i class="fa-solid fa-newspaper"></i> Articles</h3>
                                    <p class="mb-0">Posted : <samuel class="material-icons text-dark mr-1 font-weight-bold ">{{ user_rank['webrep_articles']['inputed'] }}</samuel></p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <h3 class="h5 mb-3 font-weight-bold texttheme"><i class="fa-solid fa-comments"></i> Comments</h3>
                                    <p class="mb-0">Replies : <samuel class="material-icons text-dark mr-1 font-weight-bold ">{{ user_rank['webrep_forum_comments']['inputed'] }}</samuel></p>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-md-4 col-4">
                            <div class="card text-center border-0 rounded-3">
                                <div class="card-body">
                                    <h3 class="h5 mb-3 font-weight-bold texttheme"><i class="fa-solid fa-cloud-arrow-up"></i> Uploads</h3>
                                    <p class="mb-0">Uploaded : <samuel class="material-icons text-dark mr-1 font-weight-bold ">{{ user_rank['webrep_uploads']['inputed'] }}</samuel></p>
                                </div>
                            </div>
                        </div>
                        
                
                
                                  </div>
            
                                </div>

    
                        
                    
    
                    
        





         
                            </div>

                        </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>


<script>

  {% if(user_data['profilepic']=="" or user_data['profilepic']==" " ): %}
	$onload(profileconfirmation())
	{% endif %}

  

</script>
      
<div class="modal fade" id="profilingmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light text-dark" >
          <h1 class="modal-title texttheme font-weight-bold" id="exampleModalLabel" >Profiling</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  
          </button>
        </div>
        <div class="modal-body">
            <div class="profiling-bt">
              <button onclick="location.href='/feature_0'"  class='form_a'>Form A - Farmer</button>
              <button onclick="location.href='/formb'"  class='form_b'>Form B - Farmer's Organization</button>
              <button onclick="location.href='/formcdashboard'" class='form_c'>Form C - MSME</button>
              <!-- <button class='sp_sheet'>Spreadsheet Management</button> -->
               
        </div>
        </div>
        <div class="modal-footer prof-footer">
          <button type="button" class="btn text-white" style="background-color: #1F4F5A;" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    println(URL_ARGS)
    if("urlvisit" in URL_ARGS){
        goto(URL_ARGS['urlvisit'])
    }

    var imgs = $ID('prof_imgs')
    var qrs = $ID('qrcode')
    var qr1 = new QRCode($ID("qrcode"), "MIS{{user_data['id']}}");

    function hover_img(elem){
      println(elem)
    }
    
    function hover_img(elem){
      imgs.style.display = 'none'
      qrs.style.display = 'block'  
    }
    function unhover_img(elem){
        imgs.style.display = 'block'
        qrs.style.display = 'none'
    }



  </script>
{% endblock %}
