{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<html lang="en">
  <title>Menu</title>
<style type="text/css">
  
      #container_b{
/*        background-image: url('../static/img/login_bg_dark.jpg');*/
        /*background-image: url('../static/img/bg.webp');*/
        background: 
          linear-gradient(rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)),
          url('../static/img/bg.jpg');
        background-position: center;
        background-size: cover;
      }
</style>

<body id="container_b">

  
<div class=" text-white sl-primary" style=" position: absolute; right: 0; max-width: 18rem; padding: 1px;height: auto;border-radius: 0px 0px 0px 0px;  ">
  <!-- <div class="card-header">{{user_data['name']}}</div> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Primary card title</h5> -->
    <a href="#_Hi_There_{{user_data['name']|replace(' ','_')}}" class="btn btn-md ">
      <span class="ms-start text-white">
        <i><img src="\static\psalm_static\menu\img\profilepic.png" style="width: 50px; height: 50px;"></i> 
        {{user_data['name']}}<br><i style="font-size:10px">{{user_data['job']}} | {{user_data['rcu']}}</i>
      </span>
      <div id="button-container">
        <button onclick="location.href='/logout';" class="danger-button">
          Logout
          <span class="round"></span>
        </button>
    </a>
    
    </div> 
</div>
</div>
</div>



<div class="container">

  <div class="row">

{% include "includes/menucards/adminknowledge.html" %}
 
{% include "includes/menucards/profiling.html" %}
  
{% include "includes/menucards/dcf.html" %}
     
{% include "includes/menucards/fmi.html" %}

{% include "includes/menucards/fundtracker.html" %}
    
  </div>
  </div>

</body>
  
{% endblock %}
  