<div class="bgmodal modal fade" id="wow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable" style="max-width: 80%;">
		<div class="modal-content">
			<div class="modal-header bg-light text-dark">
				<h1 class="modal-title " id="exampleModalLabel" >User Management</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">x

				</button>
			</div>
			<div class="modal-body bg-light ">

                fsdefefrsfaes


			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
</div>
