{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- Users Management Modal -->

<div class="bgmodal modal fade" id="usermang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable" style="max-width: 80%;">
		<div class="modal-content">
			<div class="modal-header bg-light text-dark">
				<h1 class="modal-title " id="exampleModalLabel" >User Management</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">x

				</button>
			</div>
			<div class="modal-body bg-light ">

				<div class=" ">
					<div class="row">

						<div class="col-4 border-end btn-default">
							<div class="container">
								<h5 class="font-weight-bold texttheme fs-2 mb-5">User List</h5>
								<div class="container overflow-auto" style="height: 60vh;" >											
									<table class="table">
										<thead>
											<tr>
												<th scope="col" class="texttheme">ID</th>
												<th scope="col" class="texttheme">Name</th>
												<th scope="col" class="texttheme">Status</th>
											</tr>
										</thead>
										<tbody id="user_list" class="table-bordered">
											<tr>
												<th scope="row" class="texttheme">...</th>
												<td class="texttheme">Loading...</td>
											</tr>											    											   
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="col-4 border-end btn-default">
							<div class="">
								<div class="d-flex justify-content-between">
									<div>
										<h5 class="font-weight-bold texttheme fs-2 ">Details</h5>													
									</div>
								</div>
								
								<div class="container mt-4 overflow-auto" style="height: 60vh;">
									<div class="mb-3" style="display: none;">													
										<h5 class="small font-weight-bold ms-1 texttheme">ID</h5>
										<input disabled class="USER_DATA form-control form-control " type="text" id="id" name="SELECTED_USER_ID">													
									</div>
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Name</h5>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="name">													
									</div>
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Address</h5>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="address">													
									</div>
									
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Email Address:</h5>
										<input class="USER_DATA form-control form-control" type="email" placeholder="" id="email">													
									</div>

									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Job:</h5>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="job">													
									</div>
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Mobile:</h5>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="mobile">													
									</div>
									<div class="row mb-3">						
										<div class="col-6">
											<h5 class="small font-weight-bold ms-1 texttheme">PCU:</h5>
											<input class="USER_DATA form-control form-control" type="text" placeholder="" id="pcu">	
											
										</div>	
										<div class="col-6">
											<h5 class="small font-weight-bold ms-1 texttheme">RCU:</h5>
											<input class="USER_DATA form-control form-control" type="text" placeholder="" id="rcu">														
										</div>						
									</div>
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Username:</h5>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="username">													
									</div>
									<!-- <div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Password:</h5>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="password">													
									</div> -->
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Date:</h5>
										<input class="USER_DATA form-control form-control" type="date" id="until">													
									</div>
									<div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Account Status</h5>
										<select class="USER_DATA form-control" id="status">
											<option value="active">Active</option>
											<option value="halt">Disabled</option>
											<option value="expire" disabled>expired</option>
											<option value="" disabled>No Account Status</option>
										</select>											
									</div>
									<!-- <div class="mb-3">													
										<h5 class="small font-weight-bold ms-1 texttheme">Status:</h5>
										<select class="USER_DATA form-control form-control" id="status">
											<option>Active</option>
										</select>
										<input class="USER_DATA form-control form-control" type="text" placeholder="" id="status" disabled>													
									</div>	 -->											
								</div>

								<div class="mt-3">
									<div class="float-xl-right">
										<button id="chngpassbtn" type="button" class="btn btn-primary me-3" data-toggle="modal" data-target="#chngpass" onclick="$ID('')">Change Password</button>	
										<button type="button" class="btn btn-success me-3" onclick="save_user_det()">Save</button>	
									</div>
									<div class="float-xl-left">
										<button type="button" class="btn btn-warning me-3" onclick="clear_field('USER_DATA')">Clear</button>	
									</div>
								</div>
							</div>
						</div>

						<div class="col-4">
							<div class="container">
								<div class="d-flex justify-content-between">
									<div>
										<h5 class="font-weight-bold texttheme fs-2 ">Setting</h5>													
									</div>												
								</div>
								<div class="mt-5">
									<p>Type:</p>
									<select id="type" class="PRIV_FORM form-control" aria-label="">
										<option value="" selected disabled>Select options</option>
										<option value="super_admin">Super Admin</option>
										<option value="admin">Admin</option>
										<option value="npco">NPCO</option>
										<option value="default">Default</option>
										<option value="guest">Guest</option>
									</select>
								</div>

								
								<div class="container mt-5 " style="height: 47vh;">
									<h5 class="font-weight-bold texttheme">Modules</h5>
									<table class="container table">
										<thead>
											<tr class=" ">
												
												<th scope="col" class="texttheme">Module Name</th>
												<th scope="col" class="texttheme">Download</th>
												<th scope="col" class="texttheme">Read</th>
												<th scope="col" class="texttheme">Modify</th>
												
											</tr>
										</thead>
										<tbody class="table-bordered">
											
											<tr>
												<td scope="row" class="texttheme">Admin Knowledge Center</td>
												<td class="texttheme">
													<div class="form-check ms-2">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="km_download">
														<label class="form-check-label" for="km_download">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="km_read">
														<label class="form-check-label" for="km_read">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="km_modify">
														<label class="form-check-label" for="km_modify">
														</label>
													</div>
												</td>
											</tr>
											<tr>
												<td scope="row" class="texttheme">Profiling</td>
												<td class="texttheme">
													<div class="form-check ms-2">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="prof_download">
														<label class="form-check-label" for="prof_download">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="prof_read">
														<label class="form-check-label" for="prof_read">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="prof_modify">
														<label class="form-check-label" for="prof_modify">
														</label>
													</div>
												</td>
											</tr>
											<tr>
												<td scope="row" class="texttheme">Data Capture</td>
												<td class="texttheme">
													<div class="form-check ms-2">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="dcf_download">
														<label class="form-check-label" for="dcf_download">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="dcf_read">
														<label class="form-check-label" for="dcf_read">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="dcf_modify">
														<label class="form-check-label" for="dcf_modify">
														</label>
													</div>
												</td>
											</tr>
											<tr>
												<td scope="row" class="texttheme">FMI Tracker</td>
												<td class="texttheme">
													<div class="form-check ms-2">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="fmi_download">
														<label class="form-check-label" for="fmi_download">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="fmi_read">
														<label class="form-check-label" for="fmi_read">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="fmi_modify">
														<label class="form-check-label" for="fmi_modify">
														</label>
													</div>
												</td>
											</tr>
											<tr>
												<td scope="row" class="texttheme">Fund Tracker</td>
												<td class="texttheme">
													<div class="form-check ms-2">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="ft_download">
														<label class="form-check-label" for="ft_download">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="ft_read">
														<label class="form-check-label" for="ft_read">
														</label>
													</div>
												</td>
												<td class="texttheme">
													<div class="form-check d-flex justify-content-center ">
														<input class="PRIV_FORM form-check-input" type="checkbox" value="" id="ft_modify">
														<label class="form-check-label" for="ft_modify">
														</label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="mt-3">
										<div class="float-xl-right">
											<button type="button" class="btn btn-success me-3" onclick="save_priv()">Save</button>	
										</div>
										
									</div>	
								</div>
								<!-- <div class="d-flex ">
									<div>
										<button type="button" class="btn btn-primary me-3">Save</i></button>	
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>


			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
</div>


<div class="bgmodal modal fade" id="chngpass" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable" style="max-width: 30%;">
		<div class="modal-content">
			<div class="modal-header bg-light text-dark">
				<h1 class="modal-title" id="exampleModalLabel">Change Password</h1>
				<button id="changebtnclose" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body bg-light ">

				<div class=" ">
					<div class="row">
						
						<div class="container mt-4 overflow-auto">
							
							<!-- <div class="mb-3">
								<h5 class="small font-weight-bold ms-1 texttheme">Current Password</h5>
								<div class="input-group">
									<input class="CHNGEPASS_FORM form-control password-toggle" type="password" required placeholder="" id="currpass" name="currpass_">
									
								</div>
							</div> -->
							
							<div class="mb-3">
								<h5 class="small font-weight-bold ms-1 texttheme">New Password</h5>
								<div class="input-group">
									<input class="CHNGEPASS_FORM form-control password-toggle" type="password" required placeholder="" id="newpass" name="newpass_">
									<div class="input-group-append">
										<div class="input-group-text">
											<span class="password-toggle-icon far fa-eye" toggle="#newpass"></span>
										</div>
									</div>
								</div>
							</div>
							
							<div class="mb-3">
								<h5 class="small font-weight-bold ms-1 texttheme">Confirm New Password</h5>
								<div class="input-group">
									<input class="CHNGEPASS_FORM form-control password-toggle" type="password" required placeholder="" id="confpass" name="confpass_">
									<div class="input-group-append">
										<div class="input-group-text">
											<span class="password-toggle-icon far fa-eye" toggle="#confpass"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="mt-3">
								<div class="float-xl-right">
									<button onclick="change_pass()" id="resetpass" type="button" class="btn btn-info me-3">Reset Password</button>	
									<button type="button" class="btn btn-secondary me-3" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<style>
	.bgmodal {
  /* Other modal styles */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

	}

	.blur {
		filter: blur(3px);
		transition: all 0.10s ease-in-out;
	}
	.toggle-password i.fas {
		display: none;
	}
</style>

<script src="/static/psalm_static/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/psalm_static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../../static/js/Brorn.min.js"></script>
<script type="text/javascript">
	// $onload(function(){
	// 	$ID('userbtn').addEventListener("click",function(e){
	// 		get_user_data()
	// 	})
	// })

	function change_pass(){
		var psswd_data =input_to_json("CHNGEPASS_FORM");
		psswd_data['id'] = $NAME("SELECTED_USER_ID")[0].value ;
		$send({
			action : "/api/user/change_pass",
			data : $DATA(psswd_data),
			method : POST,
			func : function(r){
				var res = JSON.parse(r);
				println(res);
				alert("Transaction complete with an ID["+psswd_data['id']+"]")
				$ID("chngpass").style.display ="none"
			}
		});
	}


	function clear_field(class_n){
		var user_data_ = $CLASS(class_n)
		for (var i = 0; i < user_data_.length; i++) {
			user_data_[i].value = ""
			user_data_[i].checked = false
		}
	}

	function save_user_det(){
		var user_data_ = $CLASS('USER_DATA')
		var user_info = {}
		for (var i = 0; i < user_data_.length; i++) {
			user_info[user_data_[i].id] = user_data_[i].value
		}
		$send({
			action : "/api/edit_user",
			data : $DATA(user_info),
			err_dialog : true,
			method : POST,
			func : function(r){
				set_user_datafield(user_info['id'])
				get_user_data()
			} 
		})
	}

	function save_priv(){
		var user_info = input_to_json('PRIV_FORM')
		user_info['user_id'] = $NAME("SELECTED_USER_ID")[0].value
		println(user_info)
		$send({
			action : "/api/edit_user_priv",
			data : $DATA(user_info),
			err_dialog : true,
			method : POST,
			func : function(r){
				set_user_datafield(user_info['id'])
				get_user_data()
			} 
		})
	}

	function get_user_data(){
		$send({
			action : "/api/get_user_data/all",
			func : function(r){
				var resp = JSON.parse(r);
				var ls_str = "";
				for (var i = 0; i < resp.length; i++) {
					var colr = "secondary";var stats = "null"
					if(resp[i]['status']=="active"){
						colr = "success";
						stats = "Activated";
					}else if(resp[i]['status']=="halt"){
						colr = "danger";
						stats = "Disabled";
					}else if(resp[i]['status']=="expire"){
						colr = "warning";
						stats = "Expire";
					}else{
						colr = "secondary";
						stats = "Undefined";
					}

					ls_str += (`
						<tr onclick="set_user_datafield(`+resp[i]['id']+`)">
							<th scope="row" class="texttheme">
								`+resp[i]['id']+`
							</th>
							<td class="texttheme">
								`+resp[i]['name']+`
							</td>
							<td class="texttheme text-`+colr+`">
								`+stats+`
							</td>
						</tr>		
						`)
				}
				$ID('user_list').innerHTML = ls_str
			}
		})
	}

	function set_user_datafield(arr){

		$send({
			action : "/api/get_user_data/"+arr,
			err_dialog : true,
			func : function(r){
				set_user_privfield(arr)
				var resp = JSON.parse(r)[0]
				var USER_DATA = $CLASS('USER_DATA')
				for (var i = 0; i < USER_DATA.length; i++) {
					if(USER_DATA[i].id == "until"){
				// var DDATE = new Date(resp[USER_DATA[i].id])
						USER_DATA[i].value = resp[USER_DATA[i].id]
				// println(resp[USER_DATA[i].id])
				// println(typeof(resp[USER_DATA[i].id]))
					}else{
						USER_DATA[i].value = resp[USER_DATA[i].id]
					}

				}
			}
		})
	}
	function set_user_privfield(arr){
		clear_field('PRIV_FORM')
		$send({
			action : "/api/get_user_priv/"+arr,
			err_dialog : true,
			func : function(r){
				var resp = JSON.parse(r)
				var PRIV_FORM = $CLASS('PRIV_FORM')
				for (var i = 0; i < PRIV_FORM.length; i++) {
					if(resp.length > 0){
						if(PRIV_FORM[i].type=="checkbox"){
							if(resp[0][PRIV_FORM[i].id].toLowerCase()=="true"){
								try{PRIV_FORM[i].click()}
								catch(e){warnprintln(PRIV_FORM[i].id+" || "+e)}
							}
						}else{
							PRIV_FORM[i].value = resp[0][PRIV_FORM[i].id]
						}
					}
				}
			}
		})
	}


	// ===================================================================

	const newPasswordInputs = $("#newpass");
	const confirmPassInput = $("#confpass");
	const changePassButton = $("#resetpass");
	const validationMessage = $("#validation-message");

	newPasswordInputs.on("input", validatePasswordMatch);
	confirmPassInput.on("input", validatePasswordMatch);

	function validatePasswordMatch() {
		const newPassword = newPasswordInputs.val();
		const confirmPass = confirmPassInput.val();
		const isValid = newPassword === confirmPass && newPassword.length > 0;
		
		if (isValid) {
			confirmPassInput[0].setCustomValidity("");
			confirmPassInput.removeClass("is-invalid").addClass("is-valid");
			validationMessage.hide();
		} else {
			confirmPassInput[0].setCustomValidity("Passwords do not match");
			confirmPassInput.removeClass("is-valid").addClass("is-invalid");
			validationMessage.show();
		}
		
		changePassButton.prop("disabled", !isValid);
	}

	$(document).on('click', '.password-toggle-icon', function() {
		var input = $($(this).attr('toggle'));
		if (input.attr('type') == 'password') {
			input.attr('type', 'text');
			$(this).removeClass('fa-eye').addClass('fa-eye-slash');
		} else {
			input.attr('type', 'password');
			$(this).removeClass('fa-eye-slash').addClass('fa-eye');
		}
	});
</script>
{% endblock %}
