<!DOCTYPE html>
<html>
	<title>MIS Forums</title>
	{% include 'head.html' %}
	{% include 'spinner_loader.html' %}
	<body>
		<header class="x-header x-container">
			<div class="x-left">
				<img src="../static/img/icon.png" style="width: 10%;">
			</div>
			<div class="x-right x-container x-padding-large">
				<button class="x-btn x-hover-teal x-hover-text-white x-padding x-container x-round-large x-border-red">
					<b class="x-text-teal"><span class="fa fa-home"></span> Menu</b>
				</button>
			</div>
		</header>
		<div class="x-container">
			
		</div>
	</body>
</html>