<div class="pagetitle">
	<h1>Profile</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item">Users</li>
			<li class="breadcrumb-item active">Profile</li>
		</ol>
	</nav>
</div>

<!-- Left side columns -->
{% include '/chunks/user-profile/user-profile-main-content.html'%}
<!-- End Left side columns -->

<!-- Right side columns -->
{% include '/chunks/system-control/system-control-sub-left-content.html'%}

<!-- End Right side columns -->