<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-890" lang="en-us">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
    <!-- fontawesomeCDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="js/jquery.min.js"></script>

		<!-- CSS only -->
    <link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


		<!-- JavaScript Bundle with Popper -->
    <script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

		<title >Articles</title>
	</head>

<body>
 
{% include 'main/navbarpages.html' %}

<!-- Title -->
  <div class="text-center">
    <h1 class="newsfont display-2 texttheme" >News and Stories</h1>
  </div>

<!-- Arcticle News -->
<div class="container">
	<div class="container row g-2 ">
		<div class="col-8 shadow-sm p-3 bg-body rounded me-3">
			<div class="container d-inline-flex border" id="articletags" style="height: 20px;">
				<a class="ms-3 me-3 border">
					<span><i class="fa-light fa-coffee-beans"></i>Coffee</span>
				</a>
				<a class="me-3 border">
					<span>Cacao</span>
				</a>
				
			</div>
		</div>
		<div class="col-3 shadow-sm p-3 bg-body rounded">
			<div class="d-flex border" style="height: 20px;">
				
			</div>			
		</div>
	</div>
</div>


{% include 'main/footer.html' %}


</body>
</html>