<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-890" lang="en-us">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
    <!-- fontawesomeCDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="js/jquery.min.js"></script>

		<!-- CSS only -->
    <link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


		<!-- JavaScript Bundle with Popper -->
    <script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

		<title >Articles</title>
	</head>

<body style="background-color: #e3ebd5">
 
{% include 'main/navbarpages.html' %}



<!-- Arcticle News -->
<div class="container mb-5 mt-5">
	<div class="container row g-2 ">
		<div class="col-8 shadow-sm p-3 bg-body rounded me-3">
		<!-- Back Arrow -->
			<div class="container text-start mt-4 ms-3 fs-4">
				<a class=" texttheme" href="/rapid/NewsAndStories/NewsAndStories.html">
					<span><i class="fa-solid fa-arrow-left-long"></i></span>
				</a>
			</div>
			<div class="container mt-4 ">
				<div class="container ">
					<p class=" small text-muted">Published February 16, 2023, 3:26 PM</p>
					<p class=" small text-muted">by John Doe</p>
				</div>
				<div>
					<p class="container display-5">Example Tittle for a news Example Tittle for a news.</p>
				</div>
				<div class="article-item container">
					<img  src="../../static/webrepstatic/img/rapidimage/6_CIDOFSFA_BrgyCervantes_Catarman_RCU8.jpg"class="container article-img" alt="...">					
				</div>
				<div class="container ms-3 mt-1">
					<p class="text-start text-muted fst-italic small">This is an example caption on this photo. Photo by Coco Martin. </p>					
				</div>
				<div class="container">						
					<p class=" mt-3  ">
						Lorem ipsum dolor sit amet. Ad autem tenetur aut aliquid voluptas sed aliquid neque eos officia dicta At esse omnis eum quae laboriosam qui necessitatibus voluptatum. Aut quas beatae nam nisi omnis ut dolor mollitia.
					Ad sint deleniti qui tenetur magnam qui voluptatibus possimus quo minus voluptas. Sed omnis repellendus et eius enim et debitis porro 33 porro sunt vel ullam impedit! Et velit tempora ut voluptatem laborum aut autem ipsa aut vero natus sit praesentium rerum ut dignissimos rerum eum internos odio. Ea nihil eius sit cumque odit id perspiciatis assumenda aut enim ullam et quae saepe est earum deleniti id quaerat sapiente.
				A molestiae magnam ut omnis itaque eos temporibus quos. Est nemo temporibus sit sint assumenda est dolor repudiandae ea porro sunt non minima molestiae est quia incidunt? Et blanditiis eaque hic pariatur quibusdam est delectus eius id dolore voluptate ad nihil sint.
			Lorem ipsum dolor sit amet. Ad autem tenetur aut aliquid voluptas sed aliquid neque eos officia dicta At esse omnis eum quae laboriosam qui necessitatibus voluptatum. Aut quas beatae nam nisi omnis ut dolor mollitia.
					Ad sint deleniti qui tenetur magnam qui voluptatibus possimus quo minus voluptas. Sed omnis repellendus et eius enim et debitis porro 33 porro sunt vel ullam impedit! Et velit tempora ut voluptatem laborum aut autem ipsa aut vero natus sit praesentium rerum ut dignissimos rerum eum internos odio. Ea nihil eius sit cumque odit id perspiciatis assumenda aut enim ullam et quae saepe est earum deleniti id quaerat sapiente.
				A molestiae magnam ut omnis itaque eos temporibus quos. Est nemo temporibus sit sint assumenda est dolor repudiandae ea porro sunt non minima molestiae est quia incidunt? Et blanditiis eaque hic pariatur quibusdam est delectus eius id dolore voluptate ad nihil sint.
			Lorem ipsum dolor sit amet. Ad autem tenetur aut aliquid voluptas sed aliquid neque eos officia dicta At esse omnis eum quae laboriosam qui necessitatibus voluptatum. Aut quas beatae nam nisi omnis ut dolor mollitia.
					Ad sint deleniti qui tenetur magnam qui voluptatibus possimus quo minus voluptas. Sed omnis repellendus et eius enim et debitis porro 33 porro sunt vel ullam impedit! Et velit tempora ut voluptatem laborum aut autem ipsa aut vero natus sit praesentium rerum ut dignissimos rerum eum internos odio. Ea nihil eius sit cumque odit id perspiciatis assumenda aut enim ullam et quae saepe est earum deleniti id quaerat sapiente.
				A molestiae magnam ut omnis itaque eos temporibus quos. Est nemo temporibus sit sint assumenda est dolor repudiandae ea porro sunt non minima molestiae est quia incidunt? Et blanditiis eaque hic pariatur quibusdam est delectus eius id dolore voluptate ad nihil sint.
			Lorem ipsum dolor sit amet. Ad autem tenetur aut aliquid voluptas sed aliquid neque eos officia dicta At esse omnis eum quae laboriosam qui necessitatibus voluptatum. Aut quas beatae nam nisi omnis ut dolor mollitia.
					Ad sint deleniti qui tenetur magnam qui voluptatibus possimus quo minus voluptas. Sed omnis repellendus et eius enim et debitis porro 33 porro sunt vel ullam impedit! Et velit tempora ut voluptatem laborum aut autem ipsa aut vero natus sit praesentium rerum ut dignissimos rerum eum internos odio. Ea nihil eius sit cumque odit id perspiciatis assumenda aut enim ullam et quae saepe est earum deleniti id quaerat sapiente.
				A molestiae magnam ut omnis itaque eos temporibus quos. Est nemo temporibus sit sint assumenda est dolor repudiandae ea porro sunt non minima molestiae est quia incidunt? Et blanditiis eaque hic pariatur quibusdam est delectus eius id dolore voluptate ad nihil sint.</p>
				</div>
			</div>

		</div>
		<div class="col-3 shadow-sm p-3 bg-body rounded">
			<div class="d-flex border" style="height: 20px;">
				
			</div>			
		</div>
	</div>
</div>


{% include 'main/footer.html' %}


</body>
</html>