<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-890" lang="en-us">
		<script src="../../static/js/Brorn.min.js"></script>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
		<!-- fontawesomeCDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="js/jquery.min.js"></script>

		<!-- CSS only -->
		<link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


		<!-- JavaScript Bundle with Popper -->
		<script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

		<title >Articles</title>

	</head>

	<body style="background-color: #e3ebd5">

		{% include 'main/navbarpages.html' %}



		<!-- Arcticle News -->
		<div class="container mb-5 mt-5">
			<div class="container row g-2 ">
				<div class="col-8 shadow-sm p-3 bg-body rounded me-3">
					<!-- Back Arrow -->
					<div class="d-flex mb-5">
						<div class="container text-start ms-3 fs-4">
							<a class=" texttheme" href="/rapid/NewsAndStories/NewsAndStories.html">
								<span><i class="fa-solid fa-arrow-left-long"></i></span>
							</a>
						</div>
						<div class="hstack gap-2">
							{% if user_data['job']=='Admin' or user_data['job']=='Super Admin' %}
								<button type="button" class="btn btn-sm btn-outline-danger rounded-1" onclick="article_actions('revise')">Revise</button>
								<button  type="button" class="btn btn-sm  btn-outline-success rounded-1" onclick="article_actions('confirm')">Confirm</button>
								<div class="vr"></div>
							{%endif%}
							<div id="article_btn_control" class="d-flex gap-2">
								<button type="button" class="btn btn-sm  btn-outline-dark rounded-1" onclick="article_actions('edit')">Edit</button>
								<button type="button" class="btn btn-sm  btn-danger rounded-1" onclick="article_actions('delete')">Delete</button>
							</div>
						</div>				
					</div>
					<div class="container mt-4 ">
						<div class="container d-flex justify-content-between ">
							<div>
								<p id="date" class="WEBSAFE small text-muted placeholder-glow ">
								  <span class="placeholder  col-3 rounded-2"></span>
								</p>
							</div>
							<div class="d-flex ">
								<div>
									<p id="rcu" class="WEBSAFE small text-muted placeholder-glow ">
									  <span class="placeholder  col-3 rounded-2"></span>
									</p>
								</div>
								<div>
									<p>&nbsp&nbsp</p>
								</div>
								<div>
									<p id="posttype" class="WEBSAFE small text-muted placeholder-glow ">
									  <span class="placeholder  col-3 rounded-2"></span>
									</p>
								</div>
							</div>
							
						</div>
						<div class="">
							<p id="title" class="WEBSAFE container display-5 lh-xs">
							</p>

						</div>
						<div class=" ">
							<p id="description" class="WEBSAFE container fst-italic placeholder-glow lh-sm">
								<span class="placeholder col-2 rounded-2"></span>
							</p>

							<figcaption class="container blockquote-footer WEBSAFE placeholder-glow" id="author">
								  <span class="placeholder col-2 rounded-2"></span>
 							</figcaption>
						</div>
						<div id="media_container" class="article-item container">
							<img id="img_" src="https://cdn.dribbble.com/userupload/5285830/file/original-080a1c594c9d4697e74ae1dc41d56f81.gif" class="WEBSAFE rounded-2 w-100 article-img" alt="...">					
						</div>
						<div class="container mt-1">
							<p id="photo_cap" class="WEBSAFE text-start text-muted fst-italic small placeholder-glow">
								<span class="placeholder col-5 rounded-2"></span>
								
							</p>					
						</div>
						<div class="container border-bottom border-light mb-3 placeholder-glow">						
							<p id="content" class="WEBSAFE content x-justify" style="text-align: justify;">
								  <span class="placeholder col-10 rounded-1 mb-4"></span>
								  <span class="placeholder col-10 rounded-1 mb-4"></span>
								  <span class="placeholder col-10 rounded-1 mb-4"></span>
								  <span class="placeholder col-9 rounded-1 mb-4"></span>
								  <span class="placeholder col-8 rounded-1 mb-4"></span>
								  <span class="placeholder col-7 rounded-1 mb-4"></span>
							</p>
						</div>

						<script type="text/javascript">

							var modify_div_elem = undefined
							$onload(function(){
								modify_div_elem=$ID('article_btn_control').innerHTML
								$ID('article_btn_control').innerHTML=""
							})
							function set_idto_id_article(uploader){
								var curr_user_id = "{{user_data['id']}}"
								if(uploader != curr_user_id){
									$ID("article_btn_control").innerHTML= ""
								}
								else{
									$ID("article_btn_control").innerHTML= modify_div_elem
								}
							}

							$onload(loadArticle)

							function loadArticle(){
								$send({
									action : "/webrep/article/get_post_ind",
									method : POST,
									data : $DATA({"id":URL_ARGS['id']}),
									func : function(r){
										var res = JSON.parse(r)[0]
										
										var img_path = web_safe_decode(res["file_name"]).replaceAll("C:\\fakepath\\","") 
										var f_format = img_path.split(".")[img_path.split(".").length-1]
										println("f_format == "+ f_format)
										if(['jpeg','jpg','gif','png','webpg','svg'].indexOf(f_format.toLowerCase())!=-1 ){
											$ID("img_").src = "/webrep/article/get_img/"+ img_path
										}
										
										else if(f_format =="" || f_format ==" " || f_format ==undefined){
											$ID("img_").src = "../../static/img/banner.png"
										}
										else{
											$ID("media_container").innerHTML = (`
												<video muted onloadstart ="this.play()" controls class="img_class vid_class rounded-2 w-100 article-img" src="/webrep/article/get_img/`+img_path+`">
												</video>
											`)
											vid_play_()
										}


										set_idto_id_article(res['USER_ID'])
										$ID("date").innerHTML = res["date"]
										$ID("rcu").innerHTML = res["postRcu"]
										$ID("posttype").innerHTML = res["posttype"]
										$ID("author").innerHTML = res["postAuthor"]
										$ID("title").innerHTML = res["postheader"]
										$ID("description").innerHTML = res["postdescription"]
										$ID("photo_cap").innerHTML = res["postcaption"]
										$ID("content").innerHTML = res["postContent"].replaceAll("\n","<br>&emsp;&emsp;")
										__websafe_decode()

									}
								})

							}

							function vid_play_(){
								// var vid_class = $CLASS('vid_class')
								// for (var i = 0; i < vid_class.length; i++) {
								// 	try{
								// 		vid_class[i].addEventListener('mouseover',function(el){
								// 			println("mouse hover")
								// 			el.srcElement.volume = 0
								// 			el.srcElement.play()
								// 		})
								// 		vid_class[i].addEventListener('mouseout',function(el){
								// 			println("mouse out")
								// 			el.srcElement.volume = 0
								// 			el.srcElement.pause()
								// 			el.srcElement.currentTime  = 0
								// 		})
								// 	}catch(e){
								// 		warnprintln(e)
								// 	}
								// }
							}

							function article_actions(args){
								if(args=='delete'){delete_article()}
								if(args=='confirm'){confirm_article()}
								if(args=='revise'){revise_article()}
								if(args=='edit'){edit_article()}
							}

							function delete_article(){
								$send({
									action : "/webrep/articles/delete/"+URL_ARGS['id'],
									func : function(r){goto('/rapid/NewsAndStories/NewsAndStories.html')}
								})
							}

							function confirm_article(){
								$send({
									action : "/webrep/articles/confirm/"+URL_ARGS['id'],
									func : function(r){goto('/rapid/NewsAndStories/NewsAndStories.html')}
								})
							}

							function revise_article(){
								$send({
									action : "/webrep/articles/revise/"+URL_ARGS['id'],
									func : function(r){goto('/rapid/NewsAndStories/NewsAndStories.html')}
								})
							}

							function edit_article(){
								goto("/rapid/articles/createPost.html?ids="+URL_ARGS['id'])
							}
							
						</script>
					</div>
					
					</div>
				<!-- Side Articles -->
					{% include 'newsAndstories/sidearticles.html' %}
				</div>
			</div>
		</div>


		{% include 'main/footer.html' %}


	</body>
	<script type="text/javascript">
	</script>
	<!-- 20/03/2023 Brokenhearted si born. shat daw unya. ingon sam -->
</html>