<div class="modal fade" id="form6_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="max-width: 80%;">
      <div class="modal-content prof-content">
        <div class="modalprof modal-header prof-header " style="background-color: #007399;" >
          <h4 class="modal-title w-100 text-center text-white" id="exampleModalLongTitle" >Form 6 Product Development/ Enhancement Assistance Provided/ Consultancy Services</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  
          </button>
        </div>
        <div class="modal-body" style="background-color: #c1d0f0" >
            
                <!-- Card header -->
                <div class="d-flex justify-content-center">
                <div class="table-responsive table py-4 mx-auto" style="max-width: 100%;">
                  <div id="datatable-buttons_wrapper" class=" text-dark dataTables_wrapper dt-bootstrap4" >
                    <table class="table table-dark table-flush dataTable " id="datatable-buttons6" role="grid" aria-describedby="datatable-buttons_info" style="width:100% !important">
                    <thead class="thead" >
                      <tr role="row">
                        <th>ID</th>
                        <th>Name of Resource Person/Facilitator/BDSP</th>
                        <th>Implementing Unit</th>
                        <th>Type of Assistance</th>
                        <th>Type of Activity</th>
                        <th>DIP Alignment</th>
                        <th>Venue</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                     <div>
                        {% for row in form6_datatable %}
                        <td>{{ row['id'] }}</td>
                        <td>{{ row['form_6_resource_person'] }}</td>
                        <td>{{ row['form_6_implementing_unit'] }}</td>  
                        <td>{{ row['form_6_type_of_assisstance'] }}</td>
                        <td>{{ row['form_6_type_of_activity'] }}</td>
                        <td>{{ row['form_6_dip_alignment'] }}</td>
                        <td>{{ row['form_6_venue'] }}</td>
                        <td>
                            {% if(row['upload_by']==user_data['id'] or user_data['job']=="Super Admin"): %}
                            <a style="color: #00cc66;" data-toggle="modal" data-target="#form6edit{{row['id']}}" href="/updateform6/{{row['id']}}"> <span><i class="fa fa-eye" aria-hidden="true"> </i></span> Edit</a>
                        {%endif%}
                        </td>
            
                 
                    </tr>
                  
                    {% endfor  %}
                      </tbody>
            </table>
            
            </div>
                      
                      
                      
        </div>
                    
                </div>
                    

        </div>
        <div class="modal-footer prof-footer" style="background-color: #c1d0f0">
          <button type="button" class="btn text-white" style="background-color: #3366cc;" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>