.container {
  width: 1100px;
}
.circle_icon {
    background: #004450;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
    color: #CBDDA4;
	  transition: all 0.3s ease-in;
}
.circle_icon:hover {
  background-color: #9AC156;
  color: #004450;
}
.btn_icon i{
  display: none;
}
.btn_icon:hover i{
  display: inline-block;
}
.btn-xs {
  padding: 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}
input {
  box-shadow: none!important;
  border: 1px solid #024450!important;
  color: #024450!important;
}
select {
  box-shadow: none !important;
}
select:focus {
  border: 1px solid #DEE2E6 !important;
}
.text-wp-primary {
	color: #024450!important;
}
.text-wp-secondary {
	color: #9AC156!important;
}
.text-wp-cyan {
  color: #2C9196!important;
}
.text-wp-yellow {
  color: #FFA700!important;
}
.border-gray {
  border: 1px solid #DEE2E6!important;
}
.no-bg {
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}
.no-border {
  border: none!important;
}
.box-shadow {
  box-shadow: 3px 5px 10px #b4b3b3;
}
.bg-wp-primary {
  background-color: #024450!important;
  border: 1px solid #024450!important;
  color: #fff!important;
}
.bg-wp-primary-2 {
  background-color: #024450!important;
  border: 1px solid #024450!important;
  color: #BAE375!important;
}
.bg-wp-secondary {
  background-color: #9AC156!important;
  border: 1px solid #9AC156!important;
  color: #024450!important;
}
.bg-wp-secondary-light {
  background-color: #CBDDA4!important;
  border: 1px solid #CBDDA4!important;
  color: #024450!important;
}
.bg-wp-gray {
  background-color: #DADADA!important;
}
.bg-wp-lightgray {
  background-color: #F6F6F6!important;
}
.bg-wp-lightyellow {
  background-color: #E3E275!important;
}
.box-rounded {
  border-radius: 40px;
}
.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.wp_font_librecaslon {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}
.wp_font_roboto_regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.wp_font_merienda_300 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.wp_text_shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.wr_primary_btn {
	background-color: #9AC156;
	color: #024450;
	border-radius: 15px;
	padding: 5px 15px;
	transition: all 0.3s ease-in;
}
.wr_primary_btn:hover {
	background-color: #024450;
	color: #ffffff;
}
.wr_primary_outline_btn {
  background-color: transparent;
  border: 1px solid #9AC156;
	color: #024450;
	border-radius: 15px;
	padding: 5px 15px;
	transition: all 0.3s ease-in;
}
.wr_primary_outline_btn:hover {
	background-color: #9AC156;
}
.wr_secondary_btn {
	background-color: #024450;
	color: #fff;
	border-radius: 15px;
	padding: 5px 15px;
	transition: all 0.3s ease-in;
}
.wr_secondary_btn:hover {
	background-color: #9AC156;
	color: #024450;
}
.font-48 {
    font-size: 48px;
}
.font-28 {
    font-size: 28px;
}
.font-26 {
    font-size: 26px;
}
.font-24 {
    font-size: 24px;
}
.font-22 {
    font-size: 22px;
}
.font-20 {
    font-size: 20px;
}
.font-18 {
    font-size: 18px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
} 
.font-11 {
  font-size: 11px;
}
.font-10 {
    font-size: 10px;
}
.loader {
  width: 50px;
  height: 50px;
  border: 7px double;
  border-color: #7CA23F transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin13213 2s linear infinite;
}
.loader div {
  width: 50%;
  height: 50%;
  background-color: #004450;
  border-radius: 50%;
}
.text-justify {
  text-align: justify !important;
}

.form-check-input:checked {
  background-color: #9AC156; /* Desired color, e.g., red */
  border-color: #9AC156;      /* Match border color */
}

.btn-wp-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 10rem;
  height: auto;
}

.btn-wp-icon .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: #024450;
  border-radius: 1.625rem;
}

.btn-wp-icon .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.btn-wp-icon .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.5rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

.btn-wp-icon .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

.btn-wp-icon .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #024450;
 font-weight: bold;
 line-height: 1rem;
 text-align: center;
 /* text-transform: uppercase; */
}

.btn-wp-icon:hover .circle {
 width: 100%;
}

.btn-wp-icon:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

.btn-wp-icon:hover .button-text {
 color: #fff;
}

.list-style-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.border-right {
    border-right: 1px solid #DADADA;
}
.dropdown-toggle::after {
  display: none!important;
}
.pt-10 {
  padding-top: 6rem!important;
}
.pb-10 {
  padding-bottom: 6rem!important;
}

.overlayContainer {
  /* Set the background image */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.overlay-maroon {
  background-color: rgba(112, 0, 0, 0.4)!important;
}
.overlay-brown {
  background-color: rgba(42, 33, 36, 0.4)!important;
}
.overlay-darkgreen {
  background-color: rgba(52, 65, 46, 0.4)!important;
}
.overlay-orange {
  background-color: rgba(219, 142, 1, 0.4)!important;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}
.card {
  border-radius: 30px;
  padding: 15px;
}
.modal-fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: 100%;
}
.modal-fullscreen .modal-content {
    height: 100%;
    border-radius: 0;
}
.mobile-only {
  display: none!important;
}
.bottom-30 {
  bottom: 30px!important;
}
@keyframes spin13213 {
  to {
    transform: rotate(360deg);
  }
}
