#wr_carousel>.carousel-inner>.carousel-item img {
    /* height: 700px;  */
    width: 100%;
    object-fit: cover; /* Ensures image covers the area without distortion */
    object-position: center; /* Centers the image within the specified height */
}
.wr_subsription{
	background-color: #dadada;
}
.wr_subsription .container{
    padding: 20px 0px;
}

.navbar-nav li a {
	padding: 5px 20px!important;
	color: #024450;
}
#wr_carousel>.carousel-inner>.carousel-item>.carousel-caption {
	background: #2f2f2fcc;
    padding: 20px;
    box-shadow: 0px 0px 10px #fff;
}
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.navbar {
    border-top: 0px;
    box-shadow: 0px 10px 10px #646464;
}
.navbar,
.navbar-brand img,
.nav-dti-logo,
.nav-ifad-logo {
    transition: all 0.3s ease;
}
.shrink-navbar {
    height: 55px;
    transition: all 0.3s ease;
}
.shrink-menu-btn>span {
    transition: all 0.3s ease;
    top: 8px!important;
}
.shrink-navbar-brand-img {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}
.shrink-navbar-dti-img {
    width: 30px!important;
    transition: all 0.3s ease;
}
.shrink-navbar-ifad-img {
    width: 60px!important;
    transition: all 0.3s ease;
}
footer {
    background-color: #024450;
    color: #fff;
    padding: 50px 0px;
}
footer p {
    font-size: 11px;
}
.wr_project_dashboard .wp_region {
    font-size: 24px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff!important;
    padding: 5px 50px;
    display: inline-block;
}
.wp_area_loading {
    display: ruby;
}
.mis_loading {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 9999;
    display: grid;
    background: #fff;
    top: 0px;
    left: 0px;
}
.mis_loading img {
    width: 80px;
}
.carousel-indicators{
    bottom: 80px!important;
}
.search_form_container {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    width: 500px;
}
.search_form_container input,
.searchPanel input#search_str {
    border: 1px solid #fff !important;
    box-shadow: 0px 0px 10px #fff !important;
}
.search_form_container .btn,
.searchPanel .btn {
    background: #fff;
    color: grey;
    box-shadow: 0px 0px 10px #fff !important;
}
.searchPanel .btn {
    background-color: #9AC156;
    color : #024450;
}
.searchPanel {
    background: #F3F3F3;
    padding: 20px;
}
.pagination>li>.page-link {
    border: none!important;
    color: #02444F!important;
}
.pagination>li.active>.page-link {
    background-color: #9AC156!important;
    border-color: #9AC156!important;
    color: #fff!important;
}
.pagination>li>.page-link>i {
    color: #024450!important;
}
.wr_search_results {
    height: 450px;
    overflow-y: scroll;
}
.wr_search_results .card:hover {
    background-color: #F3F3F3;
    border: 1px solid #9AC156;
    box-shadow: 0px 0px 5px #9AC156;
    transition: all 0.3s ease-in;
}
.story_banner {
    margin-top: 90px;
    position: relative;
}
.story_banner h1 {
    position: absolute;
    color: #fff;
    font-size: 6vw;
    top: 25%;
    left: 10%;
    text-shadow: 6px 6px 10px #494949;
}
.navbar-nav>li>a.active {
    border-bottom: 3px solid #9AC156;
}

.aboutContainer .card img,
.methodologiesContainer .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.commoditiesList_item  {
    cursor: pointer;
}
.commoditiesList_item_active {
    background-color: #F1F1F1;
}
.commoditiesActionBtn {
    background: linear-gradient(transparent, #494949);
    bottom: 0px;
    color: #fff;
}
.commoditiesActionBtn a:hover {
    color: #9AC156!important;
    transition: all 0.3s ease-in;
} 
.commodityPreview {
    transition: all 0.3s ease-in;
}
.componentList>li {
    padding: 10px 15px;
}
.componentList>li>a {
    color: #80A1A7;
}
.componentList>li.active {
    background-color: #F6F6F6;
}
.componentList>li.active>a {
    color:#02444F;
}
.main-dropdown-menu {
    padding: 15px;
    right: 0px!important;
    left: auto!important;
    margin-top: 10px!important;
}
.dropdown-item-section {
    color: #6a6a6a !important;
    font-size: 12px;
    padding: 5px !important;
    margin: 0px !important;
} 
.dropdown-item-section:hover {
    background-color: #fff!important;
}
.introbox {
    height: 190px!important;
}
.storiesCategory>li {
    padding: 5px;
    cursor: pointer;
}
.storiesCategory>li.active {
    border-bottom: 4px solid #7B9E3E;
}
.storiesCategory>li:hover {
    color: #7B9E3E;
}
.sectionPad {
    padding: 130px 0px 20px 0px!important;
}
.dropdown-item:active {
    background-color: #7B9E3E;
}
.userOption {
    background: #636464;
    width: 100%;
    color: #fff;
    padding: 5px;
}
.userOptionMenu{
    list-style: none;
    margin: 0px;
    text-align: right;
}
.userOptionMenu>li {
    display: inline-block;
    padding: 0px 10px;

}
.userOptionMenu>li>a {
    font-size: 11px;
    color: #fff;
}
#networkTable,
.fixedHeaderTable {
    width: 100%;
}
#networkTable>tbody,
#networkTable>thead,
.fixedHeaderTable>tbody,
.fixedHeaderTable>thead {    
    display: block;
}
#networkTable>thead>tr>th:first-child,
#networkTable>tbody>tr>td:first-child {
    width: 40%;
}
#networkTable>thead>tr>th,
#networkTable>tbody>tr>td {
    width: 20%;
}
#networkTable>tbody,
.fixedHeaderTable>tbody  {
    height: 400px; 
    overflow-y: auto;
}
.swalPopUpContainer {
    height: 750px!important;
    width: 40%!important;
    overflow-y: scroll;
}
.wherewework_data_commodities>img {
    display: inline-block;
    width: 60px;
    margin-right: 5px;
}
.aboutSection .card {
    min-height: 315px;
}
.beneficiaries-typelist>li>img {
    height: 150px;
    object-fit: cover;
    object-position: center;
}
#network img {
    height: 250px;
    object-fit: cover;
    object-position: center;
}
#tools-nav>li.nav-item>.nav-link {
    color: #024450!important;
}
#tools-nav>li.nav-item>.active {
    color: #7B9E3E!important;
    font-weight: bold;
}
.navbar-toggler>span {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    color: #9AC156;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    z-index: 999;
    transition: all 0.3s ease;
}
#methodologies .card {
    min-height: 350px;
}