
{% for row in form1_datatable %}
<div class="modal fade" id="form1edit{{row['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" id="modaldialogedit" role="document" style="max-width: 80%;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #007399;">
        <h5 class="modal-title text-white" id="exampleModalLabel">UPDATE DATA</h5>       
        <button type="button" id="xbutton" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbodyedit">
        


      
              <form style="margin-left: 2%; margin-right: 2%;" id="form1" action="/updateform1" method="POST">
                {% include "includes/sweetalert.html" %}
                <div class="x-col l2 ">
                    &nbsp;
                </div>
            
                <div class=" x-col l12 x-container x-padding x-card x-light-grey" style="margin-top: 10px; margin-bottom: 20px;"  >
                    <center><h2 class=" text-white x-container x-padding" style="background-color: #007399;">PREPARATION, REVIEW AND APPROVAL STATUS</h2></center>
            
                    <div class="x-container x-padding">
                        <style> 
                            table, th, td{border: 1px solid black;border-collapse: collapse;}
                        </style>
            
                        <!---text--->
                        <div class="x-row x-section x-padding ">
                            <div class="x-padding">
                                
                                    <div class="x-col l4 x-container x-padding">
                                        <input type="hidden"  name="id" value="{{ row['id'] }}">
                                        <label class="">RCUs</label>
                    					<select class="form_data_b x-border x-select x-border" id="form_1_rcus" name="form_1_rcus" required><br>
                    						<option>{{ row['form_1_rcus'] }}</option>
                    							<option value="8">Region Vlll - Eastern Visayas</option>
                    							<option value="9">Region lX -  Zamboanga Peninsula</option>
                    							<option value="10">Region X - Northern Mindanao</option>
                    							<option value="11">Region Xl - Davao Region</option>
                    							<option value="12">Region Xll - SOCCSKSARGEN</option>
                    							<option value="13">Region Xlll - Caraga</option>
                    							<option value="BARMM">BARMM</option>
                    					</select>
                                    </div>
                              <!--       <div class="x-col l4 x-container x-padding">
                                        <label>Number Of DIPs</label>
                                        <input class=" x-input x-border" id="form_1_number_of_dips" value="{{ row['form_1_number_of_dips'] }}" type="Number" name="form_1_number_of_dips" placeholder="">
                                    </div> -->
                                    <div class="x-col l4 x-container x-padding">
                                        <label>Name of DIP</label>
                                        <input class=" x-input x-border" id="form_1_name_dip" value="{{ row['form_1_name_dip'] }}"  type="text" name="form_1_name_dip" placeholder="">
                                    </div>
                                    <div class="x-col l4 x-container x-padding">
                                        <label>Anchor Firm</label>
                                        <input class=" x-input x-border" id="form_1_anchor_firm" value="{{ row['form_1_anchor_firm'] }}"  type="text" name="form_1_anchor_firm" placeholder="">
                                    </div>
                            
                            </div>
            
                            <!---dropdown--->
                            <div class="x-row x-padding x-container">
                                <div class="x-col l4 x-container x-padding">
                                    <label class="">Size Of Anchor</label>
                                    <select class=" x-border x-select x-border" value="{{ row['form_1_size_of_anchor'] }}" id="form_1_size_of_anchor" name="form_1_size_of_anchor"><br>
                                        <option >{{ row['form_1_size_of_anchor'] }}</option>
                                        <option >Large</option>
                                        <option >Medium</option>
                                        <option >Small</option>
                                        <option >Micro</option>
                                    </select>
                                </div>

                                <div class="x-col l4 x-container x-padding">
                                    <label class="">Commodity</label>
                                    <select class="x-border x-select x-border" id="form_1_commodity" value="{{ row['form_1_commodity'] }}" name="form_1_commodity">
                                        <option>{{ row['form_1_commodity'] }}</option>
                                        <option>Coffee</option>
                                        <option>Cacao</option>
                                        <option>Coconut</option>
                                        <option>PFN</option>
                                    </select>
                                    <input type="text" class="hidden-textbox x-input x-border" name="form_1_commodity_others" id="form_1_commodity_others" placeholder="Please specify">
                                </div>
                                <div class="x-col l4 x-container x-padding">
                                    <label class="">Scope/Provinces</label>
                                    <select class=" x-border x-select x-border" id="form_1_scope_provinces" value="{{ row['form_1_scope_provinces'] }}" name="form_1_scope_provinces" required><br>
                                        <option selected>{{ row['form_1_scope_provinces'] }}</option>
                                    <option>Northern Samar</option>
                                    <option>Leyte</option>
                                    <option>Southern Leyte</option>
                                    <option>Zamboanga del Norte</option>
                                    <option>Zamboanga Sibugay</option>
                                    <option>Zamboanga del Sur</option>
                                    <option>Misamis Oriental</option>
                                    <option>Bukidnon</option>
                                    <option>Lanao del Norte</option>
                                    <option>Davao de Oro</option>
                                    <option>Davao Oriental</option>
                                    <option>Davao del Norte</option>
                                    <option>Davao del Sur</option>
                                    <option>Davao Occidental</option>
                                    <option>North Cotabato</option>
                                    <option>Sultan Kudarat</option>
                                    <option>Sarangani</option>
                                    <option>Agusan del Norte</option>
                                    <option>Agusan del Sur</option>
                                    <option>Surigao del Sur</option>
                                    <option>Maguindanao</option>
                                    </select>
                                </div>
                            </div>
            
                            <!---date--->
                            <div class="x-row x-padding x-container">
                                <div class="x-col l5 x-container x-padding" style="width: 30%;">	
                                    <label>For development (indicate date):</label>
                                    <input class=" x-input x-border" id="form_1_for_development" value="{{ row['form_1_for_development'] }}" name="form_1_for_development" type="date" placeholder="">
                                </div>
                                <!-- <div class="x-col l3 x-container x-padding" style="width: 30%;">	
                                    <label>Date: CN Approved</label>
                                    <input class=" x-input x-border" id="form_1_cn_approved" type="date" value="{{ row['form_1_cn_approved'] }}" name="form_1_cn_approved" placeholder="">
                                </div> -->
                                <div class="x-col l3 x-container x-padding" style="width: 60%;">	
                                    <label>Date: Full BPs and DIPs Finalized/Approved by RCUs and endorsed to NPCO for Review</label>
                                    <input class=" x-input x-border" id="form_1_finalized_approved" value="{{ row['form_1_finalized_approved'] }}" name="form_1_finalized_approved" type="date" placeholder="">
                                </div>
                                <div class="x-col l3 x-container x-padding" style="width: 40%;">	
                                    <label>Date of the Parallel Review with NPCO/RGMS-IFAD-RTWG</label>
                                    <input class=" x-input x-border" id="form_1_date_of_parallel_review" value="{{ row['form_1_date_of_parallel_review'] }}" name="form_1_date_of_parallel_review" type="date" placeholder="">
                                </div>
                                <div class="x-col l3 x-container x-padding" style="width: 60%;">	
                                    <label>Date of submission of the  revised DIPs based on the comments from the parallel review</label>
                                    <input class=" x-input x-border" id="form_1_date_of_submission" value="{{ row['form_1_date_of_submission'] }}" name="form_1_date_of_submission" type="date" placeholder="">
                                </div>
                                <div class="x-col l3 x-container x-padding" style="width: 20%;">	
                                    <label>Date of RTWG Approval</label>
                                    <input class=" x-input x-border" id="form_1_date_of_rtwg" value="{{ row['form_1_date_of_rtwg'] }}" name="form_1_date_of_rtwg" type="date" placeholder="">
                                </div>
                                <div class="x-col l3 x-container x-padding" style="width: 80%;">	
                                    <label>Date: NPCO cursory review of RCU's compliance to parallel review comments; and DIP  endorsement to NOTUS Uploading</label>
                                    <input class=" x-input x-border" id="form_1_date_of_npco_cursory"  value="{{ row['form_1_date_of_npco_cursory'] }}" name="form_1_date_of_npco_cursory" type="date" placeholder="">
                                </div>
                                <div class="x-col l3 x-container x-padding" style="width: 50%;">	
                                    <label>Date: Uploading to IFAD NOTUS c/o NPCO</label>
                                    <input class=" x-input x-border" id="form_1_date_of_uploading_to_ifad" value="{{ row['form_1_date_of_uploading_to_ifad'] }}" name="form_1_date_of_uploading_to_ifad" type="date" placeholder="">
                                </div>
                                <div class="x-col l3 x-container x-padding" style="width: 50%;">	
                                    <label>Date: NPCO Date of Approval </label>
                                    <input class=" x-input x-border" id="form_1_date_of_ifad_no_inssuance" value="{{ row['form_1_date_of_ifad_no_inssuance'] }}" name="form_1_date_of_ifad_no_inssuance" type="date" placeholder="">
                                </div>
                            </div>
            
                        </div>
                    </div>
                    <div class=" x-container" style="margin-top: 10px; margin-bottom: 20px;"  >
                        <center><h2 class=" text-white x-container" style="background-color: #007399;">DIP Details</h2></center>
            
                        <div class="x-row x-padding x-container">
                            <div class="x-col l4 x-container x-padding">	
                                <label>Total # of MSME's</label>
                                <input class=" x-input x-border" id="form_1_totalmsme"  value="{{ row['form_1_totalmsme'] }}" type="text" name="form_1_totalmsme" placeholder="">
    
                    </div>
                            <div class="x-col l4 x-container x-padding">	
                                <label>Total # of Small Holder Farmers</label>
                                <input class=" x-input x-border" id="form_1_total_farmerbene" value="{{ row['form_1_total_farmerbene'] }}" type="text" name="form_1_total_farmerbene" placeholder="">
            
                    </div>

                            <div class="x-col l4 x-container x-padding">	
                                <label>Total # of FOs </label>
                                <input class=" x-input x-border" id="form_1_totalfo" value="{{ row['form_1_totalfo'] }}" type="text" name="form_1_totalfo" placeholder="">
            
                    </div>
                        </div>
                        <div class="x-row">
                            <div class="x-container x-padding ">
                                <!-- <div class="x-col l8 x-container x-padding">
                                    <label>Input Name of FO</label>
                                    <input class=" x-input x-border" id="form_1_namefo" type="text" value="{{ row['form_1_namefo'] }}" name="form_1_namefo" placeholder="">
                                </div> -->
                                <div class="x-col l4 x-container x-padding" >
                                    <label>Total Hectarage Covered</label>
                                    <input class=" x-input x-border" id="form_1_totalhectarage_cov" value="{{ row['form_1_totalhectarage_cov'] }}" name="form_1_totalhectarage_cov" placeholder="">
                                </div>
                                <div class="x-col l4 x-container x-padding">
                                    <label>Hectares for Rehab</label>
                                    <input class=" x-input x-border" id="form_1_hect_rehab" name="form_1_hect_rehab" value="{{ row['form_1_hect_rehab'] }}" type="Number" placeholder="">
                                </div>
                                <div class="x-col l4 x-container x-padding">
                                    <label>Total Cost of Rehab </label>
                                    <input class=" x-input x-border" id="form_1_total_cost_rehab" name="form_1_total_cost_rehab" value="{{ row['form_1_total_cost_rehab'] }}" type="Number" placeholder="">
                                </div>
                                <div class="x-col l4 x-container x-padding">
                                    <label>Hectares for Expansion</label>
                                    <input class=" x-input x-border" id="form_1_hect_exp" name="form_1_hect_exp" value="{{ row['form_1_hect_exp'] }}" type="Number" placeholder="">
                                </div>
                                <div class="x-col l4 x-container x-padding">
                                    <label>Total Cost of Expansion</label>
                                    <input class=" x-input x-border" id="form_1_cost_exp" name="form_1_cost_exp" value="{{ row['form_1_cost_exp'] }}" type="Number" placeholder="">
                                </div>
                            </div>
                        </div>


                        <div class="x-row x-container x-padding">
                            <style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
                            <table class="x-table x-container x-table-border">
                                <tr>
                                    <th colspan="3">
                                        <center>Total Cost of Productive Investments</center>
                                    </th>
            
                                </tr>
            
                                <tr>
                                    <td><center>Equipment</center></td>
                                    <td><center>Facilities/Warehouse</center></td>
                                    <td><center>Total</center></td>
                                </tr>
            
                                <tr>
                                    <td><input class=" x-input x-border form_1_euqipments" id="form_1_euqipment" value="{{ row['form_1_euqipment'] }}" name="form_1_euqipment" type="number" placeholder=""></td>
                                    <td><input class=" x-input x-border form_1_Facilities_warehouses" id="form_1_Facilities_warehouse" value="{{ row['form_1_Facilities_warehouse'] }}" name="form_1_Facilities_warehouse" type="number" placeholder=""></td>
                                    <td><input class=" x-input x-border form_1_total_prod_invs" id="form_1_totalcost_prodinvest" value="{{ row['form_1_totalcost_prodinvest'] }}" name="form_1_totalcost_prodinvest" type="number" placeholder="" readonly></td>
                                </tr>
                            </table>
                        </div>

                        <div class="x-row x-container x-padding">
                            <style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
                            <table class="x-table x-container x-table-border">
                                <tr>
                                    <th colspan="4">
                                        <center>Total Matching Grant</center>
                                    </th>
                                </tr>
                        
                                <tr>
                                    <td><center>Total cost of Rehab</center></td>
                                    <td><center>Total Cost of Expansion</center></td>
                                    <td><center>Total Cost of Productive Investments</center></td>
                                    <td><center>Total</center></td>
                                </tr>
                        
                                <tr>
                                    <td><input class="x-input x-border form-1-aa2" id="form_1_total_rehab" name="form_1_total_rehab" value="{{ row['form_1_total_rehab'] }}" type="number" placeholder=""></td>
                                    <td><input class="x-input x-border form-1-ab2" id="form_1_total_exp" name="form_1_total_exp" value="{{ row['form_1_total_exp'] }}" type="number" placeholder=""></td>
                                    <td><input class="x-input x-border form_1_totalcost_prodinvest3" id="form_1_totalcost_prodinvest2" name="form_1_totalcost_prodinvest2" value="{{ row['form_1_totalcost_prodinvest'] }}" type="number" placeholder="" readonly></td>
                                    <td><input class="x-input x-border form-1-total-matching-grant-update2" id="form_1_total_matching_grant" value="{{ row['form_1_total_matching_grant'] }}" name="form_1_total_matching_grant" placeholder="" readonly></td>
                                </tr>
                            </table>
                        </div>
                  
                        <div class="x-row x-container x-padding">
                            <style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
                            <table class="x-table x-container x-table-border">
                                <tr>
                                    <th colspan="4">
                                        <center>Capacity Building</center>
                                    </th>
            
                                </tr>
            
                                <tr>
                                    <td><center>Organizational</center></td>
                                    <td><center>Technical Trainings</center></td>
                                    <td><center>Post-Production</center></td>
                                    <td><center>Others</center></td>
                                </tr>
            
                                <tr>
                                    <td><input class=" x-input x-border" id="form_1_organizational" value="{{ row['form_1_organizational'] }}" name="form_1_organizational" type="text" placeholder=""></td>
                                    <td><input class=" x-input x-border" id="form_1_technical_trainings" value="{{ row['form_1_technical_trainings'] }}" name="form_1_technical_trainings" type="text" placeholder=""></td>
                                    <td><input class=" x-input x-border" id="form_1_post_production" value="{{ row['form_1_post_production'] }}" name="form_1_post_production" type="text" placeholder=""></td>
                                    <td><input class=" x-input x-border" id="form_1_others" type="text" value="{{ row['form_1_others'] }}" name="form_1_others" placeholder=""></td>
                                </tr>
                            </table>
                        </div>
                        <div class="x-row">
                                <div class="x-col l6 x-container x-padding">
                                    <label>Supply Chain Manager</label>
                                    <input class=" x-input x-border" id="form_1_supply_chain_manager" value="{{ row['form_1_supply_chain_manager'] }}" name="form_1_supply_chain_manager" type="text" placeholder="">
                                </div>
                
                        </div>

                        
			<div class="x-row x-container x-padding">
				<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
				<table class="x-table x-container x-table-border">
					<tr>
						<th colspan="5">
							<center>Total Project Cost</center>
						</th>
					</tr>
			
					<tr>
						<td><center>Y</center></td>
						<td><center>AC</center></td>
						<td><center>AD</center></td>
						<td><center>AE</center></td>
						<td><center>Total</center></td>
					</tr>
			
					<tr>
						<td><input class="x-input x-border form-1-y"  value="{{ row['form_1_y'] }}"  id="form_1_y"   name="form_1_y" type="number" placeholder=""></td>
						<td><input class="x-input x-border form-1-ac" value="{{ row['form_1_ac'] }}" id="form_1_ac" name="form_1_ac" type="number" placeholder=""></td>
						<td><input class="x-input x-border form-1-ad" value="{{ row['form_1_ad'] }}" id="form_1_ad" name="form_1_ad" type="number" placeholder=""></td>
						<td><input class="x-input x-border form-1-ae" value="{{ row['form_1_ae'] }}" id="form_1_ae" name="form_1_ae" type="number" placeholder=""></td>
						<td><input class="x-input x-border form-1-totalproject_cost" value="{{ row['form_1_totalproject_cost'] }}" id="form_1_totalproject_cost" name="form_1_totalproject_cost" placeholder="" readonly></td>
					</tr>
				</table>
			</div>


       
                        <div class="x-row">
                            <div class="x-container x-padding ">
                                <div class="x-col l6 x-container x-padding">
                                    <label>FMI</label>
                                    <input class=" x-input x-border" id="form_1_fmi" value="{{ row['form_1_fmi'] }}" name="form_1_fmi" type="text" placeholder="">
                                </div>
                                <div class="x-col l6 x-container x-padding">
                                    <label>FMI Kms</label>
                                    <input class=" x-input x-border" id="form_1_fmi_kms" value="{{ row['form_1_fmi_kms'] }}" name="form_1_fmi_kms" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="x-row x-container x-padding">
                        
                                <div class="x-col l8 x-container x-padding" id="form_1_choose_files">
                                    <label for="image_uploads">Choose file</label>
                                    <input
                                    type="file"
                                    id="image_uploads"
                                    name="image_uploads"
                                    accept=".jpg, .jpeg, .png, .mp4, .mov"
                                    multiple />
                                </div>

                            
                        </div>
                    </div>

</div>
          
              
          </div>
          <div class="modal-footer bg-light">
             <button type="submit" id="saveupdate" class="btn btn-primary" style="justify-content: right;">Save changes</button>
            <button type="button" id="closebtn" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </form>
      
      
      </div>
   
    </div>
  </div>



  {% endfor  %}

