{% for row in form10_datatable %}
<div class="modal fade" id="form10edit{{row['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="modaldialogedit" role="document" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007399;">
                <h5 class="modal-title text-white" id="exampleModalLabel">UPDATE DATA</h5>
                <button type="button" id="xbutton" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbodyedit">

                <form style="margin-left: 2%; margin-right: 2%;" id="form10" action="/updateform10" method="POST">
                    {% include "includes/sweetalert.html" %}
                    <div class=" x-col l13 x-container x-card x-light-grey"
                        style="margin-top: 10px; margin-bottom: 20px;">
                        <center>
                            <h2 class="text-white x-container x-padding" style="background-color: #007399;">Negosyo
                                Center Tracker</h2>
                        </center>

                        <div class="x-container x-padding">
                            <style>
                                table,
                                th,
                                td {
                                    border: 1px solid black;
                                    border-collapse: collapse;
                                }
                            </style>
                        </div>


                        <div class="x-row x-container x-padding">
                            <div class="x-col l3 x-container x-padding">
                                <input type="hidden" name="id" value="{{ row['id'] }}">
                                <label class="">NC Location:</label>
                                <input class=" x-input x-border" value="{{ row['form_10_nc_location'] }}"
                                    id="form_10_nc_location" name="form_10_nc_location" type="text" autocomplete="on"
                                    placeholder="">
                            </div>
                            <div class="x-col l5 x-container x-padding">
                                <label>Name of NC : </label>
                                <input class=" x-input x-border" value="{{ row['form_10_name_of_nc'] }}"
                                    id="form_10_name_of_nc" name="form_10_name_of_nc" type="text" autocomplete="on"
                                    placeholder="">
                            </div>
                            <div class="x-col l4 x-container x-padding">
                                <label>Title of RAPID Activity: </label>
                                <input class=" x-input x-border" value="{{ row['form_10_title_of_rapid_activity'] }}"
                                    id="form_10_title_of_rapid_activity" name="form_10_title_of_rapid_activity"
                                    type="text" autocomplete="on" placeholder="">
                            </div>
                        </div>

                        <div class="x-row x-container x-padding">
                            <div class="x-col l4 x-container x-padding">
                                <label>Type of Assistance Provided: </label>
                                <input class=" x-input x-border" value="{{ row['form_10_type_of_assistance'] }}"
                                    id="form_10_type_of_assistance" name="form_10_type_of_assistance" type="text"
                                    autocomplete="on" placeholder="">
                            </div>
                            <div class="x-col l3 x-container x-padding">
                                <label>Date: </label>
                                <input class=" x-input x-border" id="form_10_date" value="{{ row['form_10_date'] }}"
                                    name="form_10_date" type="date" autocomplete="on" placeholder="">
                            </div>
                        </div>

                        <div class="x-row x-container x-padding">
                            <style>
                                table,
                                th,
                                td {
                                    border: 1px solid black;
                                    border-collapse: collapse;
                                }
                            </style>
                            <table class="x-table x-container x-table-border" style="border-color: transparent;">
                                <tr>

                                    <th colspan="4">
                                        <center>Assisted Beneficiary</center>
                                    </th>
                                </tr>
                                <tr>
                                    <th rowspan="2">
                                        <center>Type of beneficiary</center>
                                    </th>
                                    <th colspan="2">
                                        <center>Sex</center>
                                    </th>
                                    <th rowspan="2">
                                        <center>Commodity</center>
                                    </th>

                                </tr>

                                <tr>
                                    <td>
                                        <center>Male</center>
                                    </td>
                                    <td>
                                        <center>Female</center>
                                    </td>


                                </tr>

                                <tr>
                                    <!---bene--->
                                    <td><input class="t1  x-input" value="{{ row['form_10_type_of_beneficiary'] }}"
                                            id="form_10_type_of_beneficiary" name="form_10_type_of_beneficiary"
                                            type="text"></td>

                                    <!---sex--->
                                    <td><input class="t1  x-input" value="{{ row['form_10_sex_male'] }}"
                                            id="form_10_sex_male" name="form_10_sex_male" type="text"></td>
                                    <td><input class="t1  x-input" value="{{ row['form_10_sex_female'] }}"
                                            id="form_10_sex_female" name="form_10_sex_female" type="text"></td>

                                    <!---com--->
                                    <td><input class="t1  x-input" value="{{ row['form_10_commodity'] }}"
                                            id="form_10_commodity" name="form_10_commodity" type="text"></td>
                                </tr>
                            </table>
                        </div>


                    </div>
            </div>
            <div class="modal-footer bg-light">
                <button type="submit" class="btn btn-primary" style="justify-content: right;">Save changes</button>
                <button type="button" id="closebtn" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
            </form>


        </div>

    </div>
</div>

{% endfor %}