
<script type="text/javascript">
// ====================== AUTO FILL ===========================//
	function _autocomplete(inp, arr,post_container) {
		var currentFocus;
		inp.addEventListener("input", function(e) {
			var a, b, i, val = this.value;
			// println(a)
			closeAllLists();
			if (!val) { return false;}
			currentFocus = -1;
			a = document.createElement("DIV");
			a.setAttribute("id", this.id + "autocomplete-list");
			a.setAttribute("class", "autocomplete-items");
			this.parentNode.appendChild(a);
			for (i = 0; i < arr.length; i++) {
				var ARRSTRS = arr[i] + ""
				if (ARRSTRS.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
					b = document.createElement("DIV");
					b.innerHTML = "<strong>" + ARRSTRS.substr(0, val.length) + "</strong>";
					b.innerHTML += ARRSTRS.substr(val.length);
					b.innerHTML += "<input type='hidden' value='" + ARRSTRS + "'>";
					// println(ARRSTRS)
					b.addEventListener("click", function(e) {
						inp.value = this.getElementsByTagName("input")[0].value;
						// closeAllLists();
						push_user(this.getElementsByTagName("input")[0].value,post_container,inp)
					});
					a.appendChild(b);
				// if(i >=5){
				// 	break
				// }
				}

			}
		});

		inp.addEventListener("keydown", function(e) {
			var x = document.getElementById(this.id + "autocomplete-list");
			if (x) x = x.getElementsByTagName("div");
			if (e.keyCode == 40) {
				currentFocus++;
				addActive(x);
		} else if (e.keyCode == 38) { //up
			currentFocus--;
			addActive(x);
		} else if (e.keyCode == 13) {
			e.preventDefault();
			if (currentFocus > -1) {
				if (x) x[currentFocus].click();
			}
		}
	});

		function addActive(x) {
			if (!x) return false;
			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length - 1);
			x[currentFocus].classList.add("autocomplete-active");
		}

		function removeActive(x) {
			for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			}
		}

		function closeAllLists(elmnt) {
			var x = document.getElementsByClassName("autocomplete-items");
			for (var i = 0; i < x.length; i++) {
				if (elmnt != x[i] && elmnt != inp) {
					x[i].parentNode.removeChild(x[i]);
				}
			}
		}

		document.addEventListener("click", function (e) {
			closeAllLists(e.target);
		});
	}

	let ALL_USERS = [
		{% for user in users: %}
		,"{{user['name']}} || {{user['id']}} || {{user['email']}}"
		{% endfor %}
		];
	let ALL_IMP_UNIT_ = [
		{% for user in users: %}
		,"{{user['rcu']}}"
		{% endfor %}
		];
	let ALL_IMP_UNIT = [...new Set(ALL_IMP_UNIT_)];

// autocomplete(document.getElementById("myInput"), ALL_USERS); // ROOT of ALL EVIL


	function push_user(args,post_container,inp){
		inp.value = ""
		var user_info = args.split("||")
		email = user_info[2]
		id = user_info[1]
		name = user_info[0]
		document.getElementById(post_container).innerHTML +=(`
		<div class="user_ls_all row d-flex align-items-center" id="user_ls_`+id+`">
			<div class="col-1">
				<span id="ID__">`+id+`</span>
				<span><i class="fa-regular fa-user"></i></span>
			</div>
			<div class="col-8">
				<span class="" id="NAME__">`+name+`</span>
				<small class="d-block text-muted fst-italic" id="">`+email+`</small>
			</div>
			<div class="col-3" id="">
				<a class="text-muted fst-italic " type="button" onclick="document.getElementById('user_ls_`+id+`').remove();rem__user(`+id+`)"><small>Remove</small>
				</a>
			</div>                                
		</div>`)
		// $ID("myInput_doc_users").value = id
		// var lsuser_ = $ID("myInput_doc_users").value

		// $ID("myInput_doc_users").value = JSON.parse($ID("myInput_doc_users").value).push(id)
		// var arr_user = Array.from($ID("myInput_doc_users").value)
		// arr_user.push(id.replaceAll(" ",""))
		// // arr_user = arr_user.filter(function(e) { return e !== 'seven' })
		// $ID("myInput_doc_users").value = arr_user
		// println(arr_user)

	}

	function rem__user(id){
		println(id)
	}

	function ALL_USERS_SET(el,post_container){
		// var arrs = []
		// for (const [key, value] of Object.entries(ALL_USERS)) {
		// 	arrs.push(key)
		// }
		_autocomplete(el,ALL_USERS,post_container)
	}

	function ALL_IMP_SET(el,post_container){
		// var arrs = []
		// for (const [key, value] of Object.entries(ALL_IMP_UNIT)) {
		// 	arrs.push(ALL_IMP_UNIT)
		// }
		_autocomplete(el,ALL_IMP_UNIT,post_container)
	}
	
</script>