<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-890" lang="en-us">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<!-- CSS only -->
	<link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">
	<!-- JavaScript Bundle with Popper -->
	<script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

	<title>About</title>
</head>

<body data-spy="scroll" data-target="#navbar-example2">
	<div class="" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px" data-bs-smooth-scroll="true" class=" bg-white p-3 rounded-2" tabindex="0">

		{% include 'main/navbarpages.html' %}

		{% include 'banners/whatwedobanner.html' %}

		<div style="background-color: #e3ebd5">

		{% include 'about/aboutstickynav.html' %}

		{% include 'about/projectgoal.html' %}

		{% include 'about/organogram.html' %}

		{% include 'about/business_model.html' %}

		{% include 'about/value_chain.html' %}

		

		{% include 'main/footer.html' %}
		</div>

		<script type="text/javascript" src="../static/webrepstatic/js/index.js"></script>
	</body>
	</html>