span,p,b,body,div{
	font-stretch: extra-condensed;
	font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
}

#myInput:focus {outline: 3px solid #ddd;}
.dropdown {position: relative;display: inline-block;}
.dropbtn:hover, .dropbtn:focus {background-color: #3e8e41;}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}
.border-dashed{border-style: dashed;border-width: 1px;}
.pgrid{height:50px;color:orange;}
.no-padding{padding: 0%;}
.no-margin{margin: 0%;}
.x-border-dashed{border-style: dashed;border-width: 1px;}
.x-font-note{font-family: Courier;}
.x-font-sexy{font-family: Harlow Solid Italic;}
.x-font-classy{ font-family: 'Raleway';}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}


.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #ddd;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
#myProgress2 {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: #ddd;
}

#myBar2 {
	position: absolute;
	width: 43%;
	height: 100%;
	background-color: #4CAF50;
}

.paralax{
	min-height: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.gr_body {
	background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.gr_text {
	background: linear-gradient( 90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	-webkit-background-clip: text; 
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 200% auto;
	animation: txt_g 7s ease-in-out infinite alternate;
}

.gr_border{
	border-image: linear-gradient( 90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	-webkit-border-fill-color: transparent;
	border-color: linear-gradient( 90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: txt_g 7s ease-in-out infinite alternate;
}

@keyframes txt_g {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

div,span{
	cursor: default;
}


/*---------------------------------------*/

.padding_small{
	padding: 10px 10px 10px 10px;
}

.center-bg{
	background-position: center;background-repeat: no-repeat;background-size:inherit;
}

/*-==========================for brornjs. Dropdown=================================*/
.x-dropdown_multiple {
	display: inline-block;
}

.x-dropdown_multiple .anchor {
/*	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 5px 50px 5px 10px;
	border: 1px solid #ccc;*/
}

.x-dropdown_multiple .anchor:after {
/*	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 10px;
	top: 20%;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);*/
}

.x-dropdown_multiple .anchor:active:after {
	right: 8px;
	top: 21%;
}

.x-dropdown_multiple ul.dd_items {
	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
}

.x-dropdown_multiple ul.dd_items li {
	list-style: none;
}

.x-dropdown_multiple.visible .anchor {
	color: #0094ff;
}

.x-dropdown_multiple.visible .dd_items {
	display: block;
}