::-webkit-scrollbar {
	/*background-color: orange;*/
	width: 3px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
	/*border: 6px solid;*/
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: teal;
}

::-webkit-scrollbar {
    display: none;
}

.MARQUEE:has(> span){
	overflow: scroll;
	-webkit-animation-name: move;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: right;
	-webkit-animation-timing-function: linear;
	overflow: hidden;
	position:inherit ;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.MARQUEE:has(> span):hover {
  -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
  0% {
    margin-left: -400px;
  }
  100% {
    margin-left: 800px;
  }
}
.MARQUEE {
  height: 200px;
  width: 800px;
  border: 1px solid #333;
  overflow: hidden;
  margin: 25px auto;
}
/*.elips_txt:has(> span) { /* styles to apply to the li tag */ }*/