{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Data Capture Form</title>
<div class="header bg-primary pb-6" >
  <div class="container-fluid">
    <div class="header-body">
    

{% include "includes/dashboard/dcf_totalcount.html" %}


    <!-- Page content -->
</div>
</div>
</div>


    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>

  </script>

{% endblock javascripts %}
