{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Data Capture Form</title>
<div class="header bg-primary pb-6" >
  <div class="container-fluid">
    <div class="header-body">
    

{% include "includes/dashboard/dcf_totalcount.html" %}

{% include "includes/form_datatable_modal/form1_modal.html" %}
{% include "includes/form_datatable_modal/form2_modal.html" %}
{% include "includes/form_datatable_modal/form3_modal.html" %}
{% include "includes/form_datatable_modal/form4_modal.html" %}
{% include "includes/form_datatable_modal/form5_modal.html" %}
{% include "includes/form_datatable_modal/form6_modal.html" %}
{% include "includes/form_datatable_modal/form7_modal.html" %}
{% include "includes/form_datatable_modal/form9_modal.html" %}
{% include "includes/form_datatable_modal/form10_modal.html" %}
{% include "includes/form_datatable_modal/form11_modal.html" %}
 
{% include "includes/viewform_modal/viewform1.html" %}
{% include "includes/viewform_modal/viewform2.html" %}
{% include "includes/viewform_modal/viewform3.html" %}
{% include "includes/viewform_modal/viewform4.html" %}
{% include "includes/viewform_modal/viewform5.html" %}
{% include "includes/viewform_modal/viewform6.html" %}
{% include "includes/viewform_modal/viewform7.html" %}
{% include "includes/viewform_modal/viewform9.html" %}
{% include "includes/viewform_modal/viewform10.html" %}
{% include "includes/viewform_modal/viewform11.html" %}

{% include "includes/updateform_modal/updateform1.html" %}
{% include "includes/updateform_modal/updateform2.html" %}
{% include "includes/updateform_modal/updateform3.html" %}
{% include "includes/updateform_modal/updateform4.html" %}
{% include "includes/updateform_modal/updateform5.html" %}
{% include "includes/updateform_modal/updateform6.html" %}
{% include "includes/updateform_modal/updateform7.html" %}
{% include "includes/updateform_modal/updateform9.html" %}
{% include "includes/updateform_modal/updateform10.html" %}
{% include "includes/updateform_modal/updateform11.html" %}

    <!-- Page content -->
</div>
</div>
</div>


    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  

{% endblock javascripts %}
