{% extends 'layouts/base.html' %}
{% set active_page = "formcdashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
            
        {% include "includes/dashboard/filterbtn.html" %}
          
        <!-- Card stats -->

        <!--cards form enterprise/gender-->
        {% include "includes/dashboardfilter/fe_gender.html" %}
        <!--end card-->


       <!--cards business addr/gender-->
       {% include "includes/dashboardfilter/ba_gender.html" %}
        <!--end card-->


        <!--cards form enterprise/industry cluster-->
        {% include "includes/dashboardfilter/fe_ic.html" %}
        <!--end card-->


        <!--cards form enterprise/business addr-->           
        {% include "includes/dashboardfilter/fe_ba.html" %}
        <!--end card-->

        <!--cards industry cluster/business addr-->          
        {% include "includes/dashboardfilter/ic_ba.html" %}
        <!--end card-->

        <!--cards industry cluster/gender-->
        {% include "includes/dashboardfilter/ic_gender.html" %}
        <!--end card-->


        </div>
      </div>
    </div>

    <!-- Page content -->
    
        {% include "includes/dashboard/datatable.html" %}
    
        {% include "includes/dashboard/update.html" %}

        </div>
      </div>
            
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  

{% endblock javascripts %}
