{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="header bg-primary pb-6" >
  <div class="container-fluid">
    <div class="header-body">

        <div class="d-flex align-items-center">
            <!-- Search form -->
            <div class="h1 fw-bolder text-gray mb-2">FORM 7 Trade Promotion Services Tracker</div>
            <!-- / Search form -->
          </div>


            <!-- Card header -->
            <div class="d-flex justify-content-center">
                <div class="table-responsive table py-4 mx-auto" style="max-width: 100%;">
                  <div id="datatable-buttons_wrapper" class=" text-dark dataTables_wrapper dt-bootstrap4" >
                    <table class="table table-dark table-flush dataTable " id="datatable-buttons7" role="grid" aria-describedby="datatable-buttons_info" style="width:100% !important">
                    <thead class="thead" >
                      <tr role="row">
                        <th>ID</th>
                        <th>Implementing Unit</th>
                        <th>Title of Trade Promotion Services Provided</th>
                        <th>Type of Trade Promotion Services organized/participated</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Name of Partner/Organization</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                     <div>
                        {% for row in form7_datatable %}
                        <td>{{ row['id'] }}</td>
                        <td>{{ row['form_7_implementing_unit'] }}</td>
                        <td>{{ row['form_7_title_trade_promotion'] }}</td>  
                        <td>{{ row['form_7_type_of_trade_promotion'] }}</td>
                        <td>{{ row['form_7_start_date'] }}</td>
                        <td>{{ row['form_7_end_date'] }}</td>
                        <td>{{ row['form_7_name_of_po'] }}</td>
                        <td>
                            {% if(row['upload_by']==user_data['id'] or user_data['job']=="Super Admin"): %}
                            <a style="color: #00cc66;" data-toggle="modal" data-target="#form7edit{{row['id']}}" href="/updateform7/{{row['id']}}"> <span><i class="fa-solid fa-pen-to-square" aria-hidden="true"> </i></span> Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {%endif%}
                        {% if(user_data['job']=="Super Admin"): %}
                          <a style="color: #ff4d4d;"  href="/delete_form7/{{row['id']}}" onclick="confirmation(event)"> <span><i class="fa-solid fa-trash"></i></span> Delete</a>&nbsp;&nbsp;&nbsp; &nbsp;
                          {% endif %}
                        <a style="color: #1ac6ff; " data-toggle="modal" data-target="#form7view{{row['id']}}" href="/updateform7/{{row['id']}}"> <span><i class="fa fa-eye" aria-hidden="true"> </i></span> View</a>
                        </td>
            
                 
                    </tr>
                  
                    {% endfor  %}
                      </tbody>
            </table>
            
            </div>
                      
                      
                      
        </div>
                    
                </div>
    {% include "includes/viewform_modal/viewform7.html" %}
    {% include "includes/updateform_modal/updateform7.html" %}

    <div class="py-4">
      <div class="dropdown">
        <button class="btn btn-default d-inline-flex align-items-center me-2" onclick="window.open('/dcf/form7', '_blank')">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
              &nbsp; GO TO Trade Promotion Services Tracker FORM
          </button>
      </div>
  </div>
    {% include "includes/form7spreadsheet.html" %}

    <!-- Page content -->
</div>
</div>
</div>


    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>

</script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  

{% endblock javascripts %}
