{% extends 'layouts/dcf_base.html' %}
{% set active_page = "form4" %}
{% set forms = "forms" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<form action="/insert_form4" method="POST">
	{% include "includes/sweetalert.html" %}
	<div class="x-col l1 " >
		&nbsp;
	</div>
	<div class=" x-col l12 x-container x-card x-light-grey" style=" margin-top: 10px; margin-bottom: 20px;" >
		<center><h2 class=" x-container x-padding text-white" style="background-color: #007399;">Capacity Building for Beneficiaries</h2></center>

		<div class="x-container x-padding">
			<style> 
				table, th, td{border: 1px solid black;border-collapse: collapse;}
			</style>


			<!---1--->
			<div class="x-row x-container x-padding">
				<div class="x-col l3 x-container x-padding">
					<span class="">Implementing Unit</span>
					<select class="form_data_b x-border x-select x-border" id="cbb_implementing_unit" name="cbb_implementing_unit"><br>
						<option value="">Choose your option</option>
						<option >RCU</option>
						<option >PCU</option>
						<option >NGA Partners</option>
					</select>
				</div>
				<div class="x-col l3 x-container">
					<label>Training Number</label>
					<input class="form_data_b x-input x-border" name="cbb_training_number" id="cbb_training_number" type="text" placeholder="">
				</div>
				<div class="x-col l3 x-container">
					<label>Activity Title</label>
					<input class="form_data_b x-input x-border" name="cbb_activity_title" id="cbb_activity_title" type="text" placeholder="">
				</div>
				<div class="x-col l3 x-container x-padding">
					<span class="">Types of Training</span>
					<select class="form_data_b x-border x-select x-border" name="cbb_types_of_training" id="cbb_types_of_training">
						<option value="" disabled selected>Choose your option</option>
						<optgroup label="Farmer Organizations">
						  <option value="FO-Organization Entrepreneurial Competency">Organization Entrepreneurial Competency</option>
						  <option value="FO-Governance">Governance</option>
						  <option value="FO-Organizational Management">Organizational Management</option>
						  <option value="FO-Operations">Operations</option>
						  <option value="FO-Technology and Product Development (Business Development)">Technology and Product Development (Business Development)</option>
						  <option value="FO-Institutional Marketing Management">Institutional Marketing Management</option>
						  <option value="FO-Human Resource Management">Human Resource Management</option>
						  <option value="FO-Financial Management">Financial Management</option>
						  <option value="FO-Networking and Linkage-Building (External Relation; Business Membership Organization)">Networking and Linkage-Building (External Relation; Business Membership Organization)</option>
						</optgroup>
						<optgroup label="MSME">
						  <option value="MSME-Entrepreneurial Competency">Entrepreneurial Competency</option>
						  <option value="MSME-Operations">Operations</option>
						  <option value="MSME-Management">Management</option>
						  <option value="MSME-Technology and Product Development">Technology and Product Development</option>
						  <option value="MSME-Marketing Management">Marketing Management</option>
						  <option value="MSME-Human Resource Management">Human Resource Management</option>
						  <option value="MSME-Financial Management">Financial Management</option>
						  <option value="MSME-Networking and Linkage-Building (External Relation; Business Membership Organization)">Networking and Linkage-Building (External Relation; Business Membership Organization)</option>
						</optgroup>
					  </select>
				</div>
			</div>

			<!---2--->
			<div class="x-row x-padding x-container">
				<div class="x-col l4 x-container">
					<label>Topic Of Training</label>
					<input class="form_data_b x-input x-border" name="cbb_topic_of_training" id="cbb_topic_of_training" type="text" placeholder="">
				</div>
				<div class="x-col l4 x-container x-padding">
					<span class="">DIP-approved alignment</span>
					<select class="form_data_b x-border x-select x-border" name="cbb_dip_approved_alignment" id="cbb_dip_approved_alignment"><br>
						<option value="">Choose your option</option>
						<option>Conducted before DIP approval</option>
						<option>Conducted after DIP approval</option>
						<option>N/A</option>
					</select>
				</div>
				
				<div class="x-col l4 x-container">
					<label>Name of DIP</label>
					<input class="form_data_b x-input x-border" name="cbb_name_of_dip" id="cbb_name_of_dip" type="text" placeholder="">
				</div>
			</div>	

			<!---3--->
			<div class="x-row x-container x-padding">

				<div class="x-col l5 x-container x-padding">
					<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
					<table class="x-table x-container x-table-border">
						<tr>
							<th colspan="2">
								<center>ACTIVITY DURATION<br>(Day, Month, Year)</center>
							</th>
							
						</tr>

						<tr>
							<td><center>Start</center></td>
							<td><center>End</center></td>
						</tr>

						<tr>
							<td><input class="form_data_b x-input x-border" name="cbb_date_start" id="cbb_date_start" type="date" placeholder=""></td>
							<td><input class="form_data_b x-input x-border" name="cbb_date_end" id="cbb_date_end" type="date" placeholder=""></td>
						</tr>
					</table>
				</div>	
	
				<div class="x-col l4 x-container x-padding">
					<label>Total Number of Participants</label>
					<input class="form_data_b x-input x-border" name="cbb_total_number_of_participants" id="cbb_total_number_of_participants" type="Number" placeholder="Input Number">
				</div>
				<div class="x-col l3 x-container x-padding">
					<span class="">Commodity</span>
					<select class="form_data_b x-border x-select x-border" id="cbb_commodity" name="cbb_commodity"><br>
						<option value="">Choose your option</option>
						<option >Coffee</option>
                		<option >Cacao</option>
                		<option >Coconut</option>
                		<option >PFN</option>
					</select>
				</div>

				<div class="x-row x-container x-padding">
					<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
						<table class="x-table x-container x-table-border">
							<tr>
								<th>
									<center>Venue</center>
								</th>
								<th>
									<center>Name of Resource Person/Facilitator/BDSP<br>(First Name, Middle Name, Last Name)</center>
								</th>
							</tr>

							<tr>
								<td><input class="form_data_b x-light-grey x-input" id="cbb_venue" type="text" name="cbb_venue"></td>
								<td><input class="form_data_b x-light-grey x-input" id="cbb_name_of_resource_person" type="text" name="cbb_name_of_resource_person"></td>
							</tr>
						</table>
				</div>

				<div class="x-row x-container x-padding">
					<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
						<table class="x-table x-container x-table-border">
							<tr>
								<th>
									<center>RAPID Actual Budget</center>
								</th>
								<th colspan="2">
									<center>DIP Capbuild Activities fully & partially funded by partners outside RAPID </center>
								</th>
							</tr>
								<td><center>Actual (CY 2022 Onwards e.g., 34,000.00)</center></td>
								<td><center>Name of Partner/Organization</center></td>
								<td><center>Counterpart Amount<br>(monetize & estimates)</center></td>

							<tr>
								<td><input class="form_data_b x-light-grey x-input" name="cbb_rapid_actual_budget" id="cbb_rapid_actual_budget" type="text" ></td>
								<td><input class="form_data_b x-light-grey x-input" name="cbb_dip_capbuild_activities_NPO" id="cbb_dip_capbuild_activities_NPO" type="text" ></td>
								<td><input class="form_data_b x-light-grey x-input" name="cbb_dip_capbuild_activities_CA" id="cbb_dip_capbuild_activities_CA" type="text" ></td>
							</tr>
						</table>
				</div>

				<div class="x-col l5 x-container x-padding">
					<span class="">Total number of beneficiaries per type</span>
					<select class="form_data_b x-border x-select x-border" id="cbb_total_number_of_beneficiaries_per_type" name="cbb_total_number_of_beneficiaries_per_type"><br>
						<option value="">Choose your option</option>
						<option>MSME</option>
						<option>FO</option>
						<option>FARMER</option>
					</select>
				</div>

				<div class="x-container x-padding">
					<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
					<table class="x-table x-container x-table-border">
						<tr>
							
							<th colspan="3">
								<center>Total Number Per Gender</center>
							</th>
							<th colspan="5">
								<center>Total Number Per Sector</center>
							</th>
							
						</tr>

						<tr>
						
							<!---gender---->
							<td><center>male</center></td>
							<td><center>female</center></td>
							<td><center>total</center></td>

							<!---sector---->
							<td><center>PWD</center></td>
							<td><center>Youth</center></td>
							<td><center>IP</center></td>
							<td><center>SC</center></td>
							<td><center>Total</center></td>

						</tr>

						<tr>
						<!---gender--->	
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_gender_male" type="text" name="cbb_total_number_per_gender_male"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_gender_female" type="text" name="cbb_total_number_per_gender_female"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_gender_total" type="text" name="cbb_total_number_per_gender_total"></td>

						<!--sector--->
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_sector_pwd" type="text" name="cbb_total_number_per_sector_pwd"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_sector_youth" type="text" name="cbb_total_number_per_sector_youth"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_sector_ip" type="text" name="cbb_total_number_per_sector_ip"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_sector_sc" type="text" name="cbb_total_number_per_sector_sc"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_total_number_per_sector_total" type="text" name="cbb_total_number_per_sector_total"></td>
						</tr>
					</table>
				</div>
				<div class="x-container x-padding">
					<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
					<table class="x-table x-container x-table-border">
						<tr>
							
							<th colspan="2">
								<center>Results of activity (Average)</center>
							</th>
							<th colspan="2">
								<center>Client Feedback Survey </center>
							</th>
							
							
						</tr>

						<tr>
						
							<td><center>Pre-Test</center></td>
							<td><center>Post-Test</center></td>

							<td><center>Rating</center></td>
							<td><center>Comments/ Areas of Improvement</center></td>

							
							
						</tr>

						<tr>	
							<td><input class="form_data_b x-light-grey x-input" id="cbb_results_of_activity_pre_test" type="text" name="cbb_results_of_activity_pre_test"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_results_of_activity_post_test" type="text" name="cbb_results_of_activity_post_test"></td>

							<td><input class="form_data_b x-light-grey x-input" id="cbb_client_feedback_survey_rating" type="text" name="cbb_client_feedback_survey_rating"></td>
							<td><input class="form_data_b x-light-grey x-input" id="cbb_client_feedback_survey_comments_AOI" type="text" name="cbb_client_feedback_survey_comments_AOI"></td>
							

						</tr>
					</table>
				</div>

				<div class="x-row x-container x-padding">
					<div class="x-col l3 x-container x-padding">	
						<label for="avatar">Choose MOVs:</label>
						<input type="file" id="cbb_avatar" name="avatar" accept="image/png, image/jpeg, video/mp4">
					</div>
					<div class="x-col l4 x-container x-padding">	
						<button data-toggle="modal" data-target="#form4_modalpart" href="" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;" type="button" id="btnpart" class="x-teal btn"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Add Participants</button>
					</div>
					
				</div>       
							      
		
				<p class="x-right">
					<input class="x-blue btn " id="form4sub"  type="submit">
					</p>
			
		</div>
		{% include "includes/forms/form4_participants.html" %}
</form>
    
		{% endblock content %}

		<!-- Specific JS goes HERE --> 
		<script>
		</script>
		{% block javascripts %}

		{% endblock javascripts %}
		