{% extends 'layouts/dcf_base.html' %}
{% set active_page = "form11" %}
{% set forms = "forms" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Form 11 </title>

<form action="/insert_form11" method="POST">
	{% include "includes/sweetalert.html" %}
	<style>
		.myDiv{
			display:none;
			padding:10px;
			margin-top:20px;
		} 
		.myInd{
			display:none;
			padding:10px;
			margin-top:20px;
		}  

	</style> 
	<div class="x-col l1 ">
		&nbsp;
	</div>
	<div class=" x-col l10 x-container x-card x-light-grey" style="margin-top: 10px; margin-bottom: 20px;">
		<center><h2 class=" x-container text-white x-padding" style="background-color: #007399;">FORM 11 - ACCESS TO FINANCING TRACKER</h2></center>

		<div class="x-container x-padding">
			<style> 
				table, th, td{border: 1px solid black;border-collapse: collapse;}
			</style>
		</div>


		<div class="x-row x-container x-padding">
			<div class="x-col l4 x-container x-padding">
				<label class="">DIP Alignment :</label>
				<select id="form_11_dip_alignment" name="form_11_dip_alignment" class=" x-border x-select x-border" required>
					<option value="">Choose your option</option>
					<option>Yes</option>
					<option>No</option>
				</select>	
				<input type="text" class="hidden-textbox2 x-input x-border" name="form_11_dip_alignment_yes" id="form_11_dip_alignment_yes" placeholder="Please specify">
			</div>

			<div class="x-col l4 x-container x-padding" style="margin-left: 21%;" >
				<label>Activity Title:</label>
				<input required class=" x-input x-border" id="form_11_activity_title" name="form_11_activity_title" type="text" autocomplete="on" placeholder="">
			</div>
		</div>
		<div class="x-row x-container x-padding">
			<div class="x-col l8 x-container">
				<label>Name of Beneficiary (Registered Business/FO Name):</label>
				<input required class=" x-input x-border" id="form_11_name_of_beneficiary" name="form_11_name_of_beneficiary" size="10" type="text" autocomplete="on" placeholder="">
			</div>

			<div class="x-col l3 x-container x-padding">
				<span class="">Industry Cluster:</span>
				<select class="x-border x-select x-border" id="form_11_industry_cluster" name="form_11_industry_cluster" required>
					<option value="">Choose your option</option>
					<option>Coffee</option>
					<option>Cacao</option>
					<option>Coconut</option>
					<option>PFN</option>
				</select>
				<input type="text" class="hidden-textbox x-input x-border" name="form_11_industry_cluster_others" id="form_11_industry_cluster_others" placeholder="Please specify">
			</div>
		</div>

		<div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>

					<th colspan="2">
						<center>MSME/FO Location</center>
					</th>
					<th colspan="2">
						<center>Sex</center>
					</th>
				</tr>

				<tr>
					<td><center>Region</center></td>
					<td><center>Province</center></td>

					<td><center>Male</center></td>
					<td><center>Female</center></td>

				</tr>

				<tr>

					<td><input class=" x-light-grey x-input" id="form_11_msme_regional" type="text" name="form_11_msme_regional"></td>
					<td><input class=" x-light-grey x-input" id="form_11_msme_province" type="text" name="form_11_msme_province"></td>


					<td><input class=" x-light-grey x-input" id="form_11_male" type="number" name="form_11_male"></td>
					<td><input class=" x-light-grey x-input" id="form_11_female" type="number" name="form_11_female"></td>
				</tr>
			</table>
		</div>
		<div class="x-col 9 x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>

					<th colspan="4">
						<center>Sector</center>
					</th>
					<th colspan="2">
						<center>Proposal Submission</center>
					</th>

				</tr>

				<tr>

					<td><center>PWD</center></td>
					<td><center>Youth</center></td>
					<td><center>IP</center></td>
					<td><center>SC</center></td>

					<td><center>Date Submitted to FSP</center></td>
					<td><center>Date Approved</center></td>

				</tr>

				<tr>

					<td><input class=" x-light-grey x-input" id="form_11_pwd" type="text" name="form_11_pwd"></td>
					<td><input class=" x-light-grey x-input" id="form_11_youth" type="text" name="form_11_youth"></td>
					<td><input class=" x-light-grey x-input" id="form_11_ip" type="text" name="form_11_ip"></td>
					<td><input class=" x-light-grey x-input" id="form_11_sc" type="text" name="form_11_sc"></td>

					<td><input class=" x-light-grey x-input" id="form_11_date_submitted" type="date" name="form_11_date_submitted"></td>
					<td><input class=" x-light-grey x-input" id="form_11_date_approved" type="date" name="form_11_date_approved"></td>

				</tr>
			</table>
		</div>
		<div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>
					<th colspan="2">
						<center>Partner FSP</center>
					</th>
				</tr>

				<tr>

					<td><center>Name of FSP</center></td>
					<td><center>Location/Address</center></td>

				</tr>
				<tr>
					<td><input class=" x-light-grey x-input" id="form_11_name_of_fsp" type="text" name="form_11_name_of_fsp"></td>
					<td><input class=" x-light-grey x-input" id="form_11_location_address" type="text" name="form_11_location_address"></td>
				</tr>
			</table>
		</div>
		<div class="x-row x-container x-padding">
			<div class="x-col l6 x-container x-padding">
				<label>Amount of Equity Financing Approved/Accessed:</label>
				<input class=" x-input x-border" id="form_11_amount_of_equity" name="form_11_amount_of_equity" type="text" autocomplete="on" placeholder="">
			</div>
			<div class="x-col l4 x-container x-padding">
				<label>Date Released:</label>
				<input class=" x-input x-border" id="form_11_date_released" name="form_11_date_released" type="date" autocomplete="on" placeholder="">
			</div>
			<div class="x-col l4 x-container x-padding">	
				<button data-toggle="modal" data-target="#form11_modalpart" href="" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;" type="button" id="btnpart" class="x-teal btn"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Add Participants</button>
			</div>
			<div class="x-right" style="margin-top: 5%;">
				<input class="x-blue btn " id="form_11_submit"  type="submit">
			</div>
		</div>

	</div>









	{% include "includes/forms/form11_participants.html" %}
</form>			
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}