{% extends 'layouts/dcf_base.html' %}
{% set active_page = "form6" %}
{% set forms = "forms" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Form 6</title>
	<form action="/insert_form6" method="POST">
        {% include "includes/sweetalert.html" %}
	<div class="x-col l1 ">
		&nbsp;
	</div>

	<div class="x-col l12 x-row x-container x-card x-light-grey" style="margin-top: 10px; margin-bottom: 20px;"  >
		<center><h2 class=" text-white x-container x-padding" style="background-color: #007399;">Product Development/ Enhancement Assistance Provided/ Consultancy Services</h2></center>


			<style> 
				table, th, td{border: 1px solid black;border-collapse: collapse;}
			</style>
 

		<div class="x-row x-container x-padding">

			<div class="x-row x-container x-padding">
				<div class="x-col l3 x-container x-padding">
					<span class="">Implementing Unit</span>
					<select class="form_data_b x-border x-select x-border" id="form_6_implementing_unit" name="form_6_implementing_unit"><br>
						<option value="">Choose your option</option>
						<optgroup label="RCU">
							<option value="8">Region Vlll - Eastern Visayas</option>
							<option value="9">Region lX -  Zamboanga Peninsula</option>
							<option value="10">Region X - Northern Mindanao</option>
							<option value="11">Region Xl - Davao Region</option>
							<option value="12">Region Xll - SOCCSKSARGEN</option>
							<option value="13">Region Xlll - Caraga</option>
							<option value="BARMM">BARMM</option>
						</optgroup>
						<optgroup label="PCU">
			
						<option>Northern Samar</option>
						<option>Leyte</option>
						<option>Southern Leyte</option>
						<option>Zamboanga del Norte</option>
						<option>Zamboanga Sibugay</option>
						<option>Zamboanga del Sur</option>
						<option>Misamis Oriental</option>
						<option>Bukidnon</option>
						<option>Lanao del Norte</option>
						<option>Davao de Oro</option>
						<option>Davao Oriental</option>
						<option>Davao del Norte</option>
						<option>Davao del Sur</option>
						<option>Davao Occidental</option>
						<option>North Cotabato</option>
						<option>Sultan Kudarat</option>
						<option>Sarangani</option>
						<option>Agusan del Norte</option>
						<option>Agusan del Sur</option>
						<option>Surigao del Sur</option>
						<option>Maguindanao</option>
							</optgroup>
						<option style="font-weight: bold;">NGA Partners</option>
					</select>
	
				</div>
			<div class="x-col l3 x-container x-padding">
				<label>Type of Assistance:</label>
				<input class=" x-input x-border" id="form_6_type_of_assisstance" name="form_6_type_of_assisstance" type="text" autocomplete="on" placeholder="Write Here">
			</div>
			<div class="x-col l3 x-container x-padding">
				<label>Type of Activity:</label>
				<input class=" x-input x-border" id="form_6_type_of_activity" name="form_6_type_of_activity" type="text" autocomplete="on" placeholder="Write Here">
			</div>

			<div class="x-col l3 x-container x-padding">
				<label>DIP Alignment:</label>
				<input class=" x-input x-border" id="form_6_dip_alignment" name="form_6_dip_alignment" type="text" autocomplete="on" placeholder="Write Here">
			</div>
		</div>
		<div class="x-row x-container x-padding">
			<div class="x-col l4 x-container x-padding">
				<label>Activity Duration Start Date:</label>
				<input class=" x-input x-border" id="form_6_activity_duration_start" name="form_6_activity_duration_start" type="date" autocomplete="on" placeholder="Write Here">
			</div>
			<div class="x-col l4 x-container x-padding">
				<label>Activity Duration End Date:</label>
				<input class=" x-input x-border" id="form_6_activity_duration_end" name="form_6_activity_duration_end" type="date" autocomplete="on" placeholder="Write Here">
			</div>
		</div>
		<div class="x-row x-container x-padding">
			<div class="x-col l4 x-container x-padding">
				<label>Venue:</label>
				<input class=" x-input x-border" id="form_6_venue" name="form_6_venue" type="text" autocomplete="on" placeholder="Write Here">
			</div>
			<div class="x-col l4 x-container x-padding" style="width: 45%;">
				<label>Name of Resource Person/Facilitator/BDSP:</label>
				<input class=" x-input x-border" id="form_6_resource_person" name="form_6_resource_person" type="text" autocomplete="on" placeholder="Write Here">
			</div>
			<div class="x-col l4 x-container x-padding">
				<label>RAPID Actual Budget:</label>
				<input class=" x-input x-border" id="form_6_rapid_actual_budget" name="form_6_rapid_actual_budget" type="text" autocomplete="on" placeholder="Write Here">
			</div>
		</div>
		<div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px ; border-collapse: collapse;}</style>
			<table id="form6table" class="x-table x-container x-table-border" style="border-color: transparent;" >
				<tr>
					<th colspan="2">
						<center>Fully & partially funded by partners outside RAPID </center>
					</th>
				</tr>

				<tr>
					<td><center><button type="button" style="float: left;" class="btn btn-primary" onclick="add_row()"><i class="fa-solid fa-circle-plus"></i></button><center>Name of Partner/Organization</center></td>
					<td><center>Name of Partner/Organization</center></td>
				</tr>

				<tr>
					<td><input class=" x-light-grey x-input" id="form_6_name_of_partner_organization_1" type="text" name="form_6_name_of_partner_organization_1[]"></td>
					<td><input class=" x-light-grey x-input" id="form_6_name_of_partner_organization_2" type="text" name="form_6_name_of_partner_organization_2[]"></td>
				</tr>
			</table>
			<script>
		
				function add_row(){
					// $ID('main_').innerHTML += og_row
					// Create an empty <tr> element and add it to the 1st position of the form3_table_org_comp:
					var row = form6table.insertRow(2);
					// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
					row.insertCell(0).innerHTML = `<td><input class=" x-light-grey x-input" id="form_6_name_of_partner_organization_1" type="text" name="form_6_name_of_partner_organization_1[]"></td>`
					row.insertCell(1).innerHTML = `<td><input class=" x-light-grey x-input" id="form_6_name_of_partner_organization_2" type="text" name="form_6_name_of_partner_organization_2[]"></td>`
					
					// Add some text to the new cells:
				}
			</script>
		</div>
		<div class="x-row x-container x-padding">
			<div class="x-col l4 x-container x-padding">
				<label>Name of Beneficiary/Participant:</label>
				<input class=" x-input x-border" id="form_6_beneficiary_participant" name="form_6_beneficiary_participant" type="text" autocomplete="on" placeholder="Write Here">
			</div>
			<div class="x-col l4 x-container x-padding">
				<label>Commodity:</label>
				<input class=" x-input x-border" id="form_6_commodity" name="form_6_commodity" type="text" autocomplete="on" placeholder="Write Here">
			</div>
			<div class="x-col l3 x-container x-padding">
				<span class="">Type of Beneficiary:</span>
				<input class=" x-input x-border" id="form_6_type_of_beneficiary" name="form_6_type_of_beneficiary" type="text" autocomplete="on" placeholder="Write Here">
			</div>
		</div>

		<div class="x-col l3 x-container x-padding">
			<span class=""><span style="background-color: #ff4d4d; color: white;" class="badge badge-pill">On Dev</span>  Sex</span>
			<select class="form_data_b x-border x-select x-border" id="form_6_sex" name="form_6_sex"><br>
				<option value="">Choose your option</option>
					<option>Male</option>
					<option>Female</option>
			</select>

		</div>

		<div class="x-col l3 x-container x-padding">
			<span class=""><span style="background-color: #ff4d4d; color: white;" class="badge badge-pill">On Dev</span>  Sector</span>
			<select class="form_data_b x-border x-select x-border" id="form_6_sector" name="form_6_sector"><br>
				<option value="">Choose your option</option>
					<option>PWD</option>
					<option>Youth</option>
					<option>IP</option>
					<option>SC</option>
			</select>

		</div>

		<!-- <div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>
					<th colspan="3">
						<center>sex</center>
					</th>
					<th colspan="5">
						<center>Sector</center>
					</th>
				</tr>

				<tr>
					<td><center>Male</center></td>
					<td><center>Female</center></td>
					<td><center>Total</center></td>

					<td><center>PWD</center></td>
					<td><center>Youth</center></td>
					<td><center>IP</center></td>
					<td><center>SC</center></td>
					<td><center>Total</center></td>

				</tr>

				<tr>
					<td><input class=" x-light-grey x-input" id="form_6_male" type="text" name="form_6_male"></td>
					<td><input class=" x-light-grey x-input" id="form_6_female" type="text" name="form_6_female"></td>
					<td><input class=" x-light-grey x-input" id="form_6_total_1" type="text" name="form_6_total_1"></td>

					<td><input class=" x-light-grey x-input" id="form_6_pwd" type="text" name="form_6_pwd"></td>
					<td><input class=" x-light-grey x-input" id="form_6_youth" type="text" name="form_6_youth"></td>
					<td><input class=" x-light-grey x-input" id="form_6_ip" type="text" name="form_6_ip"></td>
					<td><input class=" x-light-grey x-input" id="form_6_sc" type="text" name="form_6_sc"></td>
					<td><input class=" x-light-grey x-input" id="form_6_total_2" type="text" name="form_6_total_2"></td>
				</tr>
			</table>
		</div> -->


		<div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table id="form6table2" class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>
					<th colspan="4">
						<center>Outputs for Product Development</center>
					</th>
					
				</tr>

				<tr>
					<td colspan="2"><center>Products Developed</center></td>
					<td colspan="2"><center>Products Improved</center></td>
				</tr>

				<tr>
					<td><center><button type="button" style="float: left;" class="btn btn-primary" onclick="add_row2()"><i class="fa-solid fa-circle-plus"></i></button>Name of Product Developed</center></td>
					<td><center>Date Launched to Market</center></td>

					<td><center>Name of Improved Product</center></td>
					<td><center>Type of Product Improvement </center></td>
				</tr>

				<tr>
					<td><input class=" x-light-grey x-input" id="form_6_product_developed" type="text" name="form_6_product_developed[]"></td>
					<td><input class=" x-light-grey x-input" id="form_6_date_launched_to_market" type="date" name="form_6_date_launched_to_market[]"></td>

					<td><input class=" x-light-grey x-input" id="form_6_improved_product" type="text" name="form_6_improved_product[]"></td>
					<td>
							<select id="form_6_choices_multiple_remove_button_0" name="form_6_type_of_product_improvement[]" placeholder="Select upto 4 tags" multiple>
								<option value="Product Quality">Product Quality</option>
								<option value="Packaging">Packaging</option>
								<option value="Labels">Labels</option>   
							</select>
						
					</td>
				</tr>
			</table>
		</div>
		<script>
			var form_6_choices_counter = 1
			function add_row2(){
				// $ID('main_').innerHTML += og_row
				// Create an empty <tr> element and add it to the 1st position of the form3_table_org_comp:
				var row2 = form6table2.insertRow(3);
				// Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
				row2.insertCell(0).innerHTML = `<td><input class=" x-light-grey x-input" id="form_6_product_developed" type="text" name="form_6_product_developed[]"></td>`
				row2.insertCell(1).innerHTML = `<td><input class=" x-light-grey x-input" id="form_6_date_launched_to_market" type="date" name="form_6_date_launched_to_market[]"></td>`
				row2.insertCell(2).innerHTML = `<td><input class=" x-light-grey x-input" id="form_6_improved_product" type="text" name="form_6_improved_product[]"></td>`
				row2.insertCell(3).innerHTML = `<td>
							<select id="form_6_choices_multiple_remove_button_${form_6_choices_counter}" name="form_6_type_of_product_improvement[]" placeholder="Select upto 4 tags" multiple>
								<option value="Product Quality">Product Quality</option>
								<option value="Packaging">Packaging</option>
								<option value="Labels">Labels</option>   
							</select>
						
					</td>`
				asdasd(form_6_choices_counter)
				// Add some text to the new cells:
				form_6_choices_counter +=1
			}
			$onload(function(){asdasd(0)})
			function asdasd(ccc){
				var multipleCancelButton = new Choices('#form_6_choices_multiple_remove_button_'+ccc, {
					removeItemButton: true,
					maxItemCount:4,
					searchResultLimit:4,
					renderChoiceLimit:4,
					delimiter : '|'
				}); 
				// multipleCancelButton.config.delimiter = "||"
				println(multipleCancelButton)
			}
		</script>

		<!----outputs---->
		<div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>
					<th colspan="7">
						<center>Outputs for Consultancy Services</center>
					</th>
					
				</tr>

				<tr>
					<td colspan="2"><center>Productivity Improvement</center></td>
					<td colspan="1"><center>Quality and Trade Certifications</center></td>
					<td colspan="4"><center>Post Consultancy Outputs</center></td>
				</tr>

				<tr>
					<td><center>Name the System/Process Established/Improved</center></td>
					<td><center>Date of Establishment/ Adoption</center></td>

					<td><center>Name/Title of Certifications Facilitated</center></td>

					<td><center>Name/Title of Certifications Acquired</center></td>
					<td><center>Date of Issuance</center></td>
					<td><center>Expiration Date</center></td>
					<td><center>Product Certified</center></td>
				</tr>

				<tr>

					<!---1--->
					<td><input class=" x-light-grey x-input" id="form_6_name_of_product_developed" type="text" name="form_6_name_of_product_developed"></td>
					<td><input class=" x-light-grey x-input" id="form_6_" type="date" name="form_6_"></td>

					<!---2--->
					<td><div class="x-row x-container x-padding">
						<select class=" x-border x-select x-border" id="form_6_commodity1" name="form_6_commodity1"><br>
							<option value="" selected>Choose your option</option>
							<option >GMP</option>
							<option >HACCP</option>
							<option>Halal</option>
							<option>Organic Certification</option>
							<option>FDA-LTO Certification</option>
							<option>FDA-CPR</option>
							<option>Others, Specify</option>
						</select>
					</div></td>

					<!---3--->
					<td><div class="x-row x-container x-padding">
						<select class=" x-border x-select x-border" id="form_6_commodity2" name="form_6_commodity2"><br>
							<option value="" selected>Choose your option</option>
							<option >GMP</option>
							<option >HACCP</option>
							<option>Halal</option>
							<option>Organic Certification</option>
							<option>FDA-LTO Certification</option>
							<option>FDA-CPR</option>
							<option>Others, Specify</option>
						</select>
					</div></td>
					<td><input class=" x-light-grey x-input" id="form_6_date_issuance" type="date" name="form_6_date_issuance"></td>
					<td><input class=" x-light-grey x-input" id="form_6_expiration_date" type="date" name="form_6_expiration_date"></td>
					<td><input class=" x-light-grey x-input" id="form_6_product_certified" type="text" name="form_6_product_certified"></td>
				</tr>
			</table>
		</div>
		<div class="x-row x-container x-padding">
			<style>table, th, td{border: 1px solid black; border-collapse: collapse;}</style>
			<table class="x-table x-container x-table-border" style="border-color: transparent;">
				<tr>
					<th colspan="2">
						<center>Client Feedback survey  (average per activity)</center>
					</th>
				</tr>

				<tr>
					<td><center>Rating</center></td>
					<td><center>Comments/Areas of Improvement</center></td>
				</tr>

				<tr>
					<td><input class=" x-light-grey x-input" id="form_6_rating" type="text" name="form_6_rating"></td>
					<td><input class=" x-light-grey x-input" id="form_6_comment_ares_of_improvement" type="text" name="form_6_comment_ares_of_improvement"></td>
				</tr>
			</table>
		</div>
		<div class="x-col l5">
			<div method="post" enctype="multipart/form-data">
				<div class="x-col l3 x-container x-padding">
					<input class="x-padding" type="file" name="form_2_image_uploads" id="form_2_image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png, .mp4, .mov, .xlsx, .pdf, .docx, .pptx" multiple />
				</div>
			</div> 

			
		</div>
		<!-- <div class="x-col l4 x-container x-padding">	
            <button data-toggle="modal" data-target="#form6_modalpart" href="" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;" type="button" id="btnpart" class="x-teal btn"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Add Participants</button>
        </div> -->
		<div class="x-right" style="margin-bottom: 10%;">
			<input class="x-blue btn " id="form6_submit"  type="submit">
		</div>



	</div>
    {% include "includes/forms/form6_participants.html" %}
</form>

<script>
    const elementsWithName = document.querySelectorAll('[name]');


elementsWithName.forEach(element => {
  console.log(element.getAttribute('name'));
});
  </script>
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}

