{% extends "layouts/fmi_form_base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="x-col l1 ">
		&nbsp;
	</div>

	<div class=" x-col l10 x-container x-card " style="margin-top: 20px; margin-bottom: 20px; background-color: #152951;">



		<div class=" x-container x-padding">
			<center><h2 class=" x-container x-white x-padding rounded" style="margin-top: 20px; margin-bottom: 25px;">Form E - Work Accomplishment</h2></center>



			<!--status	--->
			<div class="x-container x-card x-light-grey" style="margin-bottom: 25px; margin-top: 5px;">
				<div class="row-rounded">
					<div class="x-col-75">
						<div class="x-container">
							<form>

								<div class="row">
									<div class="col-50"><br>
										<label for="cal"><i class="fa fa-calendar"></i> Filled Date(dd-mm-yyyy)</label>
										<input class="btn2" type="date" id="form_e_filled_date" name="address" placeholder="542 W. 15th Street">
										<label for="fa-id-card"><i class="fa fa-id-card"></i> Project ID</label>
										<input type="text" id="form_e_project_id">
									
										
										<div class="row">
											<div class="col-50">
												<label  class="fa fa-calendar" for="form_e_date_of_accomplishment">DATE OF ACCOMPLISHMENT</label>
												<input class="btn2" type="date" id="form_e_date_of_accomplishment">
											</div>
											<div class="col-51">
												<label for="form_e_no_4_issuance">No # 4 Issuance</label>
												<input type="text" id="form_e_no_4_issuance" placeholder="Draft Contract and draft amendments">
											</div>
										</div>


										<div class="row">
											<div class="col-50">
												<label for="form_e_notice_of_award">Notice of Award and Contract signing</label>
												<input type="text" id="form_e_notice_of_award" placeholder="before Notice to Proceed issuance">
											</div>
											<div class="col-50">
												<form action="/action_page.php">
													<label for="form_e_upload_signed_contract">Upload signed Contract to NOTUS:</label>
													<input type="file" id="form_e_upload_signed_contract">
												</form>
											</div><br><br><br>
										</div>
										
									</div>

									<div class="col-50">
										<label for="form_e_phytsical_target" style="margin-top: 22px;">Physical Target, FMR</label>
										<input type="text" id="form_e_phytsical_target" placeholder="(in km)">

										<label for="form_e_contact_cost_in_million">Contract Cost in Million</label>
										<input type="text" id="form_e_contact_cost_in_million"placeholder="(in PhP)(Number)">

										<label for="form_e_contractor">Contractor</label>
										<input type="text" id="form_e_contractor" placeholder="">

										<div class="row">
											<div class="col-50">
												<label  class="fa fa-calendar" for="form_e_start_of_contract">Start of Contract</label>
												<input class="btn2" type="date" id="form_e_start_of_contract" placeholder="">
											</div>
											<div class="col-50">
												<label  class="fa fa-calendar" for="form_e_expiration_of_contract">Expiration of Contract</label>
												<input class="btn2" type="date" id="form_e_expiration_of_contract" placeholder="">
											</div>
										</div>

										<label for="form_e_filled_form_id">Filled-form Id</label>
										<input type="text" id="form_e_filled_form_id"placeholder="">
										
									</div>
								</div>
								
								<input style="margin-bottom: 10px;" type="submit" value="SUBMIT" class="btns">
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}


	{% block javascripts %}{% endblock javascripts %}