{% extends "layouts/fmi_form_base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


	<div class="x-col l1 ">
		&nbsp;
	</div>

	<div class=" x-col l10 x-container x-card " style="margin-top: 20px; margin-bottom: 20px; background-color: #152951;">



		<div class=" x-container x-padding">
			<center><h2 class=" x-container x-white x-padding rounded" style="margin-top: 20px; margin-bottom: 25px;">Form B - Project Validation</h2></center>
			<!--status	--->
			<div class="x-container x-card x-light-grey" style="margin-bottom: 25px; margin-top: 5px;">
				<div class="row-rounded">
					<div class="x-col-75">
						<div class="x-container">
							<form>
								<div class="row">
									<div class="col-50"><br>
										<label for="cal"><i class="fa fa-calendar"></i> Filled Date(dd-mm-yyyy)</label>
										<input class="btn2" type="date" id="form_b_filled_date">

										<label for="form_b_validation_activity">Already scheduled for validation activity</label>
										<input type="text" id="form_b_validation_activity">

										<label for="form_b_validation_report">Already validated but pending submission of Validation Report</label>
										<input type="text" id="form_b_validation_report" >

										<label for="form_b_approval_endorsed">For RTWG FMI/RCU review/approval and endorsed to NPCO for IFAD NO# 1</label>
										<input type="text" id="form_b_approval_endorsed" placeholder="">

										<label for="form_b_ready_for_endorsement">Approved by RTWG FMI and RCU, ready for endorsement to NPCO/OPDS with attachments</label>
										<input type="text" id="form_b_ready_for_endorsement" placeholder="">

										<label for="form_b_npco_uploaded_to_notus">NPCO uploaded to Notus for the issuance of NO# 1</label>
										<input type="text" id="form_b_npco_uploaded_to_notus" placeholder="">
									</div>

									<div class="col-50" style="margin-top: 22px;">
										<div class="row">
											<div class="col-50">
												<label for="form_b_no_objection_1">No Objection #1</label>
												<input class="" type="text" id="form_b_no_objection_1">
											</div>
											<div class="col-50">
												<label  class="fa fa-calendar" for="form_b_date_issued_objection"> Date Issued Objection #1</label>
												<input class="btn2" type="date" id="form_b_date_issued_objection">
											</div>
										</div>

										<label for="form_b_undergoing_preparation">Undergoing preparation of FS/DED and bid documents</label>
										<input type="text" id="form_b_undergoing_preparation">

										<label for="form_b_draft_fs_and_deds">with draft FS and DEDs</label>
										<input type="text" id="form_b_draft_fs_and_deds">

										<label for="form_b_on_going_review_evaluation">On-going review/evaluation  of RTWG FMI/RCU thru DILG PO, PCU and PDMU</label>
										<input type="text" id="form_b_on_going_review_evaluation">

										<label for="form_b_ready_for_endorsement_to_npco">Ready for endorsement to NPCO for ROG approval and NOTUS upload for No Objection  # 2</label>
										<input type="text" id="form_b_ready_for_endorsement_to_npco">

										<div class="row">
											<div class="col-50">
												<label for="form_b_no_objection_2_issued">No Objection #2 Issued</label>
												<input class="" type="text" id="form_b_no_objection_2_issued" placeholder="">
											</div>
											<div class="col-50">
												<label  class="fa fa-calendar" for="form_b_date_issued_objection_2"> Date Issued Objection #2</label>
												<input class="btn" type="date" id="form_b_date_issued_objection_2" placeholder="">
											</div>
										</div>
										<label for="form_b_">FS, DED, POW and Philippine Bidding Documents (PBD)-Works for NOTUS upload for NO#2</label>
										<input type="text" id="form_b_fs_ded_pow" placeholder="">
										
										<label for="form_b_">Filled-form Id</label>
										<input type="text" id="form_b_fs_ded_pow" placeholder="">
									</div>
									<input style="margin-bottom: 10px;" type="submit" value="SUBMIT" class="btns">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			


			{% endblock content %}


			{% block javascripts %}{% endblock javascripts %}