<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<style type="text/css">
		#container_b{
			/*background-image: url('../static/img/login_bg_dark.jpg');*/
			/*background-image: url('../static/img/bg.webp');*/
			background: 
				linear-gradient(rgba(200, 200, 200, 2),
				rgba(255, 255, 255, 0.85)),
				url('../static/img/bg.jpg');
			background-position: center;
			background-size: cover;
		}
		.container__layer{
			/*background-image: url('../static/img/login_bg_dark.jpg');*/
			/*background-image: url('../static/img/bg.webp');*/
			background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
			background-position: center;
			background-size: cover;
		}
		.prevent-select {
			-webkit-user-select: none; /* Safari */
			-ms-user-select: none; /* IE 10 and IE 11 */
			user-select: none; /* Standard syntax */
		}

		.password-container {
			position: relative;
		}

		.password-toggle {
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			cursor: pointer;
		}
	</style>
	<!-- <body class="gr_body_teal"> -->
	<body id="container_b" class="x-text prevent-select">
		<header class="x-header x-container x-padding-large">
			<div class="x-navbar x-right x-container x-padding">
				<b class="x-border x-border-black x-hover-black x-round-large x-padding x-margin x-text-" onclick="goto('/')">
					KM-MIS Portal
					<span class="fa fa-cloud"></span>
				</b>
				<b class="x-border x-border-orange x-hover-orange x-round-large x-padding x-margin_ x-dropdown-hover">
					<span class="" onclick="scroll_to_id('Announcements_')">
						Announcements and Updates
						<i class="fa fa-bell-o"></i>
					</span> 
				</b>
				<b class="x-border x-border-teal x-hover-teal x-round-large x-padding x-margin_ x-dropdown-hover">
					<span class="">
						Downloadable
						<i class="fa fa-download"></i>
					</span> 
					<div class="x-dropdown-content x-white">
						<div style="cursor: pointer;" class="x-hover-teal x-padding" onclick="download_login_start('VC_FORM_A_v2_0.xls')">Farmer's Profile Form</div><hr>
						<div style="cursor: pointer;" class="x-hover-teal x-padding" onclick="download_login_start('VC_FORM_B.xls')">Farmer's Organization Profile Form</div><hr>
						<div style="cursor: pointer;" class="x-hover-teal x-padding" onclick="download_login_start('VC_FORM_C.xls')">MSMEs Profile Forms</div><hr>
						<div style="cursor: pointer;" class="x-hover-teal x-padding" onclick="download_login_start('Data_Capture_Forms.zip')">Data Capture Forms</div>
					</div>
				</b>
			</div>
		</header>
		<div class="x-display-container" style="height:99vh;padding: 0px;">
			<div class="x-col l3 x-display-middle x-padding x-white_ x-round-large" style="top:350px">
				<div class="x-container x-padding-large x-round-large " style="" >
					<div class="x-container">
						<div class="x-row x-container x-padding x-center" id="username_welcome">
							<div id="def_img" class="x-round x-text-teal x-white_ x-center x-fade" style="height:20vh">
								<div class="x-container x-center">
									<img class="x-img" src="../static/img/mis_2023_v2.svg" style="width: 80%;">
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="x-container x-padding">
						<div class=" x-animate-opacity" id="username_cont">
							<!-- <b class="x-small x-text-black x-large">Username</b> -->
							<div class="x-row x-center">
								<div class="x-col l8">
									<input class="login_field x-input x-border" type="username" name="" placeholder="@username"
									style="height: 50px;border-radius: 10px 0px 0px 10px;border:0px" required>
								</div>
								<div class="x-col l4">
									<button class="x-button x-input x-teal x-block"
										style="height: 50px;border-radius: 0px 10px 10px 0px;border:0px"
										onclick="check_user_name()">
										<span class="x-zoom_">Next &#10148; </span>
									</button>
								</div>
							</div>
						</div>
						<div class="x-animate-opacity" id="password_cont" style="display:none">
							<!-- <b class="x-small x-text-black x-large">Password</b> -->
							<div class="x-row x-center">
								<div class="x-col l8 password-container">
									<input class="login_field x-input x-border" type="password" name="" placeholder="password: ********..."
										style="height: 50px;border-radius: 10px 0px 0px 10px;border:0px"  required>
									<span class="password-toggle"><i style="color: #262626; font-weight: 800;" class="fa fa-eye"></i></span>
								</div>
								<div class="x-col l4">
									<button class="x-zoom_ x-button x-input x-green x-block"
										style="height: 50px;border-radius: 0px 10px 10px 0px;border:0px"
										onclick="login()">
										<span class="x-zoom_">Login &#10148; </span>
									</button>
								</div>
							</div>
						</div>
						
					</div>
					<div class="x-container x-padding x-center">
						<div id="pls_wait" class="x-container" style="display:none;">
							<b>Please wait for a moment <span class="fa fa-circle-o-notch fa-spin"></span></b>
							<hr>
						</div>
						<span class="x-text-teal x-hover-teal x-padding x-round-large" onclick="goto('https://docs.google.com/forms/d/1NpWOVZYlAvfBNQSNVIzlMXtzufR0KykGWI6Bkwn30GM/edit')">
							Request an account
						</span>
						<div id="err_log" class=" x-animate-opacity x-container x-card x-round-large x-padding x-leftbar x-border-red x-pale-red" style="display:none;background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));"></div>
					</div>
					<br>
					
					<!-- <hr> -->
				</div>
				
			</div>
		</div>
		<div class="x-container" id="Announcements_">
			{% include 'tabs.html' %}
		</div>
		<br><br><br><br>
	</body>
	<script type="text/javascript">

		$(document).ready(function() {
			$('.password-toggle').click(function() {
				var passwordInput = $('.login_field');
				var passwordToggle = $(this);

				if (passwordInput.attr('type') === 'password') {
					passwordInput.attr('type', 'text');
					passwordToggle.html('<i style="color: #262626; font-weight: 800;" class="fa fa-eye-slash"></i>');
				} else {
					passwordInput.attr('type', 'password');
					passwordToggle.html('<i style="color: #262626; font-weight: 800;" class="fa fa-eye"></i>');
				}
			});
		});

		var def_img = $ID('username_welcome').innerHTML
		function back_username(){
			var login_field = $CLASS('login_field')
			for (var i = 0; i < login_field.length; i++) {
				login_field[i].value = ""
			}
			$ID('username_cont').style.display= "block"
			$ID('password_cont').style.display= "none"
			$ID('username_welcome').innerHTML = def_img
		}

		function check_user_name(){
			$ID('pls_wait').style.display = "block"
			var fields = $CLASS('login_field')
			var cred = {"user_name" :fields[0].value}
			$send({
				action : '/check_username',
				method : POST,
				data : $DATA(cred),
				func : function (__) {
					var res = JSON.parse(__)
					println(res)
					$ID('pls_wait').style.display = "none"
					if(res.success){
						var img_src = "/api/user_pic/"+res.profilepic
						if(res.profilepic==""|| res.profilepic==" " || res.profilepic==undefined){
							img_src = "/static/psalm_static/menu/img/profilepic.png"
						}
						$ID('username_welcome').innerHTML = (`
							<div class="x-container  x-center" onclick='back_username()'>
								<img class="x-img x-circle" src="`+img_src+`" alt="`+res.data+`" style="width:300px;height:300px;">
								<br>
								<b class='x-text-teal x-xlarge'>`+res.data+`</b>
							</div
						`);
						$ID('username_cont').style.display= "none"
						$ID('password_cont').style.display= "block"
					}
					else{
						$ID('err_log').style.display = 'block'
						$ID('err_log').innerHTML = (`
							<span class="x-large x-text-white">Username Not Found</span>
						`)
						timeout(function(){$ID('err_log').style.display = 'none'},2000);
					}
				}
			})
		}

		function login(){
			$ID('pls_wait').style.display = "block"
			var fields = $CLASS('login_field')
			var cred = {
				"user_name" :fields[0].value,
				"password" :fields[1].value
			}
			$send({
				action : '/login_auth',
				method : POST,
				data : $DATA(cred),
				func : function (__) {
					var login = JSON.parse(__).success
					$ID('pls_wait').style.display = "none"
					if(login){
						// $ID('good_log').style.display = 'block'
						// $ID('fname').innerHTML = JSON.parse(__).user[0].name
						// return
						// alert(JSON.parse(__)['user'][0]['status'])
						if(JSON.parse(__)['user'][0]['status']=="halt"){
							// alert("Account has been temporarily disabled")
							redirectto("/acct_dis") 
						}else{
							// println(JSON.parse(__)['user'])
							    if("urlvisit" in URL_ARGS){
							        redirectto(URL_ARGS['urlvisit'])
							    }else{
									redirectto("/menuv2") // NEW VERSION
							    }

						}
						timeout(function(){
							// redirectto("/home") // OLD VERSION
							// alert("GOOD")
							// $ID('good_log').style.display = 'none'
						},3000);
						
					}
					else{
						$ID('err_log').style.display = 'block'
						$ID('err_log').innerHTML = (`
							<span class="x-large x-text-white">Credentials incorrect</span>
						`)
						timeout(function(){$ID('err_log').style.display = 'none'},2000);
					}
				}
			})
		}


		function see_eula(){
			var _eula = $dialog({
				title : "   ",
				subtitle : "Please read carefully before proceeding",
				content : "<span class='x-text-black'>"+EULA+"</span>"
			})
			_eula.show()
		}

		function download_login_start(fff){
			let a= document.createElement('a');
			a.target= '_blank';
			a.href= '/login/download_file/'+fff;
			a.click();
		}

		{%include 'eula.js'%}



	</script>
</html>
