{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Form 3 Dasboard</title>
<script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">

     <div class="header bg-primary pb-6">
  <div class="container-fluid"><center>
    <div class="header-body" style=" max-width: 95%; background-color: #007399;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

    <br>
        <!-- Search form -->

    <h1 class=" text-white" style="font-size:1.8em; font-weight: bold; text-align: center; margin: 2px;">FORM 3 BDSP REGISTRY DASHBOARD</h1>
        
        <!-- / Search form -->
      <br>
    </div></center><br><br>

      <style>
        .icon-button__badge {
          position: absolute;
          top: -10px;
          right: -10px;
          width: 25px;
          height: 25px;
          background: #ff4d4d;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      </style>

   <div class="col-xl-12 col-md-6">
      <div class="card bg-secondary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
<br>
      
        
      <div class="bg-transparent">
        <div class="row align-items-center">
      
        
        </div>
      
        </div>
        
        <!-- Card body -->
        <div class="card-body">


<div class="row">
 <div class="col-xl-5 col-md-6 mx-auto">
    <!-- Chart 1 -->
    <canvas id="sexchart" style="max-width: 700px; height: 500px;"></canvas>
  </div>
  <div class="col-xl-5 col-md-6 mx-auto">

    <canvas id="myPieChart3" style="max-width: 700px;"></canvas>

  </div>

</div>  


<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show data</a>
<div class="row">
{% for dip in dips_list %}


<div class="col">
   <div class=" collapse multi-collapse" id="multiCollapseExample1">
    <br>
      <div class="card card-stats"
        style="width: 200px; border: 2px solid #006080; ">
        <!-- Card body -->
        <div class="card-body">
          <div class="row">
            <div class="col">
              <p class="card-title text-default mb-0"><b class="text-default font-weight-bold mb-0">RCU: {{dip}}</b></p>
              <p class=" text-mute textdesc font-weight-bold mb-0">PWD: {{dips_list[dip]["approve"]}}</p>
              <p class=" text-mute textdesc font-weight-bold mb-0">Youth: {{dips_list[dip]["pipeline"]}}</p>
              <p class=" text-mute textdesc font-weight-bold mb-0">IP: {{dips_list[dip]["ongoing"]}}</p>
              <p class=" text-mute textdesc font-weight-bold mb-0">SC: {{dips_list[dip]["not_started"]}}</p>
            </div>

          
            
          </div>
          <p class="mt mb-0 text-sm">
            <br>
          </p>
        </div>

  </div>
</div>
</div>
{% endfor %}
</div>



</div>
<br>

</div>

    
    
        </div>
      <!-- Card header -->
      <div class="d-flex justify-content-center">
        <div class="table-responsive table py-4 mx-auto" style="max-width: 100%;">
          <div id="datatable-buttons_wrapper" class=" text-dark dataTables_wrapper dt-bootstrap4">
            <table class="table table-dark table-flush dataTable " id="datatable-buttons3" role="grid"
              aria-describedby="datatable-buttons_info" style="width:100% !important">
              <thead class="thead">
                <tr role="row">
                  <th>ID</th>
                  <th>Types of BDSP</th>
                  <th>Contact Person</th>
                  <th>Office/Main Address</th>
                  <th>Action</th>
                  <th>Timestamp</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <div>
                    {% for row in form3_datatable %}
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['form_3_types_of_bdsp'] }}</td>
                    <td>{{ row['form_3_contact_person'] }}</td>
                    <td>{{ row['form_3_office_addr'] }}</td>
                    <td>
                      
                    {% if row['upload_by']|string == user_data['id']|string %}
                    <a style="color: #00FFAB;" href="/dcf/form3?id={{ row['id'] }}&table=dcf_bdsp_reg">
                      <span><i class="fa-solid fa-pen-to-square"></i></span> Edit
                    </a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a style="color: #ff4d4d;" onclick="showDeleteConfirmation('{{ row['id'] }}'); return false;"
                      href="/delete_record/dcf_bdsp_reg/{{ row['id'] }}">
                      <span><i class="fa-solid fa-trash"></i></span> Delete
                    </a>
                    {% elif user_data['job'] == "Super Admin" %}
                    <a style="color: #1ac6ff;" href="/dcf/form3?id={{ row['id'] }}&table=dcf_bdsp_reg">
                      <span><i class="fa fa-eye" aria-hidden="true"></i></span> View
                    </a>
                    {% else %}
                    <a style="color: #1ac6ff;" href="/dcf/form3?id={{ row['id'] }}&table=dcf_bdsp_reg">
                      <span><i class="fa fa-eye" aria-hidden="true"></i></span> View
                    </a>
                    {% endif %}

                  </td>
                  <td class="date-cell"> {{ row['date_created'] }}<br>
                    {% if row['date_modified'] %}
                    <i style="font-size: smaller;color: #00cc66;">Updated: {{ row['date_modified'] | format_timestamp
                      }}</i>
                    {% endif %}</i>
                  </td>



                </tr>

                {% endfor %}
              </tbody>
            </table>

          </div>



        </div>

      </div>


      <div class="py-4">
        <div class="dropdown">
          <button class="btn btn-default d-inline-flex align-items-center me-2"
            onclick="window.open('/dcf/form3', '_blank')">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
            &nbsp; GO TO BDSP Registry FORM
          </button>
        </div>
      </div>
      {% include "includes/form_spreadsheet/form3spreadsheet.html" %}

      <!-- Page content -->
    </div>
  </div>
</div>

<script>

  var xValues = [
    'Male: ' + money({{dcf_form3male}}),
    'Female: ' + money({{dcf_form3female}}),
  ];

  var yValues = [
    {{dcf_form3male}},
    {{dcf_form3female}},
    // {{total_untagged}},
  ];
  var barColors = ['#2d5986', '#800055'];

  var total = yValues.reduce((a, b) => a + b, 0);

  var percentageValues = yValues.map((value) => ((value / total) * 100).toFixed(2));

Chart.plugins.register({
  afterDatasetsDraw: function (chart, easing) {
    // Check if the chart has the ID 'sexchart'
    if (chart.canvas.id === 'sexchart') {
      var ctx = chart.ctx;

      chart.data.datasets.forEach(function (dataset, i) {
        var meta = chart.getDatasetMeta(i);
        if (!meta.hidden) {
          meta.data.forEach(function (element, index) {
            ctx.fillStyle = 'white';

            var fontSize = 13; // Change this to your desired font size
            var fontStyle = 'bold';
            var fontFamily = 'sans-serif';
            ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

            // Display only the percentage value without .00
            var dataString = Number(percentageValues[index]) + '%';

            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';

            var padding = 5;
            var position = element.tooltipPosition();
            ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
          });
        }
      });
    }
  },
});

  new Chart('sexchart', {
    type: 'pie',
    data: {
      labels: xValues,
      datasets: [
        {
          backgroundColor: barColors,
          data: yValues,
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: `Total: `+money({{dcf_form3sextotal | int}}),
        fontSize: 15,
        fontColor: '#204060',
      },
      plugins: {
        datalabels: {
          display: false,
        },
      },
      legend: {
        labels: {
          fontColor: 'gray', // Customize the legend label color
          fontSize: 13,
           // Customize the legend label font size
        },
      },
      tooltips: {
        callbacks: {
          label: function (tooltipItem, data) {
            // Display only the percentage value without .00 in the tooltip
            return data.labels[tooltipItem.index];
          },
        },
      },
    },
  });


var _labels = [];
var _data = [];

// Sample data
{% for key in typebdsp %}
  _labels.push('{{key}}');
  _data.push('{{typebdsp[key]}}');
{% endfor %}

// Calculate total for _data
var totalData = _data.reduce((a, b) => parseFloat(a) + parseFloat(b), 0);

// Normalize _data to make its total equivalent to totalData
var normalizedData = _data.map(value => ((parseFloat(value) / totalData) * 100).toFixed(2));

var data = {
  labels: _labels,
  datasets: [{
    data: normalizedData, // Values for each category
    backgroundColor: ['#994d00', '#1a0d00', '#5c5c3d', '#a6a6a6', '#006666'],
  }]
};

var options = {
  responsive: true,
  maintainAspectRatio: false,
  tooltips: {
    callbacks: {
      label: function (tooltipItem, data) {
        var label = data.labels[tooltipItem.index];
        var value = _data[tooltipItem.index];
        return label + ': ' + value;
      },
    },
  },
   title: {
        display: true,
        text: `Type of BDSP`,
        fontSize: 15,
        fontColor: '#204060',
      }
};

var ctx = document.getElementById('myPieChart3').getContext('2d');
var myPieChart3 = new Chart(ctx, {
  type: 'pie',
  data: data,
  options: options,
  title: 'Commodity'
});

// Display total percentage values on the pie chart
Chart.plugins.register({
  afterDatasetsDraw: function (chart, easing) {
    if (chart.canvas.id === 'myPieChart3') {
      var ctx = chart.ctx;

      chart.data.datasets.forEach(function (dataset, i) {
        var meta = chart.getDatasetMeta(i);
        if (!meta.hidden) {
          meta.data.forEach(function (element, index) {
            ctx.fillStyle = 'white';

            var fontSize = 12;
            var fontStyle = 'bold';
            var fontFamily = 'sans-serif';
            ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

            var dataString = normalizedData[index] + '%';

            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';

            var padding = 5;
            var position = element.tooltipPosition();
            ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
          });
        }
      });
    }
  },
});
</script>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
 
 function showDeleteConfirmation(id) {
                swalWithCustomButtons.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel',
                  reverseButtons: true,
                  customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger',
                  },
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = `/delete_record/dcf_bdsp_reg/${id}`;
                  } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithCustomButtons.fire(
                      'Cancelled',
                      'Your record is safe',
                      'error'
                    );
                  }
                });

                // Prevent the default link behavior
                return false;
              }

              const swalWithCustomButtons = Swal.mixin({
                customClass: {
                  confirmButton: 'btn btn-success',
                  cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
              });
</script>
<script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>


{% endblock javascripts %}