{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Form 4 Dasboard</title>
<div class="header bg-primary pb-6" >
  <div class="container-fluid">
    <div class="header-body">

        <div class="d-flex align-items-center">
            <!-- Search form -->
            <div class="h1 fw-bolder text-gray mb-2">FORM 4 Capacity Building for Beneficiaries Form</div>
            <!-- / Search form -->
          </div>
          <style>
                    
            .icon-button__badge {
              position: absolute;
              top: -10px;
              right: -10px;
              width: 25px;
              height: 25px;
              background: #ff4d4d;
              color: #ffffff;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
            }</style>

                  <!-- Card header -->
                  <div class="d-flex justify-content-center">
                    <div class="table-responsive table py-4 mx-auto" style="max-width: 100%;">
                      <div id="datatable-buttons_wrapper" class=" text-dark dataTables_wrapper dt-bootstrap4" >
                        <table class="table table-dark table-flush dataTable " id="datatable-buttons4" role="grid" aria-describedby="datatable-buttons_info" style="width:100% !important">
                        <thead class="thead" >
                          <tr role="row">
                            <th>ID</th>
                            <th>Implementing Unit</th>
                            <th>Training Number</th>
                            <th>Activity Title</th>
                            <th>Types of Training</th>
                            <th>Topic Of Training</th>
                            <th>Total Number of Participants</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                    
                        <tbody>
                          <tr>
                         <div>
                            {% for row in form4_datatable %}
                            <td>{{ row['id'] }}</td>
                            <td>{{ row['cbb_implementing_unit'] }}</td>
                            <td>{{ row['cbb_training_number'] }}</td>  
                            <td>{{ row['cbb_activity_title'] }}</td>
                            <td>{{ row['cbb_types_of_training'] }}</td>
                            <td>{{ row['cbb_topic_of_training'] }}</td>
                            <td>{{ row['cbb_total_number_of_participants'] }}</td>
                            <td>
                              <a style="color: #1ac6ff; " data-toggle="modal" data-target="#form4view{{row['id']}}" href="/updateform4/{{row['id']}}"> <span><i class="fa fa-eye" aria-hidden="true"> </i></span> View</a>&nbsp;&nbsp;&nbsp;&nbsp;
                              {% if(row['upload_by']|string==user_data['id']|string or user_data['job']=="Super Admin"): %}
                              <a style="color: #00cc66;" data-toggle="modal" data-target="#form4edit{{row['id']}}" href="/updateform4/{{row['id']}}"> <span><i class="fa-solid fa-pen-to-square" aria-hidden="true"> </i></span> Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a style="color: #ff4d4d;"  href="/delete_form4/{{row['id']}}" onclick="confirmation(event)"> <span><i class="fa-solid fa-trash"></i></span> Delete</a>
                              {%endif%}
                           
                            </td>
                
                     
                        </tr>
                      
                        {% endfor  %}
                          </tbody>
                </table>
                
                </div>
                          
                          
                          
            </div>
                        
                    </div>
    {% include "includes/viewform_modal/viewform4.html" %}
    {% include "includes/updateform_modal/updateform4.html" %}

    <div class="py-4">
      <div class="dropdown">
        <button class="btn btn-default d-inline-flex align-items-center me-2" onclick="window.open('/dcf/form4', '_blank')">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
              &nbsp; GO TO Capacity Building for Beneficiaries FORM
          </button>
      </div>
  </div>
    {% include "includes/form_spreadsheet/form4spreadsheet.html" %}

    <!-- Page content -->
</div>
</div>
</div>


    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>

</script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  

{% endblock javascripts %}
