<html>
<head>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-890" lang="en-us">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <!-- CSS only -->
    <link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


<!-- JavaScript Bundle with Popper -->
    <script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

    <title>ERROR_404</title>
  </head>



</head>

<body data-spy="scroll" data-target="#navbar-example2" data-offset="50">
 
{% include 'main/navbarpages.html' %}

<!-- Content -->

<div style="border: 1px ; height: 0%;"></div>
<div class=" container mt-5 "  style="height: 500px;">
  <p class="" style="color: #1F4F5A !important; font-size:150px;">404</p>
  <span class="d.block fst-italic display-5" >That's an error</span>
  <br>
  <br>
  <br>
  <p class="d.block fst-italic c mb-5 " style="font-size:30px;"> The requested URL was not found on this server.</p>
</div>

{% include 'main/footer.html' %}
	
</body>
</html>