<div class="col-lg-9">
	<div class="row">
		<!-- End Reports -->

		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Recent Sales -->
		<div class="col-12">
			<div class="card recent-sales overflow-auto">
				<div class="card-body">
					<div class="card-body">
						<h5 class="card-title">User info and Privilages settings</h5>

						<!-- Default Tabs -->
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="user-info-tab" data-bs-toggle="tab" data-bs-target="#user-info" type="button" role="tab" aria-controls="user-info" aria-selected="true">User Info</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="security-group-tab" data-bs-toggle="tab" data-bs-target="#security-group" type="button" role="tab" aria-controls="security-group" aria-selected="false" tabindex="-1">Security-Group</button>

							</li>
							<!-- <li class="nav-item" role="presentation">
								<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">Contact</button>
							</li> -->
						</ul>
						<div class="tab-content pt-2" id="myTabContent">
							<div class="tab-pane fade show active" id="user-info" role="tabpanel" aria-labelledby="user-info-tab">
								{% include '/chunks/system-control/system-control-user-edit.html'%}
								
							</div>
							<div class="tab-pane fade" id="security-group" role="tabpanel" aria-labelledby="security-group-tab">
								{% include '/chunks/system-control/system-control-security-group.html'%}
							</div>
							<!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
								Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos fuga tempore dolor.
							</div> -->
						</div><!-- End Default Tabs -->

					</div>
				</div>

			</div>
		</div><!-- End Recent Sales -->

		<!-- Top Selling -->
		<div class="col-12" style="display:none;">
			<div class="card top-selling overflow-auto">
				<div class="card-body pb-0">
					<h5 class="card-title">Top Selling <span>| Today</span></h5>

					<table class="table table-borderless">
						<thead>
							<tr>
								<th scope="col">Preview</th>
								<th scope="col">Product</th>
								<th scope="col">Price</th>
								<th scope="col">Sold</th>
								<th scope="col">Revenue</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><a href="#"><img src=" ../static/a_v2_static/img/product-1.jpg" alt=""></a></th>
								<td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
								<td>$64</td>
								<td class="fw-bold">124</td>
								<td>$5,828</td>
							</tr>
							<tr>
								<th scope="row"><a href="#"><img src=" ../static/a_v2_static/img/product-2.jpg" alt=""></a></th>
								<td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
								<td>$46</td>
								<td class="fw-bold">98</td>
								<td>$4,508</td>
							</tr>
							<tr>
								<th scope="row"><a href="#"><img src=" ../static/a_v2_static/img/product-3.jpg" alt=""></a></th>
								<td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
								<td>$59</td>
								<td class="fw-bold">74</td>
								<td>$4,366</td>
							</tr>
							<tr>
								<th scope="row"><a href="#"><img src=" ../static/a_v2_static/img/product-4.jpg" alt=""></a></th>
								<td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
								<td>$32</td>
								<td class="fw-bold">63</td>
								<td>$2,016</td>
							</tr>
							<tr>
								<th scope="row"><a href="#"><img src=" ../static/a_v2_static/img/product-5.jpg" alt=""></a></th>
								<td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
								<td>$79</td>
								<td class="fw-bold">41</td>
								<td>$3,239</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div><!-- End Top Selling -->

	</div>
</div>