{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Data Capture Form</title>

    

{% include "form_dashboard/main_dashboard.html" %}



<style>
    .custom-swal-popup {
    text-align: left; /* Adjust text alignment as needed */
  }
</style>
<script>
const isDialogShownx5 = localStorage.getItem('dialogShownx5');

if (!isDialogShownx5) {
  Swal.fire({
    title: "&#128640; Exciting Update! &#128640;",
    html: "<div style='text-align: left;'>" +
      "1. Data Capture Form Dashboard v2.<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Unveiling the next version of our Data Capture Form Dashboard!<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Experience improved performance, smoother charts, and faster loading times.<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Dive into the enhanced user-friendly experience!<br><br>" +
      "2. Main Dashboard Integration<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Introducing the Main Dashboard!<br><br><br>" +
      "Stay tuned as we continue developing to add more data to the dashboards for an even more user-friendly experience! 🌐✨"+
      "</div>",
    icon: "info",
    width: '800px',
    showCancelButton: true,
    confirmButtonText: 'Got it',
    cancelButtonText: 'Close',
  }).then((result) => {
    if (result.isConfirmed) {
      localStorage.setItem('dialogShownx5', 'true');
    }
  });
}
</script>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>

  </script>

{% endblock javascripts %}
