{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<title>Data Capture Form</title>

    

{% include "form_dashboard/main_dashboard.html" %}



<style>
    .custom-swal-popup {
    text-align: left; /* Adjust text alignment as needed */
  }
</style>
<script>
const isDialogShownx6 = localStorage.getItem('dialogShownx6');

if (!isDialogShownx6) {
  Swal.fire({
    title: "Changelog Update - (2024-01-30)",
    html: "<div style='text-align: left;'>" +
      "1. Dashboard Enhancements.<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Additional charts for data capture form dashboards.<br><br>" +
      "2. New Features<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Added a new sidebar menu - Guide:<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•Specifically, a tutorial for data capture forms is now available.<br>" + 
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•This tutorial provides comprehensive guidance on utilizing data capture forms effectively.<br>" +  
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•Users can conveniently watch tutorials directly from the sidebar menu. <br><br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Added a new sidebar menu - Spreadsheet Management:<br>" +
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•This feature allows users to manage uploaded Excel files conveniently.<br>" + 
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•Users can view a data table displaying all uploaded Excel files.<br>" +  
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•The data table provides essential details about each file.<br>" +  
      "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•Users have the option to delete uploaded Excel files, including the data contained within them, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;directly from the interface.<br><br>" +  
      "Stay tuned for more updates and improvements in the future! 🌐✨"+
      "</div>",
    icon: "info",
    width: '800px',
    showCancelButton: true,
    confirmButtonText: 'Got it',
    cancelButtonText: 'Close',
  }).then((result) => {
    if (result.isConfirmed) {
      localStorage.setItem('dialogShownx6', 'true');
    }
  });
}
</script>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/psalm_static/dcf_static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script>

  </script>

{% endblock javascripts %}
