{% extends "layouts/fmi_base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    .card-dashboard {
        padding: 0px 10px;
        margin: 10px 5px;
        box-shadow: 0px 0px 10px #F0BC74;
        background-color: #f0bc74a6;
        min-height: 120px;
    }
    .card-dashboard:hover b {
        color: #fff;
        text-shadow: 2px 2px 5px #1F2937;
    }
    .card .count {
        font-size: 2em;
        font-weight: bold;
        margin-top: 10px;
        color: #1F2937;
        text-shadow: 2px 2px 2px #F8BD7A;
    }
    .card .count p {
        margin-bottom: 0px;
        position: relative;
        font-size: 0.45em;
    }
    .card .count p b {
        position: absolute;
        right: 0px;
    }
    .card h4 {
        font-weight: bold; 
        border-top: 1px solid #EEB15D; 
        padding-top: 5px; 
        margin-top: 5px; 
        text-align: right;
    }
    .card-dashboard h4 {
        color: #c77e17;    
        font-size: 16px!important;
    }
</style>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag text-end"><b>{{FMR_data.FMR_total}}</b></div>
                <h4>Total FMR Projects</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag rapid_fmr_completed">
                    <p>No. of Completed : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_completed['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_completed['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_completed['total_appr_budget']) }}</b></p>
                </div>
            <h4>COMPLETED</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag ">
                    <p>No. of Ongoing : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_ongoing['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_ongoing['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_ongoing['total_appr_budget']) }}</b></p>
                </div>
            <h4>ONGOING</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag ">
                    <p>No. of Ongoing : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_no1['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_no1['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_no1['total_appr_budget']) }}</b></p>
                </div>
            <h4>FOR NO 1</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag ">
                    <p>No. of Ongoing : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_no2['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_no2['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_no2['total_appr_budget']) }}</b></p>
                </div>
            <h4>FOR NO 2</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag ">
                    <p>No. of Ongoing : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_no3['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_no3['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_no3['total_appr_budget']) }}</b></p>
                </div>
            <h4>FOR NO 3</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag ">
                    <p>No. of Ongoing : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_noa['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_noa['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_noa['total_appr_budget']) }}</b></p>
                </div>
            <h4>TOTAL ISSUANCE OF NOA</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag ">
                    <p>No. of Ongoing : <b class="text-end">{{ "{:,.2f}".format(FMR_data.FMR_pending['total']) }}</b></p>
                    <p>No. of km : <b>{{ "{:,.2f}".format(FMR_data.FMR_pending['total_km']) }}</b></p>
                    <p>Amnt Approved : <b>{{ "P{:,.2f}".format(FMR_data.FMR_pending['total_appr_budget']) }}</b></p>
                </div>
            <h4>PENDING</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="card card-dashboard">
            <div class="tile-stats" style="border-radius: 15px;">
                <div class="count _money_tag text-end"><b>{{ "{:,.2f}".format(FMR_data.FMR_totalkm_completed_ongoing) }}</b></div>
                <h4>KILOMETER COMPLETED BASE ON % ACCOMPLISHED</h4>
            </div>
        </div>
    </div>
    
</div>
<hr>
<div class="row">
    <div class="col-3">
        <div class="card" style="box-shadow: 0px 0px 5px #F8BD7A;">
			<div class="card-body">
				<h6 class="card-title text-center">
					<b># of Batch 1 / Status</b>
				</h6>
				<div class="container">
                    <br>
                    <canvas id="FMR_batch1_barchart" height="450"></canvas>
                </div>
            </div>
        </div>   
    </div>
    <div class="col-3">
        <div class="card" style="box-shadow: 0px 0px 5px #1f29367d;">
			<div class="card-body">
				<h6 class="card-title text-center">
					<b># of Batch 2 / Status</b>
				</h6>
				<div class="container">
                    <br>
                    <canvas id="FMR_batch2_barchart" height="450"></canvas>
                </div>
            </div>
        </div>   
    </div>
    <div class="col-3">
        <div class="card" style="box-shadow: 0px 0px 5px #F8BD7A;">
			<div class="card-body">
				<h6 class="card-title text-center">
					<b># of Batch 3 / Status</b>
				</h6>
				<div class="container">
                    <br>
                    <canvas id="FMR_batch3_barchart" height="450"></canvas>
                </div>
            </div>
        </div>   
    </div>
    <div class="col-3">
        <div class="card" style="box-shadow: 0px 0px 5px #1f29367d;">
			<div class="card-body">
				<h6 class="card-title text-center">
					<b># of Batch 4 / Status</b>
				</h6>
				<div class="container">
                    <br>
                    <canvas id="FMR_batch4_barchart" height="450"></canvas>
                </div>
            </div>
        </div>   
    </div>
</div>
<hr>
    <!-- <div class="py-4">
        <div class="dropdown">
            <button class="btn btn-gray-800 d-inline-flex align-items-center me-2" onclick="window.location.href='/fmi_form_a'">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                ADD PROJECT
            </button>
        </div>
    </div> -->
 
    <!-- <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-2 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">BARMM</h2>
                                </div>
                                <div class="col text-end">
                                    <a href="#" class="btn btn-sm btn-primary">See all</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Project ID</th>
                                    <th class="border-bottom" scope="col">Project Name</th>
                                    <th class="border-bottom" scope="col">Project Cost</th>
                                    <th class="border-bottom" scope="col">Target</th>
                                    <th class="border-bottom" scope="col">Actual</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="cursor: pointer" onClick="document.location.href='/project_profile';">
                                    <th class="text-gray-900" scope="row">
                                        ID-12345
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        Datu Salibo, Maguindanao
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        10,000,000 php
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            55%
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            60%
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-12 mb-4">
                    <div class="card border-2 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">RCU 8</h2>
                                </div>
                                <div class="col text-end">
                                    <a href="#" class="btn btn-sm btn-primary">See all</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Project ID</th>
                                    <th class="border-bottom" scope="col">Project Name</th>
                                    <th class="border-bottom" scope="col">Project Cost</th>
                                    <th class="border-bottom" scope="col">Target</th>
                                    <th class="border-bottom" scope="col">Actual</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="cursor: pointer" onClick="document.location.href='/project_profile';">
                                    <th class="text-gray-900" scope="row">
                                        ID-54321
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        Jaro, Leyte
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        10,000,000 php
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            70%
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            53%
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <!-- <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-2 shadow">
                    <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="d-block">
                            <div class="h6 fw-normal text-gray mb-2">Total Project</div>
                            <h2 class="h3 fw-extrabold">2</h2>
                            <div class="small mt-2">                               
                                <span class="fas fa-angle-up text-success"></span>                                   
                                <span class="text-success fw-bold">18.2%</span>
                            </div>
                        </div>
                        <div class="d-block ms-auto">
                            <div class="d-flex align-items-center text-end mb-2">
                                <span class="dot rounded-circle bg-gray-800 me-2"></span>
                                <span class="fw-normal small">July</span>
                            </div>
                            <div class="d-flex align-items-center text-end">
                                <span class="dot rounded-circle bg-secondary me-2"></span>
                                <span class="fw-normal small">August</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="ct-chart-ranking ct-golden-section ct-series-a"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- dashboard here -->
 <style>
  .export-btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #343a40;
    border-color: #343a40;
    display: flex;
    align-items: center;
  }

  .export-btn i {
    margin-right: 8px;
  }

  .export-btn:hover {
    background-color: #212529;
    border-color: #212529;
  }

  .export-btn:focus {
    box-shadow: none;
    outline: none;
  }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        var chart_data_fmr  = JSON.parse('{{ FMR_data_chart | safe }}');
        
        ctx_FMR_batch1 = document.getElementById('FMR_batch1_barchart').getContext('2d');
        ctx_FMR_batch2 = document.getElementById('FMR_batch2_barchart').getContext('2d');
        ctx_FMR_batch3 = document.getElementById('FMR_batch3_barchart').getContext('2d');
        ctx_FMR_batch4 = document.getElementById('FMR_batch4_barchart').getContext('2d');
        
        var chartFMR_B1 = new Chart(ctx_FMR_batch1, {
            type: 'bar',
            data: {
                labels: chart_data_fmr.FMR_Batch1_data.labels ,
                datasets: [{
                    label: "# of Batch 1",
                    data: chart_data_fmr.FMR_Batch1_data.data,
                    backgroundColor: chart_data_fmr.FMR_Batch1_data.background_colors,
                    borderColor: '#1F2937',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var chartFMR_B2 = new Chart(ctx_FMR_batch2, {
            type: 'bar',
            data: {
                labels: chart_data_fmr.FMR_Batch2_data.labels ,
                datasets: [{
                    label: "# of Batch 2",
                    data: chart_data_fmr.FMR_Batch2_data.data,
                    backgroundColor: chart_data_fmr.FMR_Batch2_data.background_colors,
                    borderColor: '#1F2937',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var chartFMR_B3 = new Chart(ctx_FMR_batch3, {
            type: 'bar',
            data: {
                labels: chart_data_fmr.FMR_Batch3_data.labels ,
                datasets: [{
                    label: "# of Batch 2",
                    data: chart_data_fmr.FMR_Batch3_data.data,
                    backgroundColor: chart_data_fmr.FMR_Batch3_data.background_colors,
                    borderColor: '#1F2937',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var chartFMR_B4 = new Chart(ctx_FMR_batch4, {
            type: 'bar',
            data: {
                labels: chart_data_fmr.FMR_Batch4_data.labels ,
                datasets: [{
                    label: "# of Batch 2",
                    data: chart_data_fmr.FMR_Batch4_data.data,
                    backgroundColor: chart_data_fmr.FMR_Batch4_data.background_colors,
                    borderColor: '#1F2937',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>

 <script type="text/javascript">
	function exportForm8Data() {
		window.location.href = '/export_form8';
	}
</script>
<div class="card border-2 shadow mb-4">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2 class="card-title mb-0">
      FORM 8 FMI Tracker
      <small class="text-muted" style="font-size: 15px;">SPREADSHEET MANAGEMENT</small>
    </h2>
    <div class="card-toolbar">
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Settings 1</a>
            <a class="dropdown-item" href="#">Settings 2</a>
          </div>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="card-body">
    <!-- EXPORT -->
    <form id="form8ExportForm" action="/dcf" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Export Data:</label>
          <button type="button" class="export-btn text-white" onclick="exportForm8Data()">
            Export Form 8
          </button>
        <br>
        </div>
    </form>

    <!-- IMPORT -->
    <form action="/importcsvform8" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Import Data:</label>
          <input type="file" id="chooseFile" name="chooseFile" required
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="form-control mb-2">
          <button type="submit" class="btn btn-info btn-sm">
            <i class="fa fa-upload"></i> Import
          </button>
          <button type="button" class="btn btn-success btn-sm text-white"
            onclick="download_login_start('DCF_Form_8.xlsx')">
            <i class="fa fa-file-excel-o"></i> Download Form 8 Excel Template
          </button>
        </div>
    </form>
  </div>
</div>


{% endblock content %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function download_login_start(fff) {
    let a = document.createElement("a");
    a.target = "_blank";
    a.href = "/login/download_file/" + fff;
    a.click();
    }
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          Swal.fire({
            title: "{{ 'Success!' if category == 'success' else 'Error!' }}",
            html: "{{ message|safe }}",
            icon: "{{ 'success' if category == 'success' else 'error' }}",
            confirmButtonColor: "{{ '#3085d6' if category == 'success' else '#d33' }}",
            confirmButtonText: "OK"
          });
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>
{% endblock javascripts %}