{% extends "layouts/fmi_base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <div class="dropdown">
            <button class="btn btn-gray-800 d-inline-flex align-items-center me-2" onclick="window.location.href='/fmi_form_a'">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                ADD PROJECT
            </button>
        </div>
    </div>
 
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-2 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">BARMM</h2>
                                </div>
                                <div class="col text-end">
                                    <a href="#" class="btn btn-sm btn-primary">See all</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Project ID</th>
                                    <th class="border-bottom" scope="col">Project Name</th>
                                    <th class="border-bottom" scope="col">Project Cost</th>
                                    <th class="border-bottom" scope="col">Target</th>
                                    <th class="border-bottom" scope="col">Actual</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="cursor: pointer" onClick="document.location.href='/project_profile';">
                                    <th class="text-gray-900" scope="row">
                                        ID-12345
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        Datu Salibo, Maguindanao
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        10,000,000 php
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            55%
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            60%
                                        </div>
                                    </td>
                                </tr>
                            

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <div class="card border-2 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">RCU 8</h2>
                                </div>
                                <div class="col text-end">
                                    <a href="#" class="btn btn-sm btn-primary">See all</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Project ID</th>
                                    <th class="border-bottom" scope="col">Project Name</th>
                                    <th class="border-bottom" scope="col">Project Cost</th>
                                    <th class="border-bottom" scope="col">Target</th>
                                    <th class="border-bottom" scope="col">Actual</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr style="cursor: pointer" onClick="document.location.href='/project_profile';">
                                    <th class="text-gray-900" scope="row">
                                        ID-54321
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        Jaro, Leyte
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        10,000,000 php
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            70%
                                        </div>
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                           
                                            53%
                                        </div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        

        
            </div>
        </div>
        
        <div class="col-12 col-xl-4">
            <div class="col-12 px-0 mb-4">
                <div class="card border-2 shadow">
                    <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="d-block">
                            <div class="h6 fw-normal text-gray mb-2">Total Project</div>
                            <h2 class="h3 fw-extrabold">2</h2>
                            <div class="small mt-2">                               
                                <span class="fas fa-angle-up text-success"></span>                                   
                                <span class="text-success fw-bold">18.2%</span>
                            </div>
                        </div>
                        <div class="d-block ms-auto">
                            <div class="d-flex align-items-center text-end mb-2">
                                <span class="dot rounded-circle bg-gray-800 me-2"></span>
                                <span class="fw-normal small">July</span>
                            </div>
                            <div class="d-flex align-items-center text-end">
                                <span class="dot rounded-circle bg-secondary me-2"></span>
                                <span class="fw-normal small">August</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="ct-chart-ranking ct-golden-section ct-series-a"></div>
                    </div>
                </div>
            </div>
           

        </div>
    </div>



{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
