<div class=" x-container x-card x-padding x-light-grey">
		<h2 class="x-text-white x-padding x-teal x-xlarge" style="text-align:center;" id="b1">Respondent Profile</h2>
		<br>

		<div class="x-row x-container x-padding">
			<div class="x-col s12 x-padding-small">
				<span class="x-text-">Name of DIP:</span>
				<select class="form_data_b x-border x-padding" id="name_of_dip">
					<option class="form_data_b" value=""></option>
				</select>
			</div>
		</div>

		<script>
			function populateDipNames() {
			return fetch('/api/get_dip_names')
				.then(response => {
				if (!response.ok) {
					throw new Error('Error fetching DIP names');
				}
				return response.json();
				})
				.then(data => {
				const selectElement = document.getElementById('name_of_dip');
				selectElement.innerHTML = '<option value="">Choose DIP name</option>';
				data.forEach(item => {
					const option = document.createElement('option');
					option.value = item.form_1_name_dip;
					option.textContent = item.form_1_name_dip;
					selectElement.appendChild(option);
				});
				})
				.catch(error => console.error('Error fetching DIP names:', error));
			}

			populateDipNames().then(() => {});
		</script>

		<div class="x-row x-container x-padding">
			<!-- Non-DIP -->
			<div class="x-col l6 m6 s12 x-padding-small">
				<label for="non_dip"><b>Non-DIP:</b></label>
				<select class="form_data_b x-input x-border" id="non_dip">
					<option value="" selected disabled>Please Select</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
			</div>

			<!-- VC Role -->
			<div  class="x-col l6 m6 s12 x-padding-small">
				<label for="vc_role"><b>VC Role:</b></label>
				<select class="form_data_b x-input x-border" id="vc_role">
					<option value="" selected disabled>Please Select</option>
					<option value="Hub">Hub</option>
					<option value="Spoke">Spoke</option>
					<option value="Anchor Firm">Anchor Firm</option>
				</select>
			</div>
		</div>

		<div class="x-row x-container x-padding">
			<!-- Name -->
			<div class="x-col l6 m6 s12 x-padding-small">
				<label for="name_of_respondent" class="x-text-">Name of Respondent:</label>
				<input class="form_data_b x-input x-border x-padding" style="width: 100%;" 
					   id="name_of_respondent" type="text" placeholder="Enter Name" required>
			</div>
		
			<!-- Designation -->
			<div class="x-col l6 m6 s12 x-padding-small">
				<label for="respondents_designation_in_the_organization" class="x-text-">Designation in the Organization:</label>
				<select class="form_data_b x-input x-border x-padding" style="width: 100%;" id="respondents_designation_in_the_organization" required>
					<option value="N/A" selected disabled>Please Indicate position</option>
					<option value="President">President</option>
					<option value="President/Chairman">President/Chairman</option>
					<option value="Coop Chairperson">Coop Chairperson</option>
					<option value="Chairperson">Chairperson</option>
					<option value="Chairman">Chairman</option>
					<option value="Chairwoman">Chairwoman</option>
					<option value="General Manager">General Manager</option>
					<option value="Manager">Manager</option>
					<option value="Vice Chairman">Vice Chairman</option>
					<option value="Vice Chairperson">Vice Chairperson</option>
					<option value="Vice President">Vice President</option>
					<option value="Vice-chairperson">Vice-chairperson</option>
					<option value="Administrator">Administrator</option>
					<option value="Secretary Administrator">Secretary Administrator</option>
					<option value="Secretary">Secretary</option>
					<option value="Asst. Secretary">Asst. Secretary</option>
					<option value="Auditor">Auditor</option>
					<option value="Treasurer">Treasurer</option>
					<option value="BOD Chairperson">BOD Chairperson</option>
					<option value="Packing Plant Supervisor">Packing Plant Supervisor</option>
					<option value="Member">Member</option>
					<option value="PIO">PIO</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>		

			<div class="x-row x-container">
		
				<!-- Age -->
				<div class="x-col l6 m6 s12 x-padding-small">
					<label for="respondents_age" class="x-text-">Age:</label>
					<input class="form_data_b x-input x-border x-padding" style="width: 100%;" 
						   id="respondents_age" type="text" placeholder="Enter Age" required numberonly>
				</div>
		
				<!-- Email -->
				<div class="x-col l6 m6 s12 x-padding-small">
					<label for="respondents_email" class="x-text-">E-mail:</label>
					<input class="form_data_b x-input x-border x-padding" style="width: 100%;" 
						   id="respondents_email" type="text" placeholder="Enter Email" required>
				</div>
			</div>
		
			<div class="x-row x-container x-padding">
				<!-- Contact -->
				<div class="x-col l6 m6 s12 x-padding-small">
					<label for="respondents_mobile" class="x-text-">Contact Number:</label>
					<input class="form_data_b x-input x-border x-padding" style="width: 100%;" 
						   id="respondents_mobile" type="text" placeholder="Enter Contact Number" required numberonly>
				</div>
		
				<!-- Gender -->
				<div class="x-col l6 m6 s12 x-padding-small">
					<label for="respondents_gender" class="x-text-">Sex:</label>
					<select class="form_data_b x-input x-border x-padding" style="width: 100%;" 
							id="respondents_gender" required>
						<option value="" disabled selected>Select Gender</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				</div>
			</div>			

		<br>
</div>