


<div class=" x-container x-card x-padding x-light-grey">
		<h2 class="x-text-white x-padding x-teal x-round-xxlarge " id="b1">Respondent Profile</h2>
		<br>

		<div class="x-row x-section x-padding">
			<span class="x-text-">Name of Respondent/s:</span>
			<input class="form_data_b x-input x-border x-padding" id="name_of_respondent" name="first" type="text" placeholder="Enter Name" required>
		</div>

		<div class="x-row x-section x-padding">
			<span class="x-text-">Designation in the Organization:</span>
			<input class="form_data_b x-input x-border x-padding" id="respondents_designation_in_the_organization" name="last" type="text" placeholder="Enter Designation" required>
		</div>

		<div class="x-row">
			<div class="x-col l6 x-container x-padding">
				<span class="x-text-">Age:</span>
				<input class="form_data_b x-input x-border x-padding" style="width: 100%;" id="respondents_age" name="phone" type="text" placeholder="Enter Age" required>
				<span class="x-text-">E-mail:</span>
				<input class="form_data_b x-input x-border x-padding" id="respondents_e-mail" name="email" type="text" placeholder=" Enter Email" required>
			</div>
			<div class="x-col l6 x-container x-padding">
				<span class="x-text-">Contact Number:</span>
				<input class="form_data_b x-input x-border x-padding" id="respondents_mobile" name="text" type="text" placeholder=" Enter Email" required><br>
				<span class="">Gender:</span>
				<span class="x-text-">male:</span>
				<input class="form_data_b x-radio" id="respondents_gender_male" type="radio" name="gender" value="male" >
				<span class="x-text-">female:</span>
				<input class="form_data_b x-radio" id="respondents_gender_female" type="radio" name="gender" value="Female"><br>
			</div>
		</div>

		<div class="x-row x-section x-padding">

		</div>

		<br>


</div>