<!-- 
<div id="form_header" class="main-title">

</div>
-->
<div class="x-container x-padding-xlarge x-card x-light-grey">
	<h2 class="x-teal x-padding x-round-xxlarge">FO Governance, Communication, and Planning</h2>
	<br>
	<div class="x-container x-padding">
		<div class="x-row x-container ">
			<h4><label class=""><b>General Assembly</b></label></h4>
			<span class=""> Frequency of GA (as required by the CBL)</span>
			<div class="x-col l6">
				<input class="form_data_b x-radio" id="fo_general_assembly_annual_checkbox" type="checkbox" name="scope"  >
				<span class="">Annual</span>
				<input class="form_data_b x-radio" id="fo_general_assembly_biannual_checkbox" type="checkbox" name="scope"  >
				<span class="">Biannual</span>
				<br>
			</div> 
		</div>
		<div class="x-col l6">
			<span class="">Is the schedule being followed</span>
			<br>
		</div>
		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_general_assembly_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_general_assembly_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
			<br><br><br><br>
		</div>

		<div class="x-row x-container ">
			<h4><label class=""><b>Board</b></label></h4>
			<span class="">Board Members Composition</span>

			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px">
				<label>Male</label>
				<input class="form_data_b x-input x-light-grey" id="fo_board_male" type="text" placeholder="">
			</div>
			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px; ">
				<label>Female</label>
				<input class="form_data_b x-input x-light-grey" id="fo_board_female" type="text" placeholder="">
				<br>
			</div>
		</div>

		<div class="x-col l6">
			<span class="">How long is the Board’s term of office?</span>
			<br>
		</div>
		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_board_1year_checkbox" type="checkbox" name="scope"  >
			<span class="">1Year</span>
			<input class="form_data_b x-radio" id="fo_board_2year_checkbox" type="checkbox" name="scope"  >
			<span class="">2Year</span>
			<input class="form_data_b x-radio" id="fo_board_3year_checkbox" type="checkbox" name="scope"  >
			<span class="">3Year</span>
		</div>
		<br>
		<div class="x-col l6">

			<br>
		</div>

		<br>
		<div class="x-col l6"->
			<span class="">How often do the Board Meetings take place?</span>
			<br>
		</div>


		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_board_monhtly_checkbox" type="checkbox" name="scope"  >
			<span class="">Monthly</span>
			<input class="form_data_b x-radio" id="fo_board_biannual_checkbox" type="checkbox" name="scope"  >
			<span class="">Biannual</span>
			<input class="form_data_b x-radio" id="fo_board_quarterly_checkbox" type="checkbox" name="scope"  >
			<span class="">Quarterly</span>
			<input class="form_data_b x-radio" id="fo_board_annual_checkbox" type="checkbox" name="scope"  >
			<span class="">Annual</span>
			<br>
		</div>
		<div class="x-col l6">
			<span class="">Is the schedule being followed?</span>
			<br>
		</div>
		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_board_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_board_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
			<br>
			<br>
			<br>
			<br>
		</div> 

		<div class="x-row">
			<div class="x-col l6 ">
				<label class=""><b>Management Committee</b></label><br>
				<br>
				<span class="">Management Committee (ManCom) Composition</span>
				<div class="x-col l2 ">
					<br>
				</div>
			</div>
			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px">
				<label># of Male</label>
				<input class="form_data_b x-input x-light-grey" id="fo_management_male_checkbox" type="text" placeholder="">
			</div>
			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px; ">
				<label># of Female</label>
				<input class="form_data_b x-input x-light-grey" id="fo_management_female_checkbox" type="text" placeholder="">
				<br>
			</div>

			<div class="x-row x-section x-padding ">
				<div class="x-col l6">
					<span class="">How were the ManCom put in place?</span>
					<br>
				</div>
				<div class="x-col l6">
					<input class="form_data_b x-radio" id="election_checkbox" id="fo_management_election_checkbox" type="checkbox" name="scope"  >
					<span class="">Election, by</span>
					<input class="form_data_b x-input x-light-grey " style="width: 100%;" id="fo_management_election" type="text" placeholder="">
					<input class="form_data_b x-radio" id="appointment_checkbox" id="fo_management_appointment_checkbox" type="checkbox" name="scope"  >
					<span class="">Appointment with whom?</span>
					<input class="form_data_b x-input x-light-grey " style="width: 100%;" id="fo_management_appiontment" type="text" placeholder="">
					<br>
				</div>
			</div>

			<div class="x-col l0">
				&nbsp;
			</div>
			<div class="x-col l6 ">
				<h4><label class=""><b>Good Governance</b></label></h4>
				<span class="">Is there a constitution/by-laws guiding your organization?</span>
			</div>
			<div class="x-col l6">
				<br>
				<br>
				<input class="form_data_b x-radio" id="fo_good_governance_constitution_yes_checkbox" type="checkbox" name="scope"  >
				<span class="">Yes</span>
				<input class="form_data_b x-radio" id="fo_good_governance_constitution_no_checkbox" type="checkbox" name="scope"  >
				<span class="">No</span>
			</div> 	
			<div class="x-col l6 ">
				<br>
				<span class="">Are collectively-owned assets managed according to the provisions contained in the by-laws?</span>
			</div>
			<div class="x-col l6">
				<br>
				<input class="form_data_b x-radio" id="fo_good_governance_collectively_yes_checkbox" type="checkbox" name="scope"  >
				<span class="">Yes</span>
				<input class="form_data_b x-radio" id="fo_good_governance_collectively_no_checkbox" type="checkbox" name="scope"  >
				<span class="">No</span>
			</div>

			<div class="x-col l0">
				&nbsp;
			</div>

			<div class="x-col l6 ">
				<span class="">Are key decisions of the FO/cooperative discussed at gen. assembly?</span>
			</div>
			<div class="x-col l6">
				<input class="form_data_b x-radio" id="fo_good_governance_decisions_yes_checkbox" type="checkbox" name="scope"  >
				<span class="">Yes</span>
				<input class="form_data_b x-radio" id="fo_good_governance_decisions_no_checkbox" type="checkbox" name="scope"  >
				<span class="">No</span>
				<br>
				<br>
			</div> 
			<br>
		</div><br><br>

		<div class="x-col l6 ">
			<label class=""><b>Communication</b></label><br>
			<span class="">Are the objectives of the organization clearly understood and shared among members?</span>
		</div>
		<div class="x-col l6">
			<br>
			<input class="form_data_b x-radio" id="fo_good_governance_objectives_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_good_governance_objectives_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
			<br>
		</div> 	
		<div class="x-col l6 ">
			<br>
			<span class="">Members know how the organizations functions</span>
		</div>
		<div class="x-col l6">
			<br>
			<input class="form_data_b x-radio" id="fo_good_governance_ofunctions_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_good_governance_ofunctions_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
		</div>
		<div class="x-col l0">
			&nbsp;
		</div>
		<div class="x-col l6 ">
			<span class="">Members received systematic feedback from meetings on decisions made by officers</span>
		</div>
		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_good_governance_systematic_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_good_governance_systematic_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
			<br>
			<br>
		</div>
		<div class="x-col l0">
			&nbsp;
		</div>
		<div class="x-col l6 ">
			<span class="">Information is circulated internally from top to bottom and vice versa</span>
		</div>
		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_good_gevernance_information_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_good_gevernance_information_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
			<br>
			<br>
		</div><br><br>

		<div class="x-col l6 ">
			<br>
			<h4><label class=""><b>Planning</b></label></h4>
			<span class="">Do you have an action plan/business plan?</span>
		</div>
		<div class="x-col l6">
			<br>
			<br>
			<br>
			<input class="form_data_b x-radio" id="fo_planning_action_plan_checkbox" type="checkbox" name="scope"  >
			<span class="">Action Plan</span>
			<input class="form_data_b x-radio" id="fo_planning_business_plan_checkbox" type="checkbox" name="scope"  >
			<span class="">Business Plan</span>
			<input class="form_data_b x-radio" id="fo_planning_none_checkbox" type="checkbox" name="scope"  >
			<span class="">None</span>
			<br>
		</div>
		<div class="x-col l6 ">
			<span class="">Who facilitated the planning activity?</span>
			<div class="x-col l6">
			</div>
		</div>
		<div class="x-col l4" style="margin-bottom: 5px; margin-left: 15px; width: 46%;">
			<input class="form_data_b x-input x-light-grey" id="fo_planning_facilitated_activity" type="text" placeholder="">
		</div>
		<div class="x-col l6 ">
			<span class="">Who participated in the planning activity? </span>
			<div class="x-col l6 ">
			</div>
		</div>
		<div class="x-col l4" style="margin-bottom: 5px; margin-left: 15px; width: 46%;">
			<input class="form_data_b x-input x-light-grey" id="fo_planning_participated_activity" type="text" placeholder="">
		</div>
		<div class="x-col l6 ">
			<span class="">How many years does it cover?</span>
			<div class="x-col l6 ">
			</div>
		</div>
		<div class="x-col l4" style="margin-bottom: 5px; margin-left: 15px; width: 46%;">
			<input class="form_data_b x-input x-light-grey" id="fo_planning_years_cover" type="text" placeholder="">
		</div>


		<div class="x-col l6 ">
			<span class="">Is gender concerns considered/included in your planning?</span>
		</div>
		<div class="x-col l6">
			<input class="form_data_b x-radio" id="fo_planning_gender_concerns_yes_checkbox" type="checkbox" name="scope"  >
			<span class="">Yes</span>
			<input class="form_data_b x-radio" id="fo_planning_gender_concerns_no_checkbox" type="checkbox" name="scope"  >
			<span class="">No</span>
			<br>
			<br>
		</div>
	</div>

<!-- <div class="x-row">
<p class="x-center">
<br>
<br>
<br>
<input class="x-blue x-form_data_b" id="fo_button_back" type="button" onclick="get_forms('/formb/operational');" value="Back" />
<input class="x-blue x-form_data_b" id="fo_button_next" type="button" onclick="get_forms('/formb/admin');" value="Next" />
</p>
</div> -->
</div>
