<!-- 
<div id="form_header" class="main-title">

</div>
-->
<div class="x-container x-card x-light-grey x-padding" >
	<h2 class=" x-container x-teal x-padding x-xlarge" style="text-align:center;" id="b4">FO Governance, Communication, and Planning</h2>
	<div class="x-container x-padding">
		<div class="x-col l12 x-padding">
			<h4 class="x-border-bottom"><b>General Assembly</b></h4>
		</div>
		<div class="x-row" style="align-items: center; gap: 20px;">
			
			<!-- Frequency dropdown -->
			<div class="x-col l6 x-padding">
				<label for="fo_general_assembly_frequency"><span>Frequency of GA (as required by the CBL):</span></label>
				<select class="form_data_b x-select x-border" id="fo_general_assembly_frequency" >
					<option value="" disabled selected>Choose option</option>
					<option value="annual">Annual</option>
					<option value="biannual">Biannual</option>
				</select>
			</div>
		
			<!-- Schedule followed dropdown -->
			<div class="x-col l6 x-padding">
				<label for="fo_general_assembly_followed"><span>Is the schedule being followed?</span></label>
				<select class="form_data_b x-select x-border" id="fo_general_assembly_followed">
					<option value="" disabled selected>Choose option</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>
		</div>		

	<!--<div class="x-row x-container ">
			<h4><label class=""><b>Board</b></label></h4>
			<span class="">Board Members Composition</span>

			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px">
				<label>Male</label>
				<input class="form_data_b x-input x-light-grey" id="fo_board_male" type="number" placeholder="">
			</div>
			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px; ">
				<label>Female</label>
				<input class="form_data_b x-input x-light-grey" id="fo_board_female" type="number" placeholder="">
				<br>
			</div>
		</div>-->	

		<div class="x-row" style="align-items: center; gap: 20px;">

			<!-- Board term (number input) -->
			<div class="x-col l4 x-padding">
				<label for="fo_board_term "><span>How long is the Board’s term of office (years)?</span></label>
				<input class="form_data_b x-input x-border x-padding" type="number" id="fo_board_term"  min="1" placeholder="Enter years">
			</div>
		
			<!-- Board meetings frequency -->
			<div class="x-col l4 x-padding">
				<label for="fo_board_meetings"><span>How often do Board Meetings take place?</span></label>
				<select class="form_data_b x-select x-border x-padding" id="fo_board_meetings" >
					<option value="" disabled selected>Choose option</option>
					<option value="monthly">Monthly</option>
					<option value="biannual">Biannual</option>
					<option value="quarterly">Quarterly</option>
					<option value="annual">Annual</option>
				</select>
			</div>
		
			<!-- Schedule followed -->
			<div class="x-col l4 x-padding">
				<label for="fo_board_schedule"><span>Is the schedule being followed?</span></label>
				<select class="form_data_b x-select x-border x-padding" id="fo_board_schedule" >
					<option value="" disabled selected>Choose option</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>
		</div>
		

		<div class="x-row">
			<!--<div class="x-col l6 ">
				<label class=""><b>Management Committee</b></label><br>
				<br>
				<span class="">Management Committee (ManCom) Composition</span>
				<div class="x-col l2 ">
					<br>
				</div>
			</div>
			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px">
				<label># of Male</label>
				<input class="form_data_b x-input x-light-grey" id="fo_management_male_checkbox" type="number" placeholder="">
			</div>
			<div class="x-col l2" style="margin-top: 20px; margin-left: 15px; ">
				<label># of Female</label>
				<input class="form_data_b x-input x-light-grey" id="fo_management_female_checkbox" type="number" placeholder="">
				<br>
			</div>

			<div class="x-row x-section x-padding ">
				<div class="x-col l6">
					<span class="">How were the ManCom put in place?</span>
					<br>
				</div>
				<div class="x-col l6">
					<input class="form_data_b x-radio" id="election_checkbox" id="fo_management_election_checkbox" type="checkbox" name="scope"  >
					<span class="">Election, by</span>
					<input class="form_data_b x-input x-light-grey " style="width: 100%;" id="fo_management_election" type="text" placeholder="">
					<input class="form_data_b x-radio" id="appointment_checkbox" id="fo_management_appointment_checkbox" type="checkbox" name="scope"  >
					<span class="">Appointment with whom?</span>
					<input class="form_data_b x-input x-light-grey " style="width: 100%;" id="fo_management_appiontment" type="text" placeholder="">
					<br>
				</div>
			</div>-->
			<br>
			<div class="x-row">

				<!-- Good Governance -->
				<div class="x-col l12 x-padding">
					<h4 class="x-border-bottom"><b>Good Governance</b></h4>
				</div>
			
				<div class="x-col l6 x-padding">
					<span>Is there a constitution/by-laws guiding your organization?</span>
					<select class="form_data_b x-select x-border" id="fo_good_governance_constitution">
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>

				<div class="x-col l6 x-padding">
					<span>Are key decisions of the FO/cooperative discussed at gen. assembly?</span>
					<select class="form_data_b x-select x-border" id="fo_good_governance_decisions" >
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<div class="x-col l8 x-padding">
					<span>Are collectively-owned assets managed according to the provisions contained in the by-laws?</span>
					<select class="form_data_b x-select x-border" id="fo_good_governance_collectively" >
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>


				<!-- Communication -->
				<div class="x-col l12 x-padding">
					<br>
					<h4 class="x-border-bottom"><b>Communication</b></h4>
				</div>
			
				<div class="x-col l6 x-padding">
					<span>Are the objectives of the organization clearly understood and shared among members?</span>
					<select class="form_data_b x-select x-border" id="fo_good_governance_objectives" >
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<div class="x-col l6 x-padding">
					<span>Members know how the organizations functions</span>
					<select class="form_data_b x-select x-border" id="fo_good_governance_ofunctions">
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<div class="x-col l6 x-padding">
					<span>Members received systematic feedback from meetings on decisions made by officers</span>
					<select class="form_data_b x-select x-border" id="fo_good_governance_systematic" >
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<div class="x-col l6 x-padding">
					<span>Information is circulated internally from top to bottom and vice versa</span>
					<select class="form_data_b x-select x-border" id="fo_good_gevernance_information" >
						<option value="" disabled selected>Choose option</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-col l12 x-padding">
				<br>
				<h4 class="x-border-bottom"><b>Planning</b></h4>
			
				<table class="x-table x-bordered x-striped" style="width:100%;">
					<tr>
						<td style="width: 50%;">Do you have an action plan/business plan?</td>
						<td>
							<select class="form_data_b x-select x-border" id="fo_planning_action_plan" >
								<option value="" disabled selected>Choose option</option>
								<option value="action_plan">Action Plan</option>
								<option value="business_plan">Business Plan</option>
								<option value="none">None</option>
							</select>
						</td>
					</tr>
			
					<tr>
						<td>Who facilitated the planning activity?</td>
						<td>
							<input class="form_data_b x-input" id="fo_planning_facilitated_activity" type="text" placeholder="Enter name">
						</td>
					</tr>
			
					<tr>
						<td>Who participated in the planning activity?</td>
						<td>
							<input class="form_data_b x-input" id="fo_planning_participated_activity" type="text" placeholder="Enter participants">
						</td>
					</tr>
			
					<tr>
						<td>How many years does it cover?</td>
						<td>
							<input class="form_data_b x-input" id="fo_planning_years_cover" type="text" placeholder="Enter number of years">
						</td>
					</tr>
			
					<tr>
						<td>Is gender concerns considered/included in your planning?</td>
						<td>
							<select class="form_data_b x-select x-border" id="fo_planning_gender_concerns">
								<option value="" disabled selected>Choose option</option>
								<option value="yes">Yes</option>
								<option value="no">No</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
			
	</div>
</div>

<!-- <div class="x-row">
<p class="x-center">
<br>
<br>
<br>
<input class="x-blue x-form_data_b" id="fo_button_back" type="button" onclick="get_forms('/formb/operational');" value="Back" />
<input class="x-blue x-form_data_b" id="fo_button_next" type="button" onclick="get_forms('/formb/admin');" value="Next" />
</p>
</div> -->
</div>
