

<!-- <div id="form_header" class="main-title">
	
</div> -->

<div class="x-padding x-container x-light-grey x-card">
	<b> <h4 class=" x-container x-teal x-padding x-round-xxlarge">Administrative and financial management and human resources management</h4></b>
	<br>

	<div class="x-row x-container ">
		<h4><b>Management Committee</b></h4><br>

		<div class="x-row x-container x-padding">
			<span class=""><b>Administration</b></span><br>
			<div class="x-row x-container x-border-dashed x-border-grey">
				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_business_checkbox" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">Business Registration</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by1" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_business_expiration_date1" type="date" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>

				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_product_checkbox" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">Product Registration</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by2" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" type="date" id="admin_product_expiration_date2" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>

				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_certificate_checkbox" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">Certificate of Registration</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by3" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_expiration_date_3" type="date" id="admin_certificate_expiration_date" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>

				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_license_checkbox" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">License to Operate</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by4" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_expiration_date_4" type="date" id="admin_license_expiration_date" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>

				<div class="x-row x-container x-padding ">
					<span class=""><b>Product Quality</b></span><br>
					<div class="x-row x-container x-border-dashed x-border-grey">
						<div class="x-col l4">
							<span class="">ISO Certification</span>
							<input class="form_data_b x-input x-padding x-border" id="admin_product_quality_iso_certification" type="text" name="scope" placeholder="Specific ISO Certification" style="margin-right: -20px;" >
						</div>
						<div class="x-col l4">
							<span class="">Issued By</span>
							<input class="form_data_b x-input x-padding x-border" id="admin_product_quality_iso_issued_5" type="text" name="scope" placeholder="Input name issuer" >
						</div>
						<div class="x-col l4">
							<span class="">Expiration Date</span>
							<input class="form_data_b x-input  x-padding x-border" id="admin_product_quality_expiration,date_5" type="date" id="admin_iso_expiration_date" name="scope" style="height: 40px;" placeholder="" >
						</div>
					</div>
				</div>

				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_gap_checkbox" id="admin_product_quality_iso_certification" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">GAP/ GMP Certification</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by6" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_expiration_date6" type="date" id="admin_gap_expiration_date" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>

				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_organic_checkbox" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">Organic</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by7" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_expiration_date7" type="date" id="admin_organic_expiration_date" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>
				<div class="x-row x-container x-border-dashed x-border-grey">
					<div class="x-col l4 x-container x-padding">
						<input class="form_data_b x-radio x-padding x-border" id="admin_halal_checkbox" type="checkbox" name="scope" placeholder="" value="yes" >
						<span class="">Halal</span>
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Issued By</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_issued_by8" type="text" name="scope" placeholder="Input name of issuer" >
						<br>
					</div>
					<div class="x-col l4 x-container">
						<span class="">Expiration Date</span>
						<input class="form_data_b x-input x-padding x-border" id="admin_expiration_date8" type="date" id="admin_halal_expiration_date" name="scope" placeholder="" value="yes" >
						<br>
					</div>
				</div>

				<div class="x-row x-padding x-container ">
					<div class="x-row x-container x-border-dashed x-border-grey">
						<div class="x-col l4">
							<span class="">Other Certification: </span>
							<input class="form_data_b x-input x-padding x-border" id="admin_other_certification" type="text" name="scope" placeholder="Specific ISO Certification" style="margin-right: -20px;" >
						</div>
						<div class="x-col l4">
							<span class="">Issued By</span>
							<input class="form_data_b x-input x-padding x-border" id="admin_issued_by9" type="text" name="scope" placeholder="Specific ISO Certification" >
						</div>
						<div class="x-col l4">
							<span class="">Expiration Date</span>
							<input class="form_data_b x-input  x-padding x-border" id="admin_expiration_date9" type="date" id="admin_other_expiration_date" name="scope" style="height: 40px;" placeholder="" >
						</div>
					</div>
				</div>
				<br>


				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container ">
							<label class=""><b>Availability of management and planning documents</b></label><br>
							<br>
							<span class="">Manual of procedures</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<br>
							<br>
							<br>
							<input class="form_data_b x-radio" id="admin_manual_yes_checkbox" type="checkbox" name="scope" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_manual_no_checkbox" type="checkbox" name="scope">
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container ">
							<span class="">List of members of the Board of Directors<br><i>(name, sex, and position, including positions of chairperson, secretary and treasurer)</i></span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_list_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_list_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>
				<br>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container ">
							<span class="">List of staff <i>(name, gender and position)</i></span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_staff_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_staff_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container ">
							<span class="">Organizational Chart</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_organizational_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_organizational_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>


				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container ">
							<span class="">General annual budget for the entire organization</span>
						</form>
					</div>

					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_general_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_general_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container ">
							<span class="">Most recent financial audit report with financial statements for the entire organization</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_financial_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_financial_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container x-padding ">
							<label class=""><b>Financial management and annual audit</b></label><br>
							<br>
							<span class="">Do you have a minutes book/register?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<br>
							<br>
							<input class="form_data_b x-radio" id="admin_financial_management_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_financial_management_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Do you have a bank book/register?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_bank_book_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_bank_book_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Do you have a cash book/register?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_cash_book_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_cash_book_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>


				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Do you have permanent/ full time book/ record keeper?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_record_keeper_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_record_keeper_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Is the bank account in the organization’s name?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_bank_account_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_bank_account_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Is an annual audit provided by an outside agency?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_annual_audit_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_annual_audit_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>


				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Is the audit done by a registered auditor?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_registered_audit_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_registered_audit_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>


				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Do the members vote on the choice of auditor?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_choice_auditor_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_choice_auditor_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>



				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Does the board choose the auditors?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_board_choose_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_board_choose_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Is an annual budget developed and integrated into the annual work plan?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_annual_budget_yes_checkbox" type="checkbox" name="scope" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_annual_budget_no_checkbox" type="checkbox" name="scope" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>


				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container">
							<span class="">Is the financial management computerized?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_fmc_yes_checkbox" type="checkbox" name="scope">
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_fmc_no_checkbox" type="checkbox" name="scope">
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6">
						<div class="x-col l9">
							<form class="x-container ">
								<label class="">Which software is used for financial management and accounting?</label>
								<textarea  class="form_data_b x-input" placeholder="Write Here" style="width: 120%;" type="text"></textarea><br>
							</form>
						</div>
					</div>

					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_software_fmc_checkbox" type="checkbox" name="scope" value="">
							<span class="">None</span>
						</form>
					</div>
				</div>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container x-padding ">
							<label class=""><b>Financial management and annual audit</b></label><br><br>
							<span class="">Is there a team to monitor the activities of the organization? </span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container"><br><br>
							<input class="form_data_b x-radio" id="admin_fmaa_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_fmma_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
				</div>
				<br>
				<div class="x-row x-container" >
					<div class="x-col l6">
						<div class="x-col l9">
							<form class="x-container ">
								<label class="">Who is in- charge of monitoring and how is it done?</label>
								<textarea class="form_data_b x-input " style="width: 120%;" type="text" placeholder="Write Here" required></textarea>
							</form>
						</div>
					</div>
				</div>
				<br>
				<div class="x-row x-container">
					<div class="x-col l6">
						<div class="x-col l9">
							<form class="x-container "><br>
								<label class="">Who is in charge of evaluation of your action plan?</label>
								<textarea class="form_data_b x-input" style="width: 120%;" type="text" placeholder="Write Here" required></textarea>
							</form>
						</div>
					</div>
					<br>
					<div class="x-col l6">
						<form class="x-container">
							<input class="form_data_b x-radio" id="admin_action_plan_none_checkbox" type="checkbox" name="scope" value="" >
							<span class="">None</span>
						</form>
					</div>
				</div>
				<br>

				<div class="x-row x-container">
					<div class="x-col l6 ">
						<form class="x-container x-padding ">
							<label class="">Human resources management</label><br>
							<br>
							<span class="">Do you have staff managing the organization regularly?</span>
						</form>
					</div>
					<div class="x-col l6">
						<form class="x-container">
							<br>
							<br>
							<input class="form_data_b x-radio" id="admin_staff_managing_yes_checkbox" type="checkbox" name="scope" value="Annual" >
							<span class="">Yes</span>
							<input class="form_data_b x-radio" id="admin_staff_managing_no_checkbox" type="checkbox" name="scope" value="biannual" >
							<span class="">No</span>
						</form>
						<br>
					</div>
					<div class=" x-row x-container x-padding" >
						<p>If yes, fill in table below.</p>
						<style> 
							table, th, td{border: 1px solid black;border-collapse: collapse;}
						</style>

						<table class="x-table x-border x-card">
							<tr>
								<th>Staff</th>
								<th>Number</th>
								<th>Paid (Yes/No)</th>
								<th>Specific Functions</th>
							</tr>
							<tr>
								<td>Technical</td>
								<td><input class="form_data_b x-input x-light-grey " style="width: 100%;" id="admin_technical_number" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey " style="width: 100%;" id="admin_technical_paid" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey " style="width: 100%;" id="admin_technical_specific" type="text" placeholder="" required></td>
							</tr>
							<tr>
								<td>Non-Technical</td>
								<td><input class="form_data_b x-input x-light-grey " style="width: 100%;" id="admin_non_technical_number" type="text" placeholder="" required></td>	
								<td><input class="form_data_b x-input x-light-grey " style="width: 100%;" id="admin_non_technical_number" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey " style="width: 100%;" id="admin_none_technical_number" type="text" placeholder="" required></td>
							</tr>
						</table>
					</div>


				</div>
			</div>
		</div>
		<br>
		<br>
		<br>

<!-- 		<div class="x-center">
			<p class="x-center">
				<input class="x-blue x-form_data_b"  id="admin_button_back" type="button" onclick="get_forms('/formb/FoGCP');" value="Back" />
				<input class="x-blue x-form_data_b" id="admin_button_next" type="button" onclick="get_forms('/formb/capacity');" value="Next" />
			</p>
		</div> -->
	</div>
</div>

<script type="text/javascript">
	function c(argument) {
		var all_field = document.getElementsByClassName(argument);
		var all_values = {}
		for (var i = 0; i < all_field.length; i++) {
			all_values[all_field[i].id] =all_field[i].value
		}
		console.log(all_values)
		console.log(all_field.length)
	}
</script>