

<!-- <div id="form_header" class="main-title">
	
</div> -->

<div class="x-padding x-container x-light-grey x-card">
	<b> <h2 class=" x-container x-teal x-padding x-xlarge" style="text-align:center;" id="b5">Administrative and financial management and human resources management</h2></b>
	<br>
	<div class="x-col l12 x-container x-padding">
		<h4 class="x-padding x-container x-border-bottom"><b>Management Committee</b></h4><br>
	</div>
		<div class="x-row x-container x-padding">
			<div class="x-col l12 x-padding">
				<h5><b>Administration</b></h5>
			
				<table class="x-table x-bordered x-striped" style="width:100%; border-collapse: collapse;">
					<thead>
						<tr>
							<th style="width: 30%;">Certification / Registration</th>
							<th style="width: 35%;">Issued By</th>
							<th style="width: 35%;">Expiration Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input class="form_data_b" type="checkbox" id="admin_business_checkbox" value=""> Business Registration</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by1" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_business_expiration_date1" type="date"></td>
						</tr>
						<tr>
							<td><input class="form_data_b" type="checkbox" id="admin_product_checkbox" value=""> Product Registration</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by2" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_product_expiration_date2" type="date"></td>
						</tr>
						<tr>
							<td><input class="form_data_br" type="checkbox" id="admin_certificate_checkbox" value=""> Certificate of Registration</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by3" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_expiration_date_3" type="date"></td>
						</tr>
						<tr>
							<td><input class="form_data_b" type="checkbox" id="admin_license_checkbox" value=""> License to Operate</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by4" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_expiration_date_4" type="date"></td>
						</tr>
			
						<!-- Product Quality -->
						<tr>
							<td>ISO Certification <br><input class="form_data_b x-input x-border" id="admin_product_quality_iso_certification" type="text" placeholder="Specific ISO Certification"></td>
							<td><input class="form_data_b x-input x-border" id="admin_product_quality_iso_issued_5" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_product_quality_expiration,date_5" type="date"></td>
						</tr>
						<tr>
							<td><input class="form_data_b" type="checkbox" id="admin_gap_checkbox" value=""> GAP / GMP Certification</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by6" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_expiration_date6" type="date"></td>
						</tr>
						<tr>
							<td><input class="form_data_b" type="checkbox" id="admin_organic_checkbox" value=""> Organic</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by7" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_expiration_date7" type="date"></td>
						</tr>
						<tr>
							<td><input class="form_data_b" type="checkbox" id="admin_halal_checkbox" value=""> Halal</td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by8" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_expiration_date8" type="date"></td>
						</tr>
						<tr>
							<td>Other Certification <br><input class="form_data_b x-input x-border" id="admin_other_certification" type="text" placeholder="Specify Certification"></td>
							<td><input class="form_data_b x-input x-border" id="admin_issued_by9" type="text" placeholder="Input name of issuer"></td>
							<td><input class="form_data_b x-input x-border" id="admin_expiration_date9" type="date"></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<br>


			<div class="x-col l12 x-padding"><br>
				<h4 class="x-border-bottom"><b>Availability of Management and Planning Documents</b></h4>
			</div>

			
			<div class="x-row">
				<!-- Manual of Procedures -->
				<div class="x-col l6 x-padding">
					<span>Manual of procedures</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_manual">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- List of Board of Directors -->
				<div class="x-col l6 x-padding">
					<span>List of members of the Board of Directors <br><i>(name, sex, and position including chairperson, secretary, treasurer)</i></span>
					<select class="form_data_b x-input x-border x-padding" id="admin_list">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- List of Staff -->
				<div class="x-col l6 x-padding">
					<span>List of staff <i>(name, gender and position)</i></span>
					<select class="form_data_b x-input x-border x-padding" id="admin_staff">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- Organizational Chart -->
				<div class="x-col l6 x-padding">
					<span>Organizational Chart</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_organizational">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- General Annual Budget -->
				<div class="x-col l6 x-padding">
					<span>General annual budget for the entire organization</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_general">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-container x-row x-padding">
				<h4 class="x-border-bottom"><b>Financial Management and Annual Audit</b></h4>
			</div>
			
			<div class="x-row">
				<!-- Minutes Book -->
				<div class="x-col l6 x-padding">
					<span>Do you have a minutes book/register?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_financial_management">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- Bank Book -->
				<div class="x-col l6 x-padding">
					<span>Do you have a bank book/register?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_bank_book">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- Cash Book -->
				<div class="x-col l6 x-padding">
					<span>Do you have a cash book/register?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_cash_book">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- Record Keeper -->
				<div class="x-col l6 x-padding">
					<span>Do you have permanent/full-time book/record keeper?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_record_keeper">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- Bank Account -->
				<div class="x-col l6 x-padding">
					<span>Is the bank account in the organization’s name?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_bank_account">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- Annual Audit -->
				<div class="x-col l6 x-padding">
					<span>Is an annual audit provided by an outside agency?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_annual_audit">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- Registered Auditor -->
				<div class="x-col l6 x-padding">
					<span>Is the audit done by a registered auditor?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_registered_audit">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- Members Vote -->
				<div class="x-col l6 x-padding">
					<span>Do the members vote on the choice of auditor?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_choice_auditor">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- Board Chooses Auditor -->
				<div class="x-col l6 x-padding">
					<span>Does the board choose the auditors?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_board_choose">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			
				<!-- Annual Budget Integrated -->
				<div class="x-col l6 x-padding">
					<span>Is an annual budget developed and integrated into the annual work plan?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_annual_budget">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			
			<div class="x-row">
				<!-- Computerized Financial Management -->
				<div class="x-col l6 x-padding">
					<span>Is the financial management computerized?</span>
					<select class="form_data_b x-input x-border x-padding" id="admin_fmc">
						<option value="">Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>
				</div>
			</div>
			

			<!-- First question outside the table -->
			<div class="x-row x-container x-padding">
				<div class="x-col l12">
					<label class="">Which software is used for financial management and accounting?</label>
					<div class="x-row" style="align-items:center;">
						<div class="x-col l6">
							<textarea class="form_data_b x-input" id="admin_software_fmc_textarea" placeholder="Write Here" style="width:100%;"></textarea>
						</div>
						<div class="x-col l3" style="margin-left: 20px;">
							<input class="form_data_b x-radio" id="admin_software_fmc_checkbox" type="checkbox"value="">
							<span class="">&nbsp;None</span>
						</div>
					</div>
				</div>
			</div>			
			<br>

			<!-- Monitoring and Evaluation table -->
			<div class="x-row x-container x-padding">
			<table class="x-table x-bordered" style="width:100%; border-collapse: collapse;">
				<tr>
					<th colspan="2" style="text-align:center; padding:8px;">
						Monitoring and Evaluation
					</th>
				</tr>

				<tr>
					<td style="width:50%;">
						<label class="">Is there a team to monitor the activities of the organization?</label>
					</td>
					<td>
						<select class="form_data_b x-select x-border" id="admin_fmaa_dropdown" style="width:95%;">
							<option value="" disabled selected>Choose option</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>
						<label class="">Who is in-charge of monitoring and how is it done?</label>
					</td>
					<td>
						<textarea class="form_data_b x-input" id="admin_monitoring_textarea" style="width:95%;" placeholder="Write Here" required></textarea>
					</td>
				</tr>

				<tr>
					<td>
						<label class="">Who is in charge of evaluation of your action plan?</label>
					</td>
					<td>
						<textarea class="form_data_b x-input" id="admin_action_plan_textarea" style="width:95%;" placeholder="Write Here" required></textarea>
						<br>
						<input class="form_data_b x-radio" id="admin_action_plan_none_checkbox" type="checkbox" value="">
						<span class="">None</span>
					</td>
				</tr>
				<th colspan="2" style="text-align:center; padding:8px;">
					Human resources management
				</th>
				<tr>
					<td style="width:50%;">
						<label class="">Is there a team to monitor the activities of the organization?</label>
					</td>
					<td>
						<select class="form_data_b x-select x-border" id="admin_staff_dropdown" style="width:95%;">
							<option value="" disabled selected>Choose option</option>
							<option value="yes">Yes</option>
							<option value="no">No</option>
						</select>
					</td>
				</tr>
			</table>
			</div>

				<br>

				<div class="x-row">
					<div class="x-row x-container x-padding">
						<p>If yes, fill in table below.</p>
				
						<table class="x-table x-border">
							<tr>
								<th>Staff</th>
								<th>Number</th>
								<th>Paid (Yes/No)</th>
								<th>Specific Functions</th>
							</tr>
							<tr>
								<td>Technical</td>
								<td><input class="form_data_b x-input x-light-grey" style="width: 100%;" id="admin_technical_number" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey" style="width: 100%;" id="admin_technical_paid" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey" style="width: 100%;" id="admin_technical_specific" type="text" placeholder="" required></td>
							</tr>
							<tr>
								<td>Non-Technical</td>
								<td><input class="form_data_b x-input x-light-grey" style="width: 100%;" id="admin_non_technical_number" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey" style="width: 100%;" id="admin_non_technical_paid" type="text" placeholder="" required></td>
								<td><input class="form_data_b x-input x-light-grey" style="width: 100%;" id="admin_non_technical_specific" type="text" placeholder="" required></td>
							</tr>
						</table>
					</div>
				</div>
				

			</div>
		

<!-- 		<div class="x-center">
			<p class="x-center">
				<input class="x-blue x-form_data_b"  id="admin_button_back" type="button" onclick="get_forms('/formb/FoGCP');" value="Back" />
				<input class="x-blue x-form_data_b" id="admin_button_next" type="button" onclick="get_forms('/formb/capacity');" value="Next" />
			</p>
		</div> -->
	</div>

<script type="text/javascript">
	function c(argument) {
		var all_field = document.getElementsByClassName(argument);
		var all_values = {}
		for (var i = 0; i < all_field.length; i++) {
			all_values[all_field[i].id] =all_field[i].value
		}
		console.log(all_values)
		console.log(all_field.length)
	}
</script>