<!-- 
<div id="form_header" class="main-title">
	
</div>
 -->

<div class="x-container x-card x-light-grey">
	<h2 class=" x-container x-teal x-padding x-xlarge" style="text-align:center;" id="b6">Capacity and Needs Assessment</h2>
	<br>


	<div class="x-container x-row x-padding " >
		<div class="x-padding x-container">
		<h4 class="x-border-bottom"><b>Input and equipment supply</b></h4>
		<table class="x-row x-table x-border">
			<tr>
				<td>How do you assess your members'<br>needs for inputs and equipment?</td>
				<td><textarea class="form_data_b x-border x-input " id="capacity_inputs_and_equipment" style="width: 100%;" type="text"></textarea>
				</td>
			</tr>
			<tr>
				<td>How do you ensure that all members <br> have access to needs of funds, inputs or equipment?</td>
				<td>
					<textarea class="form_data_b x-input x-border" id="capacity_inputs_requirment_dropdown" style="width: 100%;"></textarea>
				</td>				
			</tr>
			<tr>
				<td>How do you identify your suppliers?</td>
				<td><textarea class="form_data_b x-border x-input " id="capacity_identify_your_suppliers" style="width: 100%;" type="text"></textarea></td>	   	
			</tr>
		</table>
		</div>
		<br>


		<!--<div class="x-row x-container x-padding">
			<div class="x-col l6 ">
				<form class="x-container x-padding "><br>
					<h4><b>Training and Capacity Building</b></h4>
					<span class="">Did your members receive training?</span><br>
					<input class="form_data_b x-radio" id="capacity_trainging_yes_checkbox" type="checkbox" name="" value="yes" >
					<label class="">Yes</label><br>
					<input class="form_data_b x-radio" id="capacity_trainin_no_checkbox" type="checkbox" name="" value="no">
					<label class="">No, If yes, in what area?</label><br>
					<input class="form_data_b x-radio" id="capacity_training_productivity_checkbox" type="checkbox" name="" value="" >
					<span class="">Productivity enhancement</span><br>
					<input class="form_data_b x-radio" id="capacity_training_financial_checkbox" type="checkbox" name="" value="" >
					<span class="">Financial Management</span><br>
					<input class="form_data_b x-radio" id="capacity_training_product_development_checkbox" type="checkbox" name="" value="" >
					<span class="">Product Development</span><br>
					<input class="form_data_b x-radio" id="capacity_training_organizational_management_checkbox" type="checkbox" name="" value="" >
					<span class="">Organizational Management</span>
				</form>
			</div>
		</div>

		<div class="x-row x-section x-padding ">
			<div class="x-col l6 ">
				<form class="x-container x-padding ">
					<span class="">Are there members of your organization that needs trainings?</span><br>
					<input class="form_data_b x-radio" id="capacity_organization_training_yes_checkbox" type="checkbox" name="membership" value="yes" >
					<label class="">Yes</label>
					<input class="form_data_b x-radio" id="capacity_organization_training_no_checkbox" type="checkbox" name="membership" value="no">
					<label class="">No</label>
				</form>
			</div>
		</div>

		<div class="x-row x-section x-padding ">
			<div class="x-col l6 ">
				<form class="x-container x-padding ">
					<span class="">If yes, in what area?</span>
					<textarea class="form_data_b x-border x-input " id="capacity_training_in_what_area" style="width: 100%;" type="text"></textarea><br>
				</form>
			</div>
		</div>-->
	</div>

	<div class="x-padding x-container">
	<div class="x-row x-container">
		<h4><label class="x-border-bottom">Collecting, bulking, marketing of products <br>(identifying new clients, signing contracts, conducting market studies, promoting products)</label></h4>
	</div>

	<div class="x-container x-padding">
		<table class="x-row x-table x-container x-table-border">
			<tr>
				<td>
					Does the Organization undertake marketing activities?
				</td>
				<td>
					<select class="form_data_b x-input x-border" id="capacity_undertake_dropdown" style="width: 100%;">
						<option value="" disabled selected>Select</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				</td>
			</tr>			
			<tr>
				<td>How do you estimate your members' production level?</td>
				<td><input class="form_data_b x-input" id="capacity_production_level" type="text"></td>
			</tr>

			<tr>
				<td>How does your organization linked to markets/buyers? </td>
				<td><input class="form_data_b x-input" id="capacity_markets_buyers" type="text"></td>
			</tr>

			<tr>
				<td>What is your process in collecting products from members?</td>
				<td><input class="form_data_b x-input" id="capacity_products_from_members" type="text"></td>
			</tr>

			<tr>
				<td>How do you intend to manage and sustain your marketing activities?</td>
				<td><input class="form_data_b x-input" id="capacity_marketing_activities" type="text"></td>
			</tr>
		</table>
	</div>
	</div>
	<hr>

	<div class="x-row x-section x-padding">
		<div class="x-col">
			<form class="x-container x-padding">
				<h4 class="x-border-bottom"><label>Storage Facilities</h4>
			</form>
		</div>
	
		<div class="x-col l6 x-padding x-container">
			<span>Does the organization have storage facilities?</span>
			<select class="form_data_b x-input x-border x-padding x-container" id="capacity_org_storage_dropdown" style="width: 100%;">
				<option value="" disabled selected>Select</option>
				<option value="Yes">Yes</option>
				<option value="No">No (If yes, please fill up the matrix below)</option>
			</select>
		</div>
	</div>	

	<div class="x-row x-section x-padding">
	<div class="x-container x-padding">
		<table class="x-row x-table x-container x-table-border">
			<tr>
				<th>Storage<br>Facility</th>
				<th>Description</th>
				<th>Location*<br>(includeCoordinates)</th>
				<th>Size (Area)</th>
				<th>Capacity (volume)</th>
				<th>Storage Feeper Day<br>(in PhP)</th>
				<th>
					#Manpower
					(paidworkers)
				</th>
			</tr>

			<tr>
				<td>
					1
				</td>
				<td><input class="form_data_b x-input" id="capacity_description_1" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_location_include_1" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_size_area_1" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_capacity_volume_1" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_storage_feeper_day_1" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_manpower_paidworkers_1" type="text"></td>
			</tr>

			<tr>
				<td>
					2 
				</td>
				<td><input class="form_data_b x-input" id="capacity_description_2" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_location_include_2" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_size_area_2" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_capacity_volume_2" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_storage_feeper_day_2" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_manpower_paidworkers_2" type="text"></td>
			</tr>

			<tr>
				<td>
					3
				</td>
				<td><input class="form_data_b x-input" id="capacity_description_3" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_location_include_3" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_size_area_3" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_capacity_volume_3" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_storage_feeper_day_3" type="text"></td>
				<td><input class="form_data_b x-input" id="capacity_manpower_paidworkers_3" type="text"></td>
			</tr>
		</table>
		<label class=""><p>*RAPID Staff to take a photo of the facility using geotagging apps</p></label>
	</div>
	</div>

	<div class="x-row x-section x-padding x-round">
		<div class="x-col l6">
			<form class="x-container x-padding">
				<label class=""><h5><b>Market Information System</b></h5></label>
				<span class="">Does the organization have an internal Market Information System?</span><br>
				
				<select class="form_data_b x-input x-border" id="capacity_org_market_dropdown" style="width: 100%;">
					<option value="" disabled selected>Select</option>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
				
				<br>
				<label for="capacity_org_market_details">If Yes, how does it work?</label>
				<textarea class="form_data_b x-border x-input" id="capacity_org_market_details" style="height: 20vh; width: 100%;"></textarea>
			</form>
		</div>
	</div>

		<div class="x-row x-container x-padding">
			<h4 class="x-border-bottom x-padding"><b>Financial Service Accessed by FO</b></h4>
	  	</div>
	  
	  <div class="x-row x-padding">
		<!-- Loan / Cash Advance -->
		<div class="x-col l3 m6 s12 x-padding">
		  <label>Loan / Cash Advance</label>
		  <input class="form_data_b x-input x-border" type="text" id="loan_purpose" placeholder="Purpose of Loan">
		  <input class="form_data_b x-input x-border" type="text" id="loan_interest" placeholder="Interest Rate (%)" numberonly>
		  <input class="form_data_b x-input x-border" type="text" id="loan_term" placeholder="Loan Term">
		</div>
	  
		<!-- Savings -->
		<div class="x-col l3 m6 s12 x-padding">
		  <label>Savings</label>
		  <select class="form_data_b x-input x-border" id="savings_type">
			<option value="" disabled selected>Select Type</option>
			<option value="Top-up">Top-up</option>
			<option value="New">New</option>
		  </select>
		  <input class="form_data_b x-input x-border" type="text" id="savings_provider" placeholder="Name of Provider">
		</div>
	  
		<!-- Insurance -->
		<div class="x-col l3 m6 s12 x-padding">
		  <label>Insurance</label>
		  <select class="form_data_b x-input x-border" id="insurance_purpose">
			<option value="" disabled selected>Purpose</option>
			<option value="Crop">Crop</option>
			<option value="Life">Life</option>
			<option value="Medical">Medical</option>
			<option value="Credit">Credit</option>
			<option value="Others">Others</option>
		  </select>
		  <input class="form_data_b x-input x-border" type="text" id="insurance_provider" placeholder="Name of Provider">
		</div>

		<!-- Credit Guarantee -->
		<div class="x-col l3 m6 s12 x-padding">
			<label>Credit Guarantee</label>
			<input class="form_data_b x-input x-border" type="text" id="credit_purpose" placeholder="Purpose of Loan">
			<input class="form_data_b x-input x-border" type="text" id="credit_guarantee" placeholder="Guarantee">
			<input class="form_data_b x-input x-border" type="text" id="credit_provider" placeholder="Name of Provider">
		  </div>
	  </div>
	  
	  <!-- Next Row -->
	  <div class="x-row x-padding">
		<!-- In-kind Grant -->
		<div class="x-col l3 m6 s12 x-padding">
		  <label>In-kind Grant (RAPID)</label>
		  <input class="form_data_b x-input x-border" type="text" id="inkind_source" placeholder="Source">
		  <input class="form_data_b x-input x-border" type="text" id="inkind_type" placeholder="Type of Grant">
		</div>
	  
		<!-- Cash Grant -->
		<div class="x-col l3 m6 s12 x-padding">
		  <label>Cash Grant</label>
		  <input class="form_data_b x-input x-border" type="text" id="cash_provider" placeholder="Name of Enabler">
		  <input class="form_data_b x-input x-border" type="text" id="cash_amount" placeholder="Amount" numberonly>
		</div>
	  
		<!-- Financial Digital Platforms -->
		<div class="x-col l3 m6 s12 x-padding">
		  <label>Financial Digital Platforms</label>
		  <input class="form_data_b x-input x-border" type="text" id="digital_type" placeholder="Type(s)">
		  <input class="form_data_b x-input x-border" type="text" id="digital_purpose" placeholder="Purpose">
		</div>
		<!-- RAPID Support -->
		<div class="x-col l3 m6 s12 x-padding">
			<label class="x-block">RAPID Support</label>
			<div class="x-row" style="flex-wrap: wrap; gap: 10px;">
			  <label><input type="checkbox" class="form_data_b rapid_checkbox" value="Seedlings"> Seedlings</label>
			  <label><input type="checkbox" class="form_data_b rapid_checkbox" value="Tools"> Tools</label><br>
			  <label><input type="checkbox" class="form_data_b rapid_checkbox" value="Inputs"> Inputs</label>
			  <label><input type="checkbox" class="form_data_b rapid_checkbox" value="Productive Investments"> Productive Investments</label>
			</div>
			<!-- Hidden field to capture selections -->
			<input class="form_data_b" type="hidden" id="rapid_support" >
		  </div>
	  </div>
	  
	  
	  <div class="x-row x-padding">
		<!-- Other Services -->
		<div class="x-col l6 m6 s12 x-padding">
		  <label>Other Services (For Farmer-Member)</label>
		  <textarea class="form_data_b x-input x-border" id="other_services" placeholder="Please Specify"></textarea>
		</div>
	  </div>
	  
	  <script>
		// Script to update hidden field from checkboxes
		document.querySelectorAll('.rapid_checkbox').forEach(cb => {
		  cb.addEventListener('change', () => {
			let values = Array.from(document.querySelectorAll('.rapid_checkbox:checked')).map(c => c.value);
			document.getElementById('rapid_support').value = values.join(',');
		  });
		});
	  </script>
	  


	<!--<div class="x-row x-section x-padding">
		<div class="x-col l6 x-round ">
			<form class="x-container x-padding ">
				<label class=""><h5><b>Facilitating access to credit/insurance</b></h5></label>
				<span class="">Did you access credit/loan from FIs/Bank?</span><br>
				<input class="form_data_b x-radio" id="capacity_credit_loan_yes_checkbox" type="checkbox" name="" value="yes">
				<label class="">Yes</label>
				<input class="form_data_b x-radio" id="capacity_credit_loan_no_checkbox" type="checkbox" name="" value="no">
				<label class="">No "If yes, bank/financial institution?"</label><br><br>
				<textarea class="form_data_b x-border x-input " id="registering_agencies_others" style="height: 20vh;" type="text"></textarea>
			</form>
		</div>
	</div>

	<div class="x-row x-section x-padding">
		<div class="x-col l6 ">
			<form class="x-container x-padding ">
				<span class="">What term is the credit? </span><br>
				<input class="form_data_b x-radio" id="capacity_credit_short_term_checkbox" type="checkbox" name="" value="yes">
				<label class="">Short Term</label>
				<input class="form_data_b x-radio" id="capacity_credit_medium_term_checkbox" type="checkbox" name="" value="no">
				<label class="">Medium Term</label>
				<input class="form_data_b x-radio" id="capacity_credit_long_term_checkbox" type="checkbox" name="" value="yes">
				<label class="">Long Term</label><br>
			</form>
		</div>
	</div>

	<div class="x-row x-section x-padding">
		<div class="x-col l6 ">
			<form class="x-container x-padding ">
				<span class="">How much did the organization avail/ receive?</span>
				<textarea class="form_data_b x-border x-input " id="capacity_facilitating_avail_receive" style="width: 100%; height: 15vh;" type="text"></textarea>
			</form>
		</div>	
	</div>

	<div class="x-row x-section x-padding">
		<div class="x-col l6 ">
			<form class="x-container x-padding ">
				<span class="">What are the terms of the credit arrangement?</span>
				<textarea class="form_data_b x-border x-input " id="capacity_facilitating_credit_arrangment" style="width: 100%; height: 15vh;" type="text"></textarea>
			</form>
		</div>
	</div>

	<div class="x-row x-section x-padding">
		<div class="x-col l6 ">
			<form class="x-container x-padding ">
				<span class="">What does the credit used for?</span>
				<textarea class="form_data_b x-border x-input " id="capacity_facilitating_credit_used_for" style="width: 100%; height: 15vh;" type="text"></textarea>
			</form>
		</div>
	</div>

	<div class="x-row x-section x-padding">
		<div class="x-col l6 ">
			<form class="x-container x-padding ">
				<label class=""><h5><b>Facilitating access to credit/insurance</b></h5></label>
				<span class="">Does the organization availed insurance?</span><br><br>
				<input class="form_data_b x-radio" id="capacity_insurance_yes_checkbox" type="checkbox" name="" value="yes">
				<label class="">Yes "If yes, which asset & name of provider:" </label><br>
				<textarea class="form_data_b x-border x-input " id="capacity_facilitating_asset" style="width: 100%; height: 15vh;" type="text"></textarea><br>
				<input class="form_data_b x-radio" id="capacity_insurance_no_checkbox" type="checkbox" name="" value="no">
				<label class="">No "If No, why?" </label><br>
				<textarea class="form_data_b x-border x-input " id="capacity_facilitating_no_why" style="width: 100%; height: 15vh;" type="text"></textarea><br>
			</form>
		</div>

		<div class="x-col l6"><br><br>
		</div>
	</div>-->
	<br>

</div>

<!-- 
	<div class="x-center">
		<p class="x-center">
			<input class="x-blue x-form_data_b" id="capacity_button_back" type="button" onclick="get_forms('/formb/admin');" value="Back" />
			<input class="x-blue x-form_data_b" id="capacity_button_next" type="button" onclick="get_forms('/formb/partnership');" value="Next" />
		</div>
	</div>
 -->