

<!-- 	<div id="form_header" class="main-title">
          
	</div>

	 -->
	<div class="x-padding x-container x-card x-light-grey">
		<h2 class=" x-container x-teal x-padding x-round-xxlarge">Partnership</h2>

		<div class="x-container x-padding " >
			<style> 
				table, th, td{ border: 1px solid black;border-collapse: collapse;}
			</style>

			<div class="x-row x-section x-padding ">
				<div class="x-col l6 ">
					<form class="x-container x-padding ">
						<span class="">Is there any existing partnership with other organizations?</span>
					</form>
				</div>

				<div class="x-col l6">
					<input class="form_data_b x-radio" id="partnership_existing_yes_checkbox" type="checkbox" name="membership" value="yes">
					<label class="">Yes</label>
					<input class="form_data_b x-radio" id="partnership_existing_no_checkbox" type="checkbox" name="membership" value="no">
					<label class="">No "If yes, please fill up the matrix below"</label>1
				</div>
			</div>



			<div class="x-row x-container x-padding">
				<table class="x-table x-container x-table-border">
					<tr>
						<th>Organization Name</th>
						<th>Sector</th>
						<th>Area of Partnership</th>
						<th>Partnership Document</th>
						<th>Period Cover</th>
					</tr>
					<tr>
						<td>
							<textarea class="form_data_b x-border x-light-grey x-input " id="partnership_organization_name1" style="width: 100%; height: 40vh;" type="text"></textarea><br>
						</td>

						<td>							
							<div class="x-row">
								<form class="x-col l0">
									<input class="form_data_b x-radio" id="partnership_sector_goverment_checkbox" type="checkbox">
									<span class="">Government</span><br>
									<input class="form_data_b x-radio" id="partnership_sector_ngo_checkbox" type="checkbox">
									<span class="">NGO</span><br>
									<input class="form_data_b x-radio" id="partnership_sector_cso_checkbox" type="checkbox">
									<span class="">CSO</span><br>
									<input class="form_data_b x-radio" id="partnership_sector_priave_sector_checkbox" type="checkbox">
									<span class="">Private Sector</span><br>
									<input class="form_data_b x-radio" id="partnership_sector_academe_checkbox" type="checkbox">
									<span class="">Academe</span>
								</form>
								<br>
							</div>

						</td>

						<td>							
							<div class="x-row">
								<form class="x-col l0">
									<input class="form_data_b x-radio" id="partnership_area_coordanation_checkbox" type="checkbox">
									<span class="">Coordanation</span><br>
									<input class="form_data_b x-radio" id="partnership_area_training_checkbox" type="checkbox">
									<span class="">Training</span><br>
									<input class="form_data_b x-radio" id="partnership_area_financial_support_checkbox" type="checkbox">
									<span class="">Financial Support</span><br>
									<input class="form_data_b x-radio" id="partnership_area_reseacrch_checkbox" type="checkbox">
									<span class="">Research and Dev’t</span><br>
									<input class="form_data_b x-radio" id="partnership_area_business_transactions_checkbox" type="checkbox">
									<span class="">Business Transactions</span>
								</form>
								<br>
							</div>
						</td>

						<td>							
							<div class="x-row">
								<form class="">
									<input class="form_data_b x-radio" id="partnership_document_moa_mou_checkbox" type="checkbox">
									<span class="">MOA/MOU</span><br>
									<input class="form_data_b x-radio" id="partnership_document_commercial_checkbox" type="checkbox">
									<span class="">Commercial Partnership Agreement</span><br>
									<input class="form_data_b x-radio" id="partnership_document_ops_checkbox" type="checkbox">
									<span class="">Others, please specify
										<div class="x-row"><br>
											<textarea class="form_data_b x-border x-input " id="partnership_document_1" style="width: 100%; height: 15vh;" type="text"></textarea><br></span>
										</div>

									</form>
								</div>
							</td>

							<td>							
								<textarea class="form_data_b x-border x-light-grey x-input " id="partnership_period_cover_1" style="width: 100%; height: 40vh;" type="text"></textarea><br>
							</td>
						</tr>

						<tr>
							<td>
								<textarea class="form_data_b x-border x-light-grey x-input " id="partnership_organization_name2" style="width: 100%; height: 40vh;" type="text"></textarea><br> 
							</td>

							<td>							
								<div class="x-row">
									<form class="x-col l0">
										<input class="form_data_b x-radio" id="partnership_goverment1_checkbox" type="checkbox">
										<span class="">Government</span><br>
										<input class="form_data_b x-radio" id="partnership_ngo1_checkbox" type="checkbox">
										<span class="">NGO</span><br>
										<input class="form_data_b x-radio" id="partnership_cso1_checkbox" type="checkbox">
										<span class="">CSO</span><br>
										<input class="form_data_b x-radio" id="partnership_priave_sector1_checkbox" type="checkbox">
										<span class="">Private Sector</span><br>
										<input class="form_data_b x-radio" id="partnership_academe1_checkbox" type="checkbox">
										<span class="">Academe</span>
									</form>
									<br>
								</div>
							</td>

							<td>							
								<div class="sector">
									<form class="x-col l0">
										<input class="form_data_b x-radio" id="partnership_coordanation1_checkbox" type="checkbox">
										<span class="">Coordanation</span><br>
										<input class="form_data_b x-radio" id="partnership_training1_checkbox" type="checkbox">
										<span class="">Training</span><br>
										<input class="form_data_b x-radio" id="partnership_financial_support1_checkbox" type="checkbox">
										<span class="">Financial Support</span><br>
										<input class="form_data_b x-radio" id="partnership_reseacrch1_checkbox" type="checkbox">
										<span class="">Research and Dev’t</span><br>
										<input class="form_data_b x-radio" id="partnership_business_transactions1_checkbox" type="checkbox">
										<span class="">Business Transactions</span>
									</form>
									<br>
								</div>
							</td>

							<td>							
								<div class="sector">
									<form class="x-col l0">
										<input class="form_data_b x-radio" id="partnership_moa_mou1_checkbox" type="checkbox">
										<span class="">MOA/MOU</span><br>
										<input class="form_data_b x-radio" id="partnership_commercial1_checkbox" type="checkbox">
										<span class="">Commercial Partnership Agreement</span><br>
										<input class="form_data_b x-radio" id="partnership_ops1_checkbox" type="checkbox">
										<span class="">Others, please specify
											<div class="x-row"><br>	
												<textarea class="form_data_b x-border x-input " id="partnership_document_others_2" style="width: 100%; height: 15vh;" type="text"></textarea><br></span>
											</div>
										</form>
									</div>
								</td>

								<td>							
									<textarea class="form_data_b x-border x-light-grey x-input " id="partnership_period_cover_2" style="width: 100%; height: 40vh;" type="text"></textarea><br>
								</td>
							</tr>
						</table>
						<br>

						<div class="x-row">
							<table class="x-table x-container x-table-border">
								<tr>
									<th>Signature of Respondent:</th>
									<th>Interviewed by (Complete Name):</th>
								</tr>

								<tr>
									<td>
										<input class="form_data_b x-input x-border x-padding" style="width: 100%;" id="respondentd_signature" name="phone" type="text" placeholder="" required>
									</td>
									<td>							
										<input class="form_data_b x-input x-border x-padding" style="width: 100%;" id="respondents_interviewed" name="phone" type="text" placeholder="Enter Name" required>
									</td>
								</tr>

								<tr>
									<td>
										Date:  
										<input class="form_data_b x-input x-border" id="partnership_signature_of_respondent_date" type="date">                                   
									</td>
									<td>							
										Date/Time Ended: 
										<div>
											<input class="form_data_b x-input x-col x-border l6" id="partnership_interviewed_date" type="date">
											<input class="form_data_b x-input x-col l6 x-border" id="partnership_interviewed_time_ended" type="time">                         
										</div>
									</td>
								</tr>
							</table>
						</div>
						<hr>


						<div class="x-col l5 x-container" style="margin-top: 10px;">
							<h5 class=" x-container x-green x-padding"><i>To be accomplished by RAPID Staff</i></h5>
							<p><b>Maturity Assessment</b></p>
							<p>Assessing FO maturity levels on a scale of 1 to 4</p>
							<p>1 = The FO has done nothing in this area</p>
							<p>2 = The FO has started operating in this area</p>
							<p>3 = The FO has evolved considerably in this area but still needs improvement</p>
							<p>4 = The FO has evolved well in this area and needs no improvement</p>

						</div>

						<div class="x-container x-padding">
							<table class="x-table x-container x-table-border">
								<tr>
									<th>Area</th>
									<th>Rating</th>
									<th>Area</th>
									<th>Rating</th>
								</tr>

								<tr>
									<td><b>FO Governance, Communication, and Planning</b></td>
									<td></td>
									<td><b>Capacity and Needs Assessment</b></td>
									<td></td>

								</tr>

								<tr>
									<td>a. General Assembly</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnership_genral_assembly" type="text" style="width: 100%;" placeholder="" ></td>
									<td>m. Input and equipment supply</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnership_input_and_equipment_supply" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td>b.	Board</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_board" type="text" style="width: 100%;" placeholder="" ></td>
									<td>n. Training and Capacity Building</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_training_and_capacity_building" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td>c.	Management Committee</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_management_committee" type="text" style="width: 100%;" placeholder="" ></td>
									<td>o. Collecting, bulking, marketing of products</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_collecting_bulking_marketing" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td>d.	Good Governance</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_board_good_governance" type="text" style="width: 100%;" placeholder="" ></td>
									<td>p. Storage Facilities</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_storage_facilities" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td>e.	Communication</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_communication" type="text" style="width: 100%;" placeholder="" ></td>
									<td>q. Processing/packaging facilities</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_processing_packaging" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td>f.	Planning</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_planning" type="text" style="width: 100%;" placeholder="" ></td>
									<td>r. Market Information System</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_market_information_system" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td><b>Administrative and financial management and human resources management</b></td>
									<td></td>
									<td><b>Partnership</b></td>
									<td></td>
								</tr>

								<tr>
									<td>g.	Availability of official/legal/administrative documents</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_availability_of_official" type="text" style="width: 100%;" placeholder="" ></td>
									<td>s. Partnership with other organizations</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_with_other_organizations" type="text" style="width: 100%;" placeholder="" ></td>
								</tr>

								<tr>
									<td>h.	Availability of management and planning documents</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_availability_of_management_and_planning_documents" type="text" style="width: 100%;" placeholder="" ></td>
									<td><b>Maturity level (average of the above ratings)</b></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_maturity_level" type="text" style="width: 100%;" placeholder="" ></td>

								</tr>

								<tr>
									<td>i.	Financial management and annual audit</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_financial_management_and_annual_audit_1" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_financial_management_and_annual_audit_2"type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_financial_management_and_annual_audit_3" type="text" style="width: 100%;"></td>
								</tr>

								<tr>
									<td>j.	Efficiency and Risk Management</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_efficiency_and_risk_management_1" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_efficiency_and_risk_management_2" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_efficiency_and_risk_management_3" type="text" style="width: 100%;"></td>
								</tr>

								<tr>
									<td>k.	Monitoring and Evaluation</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_monitoring_and_evaluation_1" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_monitoring_and_evaluation_2" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_monitoring_and_evaluation_3" type="text" style="width: 100%;"></td>
								</tr>

								<tr>
									<td>l.	Human resources management</td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_human_resources_management_1" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_human_resources_management_2" type="text" style="width: 100%;"></td>
									<td><input class="form_data_b x-input x-light-grey x-padding " id="partnertship_human_resources_management_3" type="text" style="width: 100%;"></td>
								</tr>
							</table>
							<br>
							<br>

							<div class="x-col l6 x-container">
								<span class=""><b>Remarks:</b></span>
								<input class="form_data_b x-input x-light-grey x-padding " id="partnertship_remarks" type="text">
								<br>
							</div>
							

<!-- 							<div class="x-row">
								<p class="x-center">
									<br>
									<br>
									<br> 
									<input class="x-blue x-form_data_b" id="partnership_button_submit" type="button" onclick="get_forms('/formb/respondents');" value="Submit" />
								</p>
							</div> -->
						</div>
					</div>
				</div>
			</div>