<div class="x-row x-container">
	<h2 class="x-text-teal"><b>Farmers' Organization Dashboard</b></h2>

	<div class="x-text-grey">
		Some entries will not appear nor include to the counting if the entry in a specific consolidation of field data is incorrect, blank or not listed on the baseline lists of dashboards data. Please check entries before submitting or perform regular data cleaning of the records
	</div>
</div>
<div class="x-row x-container">
	<div class="x-col x-card gr_body x-round-large x-white x-padding x-margin" style="width:15%">
		<div class="card-inner">
			<b class=" x-xxlarge x-text-white" id="num_input_fo">00</b>
			<!-- <span style="color: #009973;" class="fa fa-users"></span> -->
			<span class="fa fa-users x-text-light-grey"></span>
		</div>
		<div class="card-progress">
			<small class="x-text-light-grey">NO. OF INPUTED FARMERS ORGANIZATION</small>
		</div>
		<span class=""></span>
	</div>
	<!-- =============== -->
	<div class="x-col x-bottombar x-container x-card x-round-large x-white x-padding x-margin x-border x-border-teal" style="width:20%;">
		<div class="" style="line-height: 10%;">
			<div class="x-half" >
				<span class="" style="color: #0099cc">
					Male&nbsp;<i style="height: 40px;width: 40px; color: #0099cc;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" id="num_input_fo_male" style="color: #0099cc;">{{num_fo_sex['male']}}</b>
			</div>
			<div class="x-half" >
				<span class="" style="color: #FF5733;">
					Female&nbsp;<i style="height: 40px;width: 40px; color: #FF5733;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" style="color: #FF5733;" id="num_input_fo_female">{{num_fo_sex['female']}}</b>
				
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="card-progress" style="line-height: 90%;">
			<small class="x-text-grey">
				<b>Respondent's Position in F.O</b><br>
				<span class="x-tiny">Chairperson, Chairwoman, Coop Chairperson, General Manager, Manager, President/Chairman</span>
			</small>
		</div>
		<span class=""></span>
	</div>
	<!-- =============== -->
	<div class="x-col x-bottombar x-container x-card x-round-large x-white x-padding x-margin x-border x-border-orange" style="width:20%;">
		<div class="" style="line-height: 10%;">
			<div class="x-half" >
				<span class="" style="color: #0099cc">
					Male&nbsp;<i style="height: 40px;width: 40px; color: #0099cc;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" id="num_input_fo_male" style="color: #0099cc;">{{num_fo_sex['total_male_board']}}</b>
			</div>
			<div class="x-half" >
				<span class="" style="color: #FF5733;">
					Female&nbsp;<i style="height: 40px;width: 40px; color: #FF5733;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" style="color: #FF5733;" id="num_input_fo_female">{{num_fo_sex['total_female_board']}}</b>
				
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="card-progress" style="line-height: 90%;">
			<small class="x-text-grey">
				<b>F.O's Decision Making Body group by Sex (BOARD)</b><br>
				<span class="x-tiny">Chairperson, Chairwoman, Coop Chairperson, General Manager, Manager, President/Chairman</span>
			</small>
		</div>
		<span class=""></span>
	</div>
	<!-- =============== -->
	<div class="x-col x-bottombar x-container x-card x-round-large x-white x-padding x-margin x-border x-border-green" style="width:20%;">
		<div class="" style="line-height: 10%;">
			<div class="x-half" >
				<span class="" style="color: #0099cc">
					Male&nbsp;<i style="height: 40px;width: 40px; color: #0099cc;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" id="num_input_fo_male" style="color: #0099cc;">{{num_fo_sex['mngmt_male']}}</b>
			</div>
			<div class="x-half" >
				<span class="" style="color: #FF5733;">
					Female&nbsp;<i style="height: 40px;width: 40px; color: #FF5733;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" style="color: #FF5733;" id="num_input_fo_female">{{num_fo_sex['mngmt_female']}}</b>
				
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="card-progress" style="line-height: 90%;">
			<small class="x-text-grey">
				<b>F.O's Decision Making Body group by Sex (Management Committee)</b><br>
				<span class="x-tiny">Chairperson, Chairwoman, Coop Chairperson, General Manager, Manager, President/Chairman</span>
			</small>
		</div>
		<span class=""></span>
	</div>
</div>
fo_management_male_checkbox