<div id="respondents" class="form_container x-container" style="display:none;">{% include "B1-Respondents.html" %}</div>
<div id="organizational" class="form_container x-container" style="display:none;">{% include "B2-Organizational.html" %}</div>
<div id="operational" class="form_container x-container" style="display:none;">{% include "B3-Operational.html" %}</div>
<div id="FoGCP" class="form_container x-container" style="display:none;">{% include "B4-FoGovernance.html" %}</div>
<div id="admin" class="form_container x-container" style="display:none;">{% include "B5-Administrative.html" %}</div>
<div id="capacity" class="form_container x-container" style="display:none;">{% include "B6-Capacity.html" %}</div>
<div id="partnership" class="form_container x-container" style="display:none;">{% include "B7-Partnership.html" %}</div>
