<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script src="../static/js/Brorn.min.js"></script>
	<script src="../static/doofen_static/js/scripts.js"></script>
	<link class="x-links" rel="stylesheet" href="../static/css/x.css">
	<link class="x-links" rel="stylesheet" href="../static/css/other.css">
	<link class="x-links" rel="stylesheet" href="../static/css/other2.css">
	<link class="x-links" rel="stylesheet" href="../static/css/loader.css">
	<link class="x-links" rel="stylesheet" href="../static/css/scroll_bar.css">
	<link class="x-links" rel="stylesheet" href="../static/css/css">
	<link class="x-links" rel="stylesheet" href="../static/css/chip.css">
	<link class="x-links" rel="stylesheet" href="../static/css/font-awesome.min.css">
	<!-- <link rel="icon" href="../static/img/icon.png"> -->

	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>RAPID Growth || Form B</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
	<link rel="stylesheet" href="../static/doofen_static/css/style.css">
	<link rel="stylesheet" href="../static/doofen_static/css/styles.css">

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script> -->
	<link rel="icon" href="../static/img/mis_2023_v2.svg">


	<link rel="stylesheet" type="text/css" href="../static/css/datatable/jquery.dataTables.css">

	<script type="text/javascript" charset="utf8" src="../static/js/datatable/jquery.dataTables.js"></script>
	<script type="text/javascript">
		// $.fn.dataTableExt.errMode = 'function'
	</script>
</head>
<body onload="loaded()" style="height:80vh">
	{% include 'spinner_loader.html' %}
	<div class="grid-container">

		<!-- Header -->
		<header class="header">
			<div class="menu-icon" onclick="openSidebar()">
				<span class="material-icons-outlined">menu</span>
			</div>
			<div class="header-left">
				<span class="material-icons-outlined"></span>
			</div>
			<div class="header-right">
				<!-- {% include 'excel_management.html' %} -->
			</div>
		</header>
		<!-- End Header -->

		<!-- Sidebar -->
		<aside id="sidebar">
			<div class="sidebar-title x-center">
				<div class="x-padding x-container x-center">

					<div class="x-roww"  onclick="x_open()">
						<span class="x-text-shrink "><strong>{{USER_DATA['name']}}</strong></span>
						<span class="x-text-shrink x-tiny">{{USER_DATA['job']}}</span>
					</div>
					<div class="x-small x-row x-text-rapid-macha-light" style="width:200px;">
						<span>
							Showing figures for <b class="">{{USER_DATA['rcu']}}</b>
						</span>
					</div>
				</div>
				<span class="material-icons-outlined" onclick="closeSidebar()">close</span>
			</div>


			<ul class="sidebar-list">
				<li class="sidebar-list-item" onclick="show_view('main','main-container')">
					<a href="#">
						<span class="material-icons-outlined">dashboard</span> Dashboard
					</a>
				</li>
				<li class="sidebar-list-item" onclick="show_view('forms','main-container')" >
					<a href="#">
						<span class="material-icons-outlined">folder_open</span> Form B
					</a>
				</li>
				<li class="sidebar-list-item">
					<a href="#">
						<span class="material-icons-outlined">fact_check</span> Excel
					</a>
				</li>
			</ul>

			<div class="x-rowx-center" style="display: fixed;bottom: 100px;">
				<div class="x-container x-row x-padding">
					<button class="x-block x-btn x-border x-round x-border-orange" onclick="goto('/menu')"> <span class="x-text-orange x-hover-orange fa fa-home"></span> Home</button>
				</div>
				<div class="x-container x-row x-padding">
					<button class="x-block x-btn x-round x-red" onclick="goto('/logout')"> <span class="x-text fa fa-power-off"></span> Logout</button>
				</div>
			</div>

		</aside>
		<!-- End Sidebar -->



		<!-- Main -->
		<main class="main-container" id="main">
			<div id="form_header" class="main-title">
				<p class="font-weight-bold">DASHBOARD</p>

			</div>

			<div class="main-cards">

				<div class="card">
					<div class="card-inner">
						<h2 class="text-primary font-weight-bold " id="num_input_fo">00</h2>
						<span class="material-icons-outlined text-green">groups</span>
					</div>
					<div class="card-progress">
						<small>NO. OF INPUTED FARMERS ORGANIZATION</small>
					</div>
					<span class="text-primary font-weight-bold"></span>
				</div>

			<!-- 	<div class="card">
					<div class="card-inner">
						<h2 class="text-primary">10</h2>
						<span class="material-icons-outlined text-blue">diversity_3</span>
					</div>

					<div class="card-progress">
						<small>REGISTERING AGENCIES</small>
						<div class="card-indicator">
							<div class="indicator two" style="width: 1%"></div>
						</div>
					</div>
					<span class="text-primary font-weight-bold"></span>
				</div>

				<div class="card">
					<div class="card-inner">
						<h2 class="text-primary font-weight-bold">79</h2>
						<span class="material-icons-outlined text-orange">diversity_1</span>
					</div>
					<div class="card-progress">
						<small>MANAGEMENT COMMITTE</small>
						<div class="card-indicator">
							<div class="indicator three" style="width: 7%"></div>
						</div>
					</div>
					<span class="text-primary font-weight-bold"></span>
				</div>

				<div class="card">
					<div class="card-inner">
						<h2 class="text-primary font-weight-bold">10</h2>
						<span class="material-icons-outlined text-red">handshake</span>
					</div>

					<div class="card-progress">
						<small>PARTNERSHIP</small>
						<div class="card-indicator">
							<div class="indicator four" style="width: 1%"></div>
						</div>
					</div>
					<span class="text-primary font-weight-bold"></span>
				</div> -->
			</div>

<!-- 			<div class="charts">
				<div class="charts-card">
					<p class="chart-title">AREA/SCOPE OF OPERATION</p>
					<div id="bar-chart"></div>
				</div>

				<div class="charts-card">
					<p class="chart-title">COMMUNICATION AND PLANNING</p>
					<div id="area-chart"></div>
				</div>
			</div> -->
			<br>
			<div class="x-row">
				{% include 'list_data_table.html' %}
			</div>
		</main>
		<!-- End Main -->


		<main class="main-container" id="forms" style="display: none;height: 85vh;">
			{% include 'forms.html' %}
		</main>

		<hr>
	</div>
</body>

<script type="text/javascript">
	function loaded(argument) {
		// body...
		get_forms('respondents')
		// init_charts()
		onloads()
	}



	function get_forms(form_ui){
		// form_ui = form_ui.replaceAll("/formb/","").toLowerCase()
		// println(" * Showing Form UI "+ form_ui)
		// var form_container = $CLASS("form_container")
		// for (var i = 0; i < form_container.length; i++) {
		// 	form_container[i].style.display =" none"
		// }
		// $ID(form_ui).style.display = "block"
		// topFunction()
	}
	// When the user clicks on the button, scroll to the top of the document
	function topFunction() {
		$ID('forms').scrollTop = 0;
		$ID('forms').scrollTop = 0;
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
		$ID('form_header').scrollIntoView();
	}

	function save_form(){
		var FORM_DATA = {}
		var form_data_b = $CLASS("form_data_b")
		for (var i = 0; i < form_data_b.length; i++) {
			var input_type = form_data_b[i].type
			if(form_data_b[i].id==""){continue}
			if( (["text","textarea","select-one","date","time"]).includes(input_type) ){
				FORM_DATA[form_data_b[i].id] = form_data_b[i].value
			}
			if( (["checkbox","radio"]).includes(input_type) ){
				FORM_DATA[form_data_b[i].id] = form_data_b[i].checked
			}
		}


		$send({
			action : "/formb/save_form",
			method : POST,
			data : $DATA(FORM_DATA),
			func : function(r){
				SPINNER_LOADER.hide()
				println(r)
				var res = JSON.parse(r)
				println(res)
				var diadata = {} 
				if(res['status']=="failed"){
					diadata = {
						type :"error",
						title : "Data insertion Failed",
						content : "Something went wrong while we read your upload, please refer to the transaction message below<br><br>status : ["+res['msg']+"]",
						buttons : ['Finished Transaction'],
						buttons_actions : [done_transac_excel]
					}
					SPINNER_LOADER.hide()
					var dialog = $dialog(diadata)
					dialog.show()
				}
				else if(res['status']=="success"){
					diadata = {
						title : "Data insertion Success",
						type :"success",
						content : "Your Data insertion had a safe journey, please refer to the transaction message below<br><br>status : ["+res['msg']+"]",
						buttons : ['Finished Transaction'],
						buttons_actions : [done_transac_excel]
					}
					SPINNER_LOADER.hide()
					var dialog = $dialog(diadata)
					dialog.show()
				}
				SPINNER_LOADER.hide()
			}
		})
	}
	function done_transac_excel(){
		location.reload()
	}


	var TYPES_ORG = [
		"None",
		"Farmers’/ Growers’ Association",
		"Farmers’ Cooperative Type of Cooperative",
		"Others"
	]
	var REG_AGENCIES = [
		"None",
		"Cooperative Development Authority ",
		"Department of Labor and Employment",
		"Securities and Exchange Commission",
		"Department of Agriculture",
		"Others"
	]

	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/62f9c9c554f06e12d88ea549/1gafrob5j';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	// tawkto ==-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	window.Tawk_API.visitor = {
		'name' : "{{USER_DATA['name']}}",
		'email': "{{USER_DATA['email']}}",
	};
	
	// tawkto ==-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
	Tawk_API.onLoad = function(){
		Tawk_API.setAttributes({
			'name' : "{{USER_DATA['name']}}",
			'email': "{{USER_DATA['email']}}",
			'hash' : "{{USER_DATA['rcu']}}"+"_"+"{{USER_DATA['job']}}"
		}, function (error) {
		});
	};
</script>
</html>