<table class="display" id="table_id_fo" style="width:100%">
	<thead class="x-rapid-teal-heavy" style="width:100%">
		<tr class="">
			<th hidden>
				ID<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="0" />
			</th>
			<th>
				Farmer's Org Name<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="1" />
			</th>
			<th>
				Address<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="2" />
			</th>
			<th>
				Type of Organization<br>
				<input style="border:0px" type="text" placeholder="Search" data-index=3 />
			</th>
			<th>
				Registering Agencies<br>
				<input style="border:0px" type="text" placeholder="Search" data-index="4" />
			</th>
			
		</tr>
	</thead>
	<tbody id="list_farmers" style="">
	</tbody>
</table>

<script type="text/javascript">
	var init_counter = 0
	let TABLE

	function onloads(){
		showing_table_ls_farmer()
	}

	function showing_table_ls_farmer(){
		SPINNER_LOADER.show()
		$send({
			action : "/formb/get_list_fo",
			method : POST,
			// a_sync : false,
			func : function (rest){
				println(" -- Getting List Farmers Done")
				res = JSON.parse(rest)
				$ID('num_input_fo').innerHTML = res.length
				println("res")
				println(res)
				try{
					create_table(res)
				}catch(e){
					alert("An Error/Warning occurred during Data Loading\n\nErro/Warningr message\n[ "+e+" ]\n\n You may continue your transaction by clicking the button below")
				}
				SPINNER_LOADER.hide()
				println("res---")

			},
			err : function(res){println(res);SPINNER_LOADER.hide()},
			progress : function(e){
				// var response_length = parseFloat(headerMap(e)['total'])
				var response_length = parseFloat(e.total)
				var response_loaded = parseFloat(e.loaded)
				var percent_  = (response_loaded / response_length) * 100;
				var percent_rounded = Math.round(percent_ * 100) / 100
				SPINNER_LOADER.loading(Math.round(percent_))
				SPINNER_LOADER.message(`
					<span>
						Gathering 
						<b>`+Math.round(percent_)+`%</b><br>
						<span class="x-small">
							[ `+(response_loaded/1000000).toFixed(1)+" / "+(response_length/1000000).toFixed(1)+` Mb ]<br>
							<i>`+(response_length-response_loaded)+` bytes remaining</i>
						</span>
					</span>
				`);
			}
		})
		// TABLE.ajax.url('/feature_0/filter_list_farmers')

		// TABLE.ajax.reload()
	}


	function create_table (data_){
		println(" -- Creating Data Table")
		TABLE = new DataTable('#table_id_fo', {
			"scrollY":'60vh',
			"scrollX":true,
			"data" : data_,
			"columnDefs": [
				{
					target: 0,
					visible: false,
					searchable: false,
				}
			]
		});
		// TABLE.load(data_)
		// TABLE.ajax.reload()
		set_search_field()
	}

	function set_search_field(){
		// $('#table_id_fo thead th').each( function (i) {
		// 	var title = $('#table_id_fo thead th').eq( $(this).index() ).text();
		// 	println(i)
		// 	$(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
		// } );
		$(TABLE.table().container() ).on('keyup', 'thead input', function () {
			TABLE
				.column( $(this).data('index') )
				.search( this.value )
				.draw();
		} );
		$('#table_id_fo tbody').on('mousedown', 'tr', function () {
			var data = TABLE.row(this).data();
			// show_fo_ind_(data[0]); //got to form details
			show_dialog_item(data[0],data[1])
		})

		var tr_ = $('#table_id_fo tbody tr')
		for (var i = 0; i < tr_.length; i++) {
			var sas = tr_[i].getElementsByTagName("td")
			sas[3].innerHTML = TYPES_ORG[parseInt(sas[3].innerHTML)]
			sas[4].innerHTML = REG_AGENCIES[parseInt(sas[4].innerHTML)]
		}
	}

	function show_dialog_item(ids,nameorg){
		var item_dialog = $dialog({
			title : nameorg,
			subtitle : "Control the data for the entry ["+nameorg+"]",
			buttons : ["Edit","Delete","Cancel"],
			buttons_actions : [edit_form,delete_form]
		})
		item_dialog.show()
		function edit_form(){
			show_fo_ind_(ids)
			item_dialog.destroy()
		}
		function delete_form(){
			alert(ids)
			item_dialog.destroy()
		}
	}


	function show_fo_ind_(ids){
		$send({
			action : "/formb/get_ind_fo",
			method : POST,
			data : $DATA({"id":ids}),
			func : function(rrr){
				var resp = JSON.parse(rrr)
				println(resp)

				var FORM_DATA = {}
				var form_data_b = $CLASS("form_data_b")
				for (var i = 0; i < form_data_b.length; i++) {
					var input_type = form_data_b[i].type
					if(form_data_b[i].id==""){continue}
					if( (["text","textarea","select-one","date","time"]).includes(input_type) ){
						form_data_b[i].value = resp[0][form_data_b[i].id]
					}
					else if( (["radio"]).includes(input_type) ){
						form_data_b[i].checked = resp[0][form_data_b[i].id]
					}
					else if( (["checkbox"]).includes(input_type) ){
						if(resp[0][form_data_b[i].id]==true || resp[0][form_data_b[i].id]=='true'){
							form_data_b[i].click()
						}
					}
				}
				show_view('forms','main-container')
			}
		})
		// showing_table_ls_farmer()
	}

</script>