<div class="x-row x-container">
	<h2 class="x-text-teal"><b>Farmers' Organization Entry Lists</b></h2>

	<div class="x-text-grey">
		Some entries will not appear nor include to the counting if the entry in a specific consolidation of field data is incorrect, blank or not listed on the baseline lists of dashboards data. Please check entries before submitting or perform regular data cleaning of the records
	</div>
</div>
<div class="x-row x-container">
	<table class="display" id="table_id_fo" style="width:100%">
		<thead class="x-rapid-teal-heavy" style="width:100%">
			<tr class="">
				<th hidden>
					ID<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="0" />
				</th>
				<th>
					Farmer's Org Name<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="1" />
				</th>
				<th>
					Address<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="2" />
				</th>
				<th>
					Type of Organization<br>
					<input style="border:0px" type="text" placeholder="Search" data-index=3 />
				</th>
				<th>
					Registering Agencies<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="4" />
				</th>
				<th>
					Inputed By<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="1" />
				</th>
				<th>
					RCU<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="1" />
				</th>
			</tr>
		</thead>
		<tbody id="list_farmers" style="">
		</tbody>
	</table>
</div>

<script type="text/javascript">
	var init_counter = 0
	let TABLE

	function showing_table_ls_farmer(){
		SPINNER_LOADER.show()
		$send({
			action : "/formb/get_list_fo",
			method : POST,
			// a_sync : false,
			func : function (rest){
				println(" -- Getting List Farmers Done")
				var raw_data = JSON.parse(rest)
				$ID('num_input_fo').innerHTML = raw_data.length

				var res = popu__int_toData(raw_data)

				try{
					create_table(res)
				}catch(e){
					println(e)
					alert("An Error/Warning occurred during Data Loading\n\nErro/Warningr message\n[ "+e+" ]\n\n You may continue your transaction by clicking the button below")
				}
				SPINNER_LOADER.hide()

			},
			err : function(res){println(res);SPINNER_LOADER.hide()},
			progress : function(e){
				// var response_length = parseFloat(headerMap(e)['total'])
				var response_length = parseFloat(e.total)
				var response_loaded = parseFloat(e.loaded)
				var percent_  = (response_loaded / response_length) * 100;
				var percent_rounded = Math.round(percent_ * 100) / 100
				SPINNER_LOADER.loading(Math.round(percent_))
				SPINNER_LOADER.message(`
					<span>
						Gathering 
						<b>`+Math.round(percent_)+`%</b><br>
						<span class="x-small">
							[ `+(response_loaded/1000000).toFixed(1)+" / "+(response_length/1000000).toFixed(1)+` Mb ]<br>
							<i>`+(response_length-response_loaded)+` bytes remaining</i>
						</span>
					</span>
				`);
			}
		})
		// TABLE.ajax.url('/feature_0/filter_list_farmers')

		// TABLE.ajax.reload()
	}


	function create_table (data_){
		println(" -- Creating Data Table")
		TABLE = new DataTable('#table_id_fo', {
			"scrollY":'60vh',
			"scrollX":true,
			"data" : data_,
			"pageLength": 50,
			"columnDefs": [
				{
					targets: -1,
					className: 'compact'
				},
				{
					target: 0,
					visible: false,
					searchable: false,
				},
			]
		});
		// TABLE.ext.errMode = 'none'
		// println(TABLE.$)
		// TABLE.load(data_)
		// TABLE.ajax.reload()
		set_search_field()
	}

	function set_search_field(){
		$(TABLE.table().container() ).on('keyup', 'thead input', function () {
			TABLE
				.column( $(this).data('index') )
				.search( this.value )
				.draw();
		} );
		$('#table_id_fo tbody').on('mousedown', 'tr', function () {
			var data = TABLE.row(this).data();
			// show_fo_ind_(data[0]); //got to form details
			show_dialog_item(data[0],data[1])
		})
	}

	function show_dialog_item(ids,nameorg){
		var item_dialog = $dialog({
			title : nameorg,
			subtitle : "Control the data for the entry ["+nameorg+"]",
			buttons : ["View","Delete","Cancel"],
			buttons_actions : [show_form_fo,delete_form]
		})
		item_dialog.dialog.style.display = " "
		item_dialog.show()
		function show_form_fo(){show_fo_ind_(ids);item_dialog.destroy()}
		function delete_form(){
			item_dialog.destroy()
			var del_dialog = $dialog({
				type : "error",
				title : "Confirm Delete Record",
				subtitle : "You are about to delete a entry. choose carefully",
				buttons : ["Go Back","Delete"],
			})

			del_dialog.actions([del_dialog.destroy,del_item])
			del_dialog.show()
			function del_item(){
				$send({
					action : "/formb/delete_item",
					method : POST,
					data : $DATA({"id":ids}),
					func : function(r){
						var res = JSON.parse(r)
						// println(res)
						goto("/formb/dashboard")
					}
				})
			}
		}
	}

	function popu__int_toData(res){
		for (var i = 0; i < res.length; i++) {
			if(parseInt(res[i][3]) != NaN ){
				res[i][3] = TYPES_ORG[parseInt(res[i][3])]
			}
			if(parseInt(res[i][4]) != NaN ){
				res[i][4] = REG_AGENCIES[parseInt(res[i][4])]
			}
		}
		return res
	}

	function clear_form_field(){
		var form_data_b = $CLASS("form_data_b")
		for (var i = 0; i < form_data_b.length; i++) {
			var input_type = form_data_b[i].type
			if(form_data_b[i].id==""){continue}
			if( (["text","textarea","select-one","date","time"]).includes(input_type) ){
				form_data_b[i].value = ""
			}
			else if( (["radio"]).includes(input_type) ){
				form_data_b[i].checked = ""
			}
			form_data_b[i].disabled = false
		}

	}

	function show_fo_ind_(ids){
		$send({
			action : "/formb/get_ind_fo",
			method : POST,
			data : $DATA({"id":ids}),
			func : function(rrr){
				var resp = JSON.parse(rrr)
				println(resp)

				var FORM_DATA = {}
				var form_data_b = $CLASS("form_data_b")
				for (var i = 0; i < form_data_b.length; i++) {
					var input_type = form_data_b[i].type
					if(form_data_b[i].id==""){continue}
					if( (["text","textarea","select-one","date","time"]).includes(input_type) ){
						form_data_b[i].value = resp[0][form_data_b[i].id]
					}
					else if( (["radio"]).includes(input_type) ){
						form_data_b[i].checked = resp[0][form_data_b[i].id]
					}
					else if( (["checkbox"]).includes(input_type) ){
						if(resp[0][form_data_b[i].id]==true || resp[0][form_data_b[i].id]=='true'){
							form_data_b[i].click()
						}
					}
					// if(parseInt(form_data_b[i].uploaded_by)==parseInt("{{USER_DATA['name']}}")){
					// 	println('OWNED')
					// 	form_data_b[i].disabled = true
					// }
				}
				show_view('forms','page_content')
			}
		})
		// showing_table_ls_farmer()
	}

</script>