<div class="x-row x-container">
	<h2 class="x-text-teal"><b>Farmers' Organization Entry Lists</b></h2>

	<div class="x-text-grey">
		Some entries will not appear nor include to the counting if the entry in a specific consolidation of field data is incorrect, blank or not listed on the baseline lists of dashboards data. Please check entries before submitting or perform regular data cleaning of the records
	</div>
</div>

<div class="x-row x-container">
	<div class="x-col x-card x-zoom x-bottombar gr_body x-round-large x-white x-padding x-margin" style="width:15%">
		<div class="card-inner">
			<b class=" x-xxlarge x-text-white" id="num_input_fo">{{ num_fo_sex['total_form_b'] }}</b>
			<!-- <span style="color: #009973;" class="fa fa-users"></span> -->
			<span class="fa fa-users x-text-light-grey"></span>
		</div>
		<div class="card-progress">
			<small class="x-text-light-grey">NO. OF INPUTED FARMERS ORGANIZATION</small>
		</div>
		<span class=""></span>
	</div>
	<!-- =============== -->
	<div class="x-col x-zoom x-bottombar x-container x-card x-round-large x-white x-padding x-margin x-border x-border-teal" style="width:20%;">
		<div class="" style="line-height: 10%;">
			<div class="x-half" >
				<span class="" style="color: #0099cc">
					Male&nbsp;<i style="height: 40px;width: 40px; color: #0099cc;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" id="num_input_fo_male" style="color: #0099cc;">{{num_fo_sex['male']}}</b>
			</div>
			<div class="x-half" >
				<span class="" style="color: #FF5733;">
					Female&nbsp;<i style="height: 40px;width: 40px; color: #FF5733;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" style="color: #FF5733;" id="num_input_fo_female">{{num_fo_sex['female']}}</b>
				
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="card-progress" style="line-height: 90%;">
			<small class="x-text-grey">
				<b>Respondent's Position in F.O</b><br>
				<span class="x-tiny">Chairperson, Chairwoman, Coop Chairperson, General Manager, Manager, President/Chairman</span>
			</small>
		</div>
		<span class=""></span>
	</div>
	<!-- =============== -->
	<div class="x-col x-zoom x-bottombar x-container x-card x-round-large x-white x-padding x-margin x-border x-border-green" style="width:20%;">
		<div class="" style="line-height: 10%;">
			<div class="x-half" >
				<span class="" style="color: #0099cc">
					Male&nbsp;<i style="height: 40px;width: 40px; color: #0099cc;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" id="num_input_fo_male" style="color: #0099cc;">{{num_fo_sex['mngmt_male']}}</b>
			</div>
			<div class="x-half" >
				<span class="" style="color: #FF5733;">
					Female&nbsp;<i style="height: 40px;width: 40px; color: #FF5733;" class="fa fa-solid fa-user"></i>
				</span><br>
				<b class="x-xxlarge" style="color: #FF5733;" id="num_input_fo_female">{{num_fo_sex['mngmt_female']}}</b>
				
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="card-progress" style="line-height: 90%;">
			<small class="x-text-grey">
				<b>F.O's Decision Making Body group by Sex (Management Committee)</b><br>
				<span class="x-tiny">Chairperson, Chairwoman, Coop Chairperson, General Manager, Manager, President/Chairman</span>
			</small>
		</div>
		<span class=""></span>
	</div>
</div>

<style>
	.action-btn {
	  cursor: pointer;
	  padding: 6px 2px;
	  border-radius: 6px;
	  transition: all 0.2s ease-in-out;
	  display: inline-block;
	}
	.action-btn:hover {
	  background-color: #f0f0f0;
	  transform: scale(1.05);
	}
	.action-btn:active {
	  background-color: #ddd;
	  transform: scale(0.95);
	}
  </style>
  
<div style="max-width:100%;" class="x-container">
	<h3 class="x-text-teal">
	  <b>Actions</b>
	</h3>
	<div>
	  <span class="x-text-hover-orange action-btn" onclick="download_login_start('VC_FORM_B.xls')">
		<b class="x-text-grey">Download Excel Template</b> | 
		<span class="x-text-orange fa fa-file-text"></span>
	  </span>
	  &nbsp;&nbsp;&nbsp;
	  <span class="x-text-hover-orange action-btn" onclick="goto('/formb/get_list_fo_full')">
		<b class="x-text-grey">Export Data</b> | 
		<span class="x-text-orange fa fa-download"></span>
	  </span>
	  &nbsp;&nbsp;&nbsp;
	  <span class="x-text-hover-blue action-btn" onclick="import_farmer_excel_b()">
		<b class="x-text-grey">Import Spreadsheet</b> | 
		<span class="x-text-blue fa fa-upload"></span>
	  </span>
	</div>
  </div>
  <br>
  
<script>
	function import_farmer_excel_b(argument) {
	excel_upload_dialog = $dialog({
		title : "import",
		subtitle : "Spreadsheet Uploader for Farmer's Profiles",
		content :(`
			<div class="x-container">
				<div class="x-row">
					<p class="x-padding x-pale-yellow x-leftbar x-border-yellow"><b class="x-text-orange">The only Accepted File for the uploads is [<i>*.xls</i>]</b> .Due to the memory resource available in handling all spreadsheet files is limited to 2.8Gib, we suggest that all uploads are in XLS file format. You can convert this files (.xlxs, .csv, etc) using Microsoft Office Excel or other application that manage spreadsheets</p>
					<input id="excel_file" type="file" class="x-col l8 x-input x-file x-border"  accept=".xls" multiple style="height:50px">
					<button class="x-input x-btn x-green x-col l4" onclick="upload_excel_b()" style="height:50px">
						Upload
					</button>
				</div>
				<div class="x-padding x-container">
					<b class="x-text-teal">Uploaded Spreadsheets</b><br>
					<div id="ls_uploaded_excel" class="x-container" >
						<div class="x-padding x-center">
							<span class="fa fa-circle-o-notch fa-spin x-xlarge"></span><br>
							<b class="x-text-grey">Now loading. Please wait . . .</b> 
						</div>
					</div>
				</div>
				<hr>
			</div>
		 `)
  })
  excel_upload_dialog.dialog.style.width = "80%"
  excel_upload_dialog.dialog.style.maxWidth = "900px" // add a max-width to prevent it from getting too wide
  excel_upload_dialog.dialog.style.margin = "40px auto" // add some margin to center it horizontally
  excel_upload_dialog.dialog.style.overflow = "auto" // add overflow:auto to make it scrollable if it gets too tall
  excel_upload_dialog.show()
  get_uploaded_excel()
}

function upload_excel_b(){
	SPINNER_LOADER.show()
	excel_upload_dialog.hide()
	var uploader_id  = ("{{USER_DATA['id']}}")
	$send({
		action : "/excel_upload_b",
		data : $DATA({"uploader" : uploader_id}).appendFile($ID("excel_file")),
		err_dialog:true,
		method : POST,
		err : function(r){
			SPINNER_LOADER.hide()
			println("ERROR")
			println(r)
		},
		func : function(r){
			SPINNER_LOADER.hide()
			println(r)
			excel_upload_dialog.destroy()
			var res = JSON.parse(r)
			println(res)
			var diadata = {} 
			if(res['status']=="failed"){
				diadata = {
					type :"error",
					title : "Excel Upload Failed",
					content : "Something went wrong while we read your upload, please refer to the transaction message below<br><br>status : ["+res['msg']+"]",
					buttons : ['Finished Transaction'],
					buttons_actions : [done_transac_excel]
				}
				SPINNER_LOADER.hide()
				var dialog = $dialog(diadata)
				dialog.show()
			}
			else if(res['status']=="success"){
				diadata = {
					title : "Excel Upload Success",
					type :"success",
					content : "Your upload had a safe journey, please refer to the transaction message below<br><br>status : ["+res['msg']+"]",
					buttons : ['Finished Transaction'],
					buttons_actions : [done_transac_excel]
				}
				SPINNER_LOADER.hide()
				var dialog = $dialog(diadata)
				dialog.show()
			}
			SPINNER_LOADER.hide()
		}
	})
}
function done_transac_excel(){
	location.reload()
}

function get_uploaded_excel(){
	$ID("ls_uploaded_excel").innerHTML = ""
	var uploader_id  = ("{{USER_DATA['id']}}")
	$send({
		action : "/by_app/get_uploaded_excel",
		err_dialog : true,
		method : POST,
		func : function(res){
			excel_upload_dialog.show()
			var ls_excel = JSON.parse(res)
			var ls_excel_card = ""

			for (var i = 0; i < ls_excel.length; i++) {
				var colr  = "green"
				var note  = "Synced"
				var del_ = ""
				del_ = (`
					<b class="x-text-orange" onclick="confirm_delete_excel('`+ls_excel[i]["key"]+`')">
						Option 
						<span class="fa fa-trash"></span> 
					</b>
					<b style="display:none" class="x-text-blue x-hidden" onclick="download_excel('`+ls_excel[i].file_name+`')">
						Download 
						<span class="fa fa-download"></span> 
					</b>
				`)
				ls_excel_card += (`
					<div class="x-row x-padding x-border-dashed x-border-light-grey">
						<div class="x-container x-col l2">
							<b class="x-pale-`+colr+` x-text-`+colr+` x-leftbar x-border-`+colr+`">[`+note+`]</b>
						</div>
						<div class="x-container x-col l5">
							<span class="x-small">`+ls_excel[i]["key"]+`</span>
						</div>
						<div class="x-container x-col l2">
							<span>`+ls_excel[i]["total"]+`</span>
						</div>
						<div class="x-container x-col l3">
							`+del_+`
						</div>
					</div>
				`)
			}
			$ID("ls_uploaded_excel").innerHTML = ls_excel_card
			SPINNER_LOADER.hide()
		}
	})
}

let del_dialog01
function confirm_delete_excel(fff){
	del_dialog01 = $dialog({
		title : "Precaution",
		type : "error",
		content : (`
			if want to delete <b>[`+fff+`]</b> <br>
			a copy of this file will automatically downloaded as for fail-safe
		`),
		buttons : ["Download","Delete","Cancel"],
		buttons_actions : [function (){download_excel(fff)},function (){delete_excel(fff)}]

	})
	del_dialog01.show()
}


function delete_excel(fff){
    SPINNER_LOADER.show()
    $send({
        action : "/delete_excel_b",
        method : POST,
        err_dialog : true,
        data : $DATA({"file": fff.replace("#","@@").replace("#","@@")}),
        func : function(res){
            SPINNER_LOADER.hide()
            get_uploaded_excel()
            location.reload()
        }
    })
    del_dialog01.destroy()
}

function download_excel(fff){
	let a= document.createElement('a');
	a.target= '_blank';
	a.href= '/download_excel/'+fff.replace("#","@@").replace("#","@@");
	a.click();
	get_notif()
}
</script>
  
<script>
	function download_login_start(fff){
		let a= document.createElement('a');
		a.target= '_blank';
		a.href= '/login/download_file/'+fff;
		a.click();
	}
</script>

<!-- SweetAlert Success -->
{% if session.get("import_success") %}
<script>
    Swal.fire({
        icon: 'success',
        title: 'Import Successful!',
        showConfirmButton: false,
        timer: 1500
    });
</script>
{% set session.import_success = None %}
{% endif %}

<div class="x-row x-container">
	<table class="display" id="table_id_fo" style="width:100%">
		<thead class="x-rapid-teal-heavy" style="width:100%">
			<tr class="">
				<th hidden>
					ID<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="0" />
				</th>
				<th>
					Farmer's Org Name<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="1" />
				</th>
				<th>
					Address<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="2" />
				</th>
				<th>
					Type of Organization<br>
					<input style="border:0px" type="text" placeholder="Search" data-index=3 />
				</th>
				<th>
					Registering Agencies<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="4" />
				</th>
				<th>
					Inputed By<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="1" />
				</th>
				<th>
					RCU<br>
					<input style="border:0px" type="text" placeholder="Search" data-index="1" />
				</th>
			</tr>
		</thead>
		<tbody id="list_farmers">
		</tbody>
	</table>
</div>

<script type="text/javascript">
	var init_counter = 0
	let TABLE
	function showing_table_ls_farmer(){
		SPINNER_LOADER.show()
		$send({
			action : "/formb/get_list_fo",
			method : POST,
			// a_sync : false,
			func : function (rest){
				println(" -- Getting List Farmers Done")
				var raw_data = JSON.parse(rest)
				$ID('num_input_fo').innerHTML = raw_data.length
				var res = popu__int_toData(raw_data)
				try{
					create_table(res)
				}catch(e){
					println(e)
					alert("An Error/Warning occurred during Data Loading\n\nErro/Warningr message\n[ "+e+" ]\n\n You may continue your transaction by clicking the button below")
				}
				SPINNER_LOADER.hide()
			},
			err : function(res){println(res);SPINNER_LOADER.hide()},
			progress : function(e){
				// var response_length = parseFloat(headerMap(e)['total'])
				var response_length = parseFloat(e.total)
				var response_loaded = parseFloat(e.loaded)
				var percent_  = (response_loaded / response_length) * 100;
				var percent_rounded = Math.round(percent_ * 100) / 100
				SPINNER_LOADER.loading(Math.round(percent_))
				SPINNER_LOADER.message(`
					<span>
						Gathering 
						<b>`+Math.round(percent_)+`%</b><br>
						<span class="x-small">
							[ `+(response_loaded/1000000).toFixed(1)+" / "+(response_length/1000000).toFixed(1)+` Mb ]<br>
							<i>`+(response_length-response_loaded)+` bytes remaining</i>
						</span>
					</span>
				`);
			}
		})
		// TABLE.ajax.url('/feature_0/filter_list_farmers')
		// TABLE.ajax.reload()
	}


	function create_table(data_) {
	println(" -- Creating Data Table")
	TABLE = new DataTable('#table_id_fo', {
		"scrollY": '50vh',
		"scrollX": true,
		"data": data_,
		"pageLength": 25,
		"columnDefs": [
		{
			"targets": -1,
			"className": 'compact'
		},
		{
			"target": 0,
			"visible": false,
			"searchable": false,
		},
		],
		"order": [[ 0, "desc" ]],
	});
	set_search_field();
	}

	function set_search_field(){
		$(TABLE.table().container() ).on('keyup', 'thead input', function () {
			TABLE
				.column( $(this).data('index') )
				.search( this.value )
				.draw();
		} );
		$('#table_id_fo tbody').on('mousedown', 'tr', function () {
			var data = TABLE.row(this).data();
			// show_fo_ind_(data[0]); //got to form details
			show_dialog_item(data[0],data[1])
		})
	}

	function show_dialog_item(ids, nameorg) {
		Swal.fire({
			title: nameorg,
			text: `Control the data for the entry [${nameorg}]`,
			icon: 'info',
			showCancelButton: true,
			showDenyButton: true,
			confirmButtonText: 'View',
			denyButtonText: 'Delete',
			cancelButtonText: 'Cancel',
			confirmButtonColor: '#3085d6',
			denyButtonColor: '#d33',
		}).then((result) => {
			if (result.isConfirmed) {
				show_fo_ind_(ids);
			} else if (result.isDenied) {
				Swal.fire({
					title: 'Confirm Delete Record',
					text: 'You are about to delete an entry. Choose carefully.',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Delete',
					cancelButtonText: 'Go Back',
					confirmButtonColor: '#d33',
					cancelButtonColor: '#3085d6',
				}).then((res) => {
					if (res.isConfirmed) {
						$send({
							action: "/formb/delete_item",
							method: POST,
							data: $DATA({ "id": ids }),
							func: function (r) {
								var parsed = JSON.parse(r);
								window.location.reload();
							}
						});
					}
				});
			}
		});
	}

	function popu__int_toData(res){
		for (var i = 0; i < res.length; i++) {
			if(parseInt(res[i][3]) != NaN ){
				res[i][3] = TYPES_ORG[parseInt(res[i][3])]
			}
			if(parseInt(res[i][4]) != NaN ){
				res[i][4] = REG_AGENCIES[parseInt(res[i][4])]
			}
		}
		return res
	}

	function clear_form_field(){
		var form_data_b = $CLASS("form_data_b")
		for (var i = 0; i < form_data_b.length; i++) {
			var input_type = form_data_b[i].type
			if(form_data_b[i].id==""){continue}
			if( (["text","textarea","select-one","date","time"]).includes(input_type) ){
				form_data_b[i].value = ""
			}
			else if( (["radio"]).includes(input_type) ){
				form_data_b[i].checked = ""
			}
			form_data_b[i].disabled = false
		}
	}

	function show_fo_ind_(ids){
		$send({
			action : "/formb/get_ind_fo",
			method : POST,
			data : $DATA({"id":ids}),
			func : function(rrr){
    var resp = JSON.parse(rrr);
    println(resp);

    if ($ID("id")) {
        $ID("id").value = resp[0]["id"];
    }

    var form_data_b = $CLASS("form_data_b");
    for (var i = 0; i < form_data_b.length; i++) {
        var input_type = form_data_b[i].type;
        if (form_data_b[i].id == "") { continue }
        if (["text","textarea","select-one","date","time"].includes(input_type)) {
            form_data_b[i].value = resp[0][form_data_b[i].id];
        }
        else if (["radio"].includes(input_type)) {
            form_data_b[i].checked = resp[0][form_data_b[i].id];
        }
        else if (["checkbox"].includes(input_type)) {
            if (resp[0][form_data_b[i].id] == true || resp[0][form_data_b[i].id] == 'true') {
                form_data_b[i].click();
            }
        }
    }


    if (String(resp[0].uploaded_by) !== String(CURRENT_USER_ID)) {
		disableForm();
	} else {
		enableForm();
	}

    show_view('forms','page_content');
}
		})

	}
</script>

<script>
const CURRENT_USER_ID = {{ session["USER_DATA"][0]["id"] }};
function disableForm() {
    var form_data_b = $CLASS("form_data_b");
    for (var i = 0; i < form_data_b.length; i++) {
        form_data_b[i].disabled = true;
    }

    // disable all 3 buttons
    if ($ID("submit_btn_main")) $ID("submit_btn_main").style.pointerEvents = "none";
    if ($ID("submit_btn_main")) $ID("submit_btn_main").style.opacity = "0.5";

    if ($ID("submit_btn_header")) $ID("submit_btn_header").style.pointerEvents = "none";
    if ($ID("submit_btn_header")) $ID("submit_btn_header").style.opacity = "0.5";

    if ($ID("show_mem_modal_btn")) $ID("show_mem_modal_btn").style.pointerEvents = "none";
    if ($ID("show_mem_modal_btn")) $ID("show_mem_modal_btn").style.opacity = "0.5";
}

function enableForm() {
    var form_data_b = $CLASS("form_data_b");
    for (var i = 0; i < form_data_b.length; i++) {
        form_data_b[i].disabled = false;
    }

    if ($ID("submit_btn_main")) $ID("submit_btn_main").style.pointerEvents = "auto";
    if ($ID("submit_btn_main")) $ID("submit_btn_main").style.opacity = "1";

    if ($ID("submit_btn_header")) $ID("submit_btn_header").style.pointerEvents = "auto";
    if ($ID("submit_btn_header")) $ID("submit_btn_header").style.opacity = "1";

    if ($ID("show_mem_modal_btn")) $ID("show_mem_modal_btn").style.pointerEvents = "auto";
    if ($ID("show_mem_modal_btn")) $ID("show_mem_modal_btn").style.opacity = "1";
}
</script>