<div class="col-lg-8">
	<div class="row">
		<!-- Sales Card -->
		<div class="pagetitle">
			<h5 class="card-title">My Forms <span>/Create your own Forms here</span></h5>
		</div>
		<div class="col-xxl-2 col-md-2">
			<div class="card info-card sales-card">
				<a href="/mis-v4/core-personal-forms?form-add">
					<div class="card-body">
						<div class="x-center">
							<h5 class="card-title">Add Forms</h5>
						</div>
						<div class="x-center">
								<i class="ri-add-circle-line x-xlarge x-text-green"></i>
						</div>
					</div>
				</a>
			</div>
			<br>
			<!-- <div class="card info-card sales-card">
				<a href="/mis-v4/core-personal-forms?form-add">
					<div class="card-body x-center align-items-center  justify-content-center">
						<h5 class="card-title">Add Forms</h5>

						<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
							<i class="bi bi-file-earmark-plus-fill"></i>
						</div>
					</div>
				</a>
			</div> -->


		</div>
		{% for _form in personal_forms['all_forms'] %}
			{% if _form['by'] == USER_DATA['id'] or _form['form_code'] in personal_forms['collection']  %}
			<div _collection="{{_form['form_code']}}" class="COLLECTION col-xxl-3 col-md-3" onclick="open_form_records({{_form['id']}},{{loop.index}})">
				<div class="card info-card sales-card">
					<div class="card-body">
						<h5 class="card-title x-small">{{_form['form_name']}} <br>
							<span>{{_form['form_nature']}} | {{_form['form_group']}}</span>
						</h5>
						<div class="d-flex align-items-center">
							<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
								{% if _form['form_nature'] == "form"%}
									<i class="bi bi-pencil-square"></i>
								{%elif _form['form_nature'] == "tracker"%}
									<i class="bi bi-bar-chart-line"></i>
								{% else %}
									<i class="bi bi-pen-fill"></i>
								{% endif %}
							</div>
							<div class="ps-3 x-small">
								<!-- <h6>$3,264</h6> -->
								<span class="text-muted small pt-2 ps-1">By</span>
								<span class="text-success small pt-1 fw-bold">{{_form['name']}}</span>

							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		{% endfor %}
		<!-- End Sales Card -->
		<!-- End Customers Card -->
		<hr>
		<div class="pagetitle">
			<h5 class="card-title">Discover! <span> Add other forms to your collection</span></h5>
		</div>

		{% for _form in personal_forms['all_forms'] %}
			<div id="{{_form['form_code']}}" class="col-xxl-3 col-md-3" onclick="show_template_form('{{_form['form_code']}}')">
				<div class="card info-card sales-card">
					<div class="card-body">
						<h5 class="card-title x-small">{{_form['form_name']}} <br>
							<span>{{_form['form_nature']}} | {{_form['form_group']}}</span>
						</h5>
						<div class="d-flex align-items-center">
							<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
								{% if _form['form_nature'] == "form"%}
									<i class="bi bi-pencil-square"></i>
								{%elif _form['form_nature'] == "tracker"%}
									<i class="bi bi-bar-chart-line"></i>
								{% else %}
									<i class="bi bi-pen-fill"></i>
								{% endif %}
							</div>
							<div class="ps-3 x-small">
								<!-- <h6>$3,264</h6> -->
								<span class="text-muted small pt-2 ps-1">By</span>
								<span class="text-success small pt-1 fw-bold">{{_form['name']}}</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
</div>
<script type="text/javascript">
	function open_form_records(ids,l_ind){
		goto('/mis-v4/core-personal-forms?form-data&fid='+ids+'&lpi='+l_ind)
	}
	$onload(function(){
		var collection = $CLASS("COLLECTION")
		for (var i = 0; i < collection.length; i++) {
			$ID(collection[i].getAttribute('_collection')).style.display = "none"
		}
	})

	function show_template_form(form_code){
		$send({
			action : "/mis-v4/personal-forms/get-template",
			method : POST,
			data : $DATA({"form_code":form_code}),
			func : function(temp){
				$dialog({
					title : "Template Preview",
					subtitle : "this dialog is for viewing only and not use for encoding or inputing data. You can add this template to  your collection in order t o use it ",
					content : temp,
					buttons : ["Add to Collection","Close"],
					buttons_actions : [function(){add_temp_to_collection(form_code)}]
				}).show()
			}
		})
	}

	function add_temp_to_collection(form_code){
		$send({
			action : "/mis-v4/personal-forms/add-collection",
			method : POST,
			data : $DATA({
				"form_code":form_code,
				"user_id":"{{USER_DATA['id']}}",
				"url_referrer" : window.location.pathname + window.location.search	
			}),
			func : function(r){
				goto(r)
			}
		})
	}
</script>