.table-responsive {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* Important part */
#modaldialogedit{
    overflow-y: initial !important
}
#modalbodyedit{
    height: 80vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #172b4d;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #d9d9d9;
  }
  
  .scroll-box {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #ccc;
  }

  img {
    pointer-events: none;
      
  }
  
.file-upload{
  display:block;
  text-align:center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.file-upload .file-select{
  display:block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor:pointer;
  height:40px;
  line-height:40px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;
  position:relative;
}
.file-upload .file-select .file-select-button{
  background:#dce4ec;
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
}
.file-upload .file-select .file-select-name{
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}
.file-upload .file-select:hover{
  border-color:#34495e;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button{
  background:#34495e;
  color:#FFFFFF;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select{
  border-color:#3fa46a;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload.active .file-select .file-select-button{
  background:#3fa46a;color:#FFFFFF;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.file-upload .file-select input[type=file]{
  z-index:100;cursor:pointer;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  opacity:0;
  filter:alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled{
  opacity:0.65;
}
.file-upload .file-select.file-select-disabled:hover{
  cursor:default;
  display:block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor:pointer;
  height:40px;
  line-height:40px;
  margin-top:5px;
  text-align:left;
  background:#FFFFFF;
  overflow:hidden;
  position:relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button{
  background:#dce4ec;
  color:#666666;
  padding:0 10px;
  display:inline-block;
  height:40px;
  line-height:40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name{
  line-height:40px;
  display:inline-block;
  padding:0 10px;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.loading-text {
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
  
