<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-890" lang="en-us">
	<script src="../../static/js/Brorn.min.js"></script> 
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
	<!-- fontawesomeCDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script src="../../static/webrepstatic/js/jquery.min.js"></script>
	<!-- <script type="text/javascript" src="../../static/webrepstatic/js/index.js"></script> -->

	<!-- CSS only -->
	<link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


	<!-- JavaScript Bundle with Popper -->
	<script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>
	<link href="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.css" rel="stylesheet">
	<script src="https://transloadit.edgly.net/releases/uppy/v1.6.0/uppy.min.js"></script>

	<title >Create Case Study</title>
</head>

<body>

	{% include 'main/navbarpages.html' %}
<!-- Back Arrow -->
	<div class="container text-start mt-5">
		<a class=" texttheme" href="/rapid/admin/adminKnowledgeCenter.html">
			<span><i class="fa-solid fa-arrow-left-long"></i></span>
		</a>
	</div>

<!-- Title -->
	<div class="container d-flex justify-content-between text-start mt-5">
		<div class="container">
			<h5 class="display-5 texttheme" >Create Case Study/Story of Change</h5>
			<input type="text" id="id" class="article_form form-control" value="" hidden style="border:0.1px">

		</div>
		<div class="container">
			<span class="btn float-end" type="submit" id="donePrint"  onclick="print_cs()">
				<span class="fa fa-print"></span>&nbsp;View and Print
			</span>
			<span class="btn float-end" type="submit" id="doneDocx"  onclick="docx_cs()">
				<span class="fa fa-file"></span>&nbsp;Download Document (On-Dev)
			</span>
		</div>
		<div id="submit_btn_handler">
			<button class="btn btn-outline-success rounded-5" type="submit" data-bs-toggle="modal" data-bs-target="#createPostConfirmation" id="doneCreate"  onclick="submit_article()">Submit</button>
		</div>
	</div>
	

<!-- Arcticle News -->
	<div id="print_docx" class="container shadow-sm p-3 bg-body rounded mb-5">
		<div class="container row">
			<div class="col-4 border-end border-light">
				<form class=" row g-3 needs-validation texttheme" id="form_for_createPost1" novalidate>
					<div class="col-md-12">
						<label for="csAuthor" class="form-label small fw-bolder">Author name</label>
						<input class="article_form form-control" id="csAuthor" value="" rows="3" placeholder=""></input>
						<div class="invalid-feedback">
							Please provide an Author name.
						</div>
					</div>
					<div class="col-md-12">
						<label for="csIntro" class="form-label small fw-bolder">Introduction</label>
						<input class="article_form form-control" id="csIntro" value="" rows="3" placeholder=""></input>
						<div class="invalid-feedback">
							Please provide an Introduction.
						</div>
					</div>
					<div class="col-12">
						<label for="csPurpose" class="form-label small fw-bolder">Purpose of the Case Study</label>
						<textarea class="article_form form-control" id="csPurpose" rows="3" style="height: 200px;"></textarea>
						<div class="invalid-feedback">
							Please select a Purpose of the Case Study.
						</div>
					</div>			
					<div class="col-12">
						<label for="csKeyMsg" class="form-label small fw-bolder">The key messages coming out of the case study / story of change</label>
						<textarea class="article_form form-control" id="csKeyMsg" rows="3" style="height: 200px;"></textarea>
						<div class="invalid-feedback">
							Please input a field.
						</div>
					</div>
					<div class="col-12">
						<label for="csType" class="form-label small fw-bolder">Type of Case Study</label>
						<select class="article_form form-select" id="csType" required>
							<option value="None">Select an Option</option>
							<option >Type</option>
						</select>
						<div class="invalid-feedback">
							Please select a Category.
						</div>
					</div>
				</form>
			</div>
			<div class="col-8">
				<form class="row g-3 needs-validation texttheme" id="form_for_createPost2">
					<div class="row">
						<div class="col-md-12">
							<label for="csTypeIntervention" class="form-label small fw-bolder">What RAPID interventions were provided to this person/group?</label>
							<input class="article_form form-control" id="csTypeIntervention" rows="3"></input>
							<div class="invalid-feedback">
								Please provide heading title.
							</div>
						</div>

						<div class="col-md-6">
							<label for="csTypeInterventionDate" class="form-label small fw-bolder">Date</label>
							<input type="date" class="article_form form-control" id="csTypeInterventionDate" rows="3"></input>
							<div class="invalid-feedback">
								Please provide heading title.
							</div>
						</div>
						<div class="col-md-6">
							<label for="csTypeInterventionArea" class="form-label small fw-bolder">Area/Location</label>
							<input class="article_form form-control" id="csTypeInterventionArea" rows="3"></input>
							<div class="invalid-feedback">
								Please provide heading title.
							</div>
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-12">
							<label class="form-label small fw-bolder">What Knowledge Product/s has/have been developed/produced for this person/group?</label>
						</div>
						<div class="col-3">
							<input class="article_form form-control" id="csProductProducedTitle" placeholder="Title" rows="3"></input>
							<div class="invalid-feedback">
								Please provide a text content.
							</div>
						</div>
						<div class="col-3">
							<input class="article_form form-control" id="csProductProducedType" placeholder="Type" rows="3"></input>
							<div class="invalid-feedback">
								Please provide a text content.
							</div>
						</div>
						<div class="col-3">
							<input type="date" class="article_form form-control" id="csProductProducedDate" placeholder="Date Produce/Publish" rows="3"></input>
							<div class="invalid-feedback">
								Please provide a text content.
							</div>
						</div>
						<div class="col-3">
							<input class="article_form form-control" id="csProductProducedArea" placeholder="Area of distribution" rows="3"></input>
							<div class="invalid-feedback">
								Please provide a text content.
							</div>
						</div>
					</div>

					<div class=row>
						<div class="col-12">
							<br><br>
							<span class="form-label h2 fw-bolder">The Situation</span>
						</div>
						<div class="col-md-12">
							<label for="cs_sit_prior_act_chnge" class="form-label small fw-bolder">The situation prior to the activity or change being described</label>
							<input class="article_form form-control" id="cs_sit_prior_act_chnge" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<label for="cs_part_change_rel_proj" class="form-label small fw-bolder">The particular challenges faced by the relevant project, or organization</label>
								<input class="article_form form-control" id="cs_part_change_rel_proj" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input.
								</div>
							</div>
							<div class="col-md-2">
								<label for="cs_part_change_rel_proj_date_start" class="form-label small fw-bolder">Start</label>
								<input type="date" class="article_form form-control" id="cs_part_change_rel_proj_date_start" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input.
								</div>
							</div>
							<div class="col-md-2">
								<label for="cs_part_change_rel_proj_date_end" class="form-label small fw-bolder">end</label>
								<input type="date" class="article_form form-control" id="cs_part_change_rel_proj_date_end" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input.
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_sit_aff_proj" class="form-label small fw-bolder">The people, organization (s), or situation(s) that were affected (or might be affected) by the project</label>
							<input class="article_form form-control" id="cs_sit_aff_proj" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_proj_achv_action" class="form-label small fw-bolder">What the project is (or was) trying to achieve, and what actions are being taken (or have been taken) to achieve it</label>
							<input class="article_form form-control" id="cs_proj_achv_action" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
					</div>


					<div class=row>
						<div class="col-12">
							<br><br>
							<span class="form-label h2 fw-bolder">The Change/s</span>
						</div>
						<div class="col-md-8">
							<label for="cs_change_realized" class="form-label small fw-bolder">The change(s) that have been realized (if any)</label>
							<input class="article_form form-control" id="cs_change_realized" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-4">
							<label for="cs_change_realized_date" class="form-label small fw-bolder">Date as of the current change</label>
							<input type="date" class="article_form form-control" id="cs_change_realized_date" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_unpl_pln_pos_neg" class="form-label small fw-bolder">Whether they were planned or unplanned; positive or negative</label>
							<input class="article_form form-control" id="cs_unpl_pln_pos_neg" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_tang_demo_chnge_taken" class="form-label small fw-bolder">The tangible and demonstrable changes that have taken place in people’s lives</label>
							<input class="article_form form-control" id="cs_tang_demo_chnge_taken" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_key_chng_exp_ocour_not" class="form-label small fw-bolder">Key changes that were expected to occur but have not</label>
							<input class="article_form form-control" id="cs_key_chng_exp_ocour_not" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_chngs_ocour" class="form-label small fw-bolder">The evidence that shows what changes (if any) have occurred</label>
							<input class="article_form form-control" id="cs_chngs_ocour" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
					</div>

					<div class=row>
						<div class="col-12">
							<br><br>
							<span class="form-label h2 fw-bolder">Analysis</span>
						</div>
						<div class="col-md-12">
							<label for="cs_sig_chng" class="form-label small fw-bolder">The significance of the changes (or activities carried out)</label>
							<input class="article_form form-control" id="cs_sig_chng" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_pot_lterm_imp" class="form-label small fw-bolder">The potential long-term implications (for people’s lives, organizations, policies, etc.)</label>
							<input class="article_form form-control" id="cs_pot_lterm_imp" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_ind_sust_chng_like" class="form-label small fw-bolder">An indication of how sustainable any changes are likely to be</label>
							<input class="article_form form-control" id="cs_ind_sust_chng_like" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_key_fact_cnhge_happen" class="form-label small fw-bolder">The key factors that made the changes happen</label>
							<input class="article_form form-control" id="cs_key_fact_cnhge_happen" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_analysis_attrib_proj" class="form-label small fw-bolder">An analysis of how any change was attributable to the work of a project, or organization</label>
							<input class="article_form form-control" id="cs_analysis_attrib_proj" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_ind_fact_ifl_chng" class="form-label small fw-bolder">An indication of what other factors/efforts may also have influenced the changes</label>
							<input class="article_form form-control" id="cs_ind_fact_ifl_chng" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
					</div>



					<div class=row>
						<div class="col-12">
							<br><br>
							<span class="form-label h2 fw-bolder">Lessons and recommendations</span>
						</div>
						<div class="col-md-12">
							<label for="cs_chng_interv_design_imp" class="form-label small fw-bolder">Changes in intervention design that might be made (or might have been made) to improve matters</label>
							<input class="article_form form-control" id="cs_chng_interv_design_imp" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_lesson_org_sim_sect_work" class="form-label small fw-bolder">Lessons for other organizations working in similar areas or sectors of work</label>
							<input class="article_form form-control" id="cs_lesson_org_sim_sect_work" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
					</div>


					<div class=row>
						<div class="col-12">
							<br><br>
							<span class="form-label h2 fw-bolder">Related Stories</span>
						</div>
						<div class="col-md-12">
							<label for="cs_photo_act" class="form-label small fw-bolder">URL Photographs that could help show the activities carried out or changes realized</label>
							<input class="article_form form-control" id="cs_photo_act" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_vid_media_links" class="form-label small fw-bolder">URL of other media links that could be embedded into the case study</label>
							<input class="article_form form-control" id="cs_vid_media_links" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="col-md-12">
							<label for="cs_quotes" class="form-label small fw-bolder">URL Online/Social Media articles, post and</label>
							<input class="article_form form-control" id="cs_quotes" rows="3" placeholder="Input"></input>
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<label for="cs_quotes_ref" class="form-label small fw-bolder">Person in reference</label>
								<input class="article_form form-control" id="cs_quotes_ref" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input. publications related to the story
								</div>
							</div>
							<div class="col-md-3">
								<label for="cs_quotes_designation" class="form-label small fw-bolder">Title/Designation</label>
								<input class="article_form form-control" id="cs_quotes_designation" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input.
								</div>
							</div>
							<div class="col-md-3">
								<label for="cs_quotes_date" class="form-label small fw-bolder">Date recorded/captured</label>
								<input type="date" class="article_form form-control" id="cs_quotes_date" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input.
								</div>
							</div>
							<div class="col-md-3">
								<label for="cs_quotes_topic" class="form-label small fw-bolder">Specific topic</label>
								<input class="article_form form-control" id="cs_quotes_topic" rows="3" placeholder="Input"></input>
								<div class="invalid-feedback">
									Please provide Input.
								</div>
							</div>
						</div>
						<br>
						<hr>
						<div class="col-md-12">
							<label for="photos" class="form-label small fw-bolder">Photos</label><br>
							<span class="text-warning">
								<span class="text-warning fa fa-warning"></span>
								If you're editing this entry, you are required to re upload the pictures before saving
							</span>
							<input id="photos" type="file" class="article_form form-control" multiple style="height:50px" onchange="display_img(this)">
							<div class="invalid-feedback">
								Please provide Input.
							</div>
						</div>
						<div id="imgs_holder" class="col-md-12 center">
						</div>
					</div>



				</form>
				<div class="mt-5">
					
				</div>
			</div>
		</div>
	</div>

	<!-- Article Confirmation modal -->
	<div class="modal " id="createPostConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">You're going there!</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body mb-3">
					<img src="https://img.freepik.com/free-vector/flat-composition-with-male-postman-letters-envelopes-vector-illustration_1284-67249.jpg?w=1380&t=st=1675837891~exp=1675838491~hmac=50c5f5bbe7f981071aa34e4c72806517b53911568ff8c26e7ebf2003c6d1eaa8" style="height:390px; width: 450px;">
					Your content needs to be reviewed by NPCO-assigned staff; <br>You will get a notification via email within a short period.
					<hr>
					<h3>Your Upload Process is</h3>
					<h2 id="upload_process"></h2>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
					<button type="button" class="btn btn-primary" onclick="goto('/rapid/NewsAndStories/NewsAndStories.html')">Continue</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		function create_photo_album(da){
			for (var i = 0; i < da.length; i++) {
				const para = document.createElement("img");
				para.style["max-width"] = "500px"
				para.src = "/webrep/article/get_img/"+da[i]
				$ID("imgs_holder").appendChild(para)
			}
		}

		function display_img(elem){
			var __files = elem.files
			for (var i = 0; i < __files.length; i++) {
				// println(window.URL.createObjectURL(__files[i]))
				const para = document.createElement("img");
				para.style["max-width"] = "500px"
				$ID("imgs_holder").appendChild(para)
				para.src = window.URL.createObjectURL(__files[i])
			}
		}

		function print_cs(){
			goto('/rapid/case_study/printcs.html?exec=print&ids='+URL_ARGS['ids'])
		}
		function docx_cs(){
			goto('/rapid/case_study/printcs.html?exec=docx&ids='+URL_ARGS['ids'])
		}

		function submit_article(){
			println(" * Posting Article")
			var data = {}; var from_field = $CLASS('article_form')
			for (var i = 0; i < from_field.length; i++) {
				if(from_field[i].type =="checkbox"){
					data[from_field[i].id] = from_field[i].checked
				}else{
					data[from_field[i].id] = web_safe_encode(from_field[i].value)
				}
			}
			println(data)

			$send({
				action : "/webrep/upload_case_study",
				method : POST,
				data : $DATA(data).appendFileArr($ID("photos")),
				// data : $DATA(data).appendFileArr($ID("file_name")),
				func : function(res){
					resp = JSON.parse(res)
					println(resp)
					// goto("/rapid/NewsAndStories/NewsAndStories.html")
				},
				err : function(res){alert(res)},
				progress : function(e){
					// var response_length = parseFloat(headerMap(e)['total'])
					println(e)
					var response_length = parseFloat(e.total)
					var response_loaded = parseFloat(e.loaded)
					var percent_  = (response_loaded / response_length) * 100;
					var percent_rounded = Math.round(percent_ * 100) / 100
					$ID("upload_process").innerHTML=(`
						<span>
							Gathering 
							<b>`+Math.round(percent_)+`%</b><br>
							<span class="x-small">
								[ `+(response_loaded/1000000).toFixed(1)+" / "+(response_length/1000000).toFixed(1)+` Mb ]<br>
								<i>`+(response_length-response_loaded)+` bytes remaining</i>
							</span>
						</span>
					`);
				}
			})
		}


		$onload(function(){
			$send({
				action : "/webrep/case_study/get_post_ind",
				method : POST,
				data : $DATA({"id":URL_ARGS['ids']}),
				func : function(res){
					var resp = JSON.parse(res)[0]
					println(resp)
					var data = {}; var from_field = $CLASS('article_form')
					for (var i = 0; i < from_field.length; i++) {
						var _ID = from_field[i].id
						if(_ID=="id"){
							$ID('id').value = resp[_ID]
						}

						if(resp['USER_ID'] !="{{user_data['id']}}"){
							println("true")
							$ID('submit_btn_handler').innerHTML = "";
							from_field[_ID].disabled = true;
							// from_field[_ID].style.border = "0px";
							from_field[_ID].style["background-color"] = "white";

						}

						try{
							from_field[_ID].value = web_safe_decode(resp[_ID])
						}catch(e){}
					}
					create_photo_album(resp["photos"].split("||"))
				}
			})
		})

		function set_fields(resp){
			var data = {}; var from_field = $CLASS('article_form')
			for (var i = 0; i < from_field.length; i++) {
				var _ID = from_field[i].id
				try{
					from_field[_ID].value = web_safe_decode(resp[_ID])
				}catch(e){}
			}
		}

        var k_counter = 1
        function add_row() {
            // $ID('main_').innerHTML += og_row
            // Create an empty <tr> element and add it to the 1st position of the form3_table_org_comp:
            var row = form2_table.insertRow(2);
            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            row.insertCell(0).innerHTML = `<td><input class="FORM2_FIELD x-light-grey x-input" id="form_2_activity_agreements_kapown_`+k_counter+`" type="text" name="form_2_activity_agreements[]"></td>`
            row.insertCell(1).innerHTML = `<td><input class="FORM2_FIELD x-light-grey x-input" id="form_2_date_conducted_kapown_`+k_counter+`"" type="date" name="form_2_date_conducted[]"></td>`
            k_counter += 1
            // Add some text to the new cells:
        }

	</script>
	{% include 'main/footer.html' %}

</body>
</html>