
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>
    FMI {% block title %}{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" href="/static/fmi_static/assets/css/volt.css" type="text/css">
<link rel="stylesheet" href="/static/fmi_static/assets/css/style.css" type="text/css">
<link rel="stylesheet" href="/static/psalm_static/dcf_static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
<link rel="stylesheet" href="/static/psalm_static/dcf_static/assets/css/fontawesome/css/fontawesome.min.css" type="text/css">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'fmi_includes/fmi_sidebar.html' %}
    
    <main class="content">


      {% block content %}{% endblock content %} 


    </main>

  {% include 'fmi_includes/fmi_scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  <script src="/static/psalm_static/dcf_static/assets/css/fontawesome/js/all.min.js"></script>
  {% block javascripts %}{% endblock javascripts %}  
      
</body>
</html>
