<div class="col-lg-3">

	<!-- Recent Activity -->
	<div class="card">
		<div class="card-body">
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<!-- ====================================================== -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-USERS" aria-expanded="false" aria-controls="flush-USERS">
							<h5 class="card-title">The Team 
								<span>| 
									{% if USER_DATA['mis_role']==1%}
										All
									{% else %}
										{{USER_DATA['rcu']}}
									{% endif %}
								</span>
							</h5>
						</button>
					</h2>
					<div id="flush-USERS" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="">
						<div class="activity" style="max-height: 400px;overflow-y: scroll;">
							{%for staff in staff_list %}
							<div class="activity-item d-flex" onclick="get_staff_info({{staff['id']}})">
								<div class="activite-label">
									{% if(staff['profilepic']=="" or staff['profilepic']==" " ): %}
										<img style="max-width: 50px;"  src="\static\psalm_static\menu\img\profilepic.png" alt="Profile" class="rounded-circle">
									{% else: %}
										<img style="max-width: 50px;max-height: 50px;"  src="\api\user_pic\{{staff['profilepic']}}" alt="Profile" class="rounded-circle">
									{%endif%}
								</div>
								<i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
								<div class="activity-content">
									<a href="#" class="fw-bold text-dark">{{staff['name']}}</a><br>
									{{staff['job']}}
								</div>
							</div><!-- End activity item-->
							{%endfor%}

						</div>
					</div>
				</div>
				<!-- ====================================================== -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
						<button id="chat_btn" class="accordion-button " type="button" data-bs-toggle="show" data-bs-target="#flush-CHATS" aria-expanded="true" aria-controls="flush-CHATS">
							<h5 class="card-title">chats <span>| Visible to All</span></h5>
						</button>
					</h2>
					<div id="flush-CHATS" class="accordion-collapse  show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample" style="">
						<iframe id="dash_core_embed" src="/embed_forum_talks/0" frameborder="0" scrolling="no" style="width: 100%;" onload="EMBED__SCRIPT(this,chats)">
						</iframe>
						<script type="text/javascript">
							function chats(_BODY_,obj){
								$ID('chat_btn').click()
							}
						</script>
					</div>
				</div>
			<!-- 	<script type="text/javascript">
					$onload(function(){
						$ID('chat_btn').click()
					})
				</script> -->
				<!-- ====================================================== -->
<!-- 				<div class="accordion-item">
					<h2 class="accordion-header" id="flush-headingTwo">
						<button id="chat_btn" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-NOTES" aria-expanded="true" aria-controls="flush-NOTES">
							<h5 class="card-title">My Notes <span>| Visible to you</span></h5>
						</button>
					</h2>
					<div id="flush-NOTES" class="accordion-collapse collapse show" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample" style="">
						
					</div>
				</div> -->
			</div>

		</div>

		<hr>
		{% include '/parts/__chats.html'%}
	</div><!-- End Recent Activity -->

</div>