<html>
<head>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-890" lang="en-us">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">
    <!-- fontawesomeCDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<script src="js/jquery.min.js"></script>

		<!-- CSS only -->
    <link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


		<!-- JavaScript Bundle with Popper -->
    <script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

		<title >NewS And Stories</title>
	</head>



</head>

<body>
 
{% include 'main/navbarpages.html' %}

<!-- Title -->
  <div class="text-center">
    <h5 class="display-2 texttheme mt-5 mb-5" >News and Stories</h5>
  </div>

<!-- Menu Navbar -->
  <nav class="container navbar bg-light shadow-sm p-3 bg-body rounded sticky-top" >
    <div class="container-fluid">
      <div class="dropdown d-flex ">
        <a class="me-4 " style="color: #1F4F5A !important;" role="button"><u>Latest</u></a>
        <a class="me-4 " style="color: #1F4F5A !important;" role="button">News</a>
        <a class=" rounded-pill dropdown-toggle me-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="color: #1F4F5A !important;">Stories</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#uploadDocument" href="">Coffee Stories</a></li>
            <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#uploadMultimedia" href="" href="#">Cacao Stories</a></li>
            <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#uploadPublication" href="" href="#">Coconut Stories</a></li>
            <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#uploadPublication" href="" href="#">Processed Fruits and Nuts Stories</a></li>
          </ul>
        <a class="me-4 " style="color: #1F4F5A !important;" role="button">Events</a>
        <a class="me-4" id="search" onclick="searchclicked()" style="color: #1F4F5A !important;" role="button">Search</a>          
          <script>
            function searchclicked() {
              var x = document.getElementById("searchdiv");
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
            }
          </script>
      </div>
      <div class="d-flex">
        <a class="me-4 active" style="color: #1F4F5A !important;" href="/rapid/knowledgecenter/KnowledgeAdmin" role="button">My Files</a>
      </div>
    </div>
  </nav >

<!-- Search Area -->
  <div class="container shadow-lg p-3  bg-body rounded mt-2" id="searchdiv" style="display: none;">
      <div class="d-flex justify-content-center">     
        <form class="row row-cols-xxl-auto g-3 align-items-center mt-1 ">
          <div class="col-12 ">
            <label class=" searchFont mb-2 " for="searchTitle">Title</label>
            <input class="form-control form-control-md" id="searchTitle" type="text" placeholder="(e.g., Coffee Story)" aria-label=".form-control-lg example">
          </div>

          <div class="col-12  ">
            <label class=" searchFont mb-2" for="seachRegion">Category</label>
            <select class="form-select form-select-md" id="seachRegion">
              <option selected>News</option>
              <option value="1">Stories</option>
              <option value="2">Events</option>            
            </select>
          </div>

          <div class="col-12  ">
            <label class=" searchFont mb-2" for="seachRegion">Region</label>
            <select class="form-select form-select-md" id="seachRegion">
              <option selected>National</option>
              <option value="1">Region XIII</option>
              <option value="2">Region IX</option>
              <option value="3">Region X</option>
              <option value="4">Region XI</option>
              <option value="5">Region XII (SOCCSKSARGEN)</option>
              <option value="6">Region XIII (CARAGA)</option>
              <option value="7">BARMM</option>            
            </select>
          </div>

          <div class="col-12 ">
            <label class=" searchFont mb-2" for="seachYear">Year</label>
            <select class="form-select form-select-md" id="seachYear">
              <option selected>Choose...</option>
              <option value="1">2015</option>
              <option value="2">2016</option>
              <option value="3">2017</option>
              <option value="4">2018</option>
              <option value="5">2019</option>
              <option value="6">2020</option>
              <option value="7">2021</option>
              <option value="8">2022</option>
              <option value="9">2023</option>
            </select>
          </div>

          <div class="col-12 ">
            <label class=" searchFont mb-2" for="searchTags">Tags</label>
            <input class="form-control form-control-md" id="searchTafs" type="text" placeholder="(e.g., Cacao)" aria-label=".form-control-lg example">
          </div>
          

          <div class="col-12 ">
            <label class=" searchFont mb-2" ></label>
            
            <a type="submit" class="fs-5 searchFont mt-4 ms-3" role="button" data-bs-toggle="modal" data-bs-target="#searchResult"><span><i class="fa-solid fa-magnifying-glass small"></i>&nbspSearch</span></a>

          </div>
        </form>
      </div>
  </div>

<!-- Latest News & Stories -->
  <div class="mb-5">
    <div class="container mt-5 card2 position-relative">
      <div class="container">
        <div class="container row shadow-sm p-3 bg-body rounded">
          <div class="col-lg-2">
            <span><p class="small text-muted">News</p></span>
            <p class="small text-muted"><span>2023</span>&nbsp<span>Aug. 3</span></p>
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-10 col-lg-10">
                <p class="small text-muted">Northern Mindanao</p>
                <h3 class="newsfont texttheme fw-bolder">This is a sample heading</h3>
                <p class="small">Lorem ipsum dolor sit amet. Ut illum magnam est animi error qui voluptas voluptatem nam nostrum enim. Ut enim soluta cum doloremque nisi et nostrum dolores.</p>
                <figcaption class="blockquote-footer mt-3 fst-italic">Christian Castle Bron</figcaption>
                <a class="small stretched-link text-white " type="button"> click to read more</a>
              </div>
              <div class="col-2 col-lg-2">
                <div class="cimg-item mt-4">
                  <img  src="https://images.unsplash.com/photo-1447946442870-3be230521a91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="cimg-img" alt="...">
                </div>
              </div>            
            </div>          
          </div>     
        </div>
      </div>   
    </div>

    <div class="container mt-5 card2 position-relative">
      <div class="container">
        <div class="container row shadow-sm p-3 bg-body rounded">
          <div class="col-lg-2">
            <span><p class="small text-muted">News</p></span>
            <p class="small text-muted"><span>2023</span>&nbsp<span>Jan. 3</span></p>
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-10 col-lg-10">
                <p class="small text-muted">CARAGA</p>
                <h3 class="newsfont texttheme fw-bolder">This is a sample heading</h3>
                <p class="small">Lorem ipsum dolor sit amet. Ut illum magnam est animi error qui voluptas voluptatem nam nostrum enim. Ut enim soluta cum doloremque nisi et nostrum dolores.</p>
                <figcaption class="blockquote-footer mt-3 fst-italic">Christian Castle Bron</figcaption>
                <a class="small stretched-link text-white " type="button"> click to read more</a>
              </div>
              <div class="col-2 col-lg-2">
                <div class="cimg-item mt-4">
                  <img  src="https://images.unsplash.com/photo-1447946442870-3be230521a91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="cimg-img" alt="...">
                </div>
              </div>            
            </div>          
          </div>     
        </div>
      </div>   
    </div>

    <div class="container mt-5 card2 position-relative">
      <div class="container">
        <div class="container row shadow-sm p-3 bg-body rounded">
          <div class="col-lg-2">
            <span><p class="small text-muted">News</p></span>
            <p class="small text-muted"><span>2023</span>&nbsp<span>Feb. 3</span></p>
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-10 col-lg-10">
                <p class="small text-muted">BARMM</p>
                <h3 class="newsfont texttheme fw-bolder">This is a sample heading</h3>
                <p class="small">Lorem ipsum dolor sit amet. Ut illum magnam est animi error qui voluptas voluptatem nam nostrum enim. Ut enim soluta cum doloremque nisi et nostrum dolores.</p>
                <figcaption class="blockquote-footer mt-3 fst-italic">Christian Castle Bron</figcaption>
                <a class="small stretched-link text-white " type="button"> click to read more</a>
              </div>
              <div class="col-2 col-lg-2">
                <div class="cimg-item mt-4">
                  <img  src="https://images.unsplash.com/photo-1447946442870-3be230521a91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="cimg-img" alt="...">
                </div>
              </div>            
            </div>          
          </div>     
        </div>
      </div>   
    </div>
  </div>

  
{% include 'main/footer.html' %}


</body>
</html>