				<div class="col shadow-sm p-3 bg-body rounded">
					<div class="row d-block mb-3 mt-4">
						<div class="col-12">
							<a class="texttheme fw-bolder mb-1 fs-4" type="button">Stories</a>
						</div>
						<!-- ============= -->
						<div class="col  mb-2">
							{% for post in page_data %}
								{% if (post['posttype'] =='Story')%}
									{% if post["status"]=='posted' %}
									<div class="STORY_CARD card rounded-2 mb-2" style="display: none;">

										{% set f_format = post['file_name'].split(".")[post['file_name'].split(".")|length-1] %}
										{% if f_format in ['jpeg','jpg','gif','png'] %}
											<img src="/webrep/article/get_img/{{post['file_name']}}" loading="lazy" class="img_class rounded-1 article-img-content    rounded-1" alt="...">
										{% else %}
											<video muted class="img_class vid_class rounded-1 article-img-content    rounded-1" src="/webrep/article/get_img/{{post['file_name']}}">
											</video>
										{% endif %}
										<div class="card-img-overlay">
											<div class="d-flex justify-content-between">
												<p class="text-white textshadow text-start small">{{post['postRcu']}}</p>
												<p class="text-white textshadow text-start small"> {{post['date']}}</p>
											</div>
											<a class="card-title fw-bolder text-white stretched-link fs-4 text-truncate textshadow mt-4 " href="/rapid/articles/articles.html?id={{post['id']}}" type="button">{{post['postheader']}}.</a>
										</div>
									</div>
								{% endif %}
								{% endif %}
							{% endfor %}
						</div>
						<script type="text/javascript">
							$onload(()=>{
								var STORY_CARD = $CLASS('STORY_CARD')
								for (var i = 0; i < 3; i++) {
									try{
										STORY_CARD[i].style.display = "block"
									}catch(e){}
								}

								var img_class=$CLASS("img_class")
								for (var i = 0; i < img_class.length; i++) {
									var src_1 = img_class[i].src
									var img_path = web_safe_decode(src_1).replaceAll("C:\\fakepath\\","") 
									img_class[i].src = img_path.replaceAll("C:/fakepath/","").replaceAll("C:fakepath","")
									println(img_class[i].src )
								}
							})
						</script>						
						<!-- ========= -->
						<div class="text-end">
							<a class="fst-italic texttheme small" href="" type="button">See more</a>
						</div>
					</div>
				<!-- =====Events===== -->
					<div class="row d-block mb-3">
						<div class="col-12">
							<a class="texttheme fw-bolder mb-1 fs-4" type="button">Events</a>
						</div>
						<!-- ============= -->
						<div class="col  mb-2">
							{% for post in page_data %}
								{% if (post['posttype'] =='Event')%}
									{% if post["status"]=='posted' %}
									<div class="EVENT_CARD card rounded-2 mb-2" style="display: none;">

										{% set f_format = post['file_name'].split(".")[post['file_name'].split(".")|length-1] %}
										{% if f_format in ['jpeg','jpg','gif','png'] %}
											<img src="/webrep/article/get_img/{{post['file_name']}}" loading="lazy" class="img_class rounded-1 article-img-content    rounded-1" alt="...">
										{% else %}
											<video muted class="img_class vid_class rounded-1 article-img-content    rounded-1" src="/webrep/article/get_img/{{post['file_name']}}">
											</video>
										{% endif %}
										<div class="card-img-overlay">
											<div class="d-flex justify-content-between">
												<p class="text-white textshadow text-start small">{{post['postRcu']}}</p>
												<p class="text-white textshadow text-start small"> {{post['date']}}</p>
											</div>
											<a class="card-title fw-bolder text-white stretched-link fs-4 text-truncate textshadow mt-4 " href="/rapid/articles/articles.html?id={{post['id']}}" type="button">{{post['postheader']}}.</a>
										</div>
									</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
						<script type="text/javascript">
							$onload(()=>{
								var EVENT_CARD = $CLASS('EVENT_CARD')
								for (var i = 0; i < 3; i++) {
									try{
										EVENT_CARD[i].style.display = "block"
									}catch(e){}
								}

								var img_class=$CLASS("img_class")
								for (var i = 0; i < img_class.length; i++) {
									var src_1 = img_class[i].src
									var img_path = web_safe_decode(src_1).replaceAll("C:\\fakepath\\","") 
									img_class[i].src = img_path.replaceAll("C:/fakepath/","").replaceAll("C:fakepath","")
									println(img_class[i].src )
								}
							})
						</script>						<!-- ========= -->
						<div class="text-end">
							<a class="fst-italic texttheme small" href="" type="button">See more</a>
						</div>
					</div>
				<!-- =====News===== -->
					<div class="row d-block mb-3">
						<div class="col-12">
							<a class="texttheme fw-bolder mb-1 fs-4" type="button">News</a>
						</div>
						<!-- ============= -->
						<div class="col  mb-2">
							{% for post in page_data %}
								{% if (post['posttype'] =='News')%}
									{% if post["status"]=='posted' %}
									<div class="NEWS_CARD card rounded-2 mb-2" style="display: none;">

										{% set f_format = post['file_name'].split(".")[post['file_name'].split(".")|length-1] %}
										{% if f_format in ['jpeg','jpg','gif','png'] %}
											<img src="/webrep/article/get_img/{{post['file_name']}}" loading="lazy" class="img_class rounded-1 article-img-content    rounded-1" alt="...">
										{% else %}
											<video muted class="img_class vid_class rounded-1 article-img-content    rounded-1" src="/webrep/article/get_img/{{post['file_name']}}">
											</video>
										{% endif %}
										<div class="card-img-overlay">
											<div class="d-flex justify-content-between">
												<p class="text-white textshadow text-start small">{{post['postRcu']}}</p>
												<p class="text-white textshadow text-start small"> {{post['date']}}</p>
											</div>
											<a class="card-title fw-bolder text-white stretched-link fs-3 text-truncate textshadow mt-4 " href="/rapid/articles/articles.html?id={{post['id']}}" type="button">{{post['postheader']}}.</a>
										</div>
									</div>
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
						<script type="text/javascript">
							$onload(()=>{
								var NEWS_CARD = $CLASS('NEWS_CARD')
								for (var i = 0; i < 3; i++) {
									println(NEWS_CARD[i])
									try{
										NEWS_CARD[i].style.display = "block"
									}catch(e){}
								}

								var img_class=$CLASS("img_class")
								for (var i = 0; i < img_class.length; i++) {
									var src_1 = img_class[i].src
									var img_path = web_safe_decode(src_1).replaceAll("C:\\fakepath\\","") 
									img_class[i].src = img_path.replaceAll("C:/fakepath/","").replaceAll("C:fakepath","")
									println(img_class[i].src )
								}
							})
						</script>						<!-- ========= -->
						<div class="text-end">
							<a class="fst-italic texttheme small" href="" type="button">See more</a>
						</div>
					</div>




				</div>