<!-- Today's Latest -->
<div class="container mb-5 mt-3">

	<div class=" row ">

		<div class="col shadow-sm p-3 bg-body rounded-1 ">
			<div class=" " style="display:block;" id="">
				<div class="container m-1 mb-3">
					<a class="fs-2 dropdown-toggle texttheme" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="today">All</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" type="button" id="All" onclick="clicked(this)">All</a></li>
						<li><a class="dropdown-item" type="button" id="today" onclick="clicked(this)">Today</a></li>
						<li><a class="dropdown-item" type="button" id="thisweek" onclick="clicked(this)">Less than a week</a></li>
						<li><a class="dropdown-item" type="button" id="thismonth" onclick="clicked(this)">This month</a></li>
					</ul>				
				</div>
			</div>
			<div class=" row row-cols-xxl-3 row-cols-xl-2 ">
				{% for post in page_data %}
				{% if post["status"]=='posted' or user_data['job'] == 'Admin' or  user_data['job'] == 'Super Admin'%}
				<div class="">
					{% if post["removed"]|string=='0' %} 
					{% if post["status"]=='pending' %}
					{% set color_ = "warning" %}
					<div class="card border-warning WEBSAFE news_card  card_{{post['postCategory']}} mb-3 mt-2 shadow-sm bg-body rounded" vdate="{{post['date']}}" style="height: 265px;">
						{% elif post["status"]=='revise' %}
						{% set color_ = "danger" %}
						<div class="card border-danger WEBSAFE news_card  card_{{post['postCategory']}} mb-3 mt-2 shadow-sm bg-body rounded" vdate="{{post['date']}}" style="height: 265px;">
							{% elif post["status"]=='posted' %}
							{% set color_ = "success" %}
							<div class="card border-success WEBSAFE news_card  card_{{post['postCategory']}} mb-3 mt-2 shadow-sm bg-body rounded" vdate="{{post['date']}}" style="height: 265px;">
								{% else %}
								<div class="card border-secondary WEBSAFE news_card  card_{{post['postCategory']}} mb-3 mt-2 shadow-sm bg-body rounded" vdate="{{post['date']}}" style="height: 265px;">
									{% endif %}
									<div class="row d-flex">
										<div class=" ">
											<img src="/webrep/article/get_img/{{post['file_name']}}" loading="lazy" class="img_class rounded-1 article-img-content  px-1 pt-1 pb-1 rounded-3" alt="...">
										</div>
										<div class="d-block">
											<div class="container d-flex justify-content-between mt-1" >
												<div class="" style="height: 20px;">
													<p class="WEBSAFE xs-text texttheme">{{post['postRcu']}}<span class="WEBSAFE texttheme">&nbsp;&nbsp;{{post['posttype']}}</span></p>												
												</div>
												<div class="ms-5 me-5" style="height: 20px;">

												</div>
												<div class=" " style="height: 20px;">
													<p class="WEBSAFE xs-text texttheme ">{{post['date']}}</p>												
												</div>
											</div>
											<div class="ms-2 mt-1" style="width: 350px;">
												<a class="WEBSAFE mytext-truncate stretched-link texttheme fs-4 fw-bolder lh-sm" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;" href="/rapid/articles/articles.html?id={{post['id']}}" type="button">{{post['postheader']}}</a>
											</div>
											<div class="ms-2 text-secondary mt-2 "  style="height:50px; width: 300px;">
												<p class="WEBSAFE small mytext-truncate lh-sm" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">{{post['postdescription']}}</p>
											</div>
											<div class="float-end me-3" style="height: 20px;">
												<p class="mt-auto fw-bolder text-{{color_}}">{{post["status"]}}</p>	
											</div>	
										</div>

									</div>
								</div>
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<script type="text/javascript">
				$onload(function(){
					var img_class=$CLASS("img_class")
					for (var i = 0; i < img_class.length; i++) {
						var src_1 = img_class[i].src
						var img_path = web_safe_decode(src_1).replaceAll("C:\\fakepath\\","") 
						img_class[i].src = img_path.replaceAll("C:/fakepath/","").replaceAll("C:fakepath","")
						// println(img_class[i].src )
					}
				})
			</script>