{% if (filter1) == 'ba' and (filter2) == 'g' or (filter1) == 'g' and (filter2) == 'ba' %}
<div class="row" style="justify-content: center;">
  <div class="col-xl-3 col-md-6">
    <div class="card  card-stats bg-male" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-white mb-0">Gender - <strong style="font-size: medium;">Male</strong></h5>
            <span class="h2 font-weight-bold mb-0"></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape">
              <img src="/static/psalm_static/assets/img/icons/male.png" style="width: 250%; height: 250%;">
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
         {% if adn_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
             <strong></i> Agusan del Norte : </strong> {{adn_malesql}} </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong></i> Agusan del Norte : </strong> {{adn_malesql}} </h4>
{%endif%}
         {% if ads_malesql ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
             <strong>Agusan del Sur : </strong> {{ads_malesql}} 
          </h4>
          {%else%}
          <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Agusan del Sur : </strong> {{ads_malesql}} 
          </h4>
{%endif%}

         {% if sds_malesql ==0 %}
          <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong> Surigao del Sur : </strong> {{sds_malesql}} </h4>
            {%else%}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong> Surigao del Sur : </strong> {{sds_malesql}} </h4>
{%endif%}

             {% if magui_malesql ==0 %}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Maguindanao : </strong> {{magui_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Maguindanao : </strong> {{magui_malesql}} 
          </h4>
{%endif%}

         {% if ns_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong> Northern Samar : </strong> {{ns_malesql}} </h4>
            {%else%}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong> Northern Samar : </strong> {{ns_malesql}} </h4>
{%endif%}

             {% if leyte_malesql ==0 %}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Leyte : </strong> {{leyte_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Leyte : </strong> {{leyte_malesql}} 
          </h4>
{%endif%}

         {% if sleyte_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong></i> Southern Leyte : </strong> {{sleyte_malesql}} </h4>
            {%else%}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong></i> Southern Leyte : </strong> {{sleyte_malesql}} </h4>
{%endif%}

             {% if mo_malesql ==0 %}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Misamis Oriental : </strong> {{mo_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Misamis Oriental : </strong> {{mo_malesql}} 
          </h4>
{%endif%}

             {% if bukd_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong> Bukidnon : </strong> {{bukd_malesql}} </h4>
            {%else%}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong> Bukidnon : </strong> {{bukd_malesql}} </h4>
{%endif%}

         {% if ldn_malesql ==0 %}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Lanao del Norte : </strong> {{ldn_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Lanao del Norte : </strong> {{ldn_malesql}} 
          </h4>
{%endif%}

         {% if nc_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong> North Cotabato : </strong> {{nc_malesql}} </h4>
            {%else%}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong> North Cotabato : </strong> {{nc_malesql}} </h4>
{%endif%}

                 {% if sk_malesql ==0 %}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Sultan Kudarat : </strong> {{sk_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Sultan Kudarat : </strong> {{sk_malesql}} 
          </h4>
{%endif%}

         {% if srng_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong> Sarangani : </strong> {{srng_malesql}} </h4>
            {%else%}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong> Sarangani : </strong> {{srng_malesql}} </h4>
{%endif%}

         {% if zdn_malesql ==0 %}
            <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Zamboanga del Norte : </strong> {{zdn_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Zamboanga del Norte : </strong> {{zdn_malesql}} 
          </h4>
{%endif%}

         {% if zs_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Zamboanga Sibugay : </strong> {{zs_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Zamboanga Sibugay : </strong> {{zs_malesql}} 
          </h4>
{%endif%}

             {% if zds_malesql ==0 %}       
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Zamboanga del Sur : </strong> {{zds_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Zamboanga del Sur : </strong> {{zds_malesql}} 
          </h4>
{%endif%}

             {% if ddo_malesql ==0 %}   
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Davao de Oro : </strong> {{ddo_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Davao de Oro : </strong> {{ddo_malesql}} 
          </h4>
{%endif%}

         {% if do_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Davao Oriental : </strong> {{do_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Davao Oriental : </strong> {{do_malesql}} 
          </h4>
{%endif%}

         {% if ddn_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Davao del Norte : </strong> {{ddn_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Davao del Norte : </strong> {{ddn_malesql}} 
          </h4>
{%endif%}

         {% if dds_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Davao del Sur : </strong> {{dds_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Davao del Sur : </strong> {{dds_malesql}} 
          </h4>
{%endif%}

         {% if doc_malesql ==0 %}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
            <strong>Davao Occidental : </strong> {{doc_malesql}} 
         </h4>
         {%else%}
         <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Davao Occidental : </strong> {{doc_malesql}} 
          </h4>
{%endif%}
<br>

         {% if total_maleaddr ==0 %}
          <h2 class="mt-2 mb-0 text-sm text-uppercase text-muted">
             <strong>Total : </strong> {{total_maleaddr}} 
          </h2>
          {%else%}
          <h2 class="mt-2 mb-0 text-sm text-uppercase text-white">
             <strong>Total : </strong> {{total_maleaddr}} 
          </h2>
{%endif%}
       </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats bg-female" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <!-- Card body -->
      <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-white mb-0">Gender - <strong style="font-size: medium;"> Female</strong></h5>
              <span class="h2 font-weight-bold mb-0"></span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape">
                  <img src="/static/psalm_static/assets/img/icons/female.png" style="width: 250%; height: 250%;">
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
             {% if adn_femalesql1 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                 <strong></i> Agusan del Norte : </strong> {{adn_femalesql1}} </h4>
                 {%else%}
                 <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                     <strong></i> Agusan del Norte : </strong> {{adn_femalesql1}} </h4>
{%endif%}
             {% if ads_femalesql2 ==0 %}
                 <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                 <strong>Agusan del Sur : </strong> {{ads_femalesql2}} 
              </h4>
              {%else%}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Agusan del Sur : </strong> {{ads_femalesql2}} 
              </h4>
{%endif%}

             {% if sds_femalesql3 ==0 %}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong> Surigao del Sur : </strong> {{sds_femalesql3}} </h4>
                {%else%}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong> Surigao del Sur : </strong> {{sds_femalesql3}} </h4>
{%endif%}

                 {% if magui_femalesql4 ==0 %}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Maguindanao : </strong> {{magui_femalesql4}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Maguindanao : </strong> {{magui_femalesql4}} 
              </h4>
{%endif%}

             {% if ns_femalesql5 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong> Northern Samar : </strong> {{ns_femalesql5}} </h4>
                {%else%}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong> Northern Samar : </strong> {{ns_femalesql5}} </h4>
{%endif%}

                 {% if leyte_femalesql6 ==0 %}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Leyte : </strong> {{leyte_femalesql6}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Leyte : </strong> {{leyte_femalesql6}} 
              </h4>
{%endif%}

             {% if sleyte_femalesql7 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong></i> Southern Leyte : </strong> {{sleyte_femalesql7}} </h4>
                {%else%}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong></i> Southern Leyte : </strong> {{sleyte_femalesql7}} </h4>
{%endif%}

                 {% if mo_femalesql8 ==0 %}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Misamis Oriental : </strong> {{mo_femalesql8}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Misamis Oriental : </strong> {{mo_femalesql8}} 
              </h4>
{%endif%}

                 {% if bukd_femalesql9 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong> Bukidnon : </strong> {{bukd_femalesql9}} </h4>
                {%else%}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong> Bukidnon : </strong> {{bukd_femalesql9}} </h4>
{%endif%}

             {% if ldn_femalesql10 ==0 %}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Lanao del Norte : </strong> {{ldn_femalesql10}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Lanao del Norte : </strong> {{ldn_femalesql10}} 
              </h4>
{%endif%}

             {% if nc_femalesql11 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong> North Cotabato : </strong> {{nc_femalesql11}} </h4>
                {%else%}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong> North Cotabato : </strong> {{nc_femalesql11}} </h4>
{%endif%}

                     {% if sk_femalesql12 ==0 %}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Sultan Kudarat : </strong> {{sk_femalesql12}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Sultan Kudarat : </strong> {{sk_femalesql12}} 
              </h4>
{%endif%}

             {% if srng_femalesql13 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong> Sarangani : </strong> {{srng_femalesql13}} </h4>
                {%else%}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong> Sarangani : </strong> {{srng_femalesql13}} </h4>
{%endif%}

             {% if zdn_femalesql14 ==0 %}
                <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Zamboanga del Norte : </strong> {{zdn_femalesql14}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Zamboanga del Norte : </strong> {{zdn_femalesql14}} 
              </h4>
{%endif%}

             {% if zs_femalesql15 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Zamboanga Sibugay : </strong> {{zs_femalesql15}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Zamboanga Sibugay : </strong> {{zs_femalesql15}} 
              </h4>
{%endif%}

                 {% if zds_femalesql16 ==0 %}       
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Zamboanga del Sur : </strong> {{zds_femalesql16}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Zamboanga del Sur : </strong> {{zds_femalesql16}} 
              </h4>
{%endif%}

                 {% if ddo_femalesql17 ==0 %}   
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Davao de Oro : </strong> {{ddo_femalesql17}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Davao de Oro : </strong> {{ddo_femalesql17}} 
              </h4>
{%endif%}

             {% if do_femaleql18 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Davao Oriental : </strong> {{do_femaleql18}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Davao Oriental : </strong> {{do_femaleql18}} 
              </h4>
{%endif%}

             {% if ddn_femalesql19 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Davao del Norte : </strong> {{ddn_femalesql19}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Davao del Norte : </strong> {{ddn_femalesql19}} 
              </h4>
{%endif%}

             {% if dds_femalesql20 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Davao del Sur : </strong> {{dds_femalesql20}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Davao del Sur : </strong> {{dds_femalesql20}} 
              </h4>
{%endif%}

             {% if doc_femalesql21 ==0 %}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                <strong>Davao Occidental : </strong> {{doc_femalesql21}} 
             </h4>
             {%else%}
             <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Davao Occidental : </strong> {{doc_femalesql21}} 
              </h4>
{%endif%}
<br>

             {% if total_femaleaddr ==0 %}
              <h2 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                 <strong>Total : </strong> {{total_femaleaddr}} 
              </h2>
              {%else%}
              <h2 class="mt-2 mb-0 text-sm text-uppercase text-white">
                 <strong>Total : </strong> {{total_femaleaddr}} 
              </h2>
{%endif%}
           </p>
        </div>
    </div>
  </div>
 

</div>

{%endif%}