{% if (filter1) == 'ic' and (filter2) == 'g' or (filter1) == 'g' and (filter2) == 'ic' %}
<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats bg-coffee" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-white mb-0">Industry Cluster - <strong style="font-size: medium;">Coffee</strong></h5>
            <span class="h2 font-weight-bold mb-0"></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape rounded-circle shadow">
              <img src="/static/psalm_static/assets/img/icons/coffee.png" style="width: 250%; height: 250%;">
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          {% if coffee_malesql ==0 %}
          <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
              <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{coffee_malesql}} </h4>
              {%else%}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                  <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{coffee_malesql}} </h4>
{%endif%}
                   {% if coffee_femalesql ==0 %}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
              <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{coffee_femalesql}} 
           </h4>
           {%else%}
           <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
              <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{coffee_femalesql}} 
           </h4>
{%endif%}


<br>
          {% if total_coffeegender ==0 %}
           <h2 class="mt-2 mb-0 text-sm text-uppercase text-muted">
              <strong>Total : </strong> {{total_coffeegender}} 
           </h2>
           {%else%}
           <h2 class="mt-2 mb-0 text-sm text-uppercase text-white">
              <strong>Total : </strong> {{total_coffeegender}} 
           </h2>
{%endif%}
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats bg-coconut" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <!-- Card body -->
      <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-white mb-0">Industry Cluster - <strong style="font-size: medium;"> Coconut</strong></h5>
              <span class="h2 font-weight-bold mb-0"></span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape rounded-circle shadow">
                 <img src="/static/psalm_static/assets/img/icons/coconut.png" style="width: 250%; height: 250%;">
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-sm">
              {% if coconut_malesql ==0 %}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                  <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{coconut_malesql}} </h4>
                  {%else%}
                  <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                      <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{coconut_malesql}} </h4>
{%endif%}
                       {% if coconut_femalesql ==0 %}
                  <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                  <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{coconut_femalesql}} 
               </h4>
               {%else%}
               <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                  <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{coconut_femalesql}} 
               </h4>
{%endif%}


<br>
              {% if total_coconutgender ==0 %}
               <h2 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                  <strong>Total : </strong> {{total_coconutgender}} 
               </h2>
               {%else%}
               <h2 class="mt-2 mb-0 text-sm text-uppercase text-white">
                  <strong>Total : </strong> {{total_coconutgender}} 
               </h2>
{%endif%}
            </p>
        </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats bg-cacao" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-white mb-0">Industry Cluster - <strong style="font-size: medium;">Cacao</strong></h5>
            <span class="h2 font-weight-bold mb-0"></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape  rounded-circle shadow">
             <img src="/static/psalm_static/assets/img/icons/cacao.png" style="width: 250%; height: 250%;">
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          {% if cacao_malesql ==0 %}
          <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
              <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{cacao_malesql}} </h4>
              {%else%}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                  <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{cacao_malesql}} </h4>
{%endif%}
                   {% if cacao_femalesql ==0 %}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
              <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{cacao_femalesql}} 
           </h4>
           {%else%}
           <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
              <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{cacao_femalesql}} 
           </h4>
{%endif%}


<br>
          {% if total_cacaogender ==0 %}
           <h2 class="mt-2 mb-0 text-sm text-uppercase text-muted">
              <strong>Total : </strong> {{total_cacaogender}} 
           </h2>
           {%else%}
           <h2 class="mt-2 mb-0 text-sm text-uppercase text-white">
              <strong>Total : </strong> {{total_cacaogender}} 
           </h2>
{%endif%}
        </p>
      </div>
    </div>

  </div>

  <div class="col-xl-3 col-md-6">
      <div class="card card-stats bg-pfn" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-white mb-0">Industry Cluster - <strong style="font-size: medium;">PFN</strong></h5>
                <span class="h2 font-weight-bold mb-0"></span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape rounded-circle shadow">
                 <img src="/static/psalm_static/assets/img/icons/pfn.png" style="width: 250%; height: 250%;">
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              {% if pfn_malesql ==0 %}
              <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                  <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{pfn_malesql}} </h4>
                  {%else%}
                  <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                      <strong><i class="fa fa-male" aria-hidden="true"></i> Male : </strong> {{pfn_malesql}} </h4>
{%endif%}
                       {% if pfn_femalesql ==0 %}
                  <h4 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                  <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{pfn_femalesql}} 
               </h4>
               {%else%}
               <h4 class="mt-2 mb-0 text-sm text-uppercase text-white">
                  <strong><i class="fa fa-female" aria-hidden="true"></i>Female : </strong> {{pfn_femalesql}} 
               </h4>
{%endif%}


<br>
              {% if total_pfngender ==0 %}
               <h2 class="mt-2 mb-0 text-sm text-uppercase text-muted">
                  <strong>Total : </strong> {{total_pfngender}} 
               </h2>
               {%else%}
               <h2 class="mt-2 mb-0 text-sm text-uppercase text-white">
                  <strong>Total : </strong> {{total_pfngender}} 
               </h2>
{%endif%}
            </p>
          </div>
        </div>
  </div>
  

</div>
{%endif%}