<!DOCTYPE html>
<html lang="en" xmlns:py="http://genshi.edgewall.org/">

{% include 'a_v2_head.html'%}
{% set USER_GROUP = USER_DATA['sg_info']['user_group'] %}
<body>
	<script type="text/javascript">
		{% include '/chunks/core.js'%}
	</script>

	<!-- ======= Header ======= -->
	{% include '/parts/__header.html'%}

	<!-- ======= Sidebar ======= -->
	{% include '/parts/__sidepanel.html'%}

	<!-- End Sidebar-->

	<div id="alert_float_holder">
		

	</div>

	<main id="main" class="main">
		<section class="section dashboard">

			<div class="row">
				{% include module%}
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	{% include '/parts/__footer.html'%}

	<!-- Vendor JS Files -->
 
</body>

</html>
