<div class="container">
    <div class="row">
        <div class="col-4 mx-auto text-center">
            <img src="{{ url_for('static', filename='webrepstatic_v2/img/rep-ng-pilipinas-2.png') }}"  class="img-fluid" width="60%"/>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12 text-end">
                    <img src="{{ url_for('static', filename='webrepstatic_v2/img/logo-array.png') }}" height="70"/>
                    <br><br><br>
                </div>
                <div class="col-6 wp_font_roboto_regular">
                    <p><b>REPUBLIC OF THE PHILIPPINES</b></p>
                    <p>All content is in the public domain unless otherwise stated.</p>
                    <br>
                    <p><b>LOCATION</b></p>
                    <p>2/F, Mintrade Bldg., Monteverde St. corner Sales St., Davao City, Philippines 8000</p>
                </div>
                <div class="col-6 wp_font_roboto_regular">
                    <p><b>DEPARTMENT OF TRADE AND INDUSTRY</b></p>
                    <p>About  ●  Regions   ●   Overseas   ●   Partnerships   ●<br>   Good Governance   ●   Foreign Assisted Projects</p>
                    <p><b>INTERNATIONAL FUND FOR AGRICULTURAL DEVELOPMENT</b></p>
                    <p>Home</p>
                </div>
            </div>
        </div>
    </div>
</div>