<header class="fixed-top">

<section class="bg-light">
  <div class="container">
    <a class="navbar-brand" href="/webrep">
		  <img src="../../static/webrepstatic/img/RAPID.svg" width="80" height="80" class="" alt="home">
    </a>
    <div class="mt-3 float-end">
      <a href="https://www.dti.gov.ph/"><img class="nav-dti-logo"  style="width: 50px;" src="{{ url_for('static', filename='webrepstatic_v2/img/dti-logo.png') }}"></a> 
      <a href="https://www.ifad.org/en/"><img class="nav-ifad-logo" style="width: 100px;" src="{{ url_for('static', filename='webrepstatic_v2/img/ifad-logo.png') }}"></a>
      <button class="navbar-toggler mobile-only " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <!-- <div class="mt-3 float-end btn-group">
      <button class="btn btn-secondary wr_primary_btn dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
        News & Stories <i class="fa fa-angle-down"></i></a>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">News & Updates</a></li>
        <li><a class="dropdown-item" href="#">Stories</a></li>
      </ul>
    </div> -->
  </div>
</section>
<nav class="navbar p-0 navbar-expand-lg navbar-light bg-light" id="wp_navbar">
  <div class="container pt-2 pb-2 bg-white">
    <!-- <a class="navbar-brand" href="/webrep">
		  <img src="../../static/webrepstatic_v2/img/RAPID.png"  height="60" class="" alt="home">
    </a> -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active_bar == 'whoweare' %}active{% endif %}" id="WhoWeAreDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Who we are </a></a>
          <div class="dropdown-menu main-dropdown-menu" aria-labelledby="WhoWeAreDropDown" style="width: 470px;">
              <div class="row">  
                <div class="col-md-6 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/whoweare">About the project <i class="fa fa-angle-right"></i></a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare">Goals</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare">Objectives</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#beneficiaries">Beneficiaries</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#partners">Implementing Partners</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#components">Components</a></li>  
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#wherewework">Where We Work</a></li>  
                  </ul>
                </div>
                <div class="col-md-6 col-12">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/whoweare#transparency">Transparency &<br> Good Governance <i class="fa fa-angle-right"></i></a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#transparency">Project Overview</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#transparency">Budget Allocation</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#transparency">Procurement</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#transparency">Grievance</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#transparency">Directory</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/whoweare#transparency">Brand Kit</a></li>
                  </ul>
                </div>
              </div>
          </div>
          <!-- <ul class="dropdown-menu" aria-labelledby="WhoWeAreDropDown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if active_bar == 'whatwedo' %}active{% endif %}"  id="WhatWeDoDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">What we do </a></a>
          <div class="dropdown-menu main-dropdown-menu" aria-labelledby="WhatWeDoDropDown"  style="width: 700px;">
              <div class="row">  
                <div class="col-md-4 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/what_we_do#network">RAPID Growth Network <i class="fa fa-angle-right"></i></a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/what_we_do#network">Value Chain Development</a></li>
                      <li><a  class="dropdown-item dropdown-item-section" href="/webrep_v2/what_we_do#network">Rural Infrastructure</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/what_we_do#methodologies">Methodologies <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-12">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/what_we_do#model">Development Models <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link {% if active_bar == 'newsAndstories' %}active{% endif %}"   id="KnowledgeAndDataDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" href="#">News & Stories</a>
          <div class="dropdown-menu main-dropdown-menu" aria-labelledby="KnowledgeAndDataDropDown"  style="width: 450px;">
              <div class="row">  
                <div class="col-md-6 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/news_and_updates">News & Updates <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
                <div class="col-md-6 col-12 ">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/stories">Stories <i class="fa fa-angle-right"></i></a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="#">Field</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="#">MSMEs</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="#">GESI/SECAP</a></li>
                    <li><a  class="dropdown-item dropdown-item-section" href="#">Implementation</a></li>
                  </ul>
                </div>
              </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link {% if active_bar == 'knowledge_and_data' %}active{% endif %}"   id="KnowledgeAndDataDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#" href="#">Knowledge & Data  </a>
          <div class="dropdown-menu main-dropdown-menu" aria-labelledby="KnowledgeAndDataDropDown"  style="width: 800px;">
              <div class="row ">  
                <div class="col-md-3 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/knowledge_and_data">Project Updates <br>& Reports <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/knowledge_and_data">Case Studies <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-12 border-right">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/webrep_v2/knowledge_and_data#tools">Tools <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
                <div class="col-md-3 col-12">
                  <ul class="list-style-none">
                    <li><a  class="dropdown-item" href="/login">MIS Login <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </div>
              </div>
          </div>
        </li>
        <!-- <li class="ms-5">
            <a class="nav-link wr_primary_btn btn" href="/login"><i class="fa fa-sign-in"></i> Login</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
{% if is_session: %}
<section class="userOption">
  <div class="container">
    <ul class="userOptionMenu">
      <li><a href="/webrep_v2/articles"><i class="fa fa-file-text"></i> Articles</a></li>
      <li><a href="#"><i class="fa fa-folder-open"></i> Case Studies</a></li>
      <li><a href="#"><i class="fa fa-upload"></i> Uploads</a></li>
    </ul>
  </div>
</section>
{% endif %}
</header>