{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include "includes/sweetalert.html" %}
<title>Form 4 Dashboard</title>

  <!-- top tiles -->
  <div class="row g-3">
  <!-- Total Entries -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{ dcf_form4 }}</div>
      <h3>Total Entries</h3>
      <p>Total # of Entries.</p>
    </div>
  </div>

  <!-- Total Male -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{ dcf_form4male[0]['total_male4'] }}</div>
      <h3>Total Male</h3>
      <p>Total # of Participants by Sex.</p>
    </div>
  </div>

  <!-- Total Female -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{ dcf_form4female[0]['total_female4'] }}</div>
      <h3>Total Female</h3>
      <p>Total # of Participants by Sex.</p>
    </div>
  </div>

  <!-- Total IP -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats">
      <div class="count _money_tag" style="border-radius: 15px;">
        {{ dcf_form4maleip[0]['total_male4ip'] + dcf_form4femaleip[0]['total_female4ip'] }}
      </div>
      <h3>Total IP</h3>
      <p>
        Male: {{ dcf_form4maleip[0]['total_male4ip'] }} |
        Female: {{ dcf_form4femaleip[0]['total_female4ip'] }}
      </p>
    </div>
  </div>

  <!-- Total Youth -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats">
      <div class="count _money_tag" style="border-radius: 15px;">
        {{ dcf_form4maleyouth[0]['total_male4youth'] + dcf_form4femaleyouth[0]['total_female4youth'] }}
      </div>
      <h3>Total Youth</h3>
      <p>
        Male: {{ dcf_form4maleyouth[0]['total_male4youth'] }} |
        Female: {{ dcf_form4femaleyouth[0]['total_female4youth'] }}
      </p>
    </div>
  </div>

  <!-- Total PWD -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats">
      <div class="count _money_tag" style="border-radius: 15px;">
        {{ dcf_form4malepwd[0]['total_male4pwd'] + dcf_form4femalepwd[0]['total_female4pwd'] }}
      </div>
      <h3>Total PWD</h3>
      <p>
        Male: {{ dcf_form4malepwd[0]['total_male4pwd'] }} |
        Female: {{ dcf_form4femalepwd[0]['total_female4pwd'] }}
      </p>
    </div>
  </div>

  <!-- Total SC -->
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats">
      <div class="count _money_tag" style="border-radius: 15px;">
        {{ dcf_form4malesc[0]['total_male4sc'] + dcf_form4femalesc[0]['total_female4sc'] }}
      </div>
      <h3>Total SC</h3>
      <p>
        Male: {{ dcf_form4malesc[0]['total_male4sc'] }} |
        Female: {{ dcf_form4femalesc[0]['total_female4sc'] }}
      </p>
    </div>
  </div>
</div>

	<style>
		td {
			white-space:nowrap;
			max-width: 350px;
			overflow-y:hidden;
		}
		::-webkit-scrollbar {
			width: 9px;
		}
		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		}
	</style>

</div>
<!-- /top tiles -->


	<div class="row">
{% if user_data['job'] == "Super Admin" %}
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel" style="border-radius: 15px;">
            <div class="x_title">
                <h2>Training<small><b>Farmer Organization</b></small> </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                      	<li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            		<a class="dropdown-item" href="#">Settings 1</a>
                            		<a class="dropdown-item" href="#">Settings 2</a>
                          		</div>
                      	</li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
			<div class="row">
				<div class="col-md-6">
					<canvas id="myDoughnutChart"></canvas>
				</div>
				<div class="col-md-6">
					<table class="tile_info" id="fo_table">
						<!-- DYNAMIC LABELS FOR FO -->
					</table>
				</div>
			</div>
		</div>
        </div>
    </div>

	<div class="col-md-12 col-sm-12  ">
        <div class="x_panel" style="border-radius: 15px;">
            <div class="x_title">
                <h2>Training<small><b>MSMEs</b></small> </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                      	<li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            		<a class="dropdown-item" href="#">Settings 1</a>
                            		<a class="dropdown-item" href="#">Settings 2</a>
                          		</div>
                      	</li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
			<div class="row">
				<div class="col-md-6">
					<canvas id="myDoughnutChart2"></canvas>
				</div>
				<div class="col-md-6">
					<table class="tile_info" id="msme_table">
						<!-- DYNAMIC LABELS FOR MSME -->
					</table>
				</div>
			</div>
		</div>
        </div>
    </div>

	<div class="col-md-12 col-sm-12  ">
        <div class="x_panel" style="border-radius: 15px;">
            <div class="x_title">
                <h2>Training<small><b>INDIVIDUAL</b></small> </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                      	<li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            		<a class="dropdown-item" href="#">Settings 1</a>
                            		<a class="dropdown-item" href="#">Settings 2</a>
                          		</div>
                      	</li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                    </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
			<div class="row">
				<div class="col-md-6">
					<canvas id="myDoughnutChart3"></canvas>
				</div>
				<div class="col-md-6">
					<table class="tile_info" id="indv_table">
						<!-- DYNAMIC LABELS FOR INDIVIDUAL MSME -->
					</table>
				</div>
			</div>
		</div>
        </div>
    </div>
	{% endif %}

		<script>
			function init_charts() {
				console.log('run_charts  typeof [' + typeof (Chart) + ']');
				if (typeof (Chart) === 'undefined') { return; }
				console.log('init_charts');
				Chart.defaults.global.legend = {
					enabled: false
				};

				// Doughnut chart FO
			if ($('#myDoughnutChart').length) {
				const labels = [
					"Entrepreneurial Competency",
					"Governance",
					"Management",
					"Operations",
					"Technology and Product Development",
					"Institutional Marketing Management",
					"Human Resource Management",
					"Financial Management",
					"Networking and Linkage-Building",
					"GESI",
					"Social Environment & Climate",
					"Managing Natural Resources"
				];

				const dataValues = [
					{{ dcf4_FOOEC[0]['FOOEC'] }},
					{{ dcf4_FOGOV[0]['FOGOV'] }},
					{{ dcf4_FOOM[0]['FOOM'] }},
					{{ dcf4_FOOP[0]['FOOP'] }},
					{{ dcf4_FOTPD[0]['FOTPD'] }},
					{{ dcf4_FOIMM[0]['FOIMM'] }},
					{{ dcf4_FOHRM[0]['FOHRM'] }},
					{{ dcf4_FOFM[0]['FOFM'] }},
					{{ dcf4_FONLB[0]['FONLB'] }},
					{{ dcf4_FOGESI[0]['FOGESI'] }},
					{{ dcf4_FOSEC[0]['FOSEC'] }},
					{{ dcf4_FOMNR[0]['FOMNR'] }}
				];

				const colors = [
					'#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#FF9F1C', '#9966FF',
					'#00FF00', '#FFA07A', '#FC4F30', '#FF00FF', '#FFCC00', '#00FFFF'
				];

				const ctx = document.getElementById("myDoughnutChart");
				const myDoughnutChart = new Chart(ctx, {
					type: 'doughnut',
					data: {
						labels: labels,
						datasets: [{
							label: 'Total',
							data: dataValues,
							backgroundColor: colors,
							borderColor: colors,
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						plugins: {
							legend: { display: false }
						}
					}
				});


				const table = document.getElementById("fo_table");
				labels.forEach((label, i) => {
					const value = dataValues[i];
					const color = colors[i];
					const row = document.createElement("tr");
					row.innerHTML = `
						<td>
							<p><i class="fa fa-square" style="color:${color}"></i> ${label}: <b>${value}</b></p>
						</td>
					`;
					table.appendChild(row);
				});
			}

			// Doughnut chart MSME
			if ($('#myDoughnutChart2').length) {
				const labels = [
					"Entrepreneurial Competency",
					"Operations",
					"Management",
					"Technology and Product Development",
					"Marketing Management",
					"Human Resource Management",
					"Financial Management",
					"Networking and Linkage-Building",
					"GESI",
					"Social Environment & Climate",
					"Managing Natural Resources"
				];

				const dataValues = [
					{{ dcf4_MSMEEC[0]['MSMEEC'] }},
					{{ dcf4_MSMEOP[0]['MSMEOP'] }},
					{{ dcf4_MSMEM[0]['MSMEM'] }},
					{{ dcf4_MSMETPD[0]['MSMETPD'] }},
					{{ dcf4_MSMEMM[0]['MSMEMM'] }},
					{{ dcf4_MSMEHRM[0]['MSMEHRM'] }},
					{{ dcf4_MSMEFM[0]['MSMEFM'] }},
					{{ dcf4_MSMENLB[0]['MSMENLB'] }},
					{{ dcf4_MSMEGESI[0]['MSMEGESI'] }},
					{{ dcf4_MSMESEC[0]['MSMESEC'] }},
					{{ dcf4_MSMEMNR[0]['MSMEMNR'] }}
				];

				const colors = [
					'#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#FF9F1C', '#9966FF',
					'#00FF00', '#FFA07A', '#FC4F30', '#FF00FF', '#FFCC00', '#00FFFF'
				];

				const ctx = document.getElementById("myDoughnutChart2");
				const myDoughnutChart2 = new Chart(ctx, {
					type: 'doughnut',
					data: {
						labels: labels,
						datasets: [{
							label: 'Total',
							data: dataValues,
							backgroundColor: colors,
							borderColor: colors,
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						plugins: {
							legend: { display: false }
						}
					}
				});


				const table = document.getElementById("msme_table");
				labels.forEach((label, i) => {
					const value = dataValues[i];
					const color = colors[i];
					const row = document.createElement("tr");
					row.innerHTML = `
						<td>
							<p><i class="fa fa-square" style="color:${color}"></i> ${label}: <b>${value}</b></p>
						</td>
					`;
					table.appendChild(row);
				});
			}

			// Doughnut chart INDIVIDUAL
			if ($('#myDoughnutChart3').length) {
				const labels = [
					"Farmer-Managing Natural Resources",
					"Farmer-Managing Finances",
					"Farmer-Marketing",
					"Farmer-Innovation",
					"Farmer-Teamwork",
					"Farmer-GESI",
					"Farmer-Social Environment & Climate"
				];

				const dataValues = [
					{{ dcf4_IFMNR[0]['IFMNR'] }},
					{{ dcf4_IFMF[0]['IFMF'] }},
					{{ dcf4_IFM[0]['IFM'] }},
					{{ dcf4_IFI[0]['IFI'] }},
					{{ dcf4_IFT[0]['IFT'] }},
					{{ dcf4_IFGESI[0]['IFGESI'] }},
					{{ dcf4_IFSEC[0]['IFSEC'] }}
				];

				const colors = [
					'#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#FF9F1C', '#9966FF', '#00FF00'
				];

				const ctx = document.getElementById("myDoughnutChart3");
				const myDoughnutChart3 = new Chart(ctx, {
					type: 'doughnut',
					data: {
						labels: labels,
						datasets: [{
							label: 'Total',
							data: dataValues,
							backgroundColor: colors,
							borderColor: colors,
							borderWidth: 1
						}]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						plugins: {
							legend: { display: false }
						}
					}
				});


				const table = document.getElementById("indv_table");
				labels.forEach((label, i) => {
					const value = dataValues[i];
					const color = colors[i];
					const row = document.createElement("tr");
					row.innerHTML = `
						<td>
							<p><i class="fa fa-square" style="color:${color}"></i> ${label}: <b>${value}</b></p>
						</td>
					`;
					table.appendChild(row);
				});
			}

			//------------------------------------------------------------

				if ($('#mybarChart2').length) {
				  var tooltips = [];
				  var xValuesbar = [];
				  var yValuesbar = [];
				  var label_ = [];
				  var all_perc = []
				  var barColorsbar = ["red", "green", "blue", "orange", "brown", "yellow", "violet", "black"];
				  var over_all = parseInt('{{dcf_form1sextotal[0]["total_sex"] | int}}')
				// Sample data
				  {% for dip in dip_sex_group_per_region %}
				  xValuesbar.push('RCU: ' + '{{dip}}');
				  var rcu_total = parseInt('{{dip_sex_group_per_region[dip]["total_bene"]}}')
				// var rcu_total = parseInt('{{dip_sex_group_per_region[dip]["all_total"]["total_sex"]}}')
				  var perc = ((rcu_total / over_all) * 100).toFixed(2)
				// yValuesbar.push(perc);
				  all_perc.push(perc);
				  yValuesbar.push(rcu_total);
				  label_.push(rcu_total)
				  tooltips.push([
					  'Total with sex/tagged: ' +'{{dip_sex_group_per_region[dip]["all_total"]["total_sex"]}}',
					  'Total: ' +money('{{dip_sex_group_per_region[dip]["total_bene"]|int}}'),
					  ' ',
					  'Male: ' + '{{dip_sex_group_per_region[dip]["male"]["total"]}}',
					  'Youth: ' + '{{dip_sex_group_per_region[dip]["male"]["youth"]}}',
					  'IP: ' + '{{dip_sex_group_per_region[dip]["male"]["ip"]}}',
					  'PWD: ' + '{{dip_sex_group_per_region[dip]["male"]["pwd"]}}',
					  '--------------',
					  'Female: ' + '{{dip_sex_group_per_region[dip]["female"]["total"]}}',
					  'Youth: ' + '{{dip_sex_group_per_region[dip]["female"]["youth"]}}',
					  'IP: ' + '{{dip_sex_group_per_region[dip]["female"]["ip"]}}',
					  'PWD: ' + '{{dip_sex_group_per_region[dip]["female"]["pwd"]}}',
					  '--------------',
					  'Untagged: ' + '{{(dip_sex_group_per_region[dip]["total_bene"]-dip_sex_group_per_region[dip]["female"]["total"]+dip_sex_group_per_region[dip]["male"]["total"])|int}}',
					  '--------------',
					  'Overall Total',
					  'Youth: ' + '{{dip_sex_group_per_region[dip]["all_total"]["total_youth"]}}',
					  'IP: ' + '{{dip_sex_group_per_region[dip]["all_total"]["total_ip"]}}',
					  'PWD: ' + '{{dip_sex_group_per_region[dip]["all_total"]["total_pwd"]}}',
					  ])
				  {% endfor %}
				  var ctx = document.getElementById("mybarChart2");
				  var mybarChart2 = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: xValuesbar,
						tooltip_label:tooltips,
						datasets: [{
							backgroundColor: barColorsbar,
							data: yValuesbar,
							labels : label_
						}]
					},
					options: {  
						tooltips: {
							callbacks: {
								label: function (tooltipItem, data) {
				// Display only the percentage value without .00 in the tooltip
								  println(tooltipItem)
								  return data.tooltip_label[tooltipItem.index];
							  },
						  },
					displayColors: false, // Set to false to hide the color squares in the tooltip
				},
			},
		});
	}

			// Doughnut chart
			  if ($('#canvasDoughnut').length) {
				var ctx = document.getElementById("canvasDoughnut");
				var data = {
					labels: [
						"Dark Grey",
						"Purple Color",
						"Gray Color",
						"Green Color",
						"Blue Color"
						],
					datasets: [{
						data: [120, 50, 140, 180, 100],
						backgroundColor: [
							"#455C73",
							"#9B59B6",
							"#BDC3C7",
							"#26B99A",
							"#3498DB"
							],
						hoverBackgroundColor: [
							"#34495E",
							"#B370CF",
							"#CFD4D8",
							"#36CAAB",
							"#49A9EA"
							]
					}]
				};
				var canvasDoughnut = new Chart(ctx, {
					type: 'doughnut',
					tooltipFillColor: "rgba(51, 51, 51, 0.55)",
					data: data
				});
			}

			if ($('#pieChart').length) {
				var xValues2 = [
					'Male: ' + {{dcf_form1male[0]['total_male']}},
					'Female: ' + {{dcf_form1female[0]['total_female']}},
					'Untagged: ' + money({{total_untagged}})
					];
				var yValues2 = [
					{{dcf_form1male[0]['total_male']}},
					{{dcf_form1female[0]['total_female']}},
		// {{total_untagged}},
					];
				var barColors = ['#0099cc', '#cc0066'];
				var total = yValues2.reduce((a, b) => a + b, 0);
				var percentageValues = yValues2.map((value) => ((value / total) * 100).toFixed(2));
				var ctx = document.getElementById("pieChart");
				var data = {
					datasets: [{
						data: yValues2,
						backgroundColor: barColors,
						label: 'My dataset' // for legend
				}],
					labels: xValues2
				};
				var pieChart = new Chart(ctx, {
					data: data,
					type: 'pie',
					options: {
						plugins: {
							datalabels: {
								color: 'white',
								formatter: (value, context) => {
									return percentageValues[context.dataIndex] + '%';
								}
							}
						},
						tooltips: {
							callbacks: {
								label: function (tooltipItem, data) {
									var label = data.labels[tooltipItem.index];
									var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
									var percentage = percentageValues[tooltipItem.index] + '%';
									return `${label} (${percentage})`;
								},
							},
						},
					},
				});
			}
		}

		function scrollParentToIframeCenter(){
			if (window.parent && window.frameElement){
				const iframeRect = window.frameElement.getBoundingClientRect();
				const parentScrollY = window.parent.scrollY || window.parent.pageYOffset;
				const centerY = iframeRect.top + parentScrollY + (iframeRect.height / 2) - (window.parent.innerHeight / 2);
				window.parent.scrollTo({
					top : centerY,
					behavior: 'smooth'
				});
			}
		}

		function showLoadingAndRedirect(id, table, form) {
			Swal.fire({
				title: 'Loading...',
				text: 'Please wait while we redirect you.',
				allowOutsideClick: false,
				allowEscapeKey: false,
				showConfirmButton: false,
				didOpen: () => {
					scrollParentToIframeCenter();
					Swal.showLoading();
					setTimeout(() => {
						window.location.href = `/dcf/${form}?id=${id}&table=${table}`;
					}, 1500); // Simulate a short delay
				}
			});
		}

		function showDeleteConfirmation(id) {
			swalWithCustomButtons.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonText: 'Yes, delete it!',
			  cancelButtonText: 'No, cancel',
			  reverseButtons: true,
			  position: 'center',
			  customClass: {
				  confirmButton: 'btn btn-success',
				  cancelButton: 'btn btn-danger',
			  },
			  didOpen: () => {
				  scrollParentToIframeCenter();
			  }
		  }).then((result) => {
			  if (result.isConfirmed) {
				  window.location.href = `/delete_record/dcf_capacity_building/${id}`;
			  } else if (result.dismiss === Swal.DismissReason.cancel) {
				  swalWithCustomButtons.fire({
						title: 'Cancelled',
						text: 'Your record is safe',
						icon: 'error',
						position: 'center',
						customClass: {
							confirmButton: 'btn btn-success',
							cancelButton: 'btn btn-danger',
						},
						didOpen: () => {
							scrollParentToIframeCenter();
						},
					});
				}		
			});
		return false;
	}
	const swalWithCustomButtons = Swal.mixin({
		customClass: {
		  confirmButton: 'btn btn-success',
		  cancelButton: 'btn btn-danger'
	  	},
	  buttonsStyling: false
  	});

	function download_login_start(fff){
	  let a= document.createElement('a');
	  a.target= '_blank';
	  a.href= '/login/download_file/'+fff;
	  a.click();
  	}
</script>

<!-- Start to do list -->
<div class="col-md-12 col-sm-12 ">
	<div class="x_panel" style="border-radius: 15px;">
	  <div class="x_title">
		<h2>Data<small>Table</small></h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Settings 1</a>
				<a class="dropdown-item" href="#">Settings 2</a>
			</div>
		</li>
		<li><a class="close-link"><i class="fa fa-close"></i></a>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="row">
	  <div class="col-sm-12">
		<div class="card-box table-responsive">
			<p class=" text-muted font-13 m-b-30">
			  All entries of Form 4 are displayed in this data table. If you are the one who encoded that form, you can edit, delete, and add participants. If you are not the encoder, you can only view the form.
		  </p>  
		  <table id="datatable-responsive" class="table table-dark table-striped table-bordered" cellspacing="0" width="100%">
			  <thead>
				<tr>
				 <th>ID</th>
				 <th>Implementing Unit</th>
				 <th>Activity Title</th>
				 <th>Action</th>
				 <th>Timestamp</th>
			 </tr>
		 </thead>
		 <tbody>
			<tr>
				<div>
					{% for row in form4_datatable %}
					<td>{{ row['id'] }}</td>
					<td>{{ row['cbb_implementing_unit'] }}</td>
					<td>{{ row['cbb_activity_title'] }}</td>
					<td>
					<!-- {{row['upload_by']}} === {{user_data['id']}} -->
					{% if row['upload_by']|string == user_data['id']|string %}
						<a style="color: #00e673;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_capacity_building', 'form4');">
							<span><i class="fa fa-pencil-square-o"></i></span> Edit
						</a>&nbsp;&nbsp;
						<a style="color: #ffc34d; cursor: pointer;" onclick='goto("feature_0/link_data_dcf_form_a?&h="+{{ row["id"] }}+"&i=dcf_capacity_building",true)'>
							<span><i class="fa fa-user-plus"></i></span> Add Participants
						</a> &nbsp;&nbsp;
						<a style="color: #ff5c33;" onclick="showDeleteConfirmation('{{ row['id'] }}'); return false;"href="/delete_record/dcf_capacity_building/{{ row['id'] }}">
							<span><i class="fa fa-trash"></i></span> Delete
						</a>
						{% elif user_data['job'] == "Super Admin" %}
						<a style="color: #33cccc;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_capacity_building', 'form4');">
							<span><i class="fa fa-eye" aria-hidden="true"></i></span> View
						</a>
						{% else %}
						<a style="color: #33cccc;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_capacity_building', 'form4');">
							<span><i class="fa fa-eye" aria-hidden="true"></i></span> View
						</a>
						{% endif %}
						<a class="EMBED_OUTER_LINK" style="color: #ffc34d; cursor: pointer;" alt="/mis-v4/core-file-manager?dbtbl=dcf_capacity_building&r_id={{ row['id'] }}">
							<span><i class="fa fa-user-plus"></i></span> Mov
						</a>
					</td>
				<td class="date-cell"> {{ row['date_created'] }}<br>
					{% if row['date_modified'] %}
						<i style="font-size: smaller;color: #00cc66;">Updated: {{ row['date_modified'] | format_timestamp}}</i>
					{% endif %}</i>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
	function exportForm4Data() {
		window.location.href = '/export_form4';
	}
</script>
  <div class="x_panel tile" style="border-radius: 15px;">
	<div class="x_title" >
	  <h2>FORM 4 CAPACITY BUILDING FOR BENEFICIARIES <small>SPREADSHEET MANAGEMENT</small></h2>
	  	<ul class="nav navbar-right panel_toolbox">
			<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Settings 1</a>
				<a class="dropdown-item" href="#">Settings 2</a>
			</div>
			</li>
	  	<li><a class="close-link"><i class="fa fa-close"></i></a></li>
  		</ul>
  	<div class="clearfix"></div>
	</div>
<div class="x_content">
<form action="/dcf" method="POST" enctype="multipart/form-data">
	<div class="form-group">
			<div class="form-row">
				<div class="col">
					<select id="export_type" name="export_type" class="form-control">
						<option value="form4export">FORM 4 CAPACITY BUILDING FOR BENEFICIARIES</option>
					</select>
				</div>
			</div>
		<div class="form-row">
			<div class="col">
				<strong>
					<label for="position">Export Data:</label>
				</strong><br>
				<button type="button" class="btn btn-md btn-dark" onclick="exportForm4Data()">
					<span><i class="fa fa-cloud-download"></i></span> Export Form 4
				</button>
				<!--<button type="submit" class="btn btn-md btn-dark"><span><i class="fa fa-cloud-download"></i></span>Export</button>-->
			</div>
		</div>
	</div>
</form>

<form action="/importcsvform4" method="POST" enctype="multipart/form-data">
  {% include "includes/sweetalert.html" %}
  <div class="form-group">
	<div class="form-row">
	  	<div class="col">
			<strong>
			<label for="position">Import Data:</label>
			</strong><br>
	  	<div class="file-upload">
			<div class="file-select">
				<div class="file-select-button" id="fileName">Choose File</div>
				<div class="file-select-name" id="noFile">No file chosen...</div>
				<input multiple type="file"
				accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
				name="chooseFile" id="chooseFile" required>
			</div>
		</div>
		<br>
			<button type="submit" class="btn btn-info btn-xs"><span><i class="fa fa-upload"></i></span> Import</button>
			<span style="cursor: pointer;" onclick="download_login_start('DCF_Form_4.xlsx')" class="btn btn-success btn-xs"><i class="fa fa-file-text" aria-hidden="true"></i> Download form 4 excel template</span>
		</div>
	</div>
</form>

</div>
</div>
<!-- End to do list -->
<!-- end of weather widget -->
</div>
</div>
</div>

{% endblock content %}
{% block javascripts %}
{% endblock javascripts %}