{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include "includes/sweetalert.html" %}
<title>Form 7 Dashboard</title>

<div class="row">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{dcf_form7}}</div>
      <h3>Total Entries</h3>
      <p>Total # of Beneficiary</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{dcf_form7msme[0]['totalmsme7']}}</div>
      <h3>Total MSME</h3>
      <p>Total # of MSME.</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{dcf_form7fo[0]['totalfo7']}}</div>
      <h3>Total FO</h3>
      <p>Total # of FO.</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <div class="tile-stats" style="border-radius: 15px;">
      <div class="count _money_tag">{{dcf_form7farmer[0]['totalfarmer7']}}</div>
      <h3>Total Farmer</h3>
      <p>Total # of Farmer.</p>
    </div>
  </div>
</div>

<!-- /top tiles -->
<div class="row">
	<div class="col-md-6 col-sm-6">
		<div class="x_panel" style="border-radius: 15px;">
			<div class="x_title">
				<h2>Type of Activity <small>Bar Chart</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a>
							<a class="dropdown-item" href="#">Settings 2</a>
						</div>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<canvas id="mybarChart7"></canvas>
			</div>
			<div style="text-align: center;">
				<p><i class="fa fa-square" style="color:#884dff "></i> Provincial: <span class="_money_tag">{{dcf7_TFP[0]['tfp7']}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-square" style="color:#ac7339 "></i> Regional: <span class="_money_tag">{{dcf7_TFR[0]['tfr7'] + dcf7_TSMPR[0]['tsmpr7'] + dcf7_BMPR[0]['bmpr7']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-square" style="color:#ffa31a "></i> National: <span class="_money_tag">{{dcf7_TFN[0]['tfn7'] + dcf7_TSMN[0]['tsmn7'] + dcf7_BMN[0]['bmn7']}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <i class="fa fa-square" style="color:#ff4d4d "></i> International: <span class="_money_tag">{{dcf7_TFI[0]['tfi7'] + dcf7_TSMI[0]['tsmi7'] + dcf7_BMI[0]['bmi7']}}</span></p>
			</div>
		</div>
	</div>
</div>

<script>
	function init_charts() {
		console.log('run_charts  typeof [' + typeof (Chart) + ']');
		if (typeof (Chart) === 'undefined') { return; }
		console.log('init_charts');
		Chart.defaults.global.legend = {
			enabled: false
		};
		// Bar chart
		if ($("#mybarChart7").length) e = document.getElementById("mybarChart7"), new Chart(e, {
			type: "bar",
			data: {
				labels: ["Provincial", "Regional","National", "International"],
				datasets: [{
					label: "Total",
					backgroundColor:  ["#884dff", "#ac7339", "#ffa31a", "#ff4d4d"],
					data: [{{dcf7_TFP[0]['tfp7']}}, {{dcf7_TFR[0]['tfr7'] + dcf7_TSMPR[0]['tsmpr7'] + dcf7_BMPR[0]['bmpr7']}},{{dcf7_TFN[0]['tfn7'] + dcf7_TSMN[0]['tsmn7'] + dcf7_BMN[0]['bmn7']}}, {{dcf7_TFI[0]['tfi7'] + dcf7_TSMI[0]['tsmi7'] + dcf7_BMI[0]['bmi7']}} ]
				},]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: !0
						}
					}]
				}
			}
		});

		// Doughnut chart
			if ($('#canvasDoughnut7').length) {
				var ctx = document.getElementById("canvasDoughnut7");
				var data = {
					labels: [
						"Dark Grey",
						"Purple Color",
						"Gray Color",
						"Green Color",
						"Blue Color"
						],
					datasets: [{
						data: [120, 50, 140, 180, 100],
						backgroundColor: [
							"#455C73",
							"#9B59B6",
							"#BDC3C7",
							"#26B99A",
							"#3498DB"
							],
						hoverBackgroundColor: [
							"#34495E",
							"#B370CF",
							"#CFD4D8",
							"#36CAAB",
							"#49A9EA"
							]
					}]
				};
				var canvasDoughnut7 = new Chart(ctx, {
					type: 'doughnut',
					tooltipFillColor: "rgba(51, 51, 51, 0.55)",
					data: data
				});
			}

			if ($('#pieChart').length) {
				var xValues2 = [
					'Male: ' + {{dcf_form1male[0]['total_male']}},
					'Female: ' + {{dcf_form1female[0]['total_female']}},
					'Untagged: ' + money({{total_untagged}})
					];
				var yValues2 = [
					{{dcf_form1male[0]['total_male']}},
					{{dcf_form1female[0]['total_female']}},
				// {{total_untagged}},
					];
				var barColors = ['#0099cc', '#cc0066'];
				var total = yValues2.reduce((a, b) => a + b, 0);
				var percentageValues = yValues2.map((value) => ((value / total) * 100).toFixed(2));
				var ctx = document.getElementById("pieChart");
				var data = {
					datasets: [{
						data: yValues2,
						backgroundColor: barColors,
						label: 'My dataset' // for legend
					}],
					labels: xValues2
				};
				var pieChart = new Chart(ctx, {
					data: data,
					type: 'pie',
					options: {
						plugins: {
							datalabels: {
								color: 'white',
								formatter: (value, context) => {
									return percentageValues[context.dataIndex] + '%';
								}
							}
						},
						tooltips: {
							callbacks: {
								label: function (tooltipItem, data) {
									var label = data.labels[tooltipItem.index];
									var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
									var percentage = percentageValues[tooltipItem.index] + '%';
									return `${label} (${percentage})`;
								},
							},
						},
					},
				});
			}
		// Radar 
		}

		function scrollParentToIframeCenter() {
			if (window.parent && window.frameElement){
				const iframeRect = window.frameElement.getBoundingClientRect();
				const parentScrollY = window.parent.scrollY || window.parent.pageYOffset;
				const centerY = iframeRect.top + parentScrollY + (iframeRect.height / 2) - (window.parent.innerHeight / 2);
				window.parent.scrollTo({
					top : centerY,
					behavior: 'smooth'
				});
			}
		}

		function showLoadingAndRedirect(id, table, form) {
			Swal.fire({
				title: 'Loading...',
				text: 'Please wait while we redirect you.',
				allowOutsideClick: false,
				allowEscapeKey: false,
				showConfirmButton: false,
				didOpen: () => {
					scrollParentToIframeCenter();
					Swal.showLoading();
					setTimeout(() => {
						window.location.href = `/dcf/${form}?id=${id}&table=${table}`;
					}, 1500); // Simulate a short delay
				}
			});
		}

		function showDeleteConfirmation(id) {
			swalWithCustomButtons.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes, delete it!',
				cancelButtonText: 'No, cancel',
				reverseButtons: true,
				position: 'center',
				didOpen: () => {
					scrollParentToIframeCenter();
				},
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger',
				},
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = `/delete_record/dcf_trade_promotion/${id}`;
				} else if (result.dismiss === Swal.DismissReason.cancel) {
					swalWithCustomButtons.fire({
						title: 'Cancelled',
						text: 'Your record is safe',
						icon: 'error',
						position: 'center',
						didOpen: () => {
							scrollParentToIframeCenter();
						},
					});
				}
			});
			return false;
		}

		const swalWithCustomButtons = Swal.mixin({
			customClass: {
				confirmButton: 'btn btn-success',
				cancelButton: 'btn btn-danger'
			},
			buttonsStyling: false
		});

		function download_login_start(fff){
			let a= document.createElement('a');
			a.target= '_blank';
			a.href= '/login/download_file/'+fff;
			a.click();
		}
	</script>

	<!-- Start to do list -->
		<div class="x_panel" style="border-radius: 15px;">
			<div class="x_title">
				<h2>Data<small>Table</small></h2>
				<ul class="nav navbar-right panel_toolbox">
					<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Settings 1</a>
							<a class="dropdown-item" href="#">Settings 2</a>
						</div>
					</li>
					<li><a class="close-link"><i class="fa fa-close"></i></a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-sm-12">
						<div class="card-box table-responsive">
							<p class=" text-muted font-13 m-b-30">
								All entries of Form 7 are displayed in this data table. If you are the one who encoded that form, you can edit, delete, and add participants. If you are not the encoder, you can only view the form.
							</p>	
							<table id="datatable-responsive" class="table table-dark table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th id="sorted_btn">ID</th>
										<th>Implementing Unit</th>
										<th>Title of Trade Promotion Services Provided</th>
										<th>Name of Beneficiary</th>
										<th>Commodity</th>
										<th>Action</th>
										<th>Timestamp</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<div>
											{% for row in form7_datatable %}
											<td>{{ row['id'] }}</td>
											<td>{{ row['form_7_implementing_unit'] }}</td>
											<td>{{ row['form_7_title_trade_promotion'] }}</td>
											<td>{{ row['form_7_name_of_beneficiary'] }}</td>
											<td>{{ row['form_7_commodity'] }} {{ row['form_7_commodity_others'] }}</td>
											<td>
												<!-- {{row['upload_by']}} === {{user_data['id']}} -->
												{% if row['upload_by']|string == user_data['id']|string %}
												<a style="color: #00e673;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_trade_promotion', 'form7');">
													<span><i class="fa fa-pencil-square-o"></i></span> Edit
												</a>&nbsp;&nbsp;
												<a style="color: #ffc34d; cursor: pointer;" onclick='goto("feature_0/link_data_dcf_form_a?&h="+{{ row["id"] }}+"&i=dcf_trade_promotion",true)'>
													<span><i class="fa fa-user-plus"></i></span> Add Participants
												</a> &nbsp;&nbsp;
												<a style="color: #ff5c33;" onclick="showDeleteConfirmation('{{ row['id'] }}'); return false;"href="/delete_record/dcf_trade_promotion/{{ row['id'] }}">
													<span><i class="fa fa-trash"></i></span> Delete
												</a>
												{% elif user_data['job'] == "Super Admin" %}
												<a style="color: #33cccc;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_trade_promotion', 'form7');">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span> View
												</a>
												{% else %}
												<a style="color: #33cccc;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_trade_promotion', 'form7');">
													<span><i class="fa fa-eye" aria-hidden="true"></i></span> View
												</a>
												{% endif %}
											</td>
										<td class="date-cell"> {{ row['date_created'] }}<br>
											{% if row['date_modified'] %}
											<i style="font-size: smaller;color: #00cc66;">Updated: {{ row['date_modified'] | format_timestamp}}</i>
											{% endif %}</i>
										</td>
									</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function exportForm7Data() {
		window.location.href = '/export_form7';
	}
</script>


	<div class="x_panel tile" style="border-radius: 15px;">
		<div class="x_title">
			<h2>FORM 7 Trade Promotion Services Tracker <small>SPREADSHEET MANAGEMENT</small></h2>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Settings 1</a>
						<a class="dropdown-item" href="#">Settings 2</a>
					</div>
				</li>
				<li><a class="close-link"><i class="fa fa-close"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<form action="/dcf" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<div class="form-row">
						<div class="col">
							<select id="export_type" name="export_type" class="form-control">
								<option value="form7export">FORM 7 Trade Promotion Services Tracker</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<strong>
								<label for="position">Export Data:</label>
							</strong><br>
							<button type="button" class="btn btn-md btn-dark" onclick="exportForm7Data()">
								<span><i class="fa fa-cloud-download"></i></span> Export Form 7
							</button>
							<!--<button type="submit" class="btn btn-md btn-dark"><span><i class="fa fa-cloud-download"></i></span>
							Export</button>-->
						</div>
					</div>
				</div>
			</form>

			<form action="/importcsvform7" method="POST" enctype="multipart/form-data">
				{% include "includes/sweetalert.html" %}
				<div class="form-group">
					<div class="form-row">
						<div class="col">
							<strong>
								<label for="position">Import Data:</label>
							</strong><br>
							<div class="file-upload">
								<div class="file-select">
									<div class="file-select-button" id="fileName">Choose File</div>
									<div class="file-select-name" id="noFile">No file chosen...</div>
									<input multiple type="file"
									accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
									name="chooseFile" id="chooseFile" required>
								</div>
							</div>
							<br>
							<button type="submit" class="btn btn-info btn-xs"><span><i class="fa fa-upload"></i></span> Import</button>
							<span style="cursor: pointer;" onclick="download_login_start('DCF_Form_7.xlsx')" class="btn btn-success btn-xs"><i class="fa fa-file-text" aria-hidden="true"></i> Download form 7 excel template</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	<!-- End to do list -->
	<!-- end of weather widget -->
</div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}