{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include "includes/sweetalert.html" %}
<title>Form 10 Dashboard</title>

	<div class="row">
	<div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
		<div class="tile-stats" style="border-radius: 15px;">
				<div class="count _money_tag">{{dcf_form10nc[0]['total_nc10']}}</div>
				<h3>Negosyo Center</h3>
				<p>Total # of Negosyo Centers.</p>
		</div>
	</div>
	</div>

		<script>// Replace this with your actual variable or value
			function init_charts() {
				console.log('run_charts  typeof [' + typeof (Chart) + ']');
				if (typeof (Chart) === 'undefined') { return; }
				console.log('init_charts');
				Chart.defaults.global.legend = {
					enabled: false
				};// Radar 
			}

		function scrollParentToIframeCenter() {
			if (window.parent && window.frameElement) {
				const iframeRect = window.frameElement.getBoundingClientRect();
				const parentScrollY = window.parent.scrollY || window.parent.pageYOffset;
				const centerY = iframeRect.top + parentScrollY + (iframeRect.height / 2) - (window.parent.innerHeight / 2);
				window.parent.scrollTo({
					top: centerY,
					behavior: 'smooth'
				});
			}
		}
		
		function showLoadingAndRedirect(id, table, form) {
			Swal.fire({
				title: 'Loading...',
				text: 'Please wait while we redirect you.',
				allowOutsideClick: false,
				allowEscapeKey: false,
				showConfirmButton: false,
				didOpen: () => {
					scrollParentToIframeCenter();
					Swal.showLoading();
					setTimeout(() => {
						window.location.href = `/dcf/${form}?id=${id}&table=${table}`;
					}, 1500); // Simulate a short delay
				}
			});
		}

		function showDeleteConfirmation(id) {
			swalWithCustomButtons.fire({
			  title: 'Are you sure?',
			  text: "You won't be able to revert this!",
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonText: 'Yes, delete it!',
			  cancelButtonText: 'No, cancel',
			  reverseButtons: true,
			  position: 'center',
			  didOpen: () => {
				scrollParentToIframeCenter();
			  },
			  customClass: {
				confirmButton: 'btn btn-success',
				cancelButton: 'btn btn-danger',
			},
		}).then((result) => {
		  if (result.isConfirmed) {
			window.location.href = `/delete_record/dcf_negosyo_center/${id}`;
		} else if (result.dismiss === Swal.DismissReason.cancel) {
			swalWithCustomButtons.fire({
			  title: 'Cancelled',
			  text: 'Your record is safe',
			  icon: 'error',
			  position: 'center',
			  didOpen: () => {
				scrollParentToIframeCenter();
			  },
			});
		}
	});
		return false;
	}
	const swalWithCustomButtons = Swal.mixin({
		customClass: {
		  confirmButton: 'btn btn-success',
		  cancelButton: 'btn btn-danger'
	  },
	  buttonsStyling: false
  });

	function download_login_start(fff){
	  let a= document.createElement('a');
	  a.target= '_blank';
	  a.href= '/login/download_file/'+fff;
	  a.click();
  }
</script>




<!-- Start to do list -->
	<div class="x_panel" style="border-radius: 15px;">
	  <div class="x_title">
		<h2>Data<small>Table</small></h2>
		<ul class="nav navbar-right panel_toolbox">
		  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Settings 1</a>
				<a class="dropdown-item" href="#">Settings 2</a>
			</div>
		</li>
		<li><a class="close-link"><i class="fa fa-close"></i></a>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="row">
	  <div class="col-sm-12">
		<div class="card-box table-responsive">
			<p class=" text-muted font-13 m-b-30">
			  All entries of Form 10 are displayed in this data table. If you are the one who encoded that form, you can edit, delete, and add participants. If you are not the encoder, you can only view the form.
			</p>
		  <table id="datatable-responsive" class="table table-dark table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
			  <thead>
				<tr>
				  <th>ID</th>
				  <th>Name of NC </th>
				  <th>NC Location</th>
				  <th>Type of beneficiary</th>
				  <th>Action</th>
				  <th>Timestamp</th>
			  </tr>
		  </thead>
		  <tbody>
			<tr>
			  <div>
				{% for row in form10_datatable %}
				<td>{{ row['id'] }}</td>
				<td>{{ row['form_10_name_of_nc'] }}</td>
				<td>{{ row['form_10_nc_location'] }}</td>
				<td>{{ row['form_10_type_of_beneficiary'] }}</td>
				<td>
				  <!-- {{row['upload_by']}} === {{user_data['id']}} -->
				  	{% if row['upload_by']|string == user_data['id']|string %}
					<a style="color: #00e673;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_negosyo_center', 'form10');">
						<span><i class="fa fa-pencil-square-o"></i></span> Edit
					</a>&nbsp;&nbsp;
				  	<a style="color: #ffc34d; cursor: pointer;" onclick='goto("feature_0/link_data_dcf_form_a?&h="
				  		+{{ row["id"] }}+"&i=dcf_negosyo_center",true)'>
				  		<span><i class="fa fa-user-plus"></i></span> Add Participants
			  		</a> &nbsp;&nbsp;
			  		<a style="color: #ff5c33;" onclick="showDeleteConfirmation('{{ row['id'] }}'); return false;"
			  			href="/delete_record/dcf_negosyo_center/{{ row['id'] }}">
			  			<span><i class="fa fa-trash"></i></span> Delete
		  			</a>
					{% elif user_data['job'] == "Super Admin" %}
					<a style="color: #33cccc;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_negosyo_center', 'form10');">
						<span><i class="fa fa-eye" aria-hidden="true"></i></span> View
					</a>
					{% else %}
					<a style="color: #33cccc;" href="javascript:void(0);" onclick="showLoadingAndRedirect('{{ row['id'] }}', 'dcf_negosyo_center', 'form10');">
						<span><i class="fa fa-eye" aria-hidden="true"></i></span> View
					</a>
					{% endif %}
				</td>
				<td class="date-cell"> {{ row['date_created'] }}<br>
					{% if row['date_modified'] %}
						<i style="font-size: smaller;color: #00cc66;">Updated: {{ row['date_modified'] | format_timestamp}}</i>
					{% endif %}</i>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
	function exportForm10Data() {
		window.location.href = '/export_form10'; 
	}
</script>

  <div class="x_panel tile" style="border-radius: 15px;">
	<div class="x_title">
	<h2>FORM 10 NEGOSYO CENTER TRACKER <small>SPREADSHEET MANAGEMENT</small></h2>
	<ul class="nav navbar-right panel_toolbox">
		<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		</li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  <a class="dropdown-item" href="#">Settings 1</a>
			  <a class="dropdown-item" href="#">Settings 2</a>
		  </div>
	  	</li>
	  <li><a class="close-link"><i class="fa fa-close"></i></a></li>
  	</ul>
  <div class="clearfix"></div>
</div>
<div class="x_content">
	<form action="/dcf" method="POST" enctype="multipart/form-data">
	  <div class="form-group">
		<div class="form-row">
		  <div class="col">
			<select id="export_type" name="export_type" class="form-control">
			  <option value="form10export">FORM 10 NEGOSYO CENTER TRACKER</option>
		  </select>
	  </div>
  </div>
  <div class="form-row">
	<div class="col">
		<strong>
		  <label for="position">Export Data:</label>
	  	</strong><br>
		<button type="button" class="btn btn-md btn-dark" onclick="exportForm10Data()">
			<span><i class="fa fa-cloud-download"></i></span> Export Form 10
		</button>
	  	<!--<button type="submit" class="btn btn-md btn-dark"><span><i class="fa fa-cloud-download"></i></span>Export</button>-->
  	</div>
</div>
</div>
</form>

<form action="/importcsvform10" method="POST" enctype="multipart/form-data">
  {% include "includes/sweetalert.html" %}
  <div class="form-group">
	<div class="form-row">
	<div class="col">
		<strong>
		  <label for="position">Import Data:</label>
	  </strong><br>
	  	<div class="file-upload">
		  	<div class="file-select">
			<div class="file-select-button" id="fileName">Choose File</div>
			<div class="file-select-name" id="noFile">No file chosen...</div>
			<input multiple type="file"
			accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
			name="chooseFile" id="chooseFile" required>
		</div>
		</div>
		<br>
		<button type="submit" class="btn btn-info btn-xs"><span><i class="fa fa-upload"></i></span> Import</button>
		<span style="cursor: pointer;" onclick="download_login_start('DCF_Form_10.xlsx')" class="btn btn-success btn-xs"><i class="fa fa-file-text" aria-hidden="true"></i> Download form 10 excel template</span>
	</div>
	</div>
</form>
</div>
</div>
<!-- End to do list -->
<!-- end of weather widget -->
</div>
{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}