{% extends 'layouts/dcf_base.html' %}
{% set active_page = "dcf_dashboard" %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% include "includes/sweetalert.html" %}
<title>Spreadsheets | {{num_form | upper}}</title>

<div class="right_col" role="main">
  <div class="">

    <div class="row">




     <!-- Start to do list -->
     <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{num_form | upper}}<small>Imported Files</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
              </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <p class=" text-muted font-13 m-b-30">
                  All import excel files of {{num_form | upper}} are displayed in this data table. <b style="color: #ff8080;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Deleting this files will permanently remove the data from the database.</b>
                </p>
                <table id="datatable-responsive" class="table table-dark table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Timestamp</th>
                      <th>File name</th>
                      <th>Data Entries</th>
                      <th>Action</th>
                      <th>Upload by</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <div>
                        {% for row in uploaded_file_by_user1 %}
                        <td class="date-cell"> {{ row['date_created'] }}</td>
                        <td><span style="color: #00e6ac;"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; {{ row['filename'] }}</span></td>
                        <td>{{ row['_COUNT'] }}</td>
                        <td>
                          <!-- {{row['upload_by']}} === {{user_data['id']}} -->
                          <a style="color: #71dada;"  href="{{ url_for('dcfv2.dcf_download', filename_=row['filename']) }}">
                            <span><i class="fa fa-cloud-download"></i></span> Download
                          </a>&nbsp;&nbsp;&nbsp;

                          <a style="color: #ff704d;" onclick="confirmation(event)"  href="/dcf_delete/{{row['filename'] | websafe_filename}}/{{table_for_del}}">
                            <span><i class="fa fa-trash"></i></span> Delete
                          </a>
                          


                        </td>
                        <td>{{ row['name'] }}</td>


                      </tr>

                      {% endfor %}
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

























  {% endblock content %}

  <!-- Specific JS goes HERE -->

  {% block javascripts %}



  {% endblock javascripts %}